﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Areas/ProcessVault/Scripts/site.js"></script>
    <script src="~/Areas/ProcessVault/Scripts/excel.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/jquery.toast.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Contents/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Areas/ProcessVault/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.toast.css" rel="stylesheet" type="text/css" />

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({ placement: 'bottom' });
        });
    </script>
</head>
<body>
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <nav class="navbar navbar-default top-bar">
                        <div class="container-fluid">
                            <div class="navbar-header top-logo">
                                <a href="@Url.Action("Index", "Home", new { area = "" })">
                                    <label>
                                        <span class="a">dym</span>
                                    </label>
                                    <label>
                                        <span class="b">360</span>
                                    </label>
                                </a>
                                @*<a href="#" class="logo">
                                    <img src="~/Images/amtrust.png" />
                                </a>*@
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="@Url.Action("Index", "Home", new { area = "ProcessVault" })" title="Home" data-toggle="tooltip"><span class="glyphicon glyphicon-home"></span></a></li>
                                    <li><a href="@Url.Action("LoadMyTask", "Home", new { area = "ProcessVault" })"" title="My&nbsp;Task" data-toggle="tooltip"><span class="glyphicon glyphicon-tasks"></span></a></li>
                                    <li><a title="Calendar" data-toggle="tooltip"><span class="glyphicon glyphicon-calendar"></span></a></li>
                                    <li><a title="Five&nbsp;reminders" data-toggle="tooltip"><span class="glyphicon glyphicon-bell"></span></a></li>
                                    <li><a title="My&nbsp;Profile" data-toggle="tooltip"><span class="glyphicon glyphicon-user"></span></a></li>
                                    <li>
                                        <a title="Settings" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, null)</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        @RenderBody()
        </div>
</body>
</html>