﻿.login-panel {
    background-image: url("../Images/login-background.png");
    background-color: #cccccc;
    background-size: cover;
    height: 100vh;
    color: white;
    overflow:hidden;
}
.center-div {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: relative;
    top: 50%;
    left: 50%;
}
.center-text {
    text-align: center;
}
.transparent-background{
    background: transparent;
}
.top-bar {
    border-radius: 0px;
    min-height: 40px;
    background-color: #1777b0;
    border-color: transparent;
}
.top-logo > label:nth-child(1) {
    font-size: 25px;
    color: #ffb135;
}
.top-logo > label:nth-child(2) {
    font-size: 29px;
    color: white;
}
.top-logo > label{
    margin-bottom: 0px;
}
.top-bar .navbar-nav > li > a {
    margin: 5px;
    background: white;
    color: black;
    border-radius: 2px;
    padding: 5px 10px;
}
.top-bar .nav > li > a > img {
    max-width: 16px;
    margin: 0px 5px;
}
.top-bar .navbar-nav > li > a:hover, .top-bar .navbar-nav > li > a:focus {
    color: #1a242f;
    background-color: #e6e6e6;
}
.wel{
    font-weight:bold;
}
a.fpass {
    color: #ecf0f1;
    text-decoration: underline;
}
.btn-login {
    color: #ffffff;
    background-color: transparent;
    background-repeat: no-repeat;
    border-color: #ecf0f1;
    padding: 5px 50px 5px 50px;
}
.btn-login:hover {
   color: #ffffff;
   background-color: transparent;
   border-color: #cccccc;
}
.vertical-line {
    border-right: 1px solid white;
    height: 400px;
    margin-top: -200px;
    margin-bottom: -200px;
}
.btn-group.navbar-right{
    padding: 5px;
}
.btn-group.navbar-right > a > img {
    max-height: 18px;
    vertical-align: sub;
    margin: 0px 5px;
}
.btn-group.navbar-right > a {
    color: black;
    max-height: 40px;
    background: white;
    border: white;
    padding: 5px 15px;
}