﻿.list-group-item {
    background-color: #004185;
    /*margin-bottom: 10px;*/
}

a.list-group-item {
    color: #ffffff;
}

.body-container {
    margin-top: 60px;
}

.top-bar {
    border-radius: 0px;
    min-height: 40px;
    background-color: #004185;
    border-color: transparent;
    position: fixed;
    width: -webkit-fill-available;
    width: 100%;
    z-index: 5000;
}

.top-logo > a > label {
    cursor: pointer;
}

    .top-logo > a > label:nth-child(1) {
        font-size: 25px;
        color: #f89d0d;
    }

    .top-logo > a > label:nth-child(2) {
        font-size: 29px;
        color: white;
    }

.top-logo label {
    margin-bottom: 0px;
}

.navbar-nav > li > .dropdown-menu {
    font-size: 13px;
}

.top-bar .navbar-nav > li > a:hover, .top-bar .navbar-nav > li > a:focus {
    color: #f5f5f5bf;
}

.navbar-default .navbar-nav > li > a
{
    padding:9px;
}

.panel-body {
    padding: 10px;
    background-color: #d3d3d32b;
    margin-right: 25px;
    border: 1px solid #e6e6e6;
    margin-top: 50px;
}

    .panel-body .btn-module {
        width: 160px;
        height: 100px;
        margin: 5px;
        padding: 17px 7px;
    }

    .panel-body a {
        font-size: 13px;
    }
a {
    cursor:pointer;
}
.glyphicon-lg {
    font-size: 35px;
    margin-bottom: 10px;
}

.background-white {
    background: white;
}

/*Custom button style*/
.btn-production {
    color: #ffffff;
    background-color: #581845;
    border-color: #581845;
}

    .btn-production:focus,
    .btn-production.focus {
        color: #ffffff;
        background-color: #440f34;
        border-color: #440f34;
    }

    .btn-production:hover {
        color: #ffffff;
        background-color: #440f34;
        border-color: #440f34;
    }

    .btn-production:active,
    .btn-production.active,
    .open > .dropdown-toggle.btn-production {
        color: #ffffff;
        background-color: #440f34;
        border-color: #440f34;
    }

        .btn-production:active:hover,
        .btn-production.active:hover,
        .open > .dropdown-toggle.btn-production:hover,
        .btn-production:active:focus,
        .btn-production.active:focus,
        .open > .dropdown-toggle.btn-production:focus,
        .btn-production:active.focus,
        .btn-production.active.focus,
        .open > .dropdown-toggle.btn-production.focus {
            color: #ffffff;
            background-color: #4f133d;
            border-color: #440f34;
        }

    .btn-production:active,
    .btn-production.active,
    .open > .dropdown-toggle.btn-production {
        background-image: none;
    }

    .btn-production.disabled:hover,
    .btn-production[disabled]:hover,
    fieldset[disabled] .btn-production:hover,
    .btn-production.disabled:focus,
    .btn-production[disabled]:focus,
    fieldset[disabled] .btn-production:focus,
    .btn-production.disabled.focus,
    .btn-production[disabled].focus,
    fieldset[disabled] .btn-production.focus {
        background-color: #581845;
        border-color: #581845;
    }

    .btn-production .badge {
        color: #581845;
        background-color: #ffffff;
    }

.btn-green {
    color: #ffffff;
    background-color: green;
    border-color: green;
}

    .btn-green:focus,
    .btn-green.focus {
        color: #ffffff;
        background-color: #0d620d;
        border-color: #0d620d;
    }

    .btn-green:hover {
        color: #ffffff;
        background-color: #0d620d;
        border-color: #0d620d;
    }

    .btn-green:active,
    .btn-green.active,
    .open > .dropdown-toggle.btn-green {
        color: #ffffff;
        background-color: #0d620d;
        border-color: #0d620d;
    }

        .btn-green:active:hover,
        .btn-green.active:hover,
        .open > .dropdown-toggle.btn-green:hover,
        .btn-green:active:focus,
        .btn-green.active:focus,
        .open > .dropdown-toggle.btn-green:focus,
        .btn-green:active.focus,
        .btn-green.active.focus,
        .open > .dropdown-toggle.btn-green.focus {
            color: #ffffff;
            background-color: #4f133d;
            border-color: #0d620d;
        }

    .btn-green:active,
    .btn-green.active,
    .open > .dropdown-toggle.btn-green {
        background-image: none;
    }

    .btn-green.disabled:hover,
    .btn-green[disabled]:hover,
    fieldset[disabled] .btn-green:hover,
    .btn-green.disabled:focus,
    .btn-green[disabled]:focus,
    fieldset[disabled] .btn-green:focus,
    .btn-green.disabled.focus,
    .btn-green[disabled].focus,
    fieldset[disabled] .btn-green.focus {
        background-color: green;
        border-color: green;
    }

    .btn-green .badge {
        color: green;
        background-color: #ffffff;
    }

.btn-purple {
    color: #ffffff;
    background-color: #ad0fad;
    border-color: #ad0fad;
}

    .btn-purple:focus,
    .btn-purple.focus {
        color: #ffffff;
        background-color: #5f0c5f;
        border-color: #5f0c5f;
    }

    .btn-purple:hover {
        color: #ffffff;
        background-color: #5f0c5f;
        border-color: #5f0c5f;
    }

    .btn-purple:active,
    .btn-purple.active,
    .open > .dropdown-toggle.btn-purple {
        color: #ffffff;
        background-color: #5f0c5f;
        border-color: #5f0c5f;
    }

        .btn-purple:active:hover,
        .btn-purple.active:hover,
        .open > .dropdown-toggle.btn-purple:hover,
        .btn-purple:active:focus,
        .btn-purple.active:focus,
        .open > .dropdown-toggle.btn-purple:focus,
        .btn-purple:active.focus,
        .btn-purple.active.focus,
        .open > .dropdown-toggle.btn-purple.focus {
            color: #ffffff;
            background-color: #4f133d;
            border-color: #5f0c5f;
        }

    .btn-purple:active,
    .btn-purple.active,
    .open > .dropdown-toggle.btn-purple {
        background-image: none;
    }

    .btn-purple.disabled:hover,
    .btn-purple[disabled]:hover,
    fieldset[disabled] .btn-purple:hover,
    .btn-purple.disabled:focus,
    .btn-purple[disabled]:focus,
    fieldset[disabled] .btn-purple:focus,
    .btn-purple.disabled.focus,
    .btn-purple[disabled].focus,
    fieldset[disabled] .btn-purple.focus {
        background-color: purple;
        border-color: purple;
    }

    .btn-purple .badge {
        color: purple;
        background-color: #ffffff;
    }

.btn-red {
    color: #ffffff;
    background-color: red;
    border-color: red;
}

    .btn-red:focus,
    .btn-red.focus {
        color: #ffffff;
        background-color: #d60202;
        border-color: #d60202;
    }

    .btn-red:hover {
        color: #ffffff;
        background-color: #d60202;
        border-color: #d60202;
    }

    .btn-red:active,
    .btn-red.active,
    .open > .dropdown-toggle.btn-red {
        color: #ffffff;
        background-color: #d60202;
        border-color: #d60202;
    }

        .btn-red:active:hover,
        .btn-red.active:hover,
        .open > .dropdown-toggle.btn-red:hover,
        .btn-red:active:focus,
        .btn-red.active:focus,
        .open > .dropdown-toggle.btn-red:focus,
        .btn-red:active.focus,
        .btn-red.active.focus,
        .open > .dropdown-toggle.btn-red.focus {
            color: #ffffff;
            background-color: #4f133d;
            border-color: #d60202;
        }

    .btn-red:active,
    .btn-red.active,
    .open > .dropdown-toggle.btn-red {
        background-image: none;
    }

    .btn-red.disabled:hover,
    .btn-red[disabled]:hover,
    fieldset[disabled] .btn-red:hover,
    .btn-red.disabled:focus,
    .btn-red[disabled]:focus,
    fieldset[disabled] .btn-red:focus,
    .btn-red.disabled.focus,
    .btn-red[disabled].focus,
    fieldset[disabled] .btn-red.focus {
        background-color: red;
        border-color: red;
    }

    .btn-red .badge {
        color: red;
        background-color: #ffffff;
    }

.btn-orange {
    color: #ffffff;
    background-color: #fa8914;
    border-color: #fa8914;
}

    .btn-orange:focus,
    .btn-orange.focus {
        color: #ffffff;
        background-color: #f57e03;
        border-color: #f57e03;
    }

    .btn-orange:hover {
        color: #ffffff;
        background-color: #f57e03;
        border-color: #f57e03;
    }

    .btn-orange:active,
    .btn-orange.active,
    .open > .dropdown-toggle.btn-orange {
        color: #ffffff;
        background-color: #f57e03;
        border-color: #f57e03;
    }

        .btn-orange:active:hover,
        .btn-orange.active:hover,
        .open > .dropdown-toggle.btn-orange:hover,
        .btn-orange:active:focus,
        .btn-orange.active:focus,
        .open > .dropdown-toggle.btn-orange:focus,
        .btn-orange:active.focus,
        .btn-orange.active.focus,
        .open > .dropdown-toggle.btn-orange.focus {
            color: #ffffff;
            background-color: #da7309;
            border-color: #f57e03;
        }

    .btn-orange:active,
    .btn-orange.active,
    .open > .dropdown-toggle.btn-orange {
        background-image: none;
    }

    .btn-orange.disabled:hover,
    .btn-orange[disabled]:hover,
    fieldset[disabled] .btn-orange:hover,
    .btn-orange.disabled:focus,
    .btn-orange[disabled]:focus,
    fieldset[disabled] .btn-orange:focus,
    .btn-orange.disabled.focus,
    .btn-orange[disabled].focus,
    fieldset[disabled] .btn-orange.focus {
        background-color: #3939ed;
        border-color: #3939ed;
    }

    .btn-orange .badge {
        color: #3939ed;
        background-color: #ffffff;
    }

.btn-blue {
    color: #ffffff;
    background-color: #3939ed;
    border-color: #3939ed;
}

    .btn-blue:focus,
    .btn-blue.focus {
        color: #ffffff;
        background-color: #3030c8;
        border-color: #3030c8;
    }

    .btn-blue:hover {
        color: #ffffff;
        background-color: #3030c8;
        border-color: #3030c8;
    }

    .btn-blue:active,
    .btn-blue.active,
    .open > .dropdown-toggle.btn-blue {
        color: #ffffff;
        background-color: #3030c8;
        border-color: #3030c8;
    }

        .btn-blue:active:hover,
        .btn-blue.active:hover,
        .open > .dropdown-toggle.btn-blue:hover,
        .btn-blue:active:focus,
        .btn-blue.active:focus,
        .open > .dropdown-toggle.btn-blue:focus,
        .btn-blue:active.focus,
        .btn-blue.active.focus,
        .open > .dropdown-toggle.btn-blue.focus {
            color: #ffffff;
            background-color: #4f133d;
            border-color: #3030c8;
        }

    .btn-blue:active,
    .btn-blue.active,
    .open > .dropdown-toggle.btn-blue {
        background-image: none;
    }

    .btn-blue.disabled:hover,
    .btn-blue[disabled]:hover,
    fieldset[disabled] .btn-blue:hover,
    .btn-blue.disabled:focus,
    .btn-blue[disabled]:focus,
    fieldset[disabled] .btn-blue:focus,
    .btn-blue.disabled.focus,
    .btn-blue[disabled].focus,
    fieldset[disabled] .btn-blue.focus {
        background-color: #3939ed;
        border-color: #3939ed;
    }

    .btn-blue .badge {
        color: #3939ed;
        background-color: #ffffff;
    }


.btn-blue-gray {
    color: #ffffff;
    background-color: #4a7489;
    border-color: #4a7489;
}

.btn-blue-gray:focus,
.btn-blue-gray.focus {
    color: #ffffff;
    background-color: #4a7489;
    border-color: #4a7489;
}

.btn-blue-gray:hover {
    color: #ffffff;
    background-color: #4a7489;
    border-color: #4a7489;
}

.btn-blue-gray:active,
.btn-blue-gray.active,
.open > .dropdown-toggle.btn-blue-gray {
    color: #ffffff;
    background-color: #4a7489;
    border-color: #4a7489;
}

    .btn-blue-gray:active:hover,
    .btn-blue-gray.active:hover,
    .open > .dropdown-toggle.btn-blue-gray:hover,
    .btn-blue-gray:active:focus,
    .btn-blue-gray.active:focus,
    .open > .dropdown-toggle.btn-blue-gray:focus,
    .btn-blue-gray:active.focus,
    .btn-blue-gray.active.focus,
    .open > .dropdown-toggle.btn-blue-gray.focus {
        color: #ffffff;
        background-color: #345666;
        border-color: #4a7489;
    }

.btn-blue-gray:active,
.btn-blue-gray.active,
.open > .dropdown-toggle.btn-blue-gray {
    background-image: none;
}

.btn-blue-gray.disabled:hover,
.btn-blue-gray[disabled]:hover,
fieldset[disabled] .btn-blue-gray:hover,
.btn-blue-gray.disabled:focus,
.btn-blue-gray[disabled]:focus,
fieldset[disabled] .btn-blue-gray:focus,
.btn-blue-gray.disabled.focus,
.btn-blue-gray[disabled].focus,
fieldset[disabled] .btn-blue-gray.focus {
    background-color: #345666;
    border-color: #4a7489;
}

.btn-blue-gray .badge {
    color: #345666;
    background-color: #ffffff;
}


.background-light-blue {
    background: #abcce1
}

body {
    background: #f4f4f4;
    font-size: 13px;
}

table {
    background: white;
}

.sub-table > thead > tr > th {
    background-color: #f6f6f6;
}

.action-column {
    width: 8%;
    text-align: center;
}

.btn-group-vertical {
    width: 90%;
}

.fixed-width {
    width: 165px !important;
}

.left-panel {
    float: left;
    width: 16%;
}

    .left-panel .btn-group-vertical {
        background: #1777b0;
    }

        .left-panel .btn-group-vertical a {
            color: white;
            border: 1px solid white;
            border-radius: 0px !important;
        }

            .left-panel .btn-group-vertical a.active {
                box-shadow: none;
                color: #ffb135;
            }

.right-panel {
    float: left;
    width: 84%;
}

.text-left {
    text-align: left;
}

.bordered-groove {
    border: 1px groove;
    padding: 15px 0px;
}

.form-control {
    height: 35px;
    padding: 5px 5px;
    font-size: 13px;
    line-height: 1.42857143
}

.edit, .edit:hover {
    color: orange;
    cursor: pointer;
}

.delete, .delete:hover {
    color: red;
    cursor: pointer;
}

.glyphicon-lg {
    font-size: 35px;
    margin-bottom: 10px;
}


.invalid-alert{
    font-size: smaller;
    color: red;
    font-style: italic;
}

.leftList {
    background-color: #004185;
    height: 100vh;
    margin-top: 40px;
}

.center-text {
    text-align: center;
}

.CBMBG {
    background-color: #004185;
}

.fontWhite {
    color: white;
}

.CBMLOGO {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding-left: 5px ;
}
