﻿body {
    background-color: #eaeaea;
}

.top-bar {
    border-radius: 0px;
    min-height: 40px;
    background-color: #1777b0;
    border-color: transparent;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 5000;
}

.btn-group.navbar-right {
    padding: 5px;
}

    .btn-group.navbar-right > a > img {
        max-height: 18px;
        vertical-align: sub;
        margin: 0px 5px;
    }

    .btn-group.navbar-right > a {
        color: black;
        max-height: 40px;
        background: white;
        border: white;
        padding: 5px 15px;
    }
.top-logo > a > label{
    cursor: pointer;
}

.top-logo > a > label:nth-child(1) {
    font-size: 25px;
    color: #f89d0d;
}

.top-logo > a > label:nth-child(2) {
    font-size: 29px;
    color: white;
}

.top-logo > label {
    margin-bottom: 0px;
}

.top-bar .navbar-nav > li > a {
    margin: 5px;
    background: white;
    color: black;
    border-radius: 2px;
    padding: 5px 10px;
}

.top-bar .nav > li > a > img {
    max-width: 16px;
    margin: 0px 5px;
}

.top-bar .navbar-nav > li > a:hover, .top-bar .navbar-nav > li > a:focus {
    color: #1a242f;
    background-color: #e6e6e6;
}

.body-container {
    margin-top: 60px;
}

.bg-white {
    background-color: white;
}

.list-group-item {
    padding: 10px 12px;
    margin-bottom: -1px;
    background-color: transparent;
    border: 0px solid #ecf0f1;
}

.list-group.table-of-contents .list-group-item img {
    max-width: 40px;
    max-height: 40px;
}

a.list-group-item {
    display: inline-grid;
}

.center-text {
    text-align: center;
    text-align: -webkit-center;
}

.list-group-item {
    font-size: 12px;
}

    .list-group-item img {
        width: 40px;
        margin-bottom: 5px;
    }

a.list-group-item {
    margin-bottom: -20px;
}

/*.btn-danger {
    margin: 20px 30px 0 0;
}*/

.Gridview th {
    background-color: #aaaaaa17;
    border: 1px solid #ccc;
}

#pagination a {
    display: inline-block;
    margin-right: 5px;
}

.inner_table {
    height: 460px;
}

.pg-normal {
    color: black;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

.pg-selected {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.form-control, input {
    margin-bottom: 10px;
}

.col-sm-3 {
    width: 21%;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 13%;
    text-align: center !important;
    margin: 0;
    width: 60% !important;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative;
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: -220px;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: -220px;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

a.selected {
    background-color: #1F75CC;
    color: white;
    z-index: 100;
}

.messagepop {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    display: none;
    margin-top: 15px;
    text-align: left;
    width: 450px;
    z-index: 50;
    position: fixed;
    top: 31px;
    left: 350px;
}

.messagepop p, .messagepop.div {
    border-bottom: 1px solid #EFEFEF;
    margin: 8px 0;
    padding-bottom: 8px;
}

.messageheader {
    background: -webkit-linear-gradient(#83828221, #8382827a);
    padding: 10px;
}

.messagecontent {
    padding: 15px;
}

.close {
    float: right;
    font-size: 11px;
    color: #000;
    margin-bottom: 5px;
    opacity: 1;
}

.main .form-control {
    display: inline-block;
    width: 35%;
    margin-right: 69px;
    vertical-align: middle;
}

.main .name {
    margin-right: 9px;
}

.main .description {
    margin-right: 15px;
}

.main .comment {
    margin-right: 26px;
}

.btn-md {
    margin-top: -110px;
    padding: 3px 5px 3px 5px;
    margin-left: 985px;
}
