﻿@using SubscriptionManagement.Models
@model CustomerDetailsViewModel

@{
    Layout = null;
    var cs = Model.customerDetails;
    var pic = Model.personInCharges.FindAll(x => x.Type == "PIC");
    var sa = Model.personInCharges.FindAll(x => x.Type == "SA");
    var attachments = Model.Attachments;
    var picAttachments = Model.personInChargeAttachments;
    var lct = Model.legalConstitutionTypes;
    var es = Model.economySectors;
    var ess = Model.economySubSectors;
    var countries = Model.countries.ToList();
    var request = Model.Request;
}

<script>
    $(function () {
        $('#BusinessExist').val("true");
        if ($('#inptBusinessRegNo').next().length > 0) {
            $('#inptBusinessRegNo').next().remove();
        }
    });
</script>

<table id="tblSubscriptionInformation" class="table table-bordered table-column-4">
    <thead>
        <tr class="CBMBG">
            <th colspan="4">Subscription Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="CBMBG">Business Reg No. :</td>
            <td>
                @cs.BusinessRegNo
            </td>
            <td class="CBMBG">Business Reg Date : </td>
            <td>
                @if (cs.BusinessRegDate.HasValue)
                {
                    @DateTime.Parse(cs.BusinessRegDate.ToString()).ToString("dd MMM yyyy")
                }
                @Html.HiddenFor(r => cs.BusinessRegDate, new { id = "inptBusinessRegDate", name = "BusinessRegDate", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td class="CBMBG" style="vertical-align:middle">
                Business Name :
            </td>
            <td>
                @cs.BusinessName
            </td>
            <td class="CBMBG" style="vertical-align:middle">
                Legal Constitution :
            </td>
            <td>
                @if (cs.LegalConstitution != "0" && lct.Count > 0)
                {
                    var l = lct.Find(x => x.LegalConstitutionTypeId == cs.LegalConstitution);

                    if (l != null)
                    {
                        @l.Name
                    }
                }
                @Html.HiddenFor(r => cs.LegalConstitution, new { id = "inptLegalConstitution", name = "LegalConstitution", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td class="CBMBG" style="width: 18%; vertical-align:middle">
                Country of Registration :
            </td>
            <td>
                @if (cs.CountryOfRegistration != "0" && countries.Count > 0)
                {
                    var c = countries.Find(x => x.CountryId == cs.CountryOfRegistration);

                    if (c != null)
                    {
                        @c.Name
                    }
                }
                @Html.HiddenFor(r => cs.CountryOfRegistration, new { id = "inptCountryOfRegistration", name = "CountryOfRegistration", @class = "form-control" })
            </td>
            <td class="CBMBG" style="vertical-align:middle">
                Economy Sector :
            </td>
            <td>
                @if (cs.EconomySector != "0" && es.Count > 0)
                {
                    var e = es.Find(x => x.EconomySectorId == cs.EconomySector);

                    if (e != null)
                    {
                        @e.Name
                    }
                }
                @Html.HiddenFor(r => cs.EconomySector, new { id = "inptEconomySector", name = "EconomySector", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td class="CBMBG" style="width: 18%; vertical-align:middle">
                Sub Sector :
            </td>
            <td>
                @if (cs.EconomySubSector != "0" && ess.Count > 0)
                {
                    var e = ess.Find(x => x.EconomySubSectorId == cs.EconomySubSector);

                    if (e != null)
                    {
                        @e.Name
                    }
                }
                @Html.HiddenFor(r => cs.EconomySubSector, new { id = "inptEconomySubSector", name = "EconomySubSector", @class = "form-control" })
            </td>
            <td class="CBMBG">Business Address :</td>
            <td>
                @cs.BusinessAddress
                @Html.HiddenFor(r => cs.BusinessAddress, new { id = "inptBusinessAddress", name = "BusinessAddress", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td class="CBMBG" style="width: 18%; vertical-align:middle">
                Postal Code :
            </td>
            <td>
                @cs.PostalCode
                @Html.HiddenFor(r => cs.PostalCode, new { id = "inptPostalCode", name = "PostalCode", @class = "form-control number" })
            </td>
            <td class="CBMBG">Telephone Number :</td>
            <td>
                @cs.TelephoneNo
                @Html.HiddenFor(r => cs.TelephoneNo, new { id = "inptTelephoneNo", name = "TelephoneNo", @class = "form-control contact" })
            </td>
        </tr>
        <tr>
            <td class="CBMBG" style="width: 18%; vertical-align:middle">
                Fax Number :
            </td>
            <td>
                @cs.FaxNo
                @Html.HiddenFor(r => cs.FaxNo, new { id = "inptFaxNo", name = "FaxNo", @class = "form-control" })
            </td>
            <td class="CBMBG">Email Address :</td>
            <td>
                @cs.EmailAddress
                @Html.HiddenFor(r => cs.EmailAddress, new { id = "inptEmailAddress", name = "EmailAddress", @class = "form-control email" })
            </td>
        </tr>
        <tr>
            <td class="CBMBG" style="width: 18%; vertical-align:middle">
                Website :
            </td>
            <td colspan="3">
                @cs.Website
                @Html.HiddenFor(r => cs.Website, new { id = "inptWebsite", name = "Website", @class = "form-control" })
            </td>
        </tr>
        @*<tr>
                <td class="CBMBG">
                    Document :
                </td>
                <td colspan="3">
                    @{
                        if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                        {
                            <div class="margin-bottom-5">
                                <input id="fileSelectRequester" type="file" class="form-control" style="width: 91%;display: inline-block;" />
                                <button class="btn btn-xs btn-info" onclick="uploadDoc('requester')">Upload</button>
                            </div>
                        }
                    }
                    <table class="table table-bordered sub-table" id="inptRequesterfile">
                        <thead>
                            <tr>
                                <th style="width: 23.5%">
                                    Uploaded Date
                                </th>
                                <th style="width: 36.2%">
                                    File Name
                                </th>
                                <th style="width: 20.5%">
                                    Size
                                </th>
                                <th>
                                    Ext
                                </th>

                                @{
                                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                    {
                                        <th style="width: 10%; text-align:center;">
                                            Action
                                        </th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (m.Request.Attachments != null && m.Request.Attachments.Count > 0)
                                {
                                    var atts = m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "1459548D-2D14-46FB-8AF2-F348E1E32DC4");
                                    foreach (var att in atts)
                                    {
                                        <tr>
                                            <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                            @{
                                                if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                                {
                                                    <td>@att.Name</td>
                                                }
                                                else
                                                {
                                                    <td><a href="@att.Path@att.Name" target="_blank">@att.Name</a></td>
                                                }
                                            }

                                            <td>@att.Size</td>
                                            <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                            @{
                                                if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                                {
                                                    <td style="text-align:center" data-value="@att.AttachmentId"><a class="delete" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                                }
                                            }
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </td>
            </tr>*@
</table>

<table id="tblPIC" class="table table-bordered table-column-6">
    <thead>
        <tr class="CBMBG">
            <th>Director Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <table class="table table-bordered sub-table" id="inptPIC" style="margin-bottom:0px">
                    <thead>
                        <tr>
                            <th style="width:17.6%">
                                Name
                            </th>
                            <th style="width:10.8%">
                                Contact No
                            </th>
                            <th style="width:13.3%">
                                Email
                            </th>
                            <th style="width:10.8%">
                                IC Number
                            </th>
                            <th>
                                Designation
                            </th>
                            <th style="width:8.8%" class="text-center">
                                IC
                            </th>
                            <th style="width:8.8%" class="text-center">
                                License
                            </th>
                            <th style="width:8.8%" class="text-center">
                                Payslip
                            </th>
                            <th class="text-center" style="width:7%">
                                Primary Contact
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (pic.Count > 0)
                        {
                            foreach (var p in pic)
                            {
                                <tr>
                                    <td style="vertical-align:middle">@p.Name</td>
                                    <td style="vertical-align:middle">@p.TelephoneNumber</td>
                                    <td style="vertical-align:middle">@p.EmailAddress</td>
                                    <td style="vertical-align:middle">@p.IcNumber</td>
                                    <td style="vertical-align:middle">@p.Designation</td>
                                    <td style="word-break:break-all; vertical-align:middle; text-align:center">
                                        @if (attachments.Count > 0)
                                        {
                                            var attachment = attachments.FindAll(x => x.AttachmentTypeId == "EDDEDB1A-9192-427A-90BA-DE7546C086AA");//IC

                                            if (attachment != null)
                                            {
                                                var a = picAttachments.Find(x => x.PersonInChargeId == p.PersonInChargeId && x.AttachmentTypeId == "EDDEDB1A-9192-427A-90BA-DE7546C086AA");//IC

                                                if (a != null)
                                                {
                                                    var attach = attachment.Find(x => x.AttachmentId == a.AttachmentId);

                                                    if (attach != null)
                                                    {
                                                        <a href="@attach.Path@attach.Name" target="_blank">@attach.Name</a>
                                                    }
                                                }
                                            }
                                        }
                                    </td>
                                    <td style="word-break:break-all; vertical-align:middle; text-align:center">
                                        @if (attachments.Count > 0)
                                        {
                                            var attachment = attachments.FindAll(x => x.AttachmentTypeId == "4D13748E-8036-4C8F-9911-8E7C2EA71D6C");//License

                                            if (attachment != null)
                                            {
                                                var a = picAttachments.Find(x => x.PersonInChargeId == p.PersonInChargeId && x.AttachmentTypeId == "4D13748E-8036-4C8F-9911-8E7C2EA71D6C");//License

                                                if (a != null)
                                                {
                                                    var attach = attachment.Find(x => x.AttachmentId == a.AttachmentId);

                                                    if (attach != null)
                                                    {
                                                        <a href="@attach.Path@attach.Name" target="_blank">@attach.Name</a>
                                                    }
                                                }
                                            }
                                        }
                                    </td>
                                    <td style="word-break:break-all; vertical-align:middle; text-align:center">
                                        @if (attachments.Count > 0)
                                        {
                                            var attachment = attachments.FindAll(x => x.AttachmentTypeId == "55771298-516E-401B-A2EF-2FE3EA0A7124");//Pay Slip

                                            if (attachment != null)
                                            {
                                                var a = picAttachments.Find(x => x.PersonInChargeId == p.PersonInChargeId && x.AttachmentTypeId == "55771298-516E-401B-A2EF-2FE3EA0A7124");//Pay Slip

                                                if (a != null)
                                                {
                                                    var attach = attachment.Find(x => x.AttachmentId == a.AttachmentId);

                                                    if (attach != null)
                                                    {
                                                        <a href="@attach.Path@attach.Name" target="_blank">@attach.Name</a>
                                                    }
                                                }
                                            }
                                        }
                                    </td>
                                    <td class="text-center" style="vertical-align:middle">
                                        @if (p.IsPrimary)
                                        {
                                            <span>Yes</span>
                                        }
                                        else
                                        {
                                            <span>No</span>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table id="tblSA" class="table table-bordered table-column-6">
    <thead>
        <tr class="CBMBG">
            <th>Security Admin Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <table class="table table-bordered sub-table" id="inptSA" style="margin-bottom:0px">
                    <thead>
                        <tr>
                            <th style="width:17.6%">
                                Name
                            </th>
                            <th style="width:10.8%">
                                Contact No
                            </th>
                            <th style="width:13.3%">
                                Email
                            </th>
                            <th style="width:10.8%">
                                IC Number
                            </th>
                            <th style="width:14.6%">
                                Designation
                            </th>
                            <th class="text-center">
                                IC
                            </th>
                            <th class="text-center" style="width:7%">
                                Primary Contact
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (sa.Count > 0)
                        {
                            foreach (var s in sa)
                            {
                                <tr>
                                    <td style="vertical-align:middle">@s.Name<a href="/SubscriptionManagement/Home/SecurityAdminForm?PersonInChargeId=@s.PersonInChargeId&RequestId=@request.RequestId&CameFrom=CBM" target="_blank"><img src="/Images/share-icon.png" style="width:7%; margin-left:2%" /></a></td>
                                    <td style="vertical-align:middle">@s.TelephoneNumber</td>
                                    <td style="vertical-align:middle">@s.EmailAddress</td>
                                    <td style="vertical-align:middle">@s.IcNumber</td>
                                    <td style="vertical-align:middle">@s.Designation</td>
                                    <td style="word-break:break-all; vertical-align:middle; text-align:center">
                                        @if (attachments.Count > 0)
                                        {
                                            var attachment = attachments.FindAll(x => x.AttachmentTypeId == "EDDEDB1A-9192-427A-90BA-DE7546C086AA");//IC

                                            if (attachment != null)
                                            {
                                                var a = picAttachments.Find(x => x.PersonInChargeId == s.PersonInChargeId && x.AttachmentTypeId == "EDDEDB1A-9192-427A-90BA-DE7546C086AA");//IC

                                                if (a != null)
                                                {
                                                    var attach = attachment.Find(x => x.AttachmentId == a.AttachmentId);

                                                    if (attach != null)
                                                    {
                                                        <a href="/@attach.Path@attach.Name" target="_blank">@attach.Name</a>
                                                    }
                                                }
                                            }
                                        }
                                    </td>
                                    <td class="text-center" style="vertical-align:middle">
                                        @if (s.IsPrimary)
                                        {
                                            <span>Yes</span>
                                        }
                                        else
                                        {
                                            <span>No</span>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-column-6">
    <thead>
        <tr class="CBMBG">
            <th>Subscriber Declaration and Consent</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding:0">
                <ul class="nav nav-tabs" style="border-bottom:none;">
                    <li style="width:20%; font-size:14px; background-color:white; color:black;" class="nav-item nav-link"><a href="@Url.Action("KYC_Declaration","Home", new { RequestId = request.RequestId })" style="color:black; background-color:white; text-decoration:none" target="_blank" class="center-text">KYC Declaration</a></li>
                    <li style="width:20%; font-size:14px; background-color:white; color:black; border-left:1.5px solid #f6f6f6;" class="nav-item nav-link"><a href="@Url.Action("ConsentForm","Home", new { RequestId = request.RequestId })" style="color:black; background-color:white; text-decoration:none" target="_blank" class="center-text">Consent Form</a></li>
                    <li style="width:20%; font-size:14px; background-color:white; color:black; border-left:1.5px solid #f6f6f6;" class="nav-item nav-link"><a href="@Url.Action("EConsentChecklist","Home", new { RequestId = request.RequestId })" style="color:black; background-color:white; text-decoration:none" target="_blank" class="center-text">E-Consent Checklist</a></li>
                    <li style="width:20%; font-size:14px; background-color:white; color:black; border-left:1.5px solid #f6f6f6;" class="nav-item nav-link"><a href="@Url.Action("GeneralCodeOfConduct","Home", new { RequestId = request.RequestId })" style="color:black; background-color:white; text-decoration:none" target="_blank" class="center-text">General Code of Conduct</a></li>
                    <li style="width:20%; font-size:14px; background-color:white; color:black; border-left:1.5px solid #f6f6f6;" class="nav-item nav-link"><a href="@Url.Action("LetterOfUndertaking","Home", new { RequestId = request.RequestId })" style="color:black; background-color:white; text-decoration:none" target="_blank" class="center-text">Letter of Undertaking</a></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
