﻿@using SubscriptionManagement.Models
@model CustomerDetailsViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
    var req = Model.Request;
    var subReq = Model.subscriptionRequest;
    if (subReq != null)
    {
        req.Name = subReq.Name;
        req.BusinessRegNo = subReq.BusinessRegNo;
        req.ContactNo = subReq.ContactNo;
        req.Designation = subReq.Designation;
        req.Email = subReq.Email;
        req.BusinessName = subReq.BusinessName;
        req.PackageId = subReq.PackageId;
    }
    var cs = Model.customerDetails;
    var pic = Model.personInCharges.FindAll(x => x.Type == "PIC");
    var sa = Model.personInCharges.FindAll(x => x.Type == "SA");
    //var sis = Model.ShowInSelects;
    var pou = Model.purposeOfUses;
    var packages = Model.packages;
    var countries = Model.countries.ToList();
    var lcs = Model.legalConstitutionTypes;
    var es = Model.economySectors;
    var ess = Model.economySubSectors;
    var pica = Model.personInChargeAttachments;
    var attachments = Model.Attachments;
    ViewBag.Title = "E-Form";
    var dicPrimary = false;
    var saPrimary = false;
    var d = "disabled";
    var h = "display:none";
    var active = "active ";
    var inn = "in";
    var CustomerPaymentSlip = attachments.FindAll(x => x.AttachmentTypeId == "E550248B-0BF1-468E-8890-EF97206B8D72");//Payment Slip
}

<style>
    /*#tblTravelRequirement,
    #tblTravelingItinerary,
    #tblRemarks {
        margin: 0px;
    }*/

    .table > tbody > tr > td {
        font-size: 14px !important;
    }

    .table {
        margin: 5px 0px;
    }

    .form-control {
        height: 30px;
        padding: 3px 3px;
        border-radius: 0px;
        font-size: 14px;
    }

    .right-text {
        text-align: right;
    }

    .sub-sub-table > thead > tr > th {
        background-color: #f5f5f5;
        margin: 0px !important;
    }

    .CBMBG {
        /*background: #00bdf2;*/
        background:#004185;
        color: white;
    }

    p {
        margin: 0px;
    }

    .decimal {
        text-align: right;
    }

    .datepicker table tr td, .datepicker table tr th {
        text-align: center;
        width: 30px;
        height: 26px;
        border-radius: 4px;
        font-size: 11px;
        border: none;
    }

    .table-column-4 > tbody > tr > td:nth-child(1),
    .table-column-4 > tbody > tr > td:nth-child(3) {
        width: 16%;
        word-break: inherit;
    }

    .table-column-4 > tbody > tr > td:nth-child(2),
    .table-column-4 > tbody > tr > td:nth-child(4) {
        width: 34%;
    }

    input[type=month]::-webkit-inner-spin-button,
    input[type=month]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
        background: 0 0;
        color: #cecece;
        cursor: default;
    }
    /*.ui-datepicker-calendar {
        display: none;
    }

    .ui-datepicker-buttonpane {
        text-align: center;
    }

    .ui-datepicker-month {
        margin-right: 2%;
        width: 34%;
    }

    .ui-datepicker-year {
        margin-left: 2%;
        width: 34%;
    }

    .ui-datepicker-current {
        float: left;
    }

    .ui-datepicker-close {
        float: right;
    }*/
    .invalid-alert {
        font-size: smaller;
        color: red;
        font-style: italic;
    }

    .table:not(.sub-table) > thead > tr > th {
        font-size: 14px;
    }

    .btn-xs, .btn-group-xs > .btn {
        font-size: 14px;
    }

    input[type=checkbox] {
        margin-bottom: 2.5px;
    }
</style>
<script>
    $('.datepickerRestrictFuture').datepicker({
        format: 'dd M yyyy',
        endDate: '0'
    })
</script>
<script src="~/Areas/SubscriptionManagement/Scripts/CustomerSubscriptionRequestForm.js"></script>
<script>
    $(function () {
        init();
    });
</script>

@if (pic.Exists(x => x.IsPrimary))
{
    dicPrimary = true;
}
@if (sa.Exists(x => x.IsPrimary))
{
    saPrimary = true;
}
<input type="hidden" id="RequestId" value="@req.RequestId" />
<input type="hidden" id="DicPrimary" value="@dicPrimary" />
<input type="hidden" id="SaPrimary" value="@saPrimary" />
<input type="hidden" id="EFormStage" value="@subReq.EFormStage" />
<input type="hidden" id="Status" value="@req.Status" />
<input type="hidden" id="CanSubmit" value="true" />
<input type="hidden" id="LastModifiedDate" value="@DateTime.Now.ToString()">
<input type="hidden" id="ReferenceNo" value="@req.ReferenceNo" />
<input type="hidden" id="inptSubject" value="@req.Subject" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>E-form Update</title>
</head>
<body>
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <nav class="navbar navbar-default top-bar" style="background-color:#004185">
                        <div class="container-fluid">
                            <div class="navbar-header top-logo">
                                <img src="/Images/cbm_logo_white.png" draggable="false" class="CBMLOGO" oncontextmenu="return false;" style="width:70%">
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row" style="margin-left:8.5%; width:84%">
            <h3 style="margin-top: 7%;" id="h3">E-Form</h3>

            <ul class="nav nav-tabs" style="border-bottom:none; margin-top:15px;">
                <li style="width:14.28%; font-size:14px;" class="nav-item nav-link @if (subReq.EFormStage == 1 || (req.Status != "Pending Form Submission" && req.Status != "Pending Payment Slip")) { @active } "><a href="#SubscriptionInformation" data-toggle="tab" aria-expanded="true" class="center-text">Subscription information</a></li>
                @if (subReq.EFormStage > 1)
                {
                    <li style="width:14.28%; font-size:14px;" class="nav-item nav-link @if (subReq.EFormStage == 2 && req.Status == "Pending Form Submission") { @active } "><a href="#KYC" data-toggle="tab" aria-expanded="false" class="center-text">KYC Declaration</a></li>
                }

                @if (subReq.EFormStage > 2)
                {
                    <li style="width:14.28%; font-size:14px;" class="nav-item nav-link @if (subReq.EFormStage == 3 && req.Status == "Pending Form Submission") { @active } "><a href="#ConsentForm" data-toggle="tab" aria-expanded="false" class="center-text">Consent Form</a></li>
                }

                @if (subReq.EFormStage > 3)
                {
                    <li style="width:14.28%; font-size:14px;" class="nav-item nav-link @if (subReq.EFormStage == 4 && req.Status == "Pending Form Submission") { @active } "><a href="#E-Consent" data-toggle="tab" aria-expanded="false" class="center-text">E-Consent Checklist</a></li>
                }

                @if (subReq.EFormStage > 4)
                {
                    <li style="width:14.28%; font-size:14px;" class="nav-item nav-link @if (subReq.EFormStage == 5 && req.Status == "Pending Form Submission") { @active } "><a href="#CodeOfConduct" data-toggle="tab" aria-expanded="false" class="center-text">General Code of Conduct</a></li>
                }

                @if (subReq.EFormStage > 5)
                {
                    <li style="width:14.28%; font-size:14px;" class="nav-item nav-link @if (subReq.EFormStage == 6 && req.Status == "Pending Form Submission") { @active } "><a href="#LetterOfUndertaking" data-toggle="tab" aria-expanded="false" class="center-text">Letter of Undertaking</a></li>
                }

                @if (req.Status == "Pending Payment Slip" || (CustomerPaymentSlip != null && CustomerPaymentSlip.Count > 0))
                {
                    <li style="width:14.28%; font-size:14px;" class="nav-item nav-link @if (req.Status == "Pending Payment Slip") { @active } "><a href="#PaymentSlip" data-toggle="tab" aria-expanded="false" class="center-text">Payment Slip</a></li>
                }

            </ul>

            <div id="inventoryMainTab" class="tab-content">
                <div class="tab-pane fade @if (subReq.EFormStage == 1 || (req.Status != "Pending Form Submission" && req.Status != "Pending Payment Slip")) { @active @inn } " id="SubscriptionInformation">
                    <table id="tblPackage" class="table table-bordered table-column-4">
                        <thead>
                            <tr class="CBMBG">
                                <th colspan="4">
                                    Package
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="CBMBG" style="width:12.5%; vertical-align:middle">
                                    Package :
                                </td>
                                <td colspan="3">
                                    @if (packages.Count > 0)
                                    {
                                        <input type="text" id="inptPackageId" value="@req.PackageId" hidden />
                                        var p = packages.Find(x => x.PackageId == req.PackageId);
                                        if (p != null)
                                        {
                                            @p.Name
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Purpose of use :@if (req.Status == "Pending Form Submission")
                                    {
                                        <span style="color:red">*</span>
                                    }
                                </td>
                                <td>
                                    @if (req.Status == "Pending Form Submission")
                                    {
                                        <select id="inptPurposeOfUse" class="form-control">
                                            <option value="0">Select Purpose of Use</option>

                                            @if (pou.Count > 0)
                                            {
                                                foreach (var p in pou)
                                                {
                                                    if (p.PurposeOfUseId == subReq.PurposeOfUse)
                                                    {
                                                        <option value="@p.PurposeOfUseId" selected>@p.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@p.PurposeOfUseId">@p.Name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        if (pou.Count > 0)
                                        {
                                            var p = pou.Find(x => x.PurposeOfUseId == subReq.PurposeOfUse);
                                            if (p != null)
                                            {
                                                @p.Name
                                            }
                                        }
                                        @Html.HiddenFor(r => subReq.PurposeOfUse, new { id = "inptPurposeOfUse", name = "PurposeOfUse", @class = "form-control" })
                                    }
                                </td>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Frequency of use (Month) : @if (req.Status == "Pending Form Submission")
                                    {
                                        <span style="color:red">*</span>
                                    }
                                </td>
                                <td>
                                    @if (req.Status == "Pending Form Submission")
                                    {
                                        var f = subReq.FrequencyOfUse.ToString();
                                        if (f == "0")
                                        {
                                            f = "";
                                        }
                                        <input type="text" maxlength="3" value="@f" id="inptFrequencyOfUse" class="form-control contact" />
                                    }
                                    else
                                    {
                                        @subReq.FrequencyOfUse
                                        <input type="hidden" value="@subReq.FrequencyOfUse" id="inptFrequencyOfUse" class="form-control contact" />
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table id="tblSubscriptionInformation" class="table table-bordered table-column-4">
                        <thead>
                            <tr class="CBMBG">
                                <th colspan="4">Subscription Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="CBMBG" style="width:12.5%; vertical-align:middle">Business Reg No. :</td>
                                <td style="vertical-align:middle">
                                    @cs.BusinessRegNo
                                </td>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Business Reg Date : @if (req.Status == "Pending Form Submission")
                                    {
                                        <span style="color:red">*</span>
                                    }
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission")
                                    {
                                        var date = "";
                                        if (cs.BusinessRegDate.HasValue)
                                        {
                                            date = Convert.ToDateTime(cs.BusinessRegDate).ToString("dd MMM yyyy");
                                        }
                                        <input type="text" id="inptBusinessRegDate" class="form-control datepickerRestrictFuture" value="@date" />
                                    }
                                    else
                                    {
                                        if (cs.BusinessRegDate.HasValue)
                                        {
                                            @DateTime.Parse(cs.BusinessRegDate.ToString()).ToString("dd MMM yyyy")
                                            <input type="hidden" id="inptBusinessRegDate" class="form-control datepickerRestrictFuture" value="@DateTime.Parse(cs.BusinessRegDate.ToString()).ToString("dd MMM yyyy")" />
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Business Name :
                                </td>
                                <td style="vertical-align:middle">
                                    @cs.BusinessName
                                </td>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Legal Constitution :@if (req.Status == "Pending Form Submission")
                                    {
                                        <span style="color:red">*</span>
                                    }
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission")
                                    {
                                        <select id="inptLegalConstitution" class="form-control">
                                            <option value="0">Select Legal Constitution</option>

                                            @if (lcs.Count > 0)
                                            {
                                                foreach (var l in lcs)
                                                {
                                                    if (l.LegalConstitutionTypeId == cs.LegalConstitution)
                                                    {
                                                        <option value="@l.LegalConstitutionTypeId" selected>@l.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@l.LegalConstitutionTypeId">@l.Name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        var l = lcs.Find(x => x.LegalConstitutionTypeId == cs.LegalConstitution);
                                        if (l != null)
                                        {
                                            @l.Name
                                        }
                                        @Html.HiddenFor(r => cs.LegalConstitution, new { id = "inptLegalConstitution", name = "LegalConstitution", @class = "form-control" })
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Country of Registration :@if (req.Status == "Pending Form Submission")
                                    {
                                        <span style="color:red">*</span>
                                    }
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission")
                                    {
                                        <select class="form-control" id="inptCountryOfRegistration">
                                            <option value="0">Select Country of Registration</option>

                                            @if (countries.Count > 0)
                                            {
                                                foreach (var c in countries)
                                                {
                                                    if (c.CountryId == cs.CountryOfRegistration)
                                                    {
                                                        <option value="@c.CountryId" selected>@c.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@c.CountryId">@c.Name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        var c = countries.Find(x => x.CountryId == cs.CountryOfRegistration);
                                        if (c != null)
                                        {
                                            @c.Name
                                        }
                                        @Html.HiddenFor(r => cs.CountryOfRegistration, new { id = "inptCountryOfRegistration", name = "CountryOfRegistration", @class = "form-control" })
                                    }
                                </td>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Economy Sector :@if (req.Status == "Pending Form Submission")
                                    {
                                        <span style="color:red">*</span>
                                    }
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission")
                                    {
                                        <select class="form-control" id="inptEconomySector">
                                            <option value="0">Select Economy Sector</option>

                                            @if (es.Count > 0)
                                            {
                                                foreach (var e in es)
                                                {
                                                    if (e.EconomySectorId == cs.EconomySector)
                                                    {
                                                        <option value="@e.EconomySectorId" selected>@e.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@e.EconomySectorId">@e.Name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        var e = es.Find(x => x.EconomySectorId == cs.EconomySector);
                                        if (e != null)
                                        {
                                            @e.Name
                                        }
                                        @Html.HiddenFor(r => cs.EconomySector, new { id = "inptEconomySector", name = "EconomySector", @class = "form-control" })
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Sub Sector :
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission")
                                    {
                                        <select class="form-control" id="inptEconomySubSector">
                                            <option value="0">Select Sub Sector</option>

                                            @if (ess.Count > 0)
                                            {
                                                foreach (var e in ess)
                                                {
                                                    if (e.EconomySubSectorId == cs.EconomySubSector)
                                                    {
                                                        <option value="@e.EconomySubSectorId" selected>@e.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@e.EconomySubSectorId">@e.Name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        var e = ess.Find(x => x.EconomySubSectorId == cs.EconomySubSector);
                                        if (e != null)
                                        {
                                            @e.Name
                                        }
                                        @Html.HiddenFor(r => cs.EconomySector, new { id = "inptEconomySubSector", name = "EconomySubSector", @class = "form-control" })
                                    }
                                </td>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Business Address :@if (req.Status == "Pending Form Submission")
                                    {
                                        <span style="color:red">*</span>
                                    }
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission")
                                    {
                                        @Html.TextBoxFor(r => cs.BusinessAddress, new { id = "inptBusinessAddress", name = "BusinessAddress", @class = "form-control" })
                                    }
                                    else
                                    {
                                        @cs.BusinessAddress
                                        @Html.HiddenFor(r => cs.BusinessAddress, new { id = "inptBusinessAddress", name = "BusinessAddress", @class = "form-control" })
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Postal Code :@if (req.Status == "Pending Form Submission")
                                    {
                                        <span style="color:red">*</span>
                                    }
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission")
                                    {
                                        <input type="text" id="inptPostalCode" value="@cs.PostalCode" class="form-control contact" maxlength="5" />
                                    }
                                    else
                                    {
                                        @cs.PostalCode
                                        <input type="hidden" id="inptPostalCode" value="@cs.PostalCode" class="form-control contact" maxlength="5" />
                                    }
                                </td>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Telephone Number :@if (req.Status == "Pending Form Submission")
                                    {
                                        <span style="color:red">*</span>
                                    }
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission")
                                    {
                                        @Html.TextBoxFor(r => cs.TelephoneNo, new { id = "inptTelephoneNo", name = "TelephoneNo", @class = "form-control contact", maxlength = "12" })
                                    }
                                    else
                                    {
                                        @cs.TelephoneNo
                                        @Html.HiddenFor(r => cs.TelephoneNo, new { id = "inptTelephoneNo", name = "TelephoneNo", @class = "form-control contact", maxlength = "12" })
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Fax Number :
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission")
                                    {
                                        @Html.TextBoxFor(r => cs.FaxNo, new { id = "inptFaxNo", name = "FaxNo", @class = "form-control contact", maxlength = "12" })
                                    }
                                    else
                                    {
                                        @cs.FaxNo
                                        @Html.HiddenFor(r => cs.FaxNo, new { id = "inptFaxNo", name = "FaxNo", @class = "form-control contact", maxlength = "12" })
                                    }
                                </td>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Email Address :@if (req.Status == "Pending Form Submission")
                                    {
                                        <span style="color:red">*</span>
                                    }
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission")
                                    {
                                        @Html.TextBoxFor(r => cs.EmailAddress, new { id = "inptEmailAddress", name = "EmailAddress", @class = "form-control email" })
                                    }
                                    else
                                    {
                                        @cs.EmailAddress
                                        @Html.HiddenFor(r => cs.EmailAddress, new { id = "inptEmailAddress", name = "EmailAddress", @class = "form-control email" })
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="CBMBG" style="vertical-align:middle">
                                    Website :
                                </td>
                                <td colspan="3" style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission")
                                    {
                                        @Html.TextBoxFor(r => cs.Website, new { id = "inptWebsite", name = "Website", @class = "form-control" })
                                    }
                                    else
                                    {
                                        @cs.Website
                                        @Html.HiddenFor(r => cs.Website, new { id = "inptWebsite", name = "Website", @class = "form-control" })
                                    }
                                </td>
                            </tr>
                            @*<tr>
                                    <td class="CBMBG">
                                        Document :
                                    </td>
                                    <td colspan="3">
                                        @{
                                            if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                            {
                                                <div class="margin-bottom-5">
                                                    <input id="fileSelectRequester" type="file" class="form-control" style="width: 91%;display: inline-block;" />
                                                    <button class="btn btn-xs btn-info" onclick="uploadDoc('requester')">Upload</button>
                                                </div>
                                            }
                                        }
                                        <table class="table table-bordered sub-table" id="inptRequesterfile">
                                            <thead>
                                                <tr>
                                                    <th style="width: 23.5%">
                                                        Uploaded Date
                                                    </th>
                                                    <th style="width: 36.2%">
                                                        File Name
                                                    </th>
                                                    <th style="width: 20.5%">
                                                        Size
                                                    </th>
                                                    <th>
                                                        Ext
                                                    </th>

                                                    @{
                                                        if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                                        {
                                                            <th style="width: 10%; text-align:center;">
                                                                Action
                                                            </th>
                                                        }
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (m.Request.Attachments != null && m.Request.Attachments.Count > 0)
                                                    {
                                                        var atts = m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "1459548D-2D14-46FB-8AF2-F348E1E32DC4");
                                                        foreach (var att in atts)
                                                        {
                                                            <tr>
                                                                <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                @{
                                                                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                                                    {
                                                                        <td>@att.Name</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td><a href="@att.Path@att.Name" target="_blank">@att.Name</a></td>
                                                                    }
                                                                }

                                                                <td>@att.Size</td>
                                                                <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                                                @{
                                                                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                                                    {
                                                                        <td style="text-align:center" data-value="@att.AttachmentId"><a class="delete" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                                                    }
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>*@
                    </table>

                    <table id="tblPIC" class="table table-bordered table-column-6">
                        <thead>
                            <tr class="CBMBG">
                                <th>Director Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <table class="table table-bordered sub-table" id="inptDIC" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th style="width:15.6%">
                                                    Name
                                                    @if (req.Status == "Pending Form Submission")
                                                    {
                                                        <span style="color:red">*</span>
                                                    }
                                                </th>
                                                <th style="width:9.1%">
                                                    Telephone No.
                                                    @if (req.Status == "Pending Form Submission")
                                                    {
                                                        <span style="color:red">*</span>
                                                    }
                                                </th>
                                                <th style="width:16.5%">
                                                    Email Address
                                                    @if (req.Status == "Pending Form Submission")
                                                    {
                                                        <span style="color:red">*</span>
                                                    }
                                                </th>
                                                <th style="width:9.1%">
                                                    IC Number
                                                    @if (req.Status == "Pending Form Submission")
                                                    {
                                                        <span style="color:red">*</span>
                                                    }
                                                </th>
                                                <th style="width:12.4%">
                                                    Designation
                                                    @if (req.Status == "Pending Form Submission")
                                                    {
                                                        <span style="color:red">*</span>
                                                    }
                                                </th>
                                                <th style="width:8.8%" class="text-center">
                                                    IC
                                                    @if (req.Status == "Pending Form Submission")
                                                    {
                                                        <span style="color:red">*</span>
                                                    }
                                                </th>
                                                <th style="width:8.8%" class="text-center">
                                                    License
                                                </th>
                                                <th style="width:8.8%" class="text-center">
                                                    Payslip
                                                </th>
                                                <th class="text-center" style="width:5%">
                                                    Primary Contact
                                                </th>
                                                @if (req.Status == "Pending Form Submission")
                                                {
                                                    <th class="text-center">
                                                        Action
                                                    </th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (pic.Count > 0)
                                            {
                                                foreach (var p in pic)
                                                {
                                                    var yesNo = "No";
                                                    var picAttachments = pica.FindAll(x => x.PersonInChargeId == p.PersonInChargeId);
                                                    <tr>
                                                        <td style="vertical-align:middle">@p.Name</td>
                                                        <td style="vertical-align:middle">@p.TelephoneNumber</td>
                                                        <td style="vertical-align:middle">@p.EmailAddress</td>
                                                        <td style="vertical-align:middle">@p.IcNumber</td>
                                                        <td style="vertical-align:middle">@p.Designation</td>
                                                        <td style="word-break:break-all; vertical-align:middle; text-align:center">
                                                            @if (attachments.Count > 0)
                                                            {
                                                                var attachment = attachments.FindAll(x => x.AttachmentTypeId == "EDDEDB1A-9192-427A-90BA-DE7546C086AA");//IC

                                                                if (attachment != null)
                                                                {
                                                                    var a = picAttachments.Find(x => x.PersonInChargeId == p.PersonInChargeId && x.AttachmentTypeId == "EDDEDB1A-9192-427A-90BA-DE7546C086AA");//IC

                                                                    if (a != null)
                                                                    {
                                                                        var attach = attachment.Find(x => x.AttachmentId == a.AttachmentId);

                                                                        if (attach != null)
                                                                        {
                                                                            <a href="/@attach.Path@attach.Name" target="_blank">@attach.Name</a>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                        <td style="word-break:break-all; vertical-align:middle; text-align:center">
                                                            @if (attachments.Count > 0)
                                                            {
                                                                var attachment = attachments.FindAll(x => x.AttachmentTypeId == "4D13748E-8036-4C8F-9911-8E7C2EA71D6C");//License

                                                                if (attachment != null)
                                                                {
                                                                    var a = picAttachments.Find(x => x.PersonInChargeId == p.PersonInChargeId && x.AttachmentTypeId == "4D13748E-8036-4C8F-9911-8E7C2EA71D6C");//License

                                                                    if (a != null)
                                                                    {
                                                                        var attach = attachment.Find(x => x.AttachmentId == a.AttachmentId);

                                                                        if (attach != null)
                                                                        {
                                                                            <a href="/@attach.Path@attach.Name" target="_blank">@attach.Name</a>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                        <td style="word-break:break-all; vertical-align:middle; text-align:center">
                                                            @if (attachments.Count > 0)
                                                            {
                                                                var attachment = attachments.FindAll(x => x.AttachmentTypeId == "55771298-516E-401B-A2EF-2FE3EA0A7124");//Pay Slip

                                                                if (attachment != null)
                                                                {
                                                                    var a = picAttachments.Find(x => x.PersonInChargeId == p.PersonInChargeId && x.AttachmentTypeId == "55771298-516E-401B-A2EF-2FE3EA0A7124");//Pay Slip

                                                                    if (a != null)
                                                                    {
                                                                        var attach = attachment.Find(x => x.AttachmentId == a.AttachmentId);

                                                                        if (attach != null)
                                                                        {
                                                                            <a href="/@attach.Path@attach.Name" target="_blank">@attach.Name</a>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                        <td class="text-center" style="vertical-align:middle;">
                                                            @if (p.IsPrimary)
                                                            {
                                                                yesNo = "Yes";
                                                            }

                                                            @yesNo
                                                        </td>
                                                        @if (req.Status == "Pending Form Submission")
                                                        {
                                                            <td style="text-align:center; vertical-align:middle" data-type="PIC" data-value="@p.PersonInChargeId"><a data-type="PIC" data-primary="@yesNo" data-value="@p.PersonInChargeId" class="delete" title="Delete" onclick="removePic(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        @if (req.Status == "Pending Form Submission")
                                        {
                                            <tfoot>
                                                <tr>
                                                    <td style="vertical-align:middle">
                                                        <input class="form-control name" id="dicName" type="text" />
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <input class="form-control contact" id="dicTelephoneNumber" type="text" maxlength="12" />
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <input class="form-control email" id="dicEmailAddress" type="text" />
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <input class="form-control contact" id="dicIcNumber" type="text" maxlength="12" />
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <input class="form-control name" id="dicDesignation" type="text" />
                                                    </td>
                                                    <td style="vertical-align:middle; text-align:center">
                                                        <label for="fileSelectDicIc" id="SelectDicIc" class="btn btn-xs btn-default" style="width:90px; white-space:normal; overflow:hidden; word-break:break-all">Select IC</label>
                                                        <input id="fileSelectDicIc" onchange="DicIc(this)" data-type="EDDEDB1A-9192-427A-90BA-DE7546C086AA" type="file" class="form-control" style="display: none;" /><!--IC-->
                                                    </td>
                                                    <td style="vertical-align:middle; text-align:center">
                                                        <label for="fileSelectDicLicense" id="SelectDicLicense" class="btn btn-xs btn-default" style="width:90px; white-space:normal; overflow:hidden; word-break:break-all">Select License</label>
                                                        <input id="fileSelectDicLicense" onchange="DicLicense(this)" data-type="4D13748E-8036-4C8F-9911-8E7C2EA71D6C" type="file" class="form-control" style="display: none;" /><!--License-->
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <label for="fileSelectDicPaySlip" id="SelectDicPaySlip" class="btn btn-xs btn-default" style="width:90px; white-space:normal; overflow:hidden; word-break:break-all">Select Payslip</label>
                                                        <input id="fileSelectDicPaySlip" onchange="DicPaySlip(this)" data-type="E550248B-0BF1-468E-8890-EF97206B8D72" type="file" class="form-control" style="display: none;" /><!--Payment Slip-->
                                                    </td>
                                                    <td class="text-center" style="vertical-align:middle">
                                                        <div id="dicIsPrimaryBox">
                                                            <label>
                                                                <input type="radio" value="true" name="dicIsPrimary" @{ if (dicPrimary) { @d  } } class="dicIsPrimary" id="dic1" style="margin-right:2px;">
                                                                Yes
                                                            </label>
                                                            &nbsp;
                                                            <label>
                                                                <input type="radio" value="false" checked name="dicIsPrimary" class="dicIsPrimary" id="dic2" style="margin-right:2px;">
                                                                No &nbsp;
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="vertical-align:middle;" class="text-center">
                                                        <button class="btn btn-xs btn-info" onclick="uploadDIC()">Upload</button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        }
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table id="tblSA" class="table table-bordered table-column-6">
                        <thead>
                            <tr class="CBMBG">
                                <th>Security Admin Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <table class="table table-bordered sub-table" id="inptSA" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th style="width:15.6%">
                                                    Name
                                                    @if (req.Status == "Pending Form Submission")
                                                    {
                                                        <span style="color:red">*</span>
                                                    }
                                                </th>
                                                <th style="width:9.1%">
                                                    Telephone No.
                                                    @if (req.Status == "Pending Form Submission")
                                                    {
                                                        <span style="color:red">*</span>
                                                    }
                                                </th>
                                                <th style="width:16.5%">
                                                    Email Address
                                                    @if (req.Status == "Pending Form Submission")
                                                    {
                                                        <span style="color:red">*</span>
                                                    }
                                                </th>
                                                <th style="width:9.1%">
                                                    IC Number
                                                    @if (req.Status == "Pending Form Submission")
                                                    {
                                                        <span style="color:red">*</span>
                                                    }
                                                </th>
                                                <th style="width:12.4%">
                                                    Designation
                                                    @if (req.Status == "Pending Form Submission")
                                                    {
                                                        <span style="color:red">*</span>
                                                    }
                                                </th>
                                                <th class="text-center" style="width:26.2%">
                                                    IC
                                                    @if (req.Status == "Pending Form Submission")
                                                    {
                                                        <span style="color:red">*</span>
                                                    }
                                                </th>
                                                <th class="text-center" style="width:5%">
                                                    Primary Contact
                                                </th>
                                                @if (req.Status == "Pending Form Submission")
                                                {
                                                    <th class="text-center">
                                                        Action
                                                    </th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (sa.Count > 0)
                                            {
                                                foreach (var s in sa)
                                                {
                                                    var yesNo = "No";
                                                    var picAttachments = pica.FindAll(x => x.PersonInChargeId == s.PersonInChargeId);
                                                    <tr>
                                                        <td style="vertical-align:middle">@s.Name<a href="/SubscriptionManagement/Home/SecurityAdminForm?PersonInChargeId=@s.PersonInChargeId&RequestId=@req.RequestId&CameFrom=Customer" target="_blank"><img src="/Images/share-icon.png" style="width:7%; margin-left:2%" /></a></td>
                                                        <td style="vertical-align:middle">@s.TelephoneNumber</td>
                                                        <td style="vertical-align:middle">@s.EmailAddress</td>
                                                        <td style="vertical-align:middle">@s.IcNumber</td>
                                                        <td style="vertical-align:middle">@s.Designation</td>
                                                        <td style="word-break:break-all; vertical-align:middle; text-align:center">
                                                            @if (attachments.Count > 0)
                                                            {
                                                                var attachment = attachments.FindAll(x => x.AttachmentTypeId == "EDDEDB1A-9192-427A-90BA-DE7546C086AA");//IC

                                                                if (attachment != null)
                                                                {
                                                                    var a = picAttachments.Find(x => x.PersonInChargeId == s.PersonInChargeId && x.AttachmentTypeId == "EDDEDB1A-9192-427A-90BA-DE7546C086AA");//IC

                                                                    if (a != null)
                                                                    {
                                                                        var attach = attachment.Find(x => x.AttachmentId == a.AttachmentId);

                                                                        if (attach != null)
                                                                        {
                                                                            <a href="/@attach.Path@attach.Name" target="_blank">@attach.Name</a>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                        <td class="text-center" style="vertical-align:middle;">
                                                            @if (s.IsPrimary)
                                                            {
                                                                yesNo = "Yes";
                                                            }

                                                            @yesNo
                                                        </td>
                                                        @if (req.Status == "Pending Form Submission")
                                                        {
                                                            <td style="text-align:center; vertical-align:middle" data-consented="@s.Consented" data-type="PIC" data-value="@s.PersonInChargeId"><a data-consented="@s.Consented" data-type="SA" data-primary="@yesNo" data-value="@s.PersonInChargeId" class="delete" title="Delete" onclick="removePic(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        @if (req.Status == "Pending Form Submission")
                                        {
                                            <tfoot id="saFoot" style="@{ if (sa.Count == 2) { @h } }">
                                                <tr>
                                                    <td style="vertical-align:middle">
                                                        <input class="form-control name" id="saName" type="text" />
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <input class="form-control contact" id="saTelephoneNumber" type="text" maxlength="12" />
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <input class="form-control email" id="saEmailAddress" type="text" />
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <input class="form-control contact" id="saIcNumber" type="text" maxlength="12" />
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <input class="form-control name" id="saDesignation" type="text" />
                                                    </td>
                                                    <td style="vertical-align:middle; text-align:center">
                                                        <label for="fileSelectSaIc" id="SelectSaIc" class="btn btn-xs btn-default" style="width:295px; white-space:normal; overflow:hidden; word-break:break-all">Select IC</label>
                                                        <input id="fileSelectSaIc" onchange="SaIc(this)" data-type="EDDEDB1A-9192-427A-90BA-DE7546C086AA" type="file" class="form-control" style="display: none;" /><!--IC-->
                                                    </td>
                                                    <td class="text-center" style="vertical-align:middle">
                                                        <div id="saIsPrimaryBox">
                                                            <label>
                                                                <input type="radio" value="true" name="saIsPrimary" @{ if (saPrimary) { @d  } } class="saIsPrimary" id="sa1" style="margin-right:2px;">
                                                                Yes
                                                            </label>
                                                            &nbsp;
                                                            <label>
                                                                <input type="radio" value="false" checked name="saIsPrimary" class="saIsPrimary" id="sa2" style="margin-right:2px;">
                                                                No &nbsp;
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="vertical-align:middle;" class="text-center">
                                                        <button class="btn btn-xs btn-info" onclick="uploadSA()">Upload</button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        }
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @if (subReq.EFormStage > 1)
                {
                    <div id="KYC" class="tab-pane fade @if (subReq.EFormStage == 2 && req.Status == "Pending Form Submission") { @active @inn } ">

                    </div>
                }

                @if (subReq.EFormStage > 2)
                {
                    <div id="ConsentForm" class="tab-pane fade @if (subReq.EFormStage == 3 && req.Status == "Pending Form Submission") { @active @inn } ">

                    </div>
                }

                @if (subReq.EFormStage > 3)
                {
                    <div id="E-Consent" class="tab-pane fade @if (subReq.EFormStage == 4 && req.Status == "Pending Form Submission") { @active @inn } ">

                    </div>
                }

                @if (subReq.EFormStage > 4)
                {
                    <div id="CodeOfConduct" class="tab-pane fade @if (subReq.EFormStage == 5 && req.Status == "Pending Form Submission") { @active @inn } ">

                    </div>
                }

                @if (subReq.EFormStage > 5)
                {
                    <div id="LetterOfUndertaking" class="tab-pane fade @if (subReq.EFormStage == 6 && req.Status == "Pending Form Submission") { @active @inn } ">

                    </div>
                }

                @if (req.Status == "Pending Payment Slip" || (req.Attachments != null && req.Attachments.Count > 0) || (CustomerPaymentSlip != null && CustomerPaymentSlip.Count > 0))
                {

                    <div id="PaymentSlip" class="tab-pane fade @if (req.Status == "Pending Payment Slip") { @active @inn } ">
                        <table id="tblInvoiceAttachment" class="table table-bordered table-column-2">
                            <thead>
                                <tr class="CBMBG">
                                    <th colspan="2">Attachments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="CBMBG" style="width:18.2%">
                                        Invoice Attachment :
                                    </td>
                                    <td>
                                        <table class="table table-bordered sub-table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 23.5%">
                                                        Uploaded Date
                                                    </th>
                                                    <th style="width: 36.2%">
                                                        File Name
                                                    </th>
                                                    <th style="width: 20.5%">
                                                        Size
                                                    </th>
                                                    <th>
                                                        Ext
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (req.Attachments != null && req.Attachments.Count > 0)
                                                    {
                                                        var atts = req.Attachments.FindAll(x => x.AttachmentTypeId == "D212680F-8D45-4919-B7EF-ADFE55B15458");
                                                        foreach (var att in atts)
                                                        {
                                                            <tr>
                                                                <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                <td><a href="/@att.Path@att.Name" target="_blank">@att.Name</a></td>
                                                                <td>@att.Size</td>
                                                                <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="CBMBG" style="width:18.2%">
                                        Payment Slip Attachment :@if (req.Status == "Pending Payment Slip")
                                        {
                                            <span style="color:red">*</span>
                                        }
                                    </td>
                                    <td>
                                        @if (req.Status == "Pending Payment Slip")
                                        {
                                            <table style="width:100%">
                                                <tr>
                                                    <td style="width:90%">
                                                        <input id="fileSelectPaymentSlipAttachment" type="file" class="form-control" style="display: inline-block;" />
                                                    </td>
                                                    <td style="text-align:center;">
                                                        <button class="btn btn-xs btn-info" style="margin-top:2px;" onclick="uploadDoc('PaymentSlipAttachment')">Upload</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        }

                                        <table class="table table-bordered sub-table" id="inptPaymentSlipAttachment">
                                            <thead>
                                                <tr>
                                                    <th style="width: 23.5%">
                                                        Uploaded Date
                                                    </th>
                                                    <th style="width: 36.2%">
                                                        File Name
                                                    </th>
                                                    <th style="width: 20.5%">
                                                        Size
                                                    </th>
                                                    <th>
                                                        Ext
                                                    </th>
                                                    @{
                                                        if (req.Status == "Pending Payment Slip")
                                                        {
                                                            <th style="width: 10%; text-align:center;">
                                                                Action
                                                            </th>
                                                        }
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (CustomerPaymentSlip != null && CustomerPaymentSlip.Count > 0)
                                                    {
                                                        foreach (var att in CustomerPaymentSlip)
                                                        {
                                                            <tr>
                                                                <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                <td><a href="/@att.Path@att.Name" target="_blank">@att.Name</a></td>
                                                                <td>@att.Size</td>
                                                                <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                                                @{
                                                                    if (req.Status == "Pending Payment Slip")
                                                                    {
                                                                        <td style="text-align:center" data-value="@att.AttachmentId"><a class="delete" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                                                    }
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        @if (req.Status == "Pending Payment Slip")
                        {
                            <div class="right-text margin-bottom-5" style="margin-top:2%; margin-bottom:2%">
                                <button onclick="SubmitPaymentSlip()" type="button" class="btn btn-xs btn-success">Submit</button>
                                <button onclick="SaveDraft()" type="button" class="btn btn-xs btn-info">Save Draft</button>
                            </div>
                        }
                    </div>
                }

                <div class="right-text margin-bottom-5" style="margin-top:2%; margin-bottom:2%">
                    @if (req.Status == "Pending Form Submission")
                    {
                        if (subReq.EFormStage == 6)
                        {
                            <button onclick="Submit()" type="button" class="btn btn-xs btn-success">Submit</button>
                        }
                        else
                        {
                            <button onclick="Continue()" type="button" class="btn btn-xs btn-success">Continue</button>
                        }
                        <button onclick="SaveDraft()" type="button" class="btn btn-xs btn-info">Save Draft</button>
                    }
                    @*<button onclick="Close()" type="button" class="btn btn-xs btn-default">Submit</button>*@
                </div>
            </div>

            <a id="btnErrorBox" style="display:none" data-toggle="modal" data-target="#ErrorBox"></a>
            <div class="modal fade" id="ErrorBox" role="dialog">
                <div class="modal-dialog" style=" width: 25%;; margin-top:18%">
                    <!-- Modal content-->
                    <div class="modal-content" style="top: 20px;">
                        <div class="modal-header" style="padding:8px 15px;">
                            <h4 class="modal-title"><img src="/Images/alert-icon.png" style="width: 7%; margin-top: -3%;" /> Alert</h4>
                        </div>
                        <div class="modal-body" style="padding:0px 15px;">
                            <div class="modal-form">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="font-style:italic; padding:0px;">Unable to Proceed</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="caption" style="font-style: italic;color: red;font-size: smaller;">- Pending Security Admin Consent.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    $(function () {
        $('#KYC').load(window.location.origin + "/SubscriptionManagement/Home/KYC_Declaration?RequestId=" + $('#RequestId').val() + "&CameFrom=Customer");
        $('#ConsentForm').load(window.location.origin + "/SubscriptionManagement/Home/ConsentForm?RequestId=" + $('#RequestId').val() + "&CameFrom=Customer");
        $('#E-Consent').load(window.location.origin + "/SubscriptionManagement/Home/EConsentChecklist?RequestId=" + $('#RequestId').val() + "&CameFrom=Customer");
        $('#CodeOfConduct').load(window.location.origin + "/SubscriptionManagement/Home/GeneralCodeOfConduct?RequestId=" + $('#RequestId').val() + "&CameFrom=Customer");
        $('#LetterOfUndertaking').load(window.location.origin + "/SubscriptionManagement/Home/LetterOfUndertaking?RequestId=" + $('#RequestId').val() + "&CameFrom=Customer");
    });
</script>