﻿@using ObjectClasses.SubscriptionManagement
@model ObjectClasses.SubscriptionManagement.EConsentChecklist.EConsentChecklistViewModel
@{
    Layout = null;
    var m = Model;
    var d = "disabled";
    var c = "checked";
    var req = Model.Request;
    var isCBM = Model.IsCBM;
    if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
    {
        d = "";
    }
    var EConsentChecklist = m.EConsentChecklist;
    var margin = "margin-left:8.5%; margin-right:7.5%;";
}

@if (isCBM)
{
    ViewBag.Title = "Consent Form";
    <head>
        <script src="/Scripts/jquery-3.3.1.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
        <script src="/Scripts/bootstrap-datepicker.js"></script>
        <script src="/Scripts/bootstrap-datepicker.min.js"></script>
        <script src="/Scripts/jquery.toast.js"></script>
        <script src="/Scripts/main.js"></script>
        <script src="/Areas/SubscriptionManagement/Scripts/site.js"></script>

        <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/Contents/bootstrap-datepicker3.min.css" rel="stylesheet" />
        <link href="/Areas/SubscriptionManagement/Content/Site.css" rel="stylesheet" type="text/css" />

        <link href="/Content/jquery.toast.css" rel="stylesheet" type="text/css" />
    </head>

    <style>
        table {
            font-size:14px;
        }
        .CBMBG {
            /*background: #00bdf2;*/
            background: #004185;
            color: white;
        }
    </style>
    
}

<div style="margin-top:1.4%; margin-bottom:1.4%; background-color:white; padding: 10px 10px 10px 10px; font-size:14px; @{ if (isCBM) { @margin } } ">
    <b>*PLEASE PROVIDE JUSTIFICATION AND PROOF OF PROCESSES (SCREENSHOTS, MANUALS CONTAINING PICTURES OF INTERFACE, DESCRIPTION OF YOUR SYSTEM IMPLEMENTING THE BELOW CHECKLIST)</b>

    <table id="tblE-ConsentChecklist" class="table table-bordered table-column-5" style="font-size:14px;">
        <thead>
            <tr style="background-color:#f6f6f6;">
                <th style="width:2%">No.</th>
                <th style="width:12%">Item</th>
                <th style="width:15%">Requirement</th>
                <th style="width:20%">Implementation Example</th>
                <th style="width:40%">
                    Company’s Response
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Consent</td>
                <td>Consent must be in writing</td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    Consent clauses as recommended by CBM in the CBM’s sample consent form should be included.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="height:10px">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <textarea id="ECCConsent" class="form-control" style="resize:vertical;" rows="3">@EConsentChecklist.Consent</textarea>
                    }
                    else
                    {
                        @EConsentChecklist.Consent
                        <input type="hidden" id="ECCConsent" value="@EConsentChecklist.Consent" />
                    }
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Identity Verification</td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    Clearly identify the data subject (consent giver)
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    consent can only be given in the data subject’s own capacity and not by other persons on behalf of the data subject
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    Authenticity of the person giving consent must have been verified
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td>
                                    Name
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    Identification doc (IC/passport/driver’s license *front and back)
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td>
                                    supporting doc (bill, kwsp doc)
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td>
                                    if it’s a company (form 9, form 49)
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    (such verification documents must be captured and stored in jpeg format or any other unalterable format)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="height:10px">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <textarea id="ECCIdentityVerification" class="form-control" style="resize:vertical;" rows="7">@EConsentChecklist.IdentityVerification</textarea>
                    }
                    else
                    {
                        @EConsentChecklist.IdentityVerification
                        <input type="hidden" id="ECCIdentityVerification" value="@EConsentChecklist.IdentityVerification" />
                    }
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Electronic signature</td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    Signature/acceptance of consent terms is logically associated with the data subject
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    adequately identifies/indicates the data subject have given consent
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td>
                                    digital signature security questions
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td>
                                    TAC code
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td>
                                    ticking of consent check box
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="height:10px">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <textarea id="ECCElectronicSignature" class="form-control" style="resize:vertical;" rows="5">@EConsentChecklist.ElectronicSignature</textarea>
                    }
                    else
                    {
                        @EConsentChecklist.ElectronicSignature
                        <input type="hidden" id="ECCElectronicSignature" value="@EConsentChecklist.ElectronicSignature" />
                    }
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Document must be original</td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    info must remain complete and unaltered or modified
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    consent doc must be stored in its original form
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    eg:  capture of consent screen with details of consent giver
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="height:10px">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <textarea id="ECCDocumentMustBeOriginal" class="form-control" style="resize:vertical;" rows="3">@EConsentChecklist.DocumentMustBeOriginal</textarea>
                    }
                    else
                    {
                        @EConsentChecklist.DocumentMustBeOriginal
                        <input type="hidden" id="ECCDocumentMustBeOriginal" value="@EConsentChecklist.DocumentMustBeOriginal" />
                    }
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Retention Of Document</td>
                <td>
                    Audit log must be available for the purpose of CBM’s monthly audit must:
                    <div style="margin-left:5%">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="vertical-align:top">
                                        (a)&nbsp;
                                    </td>
                                    <td style="text-align: justify;">
                                        Be retained in the format in which it is generated, sent or received or in format that does not materially change the info contained in e-message
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:top">
                                        (b)&nbsp;
                                    </td>
                                    <td style="text-align: justify;">
                                        Accessible and intelligible, usable for subsequent reference
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:top">
                                        (c)&nbsp;
                                    </td>
                                    <td style="text-align: justify;">
                                        Identify the origin and destination of e-message and the date and time it is sent or received
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    capture the time, date where consent is given and/or received as well as data subject’s name and IC in the form of an audit log
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    the audit log must be computer generated
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    -&nbsp;
                                </td>
                                <td style="text-align: justify;">
                                    audit log must be in unalterable format (excel is not acceptable)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="height:10px">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <textarea id="ECCRetentionOfDocument" class="form-control" style="resize:vertical;" rows="12">@EConsentChecklist.RetentionOfDocument</textarea>
                    }
                    else
                    {
                        @EConsentChecklist.RetentionOfDocument
                        <input type="hidden" id="ECCRetentionOfDocument" value="@EConsentChecklist.RetentionOfDocument" />
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>