﻿@using ObjectClasses.SubscriptionManagement
@model ObjectClasses.SubscriptionManagement.KYC.KYC_DeclarationViewModel
@{
    Layout = null;
    var m = Model;
    var d = "disabled";
    var c = "checked";
    var req = Model.Request;
    var isCBM = Model.IsCBM;
    if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
    {
        d = "";
    }
    var KYC_DealOn = m.KYC_DealOn;
    var KYC_CompanyType = m.KYC_CompanyType;
    var KYC_CompanyPolicy = m.KYC_CompanyPolicy;
    var KYC_ProductService = m.KYC_ProductService;
    var KYC_ProtectionOfData = m.KYC_ProtectionOfData;
    var KYC_ConsentProcurement = m.KYC_ConsentProcurement;
    var KYC_TargetedClientMarket = m.KYC_TargetedClientMarket;
    var KYC_PurposeOfSubscription = m.KYC_PurposeOfSubscription;
    var KYC_SubscriberDeclaration = m.KYC_SubscriberDeclaration;
    var margin = "margin-left:8.5%; margin-right:7.5%;";
    var heightmargin = "height:27px; margin-top:3px;";
}

@if (isCBM)
{
    ViewBag.Title = "KYC Declaration";
    <head>
        <script src="/Scripts/jquery-3.3.1.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
        <script src="/Scripts/bootstrap-datepicker.js"></script>
        <script src="/Scripts/bootstrap-datepicker.min.js"></script>
        <script src="/Scripts/jquery.toast.js"></script>
        <script src="/Scripts/main.js"></script>
        <script src="/Areas/SubscriptionManagement/Scripts/site.js"></script>

        <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/Contents/bootstrap-datepicker3.min.css" rel="stylesheet"/>
        <link href="/Areas/SubscriptionManagement/Content/Site.css" rel="stylesheet" type="text/css"/>

        <link href="/Content/jquery.toast.css" rel="stylesheet" type="text/css"/>
    </head>

    <style>
        .table > tbody > tr > td {
            font-size: 14px !important;
        }

        .table {
            margin: 5px 0px;
            font-size: 14px;
        }

        .form-control {
            height: 30px;
            padding: 3px 3px;
            border-radius: 0px;
            font-size: 12px;
        }

        .right-text {
            text-align: right;
        }

        .sub-sub-table > thead > tr > th {
            background-color: #f5f5f5;
            margin: 0px !important;
        }

        .CBMBG {
            /*background: #00bdf2;*/
            background: #004185;
            color: white;
        }

        p {
            margin: 0px;
        }

        .decimal {
            text-align: right;
        }

        .datepicker table tr td, .datepicker table tr th {
            text-align: center;
            width: 30px;
            height: 26px;
            border-radius: 4px;
            font-size: 11px;
            border: none;
        }

        .table-column-4 > tbody > tr > td:nth-child(1),
        .table-column-4 > tbody > tr > td:nth-child(3) {
            width: 16%;
            word-break: inherit;
        }

        .table-column-4 > tbody > tr > td:nth-child(2),
        .table-column-4 > tbody > tr > td:nth-child(4) {
            width: 34%;
        }

        input[type=month]::-webkit-inner-spin-button,
        input[type=month]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }

        .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
            background: 0 0;
            color: #cecece;
            cursor: default;
        }

        .invalid-alert {
            font-size: smaller;
            color: red;
            font-style: italic;
        }

        input[type=checkbox] {
            margin-bottom: 2.5px;
        }
        input[type="radio"], input[type="checkbox"] {
            vertical-align: text-bottom;
            margin-bottom: 2.5px;
        }

        .table:not(.sub-table) > thead > tr > th {
            font-size: 14px;
        }
    </style>
}

<div style="margin-top:1.4%; margin-bottom:1.4%; background-color:white; padding: 10px 10px 10px 10px; font-size:14px; @{ if (isCBM) { @margin } } ">
    
    @if (isCBM)
    {
        <h3 style=" margin-bottom: 2%;">KYC Declaration</h3>
    }

    The Subscriber through its Director and/or Authorised Officer hereby declare the details furnished below are true and correct. The Subscriber make the Declaration below in full knowledge and awareness of CBM’s reliance on this Declaration as a basis/consideration for provision of Services to the Subscriber.

    <table id="tblSubscriberDeclaration" class="table table-bordered table-column-3">
        <thead>
            <tr class="CBMBG">
                <th colspan="3">Subscriber Declaration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="CBMBG" style="width: 17%; vertical-align:middle">
                    Name :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <input type="text" id="KYC_SubscriberDeclarationName" value="@KYC_SubscriberDeclaration.Name" class="form-control name" />
                    }
                    else
                    {
                        @KYC_SubscriberDeclaration.Name
                        <input type="hidden" id="KYC_SubscriberDeclarationName" value="@KYC_SubscriberDeclaration.Name name" />
                    }
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="vertical-align:middle">
                    I/C No :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <input type="text" id="KYC_SubscriberDeclarationIC" value="@KYC_SubscriberDeclaration.IC" maxlength="12" class="form-control contact" />
                    }
                    else
                    {
                        @KYC_SubscriberDeclaration.IC
                        <input type="hidden" id="KYC_SubscriberDeclarationIC" value="@KYC_SubscriberDeclaration.IC" />
                    }
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    hereby represent and warrant that I am duly authorised to provide the below declaration for and on behalf of Subscriber.
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="vertical-align:middle">
                    Designation :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td style="vertical-align:middle; width:48%">
                    <input type="checkbox" id="DirectorCB" @if ((KYC_SubscriberDeclaration != null) && KYC_SubscriberDeclaration.Director) { @c } @d  />
                    <label for="DirectorCB">Director</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="AuthorisedOfficerTextCB" @if ((KYC_SubscriberDeclaration != null) && KYC_SubscriberDeclaration.AuthorisedOfficer) { @c } @d  />
                    <label for="AuthorisedOfficerTextCB">Authorised Officer :</label>
                </td>
                <td>
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <input type="text" value="@if ((KYC_SubscriberDeclaration != null) && KYC_SubscriberDeclaration.AuthorisedOfficer) { @KYC_SubscriberDeclaration.AuthorisedOfficerText }" id="AuthorisedOfficerText" class="form-control" />
                    }
                    else
                    {
                        if ((KYC_SubscriberDeclaration != null) && KYC_SubscriberDeclaration.AuthorisedOfficer)
                        { @KYC_SubscriberDeclaration.AuthorisedOfficerText }
                    <input type="hidden" value="@if ((KYC_SubscriberDeclaration != null) && KYC_SubscriberDeclaration.AuthorisedOfficer) { @KYC_SubscriberDeclaration.AuthorisedOfficerText }" id="AuthorisedOfficerText" class="form-control" />
                }
                </td>
            </tr>
        </tbody>
    </table>

    <table id="tblCompanyBackground" class="table table-bordered table-column-6">
        <thead>
            <tr class="CBMBG">
                <th colspan="6">Company Background</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="CBMBG" style="width: 17%; vertical-align:middle">
                    Company Type :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td style="vertical-align:middle; width:48%">
                    <input type="checkbox" value="Wholesaler" id="WholesalerCB" @if ((KYC_CompanyType != null) && KYC_CompanyType.Wholesaler) { @c } @d  />
                    <label for="WholesalerCB">Wholesaler</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" value="Distributor/Reseller" id="DistributorCB" @if ((KYC_CompanyType != null) && KYC_CompanyType.Distributor) { @c } @d  />
                    <label for="DistributorCB">Distributor/Reseller</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" value="Retailer" id="RetailerCB" @if ((KYC_CompanyType != null) && KYC_CompanyType.Retailer) { @c } @d  />
                    <label for="RetailerCB">Retailer</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" value="Manufacturer" id="ManufacturerCB" @if ((KYC_CompanyType != null) && KYC_CompanyType.Manufacturer) { @c } @d  />
                    <label for="ManufacturerCB">Manufacturer</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
                    <input type="checkbox" value="Others" id="ComOthersCB" @if ((KYC_CompanyType != null) && KYC_CompanyType.Others) { @c } @d  />
                    <label for="ComOthersCB">Others :</label>
                </td>
                <td colspan="4">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <input type="text" value="@if ((KYC_CompanyType != null) && KYC_CompanyType.Others) { @KYC_CompanyType.OthersText }" id="ComOthersText" class="form-control" />
                    }
                    else
                    {
                        if ((KYC_CompanyType != null) && KYC_CompanyType.Others)
                        { @KYC_CompanyType.OthersText }
                    <input type="hidden" value="@if ((KYC_CompanyType != null) && KYC_CompanyType.Others) { @KYC_CompanyType.OthersText }" id="ComOthersText" class="form-control" />
                }
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="vertical-align:middle">
                    Product & Services Type :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="5">
                    <table class="table table-bordered sub-table" id="ProductServicesTypeSub">
                        <tbody>
                            <tr>
                                <td style="width:2%; vertical-align:middle">
                                    <input type="checkbox" id="AdvisoryCB" @if ((KYC_ProductService != null) && KYC_ProductService.Advisory) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle; width:55.4%" colspan="2">
                                    <label for="AdvisoryCB">
                                        Advisory and consultation in relation to
                                    </label>
                                </td>
                                <td>
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_ProductService != null) && KYC_ProductService.Advisory) { @KYC_ProductService.AdvisoryText }" id="AdvisoryText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_ProductService != null) && KYC_ProductService.Advisory)
                                        { @KYC_ProductService.AdvisoryText }
                                    <input type="hidden" value="@if ((KYC_ProductService != null) && KYC_ProductService.Advisory) { @KYC_ProductService.AdvisoryText }" id="AdvisoryText" class="form-control" />
                                }
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="ServicesCB" @if ((KYC_ProductService != null) && KYC_ProductService.Services) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle">
                                    <label for="ServicesCB">
                                        Services
                                    </label>
                                </td>
                                <td style="vertical-align:middle; width:47%">
                                    <div style="width:27%; display:inline-block">
                                        <input type="checkbox" id="LegalCB" @if ((KYC_ProductService != null) && KYC_ProductService.Legal) { @c } @d  />
                                        <label for="LegalCB">Legal</label>
                                    </div>
                                    <div style="width:29%; display:inline-block">
                                        <input type="checkbox" id="AccountingCB" @if ((KYC_ProductService != null) && KYC_ProductService.Accounting) { @c } @d  />
                                        <label for="AccountingCB">Accounting</label>
                                    </div>
                                    <div style="width:23%; display:inline-block">
                                        <input type="checkbox" id="AuditingCB" @if ((KYC_ProductService != null) && KYC_ProductService.Auditing) { @c } @d  />
                                        <label for="AuditingCB">Auditing</label>
                                    </div>
                                    <div style="width:27%; display:inline-block">
                                        <input type="checkbox" id="EngineeringCB" @if ((KYC_ProductService != null) && KYC_ProductService.Engineering) { @c } @d  />
                                        <label for="EngineeringCB">Engineering</label>
                                    </div>
                                    <div style="width:29%; display:inline-block">
                                        <input type="checkbox" id="TaxationCB" @if ((KYC_ProductService != null) && KYC_ProductService.Taxation) { @c } @d  />
                                        <label for="TaxationCB">Taxation</label>
                                    </div>
                                    <div style="display:inline-block">@*width:36%;*@
                                        <input type="checkbox" id="SoftwareImplementationCB" @if ((KYC_ProductService != null) && KYC_ProductService.SoftwareImplementation) { @c } @d  />
                                        <label for="SoftwareImplementationCB">Software Implementation</label>
                                    </div>
                                    <div style="width:27%; display:inline-block">
                                        <input type="checkbox" id="DataProcessingCB" @if ((KYC_ProductService != null) && KYC_ProductService.DataProcessing) { @c } @d  />
                                        <label for="DataProcessingCB">Data Processing</label>
                                    </div>
                                    <div style="width:29%; display:inline-block">
                                        <input type="checkbox" id="RealEstateCB" @if ((KYC_ProductService != null) && KYC_ProductService.RealEstate) { @c } @d  />
                                        <label for="RealEstateCB">Real Estate</label>
                                    </div>
                                    <div style="width:24%; display:inline-block">
                                        <input type="checkbox" id="AdvertisingCB" @if ((KYC_ProductService != null) && KYC_ProductService.Advertising) { @c } @d  />
                                        <label for="AdvertisingCB">Advertising</label>
                                    </div>
                                    <div style="width:27%; display:inline-block">
                                        <input type="checkbox" id="TransportationCB" @if ((KYC_ProductService != null) && KYC_ProductService.Transportation) { @c } @d  />
                                        <label for="TransportationCB">Transportation</label>
                                    </div>
                                    <div style="width:29%; display:inline-block">
                                        <input type="checkbox" id="AgricultureCB" @if ((KYC_ProductService != null) && KYC_ProductService.Agriculture) { @c } @d  />
                                        <label for="AgricultureCB">Agriculture</label>
                                    </div>
                                    <div style="width:27%; display:inline-block">
                                        <input type="checkbox" id="CommunicationCB" @if ((KYC_ProductService != null) && KYC_ProductService.Communication) { @c } @d  />
                                        <label for="CommunicationCB">Communication</label>
                                    </div>
                                    <div style="width:27%; display:inline-block">
                                        <input type="checkbox" id="EducationCB" @if ((KYC_ProductService != null) && KYC_ProductService.Education) { @c } @d  />
                                        <label for="EducationCB">Education</label>
                                    </div>
                                    <div style="width:29%; display:inline-block">
                                        <input type="checkbox" id="InsuranceRelatedCB" @if ((KYC_ProductService != null) && KYC_ProductService.InsuranceRelated) { @c } @d  />
                                        <label for="InsuranceRelatedCB">Insurance Related</label>
                                    </div>
                                    <div style="width:32%; display:inline-block">
                                        <input type="checkbox" id="BankingAndFinanceCB" @if ((KYC_ProductService != null) && KYC_ProductService.BankingAndFinance) { @c } @d  />
                                        <label for="BankingAndFinanceCB">Banking And Finance</label>
                                    </div>
                                    <div style="width:27%; display:inline-block">
                                        <input type="checkbox" id="HealthRelatedCB" @if ((KYC_ProductService != null) && KYC_ProductService.HealthRelated) { @c } @d  />
                                        <label for="HealthRelatedCB">Health Related</label>
                                    </div>
                                    <div style="width:24%; display:inline-block">
                                        <input type="checkbox" id="OtherServicesCB" @if ((KYC_ProductService != null) && KYC_ProductService.OtherServices) { @c } @d  />
                                        <label for="OtherServicesCB">Others :</label>
                                    </div>
                                </td>
                                <td>
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_ProductService != null) && KYC_ProductService.Services) { @KYC_ProductService.ServicesText }" id="ServicesText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_ProductService != null) && KYC_ProductService.Services)
                                        { @KYC_ProductService.ServicesText }
                                    <input type="hidden" value="@if ((KYC_ProductService != null) && KYC_ProductService.Services) { @KYC_ProductService.ServicesText }" id="ServicesText" class="form-control" />
                                }
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" value="Provision" id="ProvisionCB" @if ((KYC_ProductService != null) && KYC_ProductService.Provision) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="ProvisionCB">
                                        Provision of goods in relation to
                                    </label>
                                </td>
                                <td>
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_ProductService != null) && KYC_ProductService.Provision) { @KYC_ProductService.ProvisionText }" id="ProvisionText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_ProductService != null) && KYC_ProductService.Provision)
                                        { @KYC_ProductService.ProvisionText }
                                    <input type="hidden" value="@if ((KYC_ProductService != null) && KYC_ProductService.Provision) { @KYC_ProductService.ProvisionText }" id="ProvisionText" class="form-control" />
                                }
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" value="ProOthers" id="ProOthersCB" @if ((KYC_ProductService != null) && KYC_ProductService.Others) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="ProOthersCB">Others :</label>
                                </td>
                                <td>
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_ProductService != null) && KYC_ProductService.Others) { @KYC_ProductService.OthersText }" id="proOthersText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_ProductService != null) && KYC_ProductService.Others)
                                        { @KYC_ProductService.OthersText }
                                    <input type="hidden" value="@if ((KYC_ProductService != null) && KYC_ProductService.Others) { @KYC_ProductService.OthersText }" id="proOthersText" class="form-control" />
                                }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="width: 17%; vertical-align:middle">
                    Targeted clients & market :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td style="vertical-align:middle; width:48%">
                    <input type="checkbox" id="KYC_TargetedClientMarketWholesalerCB" @if ((KYC_TargetedClientMarket != null) && KYC_TargetedClientMarket.Wholesaler) { @c } @d  />
                    <label for="KYC_TargetedClientMarketWholesalerCB">Wholesaler</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="KYC_TargetedClientMarketDistributorCB" @if ((KYC_TargetedClientMarket != null) && KYC_TargetedClientMarket.Distributor) { @c } @d  />
                    <label for="KYC_TargetedClientMarketDistributorCB">Distributor/Reseller</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="KYC_TargetedClientMarketRetailerCB" @if ((KYC_TargetedClientMarket != null) && KYC_TargetedClientMarket.Retailer) { @c } @d  />
                    <label for="KYC_TargetedClientMarketRetailerCB">Retailer</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="KYC_TargetedClientMarketManufacturerCB" @if ((KYC_TargetedClientMarket != null) && KYC_TargetedClientMarket.Manufacturer) { @c } @d  />
                    <label for="KYC_TargetedClientMarketManufacturerCB">Manufacturer</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="KYC_TargetedClientMarketOthersCB" @if ((KYC_TargetedClientMarket != null) && KYC_TargetedClientMarket.Others) { @c } @d  />
                    <label for="KYC_TargetedClientMarketOthersCB">Others :</label>
                </td>
                <td colspan="4">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <input type="text" value="@if ((KYC_TargetedClientMarket != null) && KYC_TargetedClientMarket.Others) { @KYC_TargetedClientMarket.OthersText }" id="KYC_TargetedClientMarketOthersText" class="form-control" />
                    }
                    else
                    {
                        if ((KYC_TargetedClientMarket != null) && KYC_TargetedClientMarket.Others)
                        { @KYC_TargetedClientMarket.OthersText }
                    <input type="hidden" value="@if ((KYC_TargetedClientMarket != null) && KYC_TargetedClientMarket.Others) { @KYC_TargetedClientMarket.OthersText }" id="KYC_TargetedClientMarketOthersText" class="form-control" />
                }
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="width: 17%; vertical-align:middle">
                    Deal On :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td style="vertical-align:middle; width:48%">
                    <input type="checkbox" onclick="checkCreditTermCB(this)" id="CreditTermCB" @if ((KYC_DealOn != null) && KYC_DealOn.CreditTerm) { @c } @d  />
                    <label for="CreditTermCB">Credit Term</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" onclick="checkCashTermCB(this)" id="CashTermCB" @if ((KYC_DealOn != null) && KYC_DealOn.CashTerm) { @c } @d  />
                    <label for="CashTermCB">Cash Term</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" onclick="checkBothCB(this)" id="BothCB" @if ((KYC_DealOn != null) && KYC_DealOn.Both) { @c } @d  />
                    <label for="BothCB">Both</label>
                </td>
                <td class="CBMBG" style="width: 6%; vertical-align:middle">
                    Credit %
                </td>
                <td style="width:11.5%">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <input type="text" value="@if ((KYC_DealOn != null) && KYC_DealOn.Both) { @KYC_DealOn.CreditTermPerc }" id="CreditTermPerc" class="form-control" />
                    }
                    else
                    {
                        if ((KYC_DealOn != null) && KYC_DealOn.Both)
                        { @KYC_DealOn.CreditTermPerc }
                    <input type="hidden" value="@if ((KYC_DealOn != null) && KYC_DealOn.Both) { @KYC_DealOn.CreditTermPerc }" id="CreditTermPerc" class="form-control" />
                }
                </td>
                <td class="CBMBG" style="width: 6%; vertical-align:middle">
                    Cash %
                </td>
                <td style="width:11.5%">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <input type="text" value="@if ((KYC_DealOn != null) && KYC_DealOn.Both) { @KYC_DealOn.CashTermPerc }" id="CashTermPerc" class="form-control" />
                    }
                    else
                    {
                        if ((KYC_DealOn != null) && KYC_DealOn.Both)
                        { @KYC_DealOn.CashTermPerc }
                    <input type="hidden" value="@if ((KYC_DealOn != null) && KYC_DealOn.Both) { @KYC_DealOn.CashTermPerc }" id="CashTermPerc" class="form-control" />
                }
                </td>
            </tr>
        </tbody>
    </table>

    <table id="tblPurposeOfSubscription" class="table table-bordered table-column-5">
        <thead>
            <tr class="CBMBG">
                <th colspan="5">Purpose of Subscription to CBM’s Products & Services</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="CBMBG" style="width: 17%; vertical-align:middle">
                    Purpose of subscribing :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="4">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <textarea class="form-control" rows="3" id="Purpose" style="resize:vertical">@if (KYC_PurposeOfSubscription != null) { @KYC_PurposeOfSubscription.Purpose }</textarea>
                    }
                    else
                    {
                        if (KYC_PurposeOfSubscription != null)
                        { @KYC_PurposeOfSubscription.Purpose }
                    <input type="hidden" id="Purpose" value="@if (KYC_PurposeOfSubscription != null) { @KYC_PurposeOfSubscription.Purpose }" />
                }
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="vertical-align:middle">
                    Purpose of extracting credit report :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td>
                    <div style="width:42.5%; display:inline-block">
                        <input type="checkbox" id="LoanApplication_FinancingFacilityCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.LoanApplication_FinancingFacility) { @c } @d  />
                        <label for="LoanApplication_FinancingFacilityCB">Loan application/financing facility</label>
                    </div>
                    <div style="width:32%; display:inline-block">
                        <input type="checkbox" id="PeriodicReviewOfLoanCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.PeriodicReviewOfLoan) { @c } @d  />
                        <label for="PeriodicReviewOfLoanCB">Periodic review of loan</label>
                    </div>
                    <div style="width:24%; display:inline-block">
                        <input type="checkbox" id="OpeningAnAccountCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.OpeningAnAccount) { @c } @d  />
                        <label for="OpeningAnAccountCB">Opening an account</label>
                    </div>
                    <div style="width:42.5%; display:inline-block">
                        <input type="checkbox" id="CrimeFraudDetectionAndPreventionCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.CrimeFraudDetectionAndPrevention) { @c } @d  />
                        <label for="CrimeFraudDetectionAndPreventionCB">Crime/fraud detection and prevention</label>
                    </div>
                    <div style="width:32%; display:inline-block">
                        <input type="checkbox" id="FinancialGuranteeCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.FinancialGurantee) { @c } @d  />
                        <label for="FinancialGuranteeCB">Financial gurantee</label>
                    </div>
                    <div style="width:21%; display:inline-block">
                        <input type="checkbox" id="EmploymentCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.Employment) { @c } @d  />
                        <label for="EmploymentCB">Employment</label>
                    </div>
                    <div style="width:42.5%; display:inline-block">
                        <input type="checkbox" id="HirePurchaseCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.HirePurchase) { @c } @d  />
                        <label for="HirePurchaseCB">Hire purchase</label>
                    </div>
                    <div style="width:32%; display:inline-block">
                        <input type="checkbox" id="InvestmentCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.Investment) { @c } @d  />
                        <label for="InvestmentCB">Investment</label>
                    </div>
                    <div style="width:21%; display:inline-block">
                        <input type="checkbox" id="InsuranceCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.Insurance) { @c } @d  />
                        <label for="InsuranceCB">Insurance</label>
                    </div>
                    <div style="width:42.5%; display:inline-block">
                        <input type="checkbox" id="RentalContractCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.RentalContract) { @c } @d  />
                        <label for="RentalContractCB">Rental contract</label>
                    </div>
                    <div style="width:32%; display:inline-block">
                        <input type="checkbox" id="DebtRecoveryCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.DebtRecovery) { @c } @d  />
                        <label for="DebtRecoveryCB">Debt recovery</label>
                    </div>
                    <div style="width:24%; display:inline-block">
                        <input type="checkbox" id="KYC_PurposeOfSubscriptionOthersCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.Others) { @c } @d  />
                        <label for="KYC_PurposeOfSubscriptionOthersCB">Others</label>
                    </div>
                    <div style="width:75%; display:inline-block">
                        <input type="checkbox" id="InvestigationByAuditFirm_ComplianceUnits_LawFirmsCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.InvestigationByAuditFirm_ComplianceUnits_LawFirms) { @c } @d  />
                        <label for="InvestigationByAuditFirm_ComplianceUnits_LawFirmsCB">Investigation by audit firms, compliance units, law firms</label>
                    </div>
                </td>
                <td colspan="3">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <input type="text" value="@if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.Others) { @KYC_PurposeOfSubscription.OthersText }" id="KYC_PurposeOfSubscriptionOthersText" class="form-control" />
                    }
                    else
                    {
                        if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.Others)
                        { @KYC_PurposeOfSubscription.OthersText }
                    <input type="hidden" value="@if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.Others) { @KYC_PurposeOfSubscription.OthersText }" id="KYC_PurposeOfSubscriptionOthersText" class="form-control" />
                }
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="width: 17%; vertical-align:middle">
                    Will you further process CBM’s Products & Services :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td style="vertical-align:middle; width:48%">
                    <input type="checkbox" id="KYC_PurposeOfSubscriptionNoCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.No) { @c } @d  />
                    <label for="KYC_PurposeOfSubscriptionNoCB">No</label>
                </td>
                <td class="CBMBG" style="width:6%; vertical-align:middle">
                    If yes :
                </td>
                <td style="width:20%">
                    <input type="checkbox" id="TransferCreditReportToThirdPartyCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.TransferCreditReportToThirdParty) { @c } @d  />
                    <label for="TransferCreditReportToThirdPartyCB">Transfer the credit report to third party</label>

                    <input type="checkbox" id="KYC_PurposeOfSubscriptionYesOthersCB" @if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.YesOthers) { @c } @d  />
                    <label for="KYC_PurposeOfSubscriptionYesOthersCB">Others</label>
                </td>
                <td>
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <input type="text" value="@if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.YesOthers) { @KYC_PurposeOfSubscription.YesOthersText }" id="KYC_PurposeOfSubscriptionYesOthersText" class="form-control" />
                    }
                    else
                    {
                        if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.YesOthers)
                        { @KYC_PurposeOfSubscription.YesOthersText }
                    <input type="hidden" value="@if ((KYC_PurposeOfSubscription != null) && KYC_PurposeOfSubscription.YesOthers) { @KYC_PurposeOfSubscription.YesOthersText }" id="KYC_PurposeOfSubscriptionYesOthersText" class="form-control" />
                }
                </td>
            </tr>
        </tbody>
    </table>

    <table id="tblCompanyPolicies" class="table table-bordered table-column-3">
        <thead>
            <tr class="CBMBG">
                <th colspan="3">Company’s Policies & Procedures </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="CBMBG" style="width: 17%; vertical-align:middle">
                    Are you a data user required to be registered under the Personal Data Protection Act (PDPA) 2010? :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2" style="vertical-align:middle">
                    <input type="checkbox" id="DataUserYesCB" onclick="dataUser(this)" data-opositeid="DataUserNoCB" @if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.DataUserYes) { @c } @d  />
                    <label for="DataUserYesCB">Yes</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="DataUserNoCB" onclick="dataUser(this)" data-opositeid="DataUserYesCB" @if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.DataUserNo) { @c } @d  />
                    <label for="DataUserNoCB">No</label>
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="vertical-align:middle">
                    If the answer to the above is yes, do you provide Notice under Section 7 PDPA 2010 to the data subject? :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2" style="vertical-align:middle">
                    <input type="checkbox" id="AnswerYesCB" onclick="answer(this)" data-opositeid="AnswerNoCB" @if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.AnswerYes) { @c } @d  />
                    <label for="AnswerYesCB">Yes</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="AnswerNoCB" onclick="answer(this)" data-opositeid="AnswerYesCB" @if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.AnswerNo) { @c } @d  />
                    <label for="AnswerNoCB">No</label>
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="vertical-align:middle">
                    What do you do before you retrieve credit information of a data subject? :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2" style="vertical-align:middle">
                    <table class="table table-bordered sub-table" id="beforedatasubjectsub">
                        <tbody>
                            <tr>
                                <td style="width:2%; vertical-align:middle">
                                    <input type="checkbox" id="ExplainToDataSubjectCB" @if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.ExplainToDataSubject) { @c } @d style="margin:0; @if (d == "") { @heightmargin } " />
                                </td>
                                <td style="vertical-align:middle;" colspan="2">
                                    <label for="ExplainToDataSubjectCB">Explain to data subject the need to extract data subject’s credit report</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="ObtainIcCopyCB" @if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.ObtainIcCopy) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="ObtainIcCopyCB">Obtain IC copy of the data subject</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="ObtainDataSubjectConsentCB" @if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.ObtainDataSubjectConsent) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="ObtainDataSubjectConsentCB">Obtain data subject’s consent to extract credit report </label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="BeforeCreditInfoOthersCB" @if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.BeforeCreditInfoOthers) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle; width:55.2%">
                                    <label for="BeforeCreditInfoOthersCB">Others :</label>
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.BeforeCreditInfoOthers) { @KYC_CompanyPolicy.BeforeCreditInfoOthersText }" id="KYC_CompanyPolicyBeforeCreditInfoOthersText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.BeforeCreditInfoOthers)
                                        { @KYC_CompanyPolicy.BeforeCreditInfoOthersText }
                                    <input type="hidden" value="@if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.BeforeCreditInfoOthers) { @KYC_CompanyPolicy.BeforeCreditInfoOthersText }" id="KYC_CompanyPolicyBeforeCreditInfoOthersText" class="form-control" />
                                }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="vertical-align:middle">
                    What do you do after you retrieve credit information of a data subject? :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2" style="vertical-align:middle">
                    <table class="table table-bordered sub-table" id="afterdatasubjectsub">
                        <tbody>
                            <tr>
                                <td style="width:2%; vertical-align:middle">
                                    <input type="checkbox" id="ProvideReportToThirdPartyCB" @if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.ProvideReportToThirdParty) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle;" colspan="2">
                                    <label for="ProvideReportToThirdPartyCB">Provide credit report to third party</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="ProvideReportToDataSubjectCB" @if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.ProvideReportToDataSubject) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="ProvideReportToDataSubjectCB">Provide credit report to the said data subject</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="AfterCreditInfoOthersCB" @if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.AfterCreditInfoOthers) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle; width:55.2%">
                                    <label for="AfterCreditInfoOthersCB">Others :</label>
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.AfterCreditInfoOthers) { @KYC_CompanyPolicy.AfterCreditInfoOthersText }" id="KYC_CompanyPolicyAfterCreditInfoOthersText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.AfterCreditInfoOthers)
                                        { @KYC_CompanyPolicy.AfterCreditInfoOthersText }
                                    <input type="hidden" value="@if ((KYC_CompanyPolicy != null) && KYC_CompanyPolicy.AfterCreditInfoOthers) { @KYC_CompanyPolicy.AfterCreditInfoOthersText }" id="KYC_CompanyPolicyAfterCreditInfoOthersText" class="form-control" />
                                }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table id="tblConsentProcurement" class="table table-bordered table-column-3">
        <thead>
            <tr class="CBMBG">
                <th colspan="3">Consent Procurement </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="CBMBG" style="vertical-align:middle; width:17%">
                    How do you determine whether there is a need to retrieve credit information of a data subject? :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2" style="vertical-align:middle">
                    <table class="table table-bordered sub-table" id="determinesub">
                        <tbody>
                            <tr>
                                <td style="width:2%; vertical-align:middle">
                                    <input type="checkbox" id="InstinctCB" @if ((KYC_ConsentProcurement != null) && KYC_ConsentProcurement.Instinct) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle;" colspan="2">
                                    <label for="InstinctCB">Instinct</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="OweMoneyCB" @if ((KYC_ConsentProcurement != null) && KYC_ConsentProcurement.OweMoney) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="OweMoneyCB">Data subject owes me money</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="BadReputationCB" @if ((KYC_ConsentProcurement != null) && KYC_ConsentProcurement.BadReputation) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="BadReputationCB">Data subject has bad reputation</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="CreditReviewCB" @if ((KYC_ConsentProcurement != null) && KYC_ConsentProcurement.CreditReview) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="CreditReviewCB">For credit review purpose before granting credit facility</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="KYC_ConsentProcurementOthersCB" @if ((KYC_ConsentProcurement != null) && KYC_ConsentProcurement.Others) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle; width:55.2%">
                                    <label for="KYC_ConsentProcurementOthersCB">Others :</label>
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_ConsentProcurement != null) && KYC_ConsentProcurement.Others) { @KYC_ConsentProcurement.OthersText }" id="KYC_ConsentProcurementOthersText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_ConsentProcurement != null) && KYC_ConsentProcurement.Others)
                                        { @KYC_ConsentProcurement.OthersText }
                                    <input type="hidden" value="@if ((KYC_ConsentProcurement != null) && KYC_ConsentProcurement.Others) { @KYC_ConsentProcurement.OthersText }" id="KYC_ConsentProcurementOthersText" class="form-control" />
                                }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="vertical-align:middle">
                    Please describe the policies and procedures you have implemented for procurement of consent from data subject :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2" style="vertical-align:middle">
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <textarea class="form-control" rows="3" id="PoliciesAndProcedures" style="resize:vertical">@if (KYC_ConsentProcurement != null) { @KYC_ConsentProcurement.PoliciesAndProcedures }</textarea>
                    }
                    else
                    {
                        if (KYC_ConsentProcurement != null)
                        { @KYC_ConsentProcurement.PoliciesAndProcedures }
                    <input type="hidden" id="PoliciesAndProcedures" value="@if (KYC_ConsentProcurement != null) { @KYC_ConsentProcurement.PoliciesAndProcedures }" />
                }
                </td>
            </tr>
        </tbody>
    </table>

    <table id="tblProtectionOfData" class="table table-bordered table-column-3">
        <thead>
            <tr class="CBMBG">
                <th colspan="3">
                    Protection of data/report *Assuming that you have extracted report of a data subject…
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="CBMBG" style="vertical-align:middle; width:17%">
                    What do you do after retrieving credit information from CBM? :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2" style="vertical-align:middle">
                    <table class="table table-bordered sub-table" id="aftercreditreportsub">
                        <tbody>
                            <tr>
                                <td style="width:2%; vertical-align:middle">
                                    <input type="checkbox" id="StoreCreditReportInElectronicDeviceCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.StoreCreditReportInElectronicDevice) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle;" colspan="2">
                                    <label for="StoreCreditReportInElectronicDeviceCB">Store the credit report in my electronic device</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="PrintCreditReportForFillingCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.PrintCreditReportForFilling) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="PrintCreditReportForFillingCB">Print the credit report for filing purposes</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="ProvideDataSubjectHisReportCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.ProvideDataSubjectHisReport) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="ProvideDataSubjectHisReportCB">Provide the data subject his credit report</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="KYC_ProtectionOfDataAfterOthersCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.AfterOthers) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle; width:55.2%">
                                    <label for="KYC_ProtectionOfDataAfterOthersCB">Others :</label>
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.AfterOthers) { @KYC_ProtectionOfData.AfterOthersText }" id="KYC_ProtectionOfDataAfterOthersText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.AfterOthers)
                                        { @KYC_ProtectionOfData.AfterOthersText }
                                    <input type="hidden" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.AfterOthers) { @KYC_ProtectionOfData.AfterOthersText }" id="KYC_ProtectionOfDataAfterOthersText" class="form-control" />
                                }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="vertical-align:middle">
                    How do you ensure confidentiality of data and credit information obtained from CBM? :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2" style="vertical-align:middle">
                    <table class="table table-bordered sub-table" id="ensuresub">
                        <tbody>
                            <tr>
                                <td style="width:2%; vertical-align:middle">
                                    <input type="checkbox" id="UsingMachineShredderCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.UsingMachineShredder) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle;" colspan="2">
                                    <label for="UsingMachineShredderCB">Using machine shredder to shred credit report</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="AccessToOfficeComputerIsEncryptedCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.AccessToOfficeComputerIsEncrypted) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="AccessToOfficeComputerIsEncryptedCB">Access to office computer is password encrypted for every user</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="AccessToCBMSystemIsLimitedCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.AccessToCBMSystemIsLimited) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="AccessToCBMSystemIsLimitedCB">Access to CBM system is limited to Security Administrator and General User</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="SharingOrDisplayingPasswordCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.SharingOrDisplayingPassword) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="SharingOrDisplayingPasswordCB">Sharing or displaying password to CBM system with internal staff</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="UsingFirewallCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.UsingFirewall) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle; width:55.2%">
                                    <label for="UsingFirewallCB">Using firewall :</label>
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.UsingFirewall) { @KYC_ProtectionOfData.FirewallText }" id="KYC_ProtectionOfDataFirewallText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.UsingFirewall)
                                        { @KYC_ProtectionOfData.UsingFirewall }
                                    <input type="hidden" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.UsingFirewall) { @KYC_ProtectionOfData.FirewallText }" id="KYC_ProtectionOfDataFirewallText" class="form-control" />
                                }
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="UsingAntivirusCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.UsingAntivirus) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle; width:55.2%">
                                    <label for="UsingAntivirusCB">Using Antivirus :</label>
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.UsingAntivirus) { @KYC_ProtectionOfData.AntivirusText }" id="KYC_ProtectionOfDataAntivirusText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.UsingAntivirus)
                                        { @KYC_ProtectionOfData.UsingAntivirus }
                                    <input type="hidden" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.UsingAntivirus) { @KYC_ProtectionOfData.AntivirusText }" id="KYC_ProtectionOfDataAntivirusText" class="form-control" />
                                }
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="EnsureOthersCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.EnsureOthers) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle; width:55.2%">
                                    <label for="EnsureOthersCB">Others :</label>
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.EnsureOthers) { @KYC_ProtectionOfData.EnsureOthersText }" id="KYC_ProtectionOfDataEnsureOthersText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.EnsureOthers)
                                        { @KYC_ProtectionOfData.EnsureOthersText }
                                    <input type="hidden" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.EnsureOthers) { @KYC_ProtectionOfData.EnsureOthersText }" id="KYC_ProtectionOfDataEnsureOthersText" class="form-control" />
                                }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="vertical-align:middle">
                    Who are the people / company that have access to report of a data subject? :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2" style="vertical-align:middle">
                    <table class="table table-bordered sub-table" id="accesssub">
                        <tbody>
                            <tr>
                                <td style="width:2%; vertical-align:middle">
                                    <input type="checkbox" id="ParentCompanyCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.ParentCompany) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle;" colspan="2">
                                    <label for="ParentCompanyCB">Parent company</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="SubsidiaryCompanyCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.SubsidiaryCompany) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="SubsidiaryCompanyCB">Subsidiary company</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="AllEmployeeCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.AllEmployee) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="AllEmployeeCB">All employees of company</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="ThirdPartyCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.ThirdParty) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="ThirdPartyCB">Third party service provider</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="Director_CEO_ManagementCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.Director_CEO_Management) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="Director_CEO_ManagementCB">Director/CEO/Management of the Subscriber</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="People_CompanyOthersCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.People_CompanyOthers) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle; width:55.2%">
                                    <label for="People_CompanyOthersCB">Others :</label>
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.People_CompanyOthers) { @KYC_ProtectionOfData.People_CompanyOthersText }" id="KYC_ProtectionOfDataPeople_CompanyOthersText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.People_CompanyOthers)
                                        { @KYC_ProtectionOfData.People_CompanyOthersText }
                                    <input type="hidden" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.People_CompanyOthers) { @KYC_ProtectionOfData.People_CompanyOthersText }" id="KYC_ProtectionOfDataPeople_CompanyOthersText" class="form-control" />
                                }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="width: 17%; vertical-align:middle">
                    Would you retain data and credit information obtained from CBM? If so, how long? :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2" style="vertical-align:middle">
                    <table class="table table-bordered sub-table" id="retainsub">
                        <tbody>
                            <tr>
                                <td style="width:2%; vertical-align:middle">
                                    <input type="checkbox" id="RetainDataYesCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.RetainDataYes) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle; width:55.2%">
                                    <label for="RetainDataYesCB">Yes</label>
                                </td>
                                <td style="vertical-align:middle; width:6%" class="CBMBG">
                                    How long :
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.RetainDataYes) { @KYC_ProtectionOfData.RetainDataYesText }" id="KYC_ProtectionOfDataRetainDataYesText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.RetainDataYes)
                                        { @KYC_ProtectionOfData.RetainDataYesText }
                                    <input type="hidden" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.RetainDataYes) { @KYC_ProtectionOfData.RetainDataYesText }" id="KYC_ProtectionOfDataRetainDataYesText" class="form-control" />
                                }
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="RetainDataNoCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.RetainDataNo) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="3">
                                    <label for="RetainDataNoCB">No</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="vertical-align:middle; width:17%">
                    How do you store report of a data subject obtained from CBM? :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2" style="vertical-align:middle">
                    <table class="table table-bordered sub-table" id="storesub">
                        <tbody>
                            <tr>
                                <td style="width:2%; vertical-align:middle">
                                    <input type="checkbox" id="ElectronicCopyCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.ElectronicCopy) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle;" colspan="2">
                                    <label for="ElectronicCopyCB">Electronic copy</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="PhysicalFillingCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.PhysicalFilling) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="PhysicalFillingCB">Physical filling</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="CloudSystemCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.CloudSystem) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="CloudSystemCB">Cloud system</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="InternetStorageProviderCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.InternetStorageProvider) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="InternetStorageProviderCB">Internet storage provider (e.g. Google Drive, Dropbox, Cloud system and etc.)</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="PersonalDatabaseCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.PersonalDatabase) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="PersonalDatabaseCB">Personal database (e.g. hard disk, pen drive, CD, memory card)</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="KYC_ProtectionOfDataStoreOthersCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.StoreOthers) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle; width:55.2%">
                                    <label for="KYC_ProtectionOfDataStoreOthersCB">Others :</label>
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.StoreOthers) { @KYC_ProtectionOfData.StoreOthersText }" id="KYC_ProtectionOfDataStoreOthersText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.StoreOthers)
                                        { @KYC_ProtectionOfData.StoreOthersText }
                                    <input type="hidden" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.StoreOthers) { @KYC_ProtectionOfData.StoreOthersText }" id="KYC_ProtectionOfDataStoreOthersText" class="form-control" />
                                }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="CBMBG" style="vertical-align:middle; width:17%">
                    How do you control/monitor access to data, credit information and report obtained from CBM? :
                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                    {
                        <span style="color:red">*</span>
                    }
                </td>
                <td colspan="2" style="vertical-align:middle">
                    <table class="table table-bordered sub-table" id="controlsub">
                        <tbody>
                            <tr>
                                <td style="width:2%; vertical-align:middle">
                                    <input type="checkbox" id="CreditInformationOnlyForInternalUsageCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.CreditInformationOnlyForInternalUsage) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle;" colspan="2">
                                    <label for="CreditInformationOnlyForInternalUsageCB">Credit information and report extracted is only for internal usage</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="OnlyForSecurityAdministratorCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.OnlyForSecurityAdministrator) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="OnlyForSecurityAdministratorCB">Only the Security Administrator and General User has access to credit information and report</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="ReportWillNotBePrintedCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.ReportWillNotBePrinted) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="ReportWillNotBePrintedCB">Credit report will not be printed nor stored in any internal electronic devices</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="ReportWillNotBeRetainedCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.ReportWillNotBeRetained) { @c } @d style="margin:0; @if (d == "") { @heightmargin }" />
                                </td>
                                <td style="vertical-align:middle" colspan="2">
                                    <label for="ReportWillNotBeRetainedCB">Credit report will not be retained</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <input type="checkbox" id="KYC_ProtectionOfDataControlOthersCB" @if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.ControlOthers) { @c } @d  />
                                </td>
                                <td style="vertical-align:middle; width:55.2%">
                                    <label for="KYC_ProtectionOfDataControlOthersCB">Others :</label>
                                </td>
                                <td style="vertical-align:middle">
                                    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
                                    {
                                        <input type="text" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.ControlOthers) { @KYC_ProtectionOfData.ControlOthersText }" id="KYC_ProtectionOfDataControlOthersText" class="form-control" />
                                    }
                                    else
                                    {
                                        if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.ControlOthers)
                                        { @KYC_ProtectionOfData.ControlOthersText }
                                    <input type="hidden" value="@if ((KYC_ProtectionOfData != null) && KYC_ProtectionOfData.ControlOthers) { @KYC_ProtectionOfData.ControlOthersText }" id="KYC_ProtectionOfDataControlOthersText" class="form-control" />
                                }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</div>