﻿@using SubscriptionManagement.Models
@model SecurityAdminFormViewModel
@{
    var req = Model.Request;
    var sa = Model.PersonInCharge;
    var cd = Model.CustomerDetails;
    var isCBM = Model.IsCBM;
    var d = "disabled";
    var c = "checked";
    //var CloseAndReload = "CloseAndReload()";
    var Close = "Close()";
    if (req.Status == "Pending Form Submission" && Model.HasWriteAccess)
    {
        d = "";
        if ((sa != null) && sa.Consented)
        {
            d = "disabled";
        }
    }
}

<head>
    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/bootstrap-datepicker.js"></script>
    <script src="/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="/Scripts/jquery.toast.js"></script>
    <script src="/Scripts/main.js"></script>
    <script src="/Areas/SubscriptionManagement/Scripts/site.js"></script>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Contents/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="/Areas/SubscriptionManagement/Content/Site.css" rel="stylesheet" type="text/css" />

    <link href="/Content/jquery.toast.css" rel="stylesheet" type="text/css" />
</head>

<style>
    .table > tbody > tr > td {
        font-size: 14px !important;
    }

    .table {
        margin: 5px 0px;
    }

    .form-control {
        height: 30px;
        padding: 3px 3px;
        border-radius: 0px;
        font-size: 12px;
    }

    .right-text {
        text-align: right;
    }

    .sub-sub-table > thead > tr > th {
        background-color: #f5f5f5;
        margin: 0px !important;
    }

    .CBMBG {
        background: #00bdf2;
        color: white;
    }

    p {
        margin: 0px;
    }

    .decimal {
        text-align: right;
    }

    .datepicker table tr td, .datepicker table tr th {
        text-align: center;
        width: 30px;
        height: 26px;
        border-radius: 4px;
        font-size: 11px;
        border: none;
    }

    .table-column-4 > tbody > tr > td:nth-child(1),
    .table-column-4 > tbody > tr > td:nth-child(3) {
        width: 16%;
        word-break: inherit;
    }

    .table-column-4 > tbody > tr > td:nth-child(2),
    .table-column-4 > tbody > tr > td:nth-child(4) {
        width: 34%;
    }

    input[type=month]::-webkit-inner-spin-button,
    input[type=month]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
        background: 0 0;
        color: #cecece;
        cursor: default;
    }

    .invalid-alert {
        font-size: smaller;
        color: red;
        font-style: italic;
    }

    .btn-xs, .btn-group-xs > .btn {
        font-size: 14px;
    }
</style>

<body style="background-color:#f1f1f1" @*onunload="Close()"*@ > @*@if (req.Status == "Pending Form Submission") { @CloseAndReload } else { @Close }*@
    <div style="margin-top:1.4%; margin-bottom:1.4%; background-color:white; padding: 10px 10px 10px 10px; font-size:14px; margin-left:8.5%; margin-right:7.5%; ">
        <input type="hidden" id="CanSubmit" value="true" />
        <div style="text-align:right">
            <img src="/Images/cbm_logo.png" draggable="false" class="CBMLOGO" oncontextmenu="return false;" style="width:10%;">
        </div>

        <table style="width:100%; margin-top:4%;">
            <tbody>
                <tr>
                    <td colspan="4" style="text-align:center; font-weight:bold">SECURITY ADMINISTRATOR CREATION FORM</td>
                </tr>
                <tr>
                    <td style="font-weight:bold; text-decoration:underline">AUTHORIZED SIGNATORY</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">I, <span style="display:inline-block; text-align:center; width:27%; border-bottom:1px dotted;">@sa.Name</span> (IC:<span style="display:inline-block; text-align:center; width:27%; border-bottom:1px dotted;">@sa.IcNumber</span>) the undersigned hereby represent and warrant that; I have procured all sufficient consent from<span style="display:inline-block; text-align:center; width:30%; border-bottom:1px dotted;">@cd.BusinessName</span>(“Company”) and as such I am duly authorized to provide the authorization of the following person(s) for and on behalf of the Company in respect of their appointment as Security Administrator(s) of the Credit Bureau Malaysia’s (CBM) System. The Company hereby agree, represent and warrant that the appointment of the following person(s) is solely to procure the services of (CBM) for the benefit of the Company in accordance with the Subscription Agreement.</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table style="width:100%; font-weight:bold;">
                            <tbody>
                                <tr>
                                    <td colspan="6" style="border: 1px solid black; padding:4px">
                                        Security Administrator Profile
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-left:1px solid black; padding:4px; width:10%">Full Name</td>
                                    <td style=" padding:4px; width:1%">:</td>
                                    <td style=" padding:4px; width:36%">@sa.Name</td>

                                    <td style=" padding:4px; width:10%">IC Number</td>
                                    <td style=" padding:4px; width:1%">:</td>
                                    <td style="border-right:1px solid black; padding:4px">@sa.IcNumber</td>
                                </tr>
                                <tr>
                                    <td style="border-left:1px solid black; padding:4px">Designation</td>
                                    <td style=" padding:4px">:</td>
                                    <td style=" padding:4px">@sa.Designation</td>

                                    <td style=" padding:4px">Email Address</td>
                                    <td style=" padding:4px">:</td>
                                    <td style="border-right:1px solid black; padding:4px">@sa.EmailAddress</td>
                                </tr>
                                <tr>
                                    <td style="border-left:1px solid black; padding:4px">Contact Number</td>
                                    <td style="padding:4px">:</td>
                                    <td style="border-right:1px solid black; padding:4px" colspan="4">@sa.TelephoneNumber</td>
                                </tr>
                                <tr>
                                    <td style="border-left:1px solid black; border-bottom:1px solid black; padding:4px; text-align:center"><input @if ((sa != null) && sa.Consented) { @c } @d id="Consented" type="checkbox" /></td>
                                    <td style="border-right:1px solid black; border-bottom:1px solid black; padding:4px; font-weight:normal; font-size:smaller" colspan="5"><label for="Consented">I hereby give my consent to Credit Bureau Malaysia Sdn Bhd (CBM) for processing my personal data for any purpose which reasonably arises out of and/or in the connection with my access to CBM system and hereby agree to the terms and conditions defined in the overleaf.</label></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>


        <table style="width:100%; margin-top:2%;">
            <tbody>
                <tr>
                    <td style="width:2%">&nbsp;</td>
                    <td style="text-decoration:underline; font-weight:bold; padding:4px;">
                        TERMS & CONDITIONS
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">
                        1.
                    </td>
                    <td style="padding:4px;">
                        I hereby grant consent to Credit Bureau Malaysia Sdn Bhd (CBM) to process my personal data for any purpose which reasonably arise out of/in connection with my access to CBM System (CBMS).
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">2.	</td>
                    <td style="padding:4px;">I hereby agree to only access the CBMS in the capacity of an authorized user solely to perform duties or my job functions as instructed by my superior/the Company for a Relevant Purpose as stipulated in the Subscriber Agreement.</td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">3.	</td>
                    <td style="padding:4px;">I will not outside the confines of my duties; view, print, copy, update, alter retain or disclose to any person; proprietary, confidential, and/or protected information obtained from CBM, CBMS and/or the credit reports. </td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">4.	</td>
                    <td style="padding:4px;">I agree that I will use the account created under my user ID discretely and will not share it with anyone else. I will use this account only for duties assigned by my superior and/or relevant to my job scope for the purpose of viewing credit reports of Subjects (as defined in the Subscriber Agreement) in accordance with the terms and condition of the Subscriber Agreement.</td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">5.	</td>
                    <td style="padding:4px;">I understand that information contained in the credit reports and any other information accessible through the CBMS is highly confidential and therefore I shall ensure the secure and confidential storage of the user ID and password(s) assigned to me to prevent unauthorized access. I shall immediately inform CBM if I am aware of any unauthorized use of the CBMS identifiable to my user ID and password or any other incidences of security breach relating to the CBM System, credit reports, credit information, or any other confidential information. </td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">6.	</td>
                    <td style="padding:4px;">I shall at all times adhere and strictly abide by security practices and procedures that are reasonably recognised as sufficient and with a degree of care no lesser than those reasonably expected when handling confidential information to prevent any unauthorized disclosure, access, use or modification, misappropriation, destruction, theft and/or loss.</td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">7.	</td>
                    <td style="padding:4px;">I shall not break into the underlying database of the CBMS or content thereof, store, modify, install product codes, alter source codes, or any other system resources.</td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">8.	</td>
                    <td style="padding:4px;">I agree and undertake not to sell, loan, publish, transfer license, develop, publish otherwise modify any parts of the credit reports, any other documents, and/or information derived from the use of CBMS and the credit reports. </td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">9.	</td>
                    <td style="padding:4px;">I understand and agree that CBM reserves the right to revoke or suspend my access to the CBMS at any time if I fail to abide by any of the terms contained herein, or on any other reasonable grounds.</td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">10.	</td>
                    <td style="padding:4px;">As an authorized Security Admin User I shall not create a General User account or any other duplicate accounts for my access to the CBMS. My access to the CBMS and any activity thereto shall solely be identifiable to one account authorized by CBM.</td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">11.	</td>
                    <td style="padding:4px;">I understand that by being the authorized Security Admin User, I shall be in charge of monitoring the creation and deletion of General User ID account and their conduct in respect of limited access to the CBMS. As such, I agree to immediately revoke any General User’s ID through CBMS in the event of their resignation, replacement, variation of job function, termination of employment or any other event that would annul their privilege as an Authorised User of the Company as stipulated in the Subscriber Agreement.</td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">12.	</td>
                    <td style="padding:4px;">I shall immediately request for CBM to block my access in writing (via email) in the event of my resignation, replacement, variation of my job function, termination of employment including any other event that would annul my privilege as an Security Admin User of the Company as stipulated in the Subscriber Agreement. I shall also clearly inform CBM; the details of the person who will be in charge of relieving any of my outstanding duties temporarily (if any) during the aforementioned event to assist in the transition. </td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">13.	</td>
                    <td style="padding:4px;">I shall only grant access to General User(s) in accordance with the User Access Rights Matrix provided by CBM. If I am required to grant any additional access to a General User I shall immediately seek the permission of CBM in writin.</td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">14.	</td>
                    <td style="padding:4px;">I shall not in any event, cause any other person(s) directly or indirectly either by my actions or omissions breach any of the intended prohibitions and conditions contained herein.</td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">15.	</td>
                    <td style="padding:4px;">I agree to fully take responsibility and indemnify CBM fully and effectively against all actions, proceedings, costs, claims, demands, liabilities and expenses whatsoever arising out of my failure to carry out my obligations stipulated in the terms and conditions herein. </td>
                </tr>
            </tbody>
        </table>

        <div class="right-text margin-bottom-5" style="margin-top:2%; margin-bottom:2%">
            @if (req.Status == "Pending Form Submission" && Model.HasWriteAccess && d == "")
            {
                <button onclick="Submit()" type="button" class="btn btn-xs btn-success">Save</button>
                //<button onclick="CloseAndReload()" type="button" class="btn btn-xs btn-default">Close</button>
            }
            @*else
            {
                <button onclick="Close()" type="button" class="btn btn-xs btn-default">Close</button>
            }*@
            <button onclick="Close()" type="button" class="btn btn-xs btn-default">Close</button>
        </div>

    </div>
</body>

<script>
    function Submit() {

        if ($('#CanSubmit').val() === "true") {
            $('#CanSubmit').val('false');
        }
        else {
            return;
        }

        var PersonInCharge = {
            "PersonInChargeId": '@sa.PersonInChargeId',
            'Consented': $('#Consented').is(':checked'),
        };

        $.ajax({
            url: window.location.origin + "/SubscriptionManagement/Home/CustomerSubmitSecurityAdminForm",
            data: { "PersonInCharge": PersonInCharge },
            cache: false,
            type: "POST",
            dataType: "html",

            success: function (data, textStatus, XMLHttpRequest) {
                var d = JSON.parse(data);
                if (d === true) {
                    showToast("Security admin form saved successfully", "success");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                }
                else {
                    $('#CanSubmit').val('true');
                    showToast(d.Error, "error");
                }
            }
        });
    }

    function CloseAndReload() {
            opener.location.reload();
            window.close();
    }

    function Close() {
        window.close();
    }
</script>