﻿@using IdentityManagement.Utilities
@using ProcessVault.Models
@model CompanyDocumentConfig

@Html.HiddenFor(c => c.Request.RequestId, new { id = "requestId" })
@Html.HiddenFor(c => c.Request.ReferenceNo, new { id = "referenceNo" })
@Html.HiddenFor(c => c.Request.RequestState.PreviousState, new { id = "previousState" })
@Html.HiddenFor(c => c.Request.RequestState.RoleId, new { id = "roleId" })

<base href="@Model.BaseUrl" />
<div class="row body-container">
    <div class="bs-component" style="font-size:12px; margin-top: 10px;">
        <div class="row col-lg-offset-1">
            <h3 style="margin-top: 0px;">Standard Operation Procedure (SOP)</h3>
        </div>
        <div class="col-lg-offset-1 col-lg-2">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2" class="background-color">Requester</th>
                        </tr>
                    </thead>
                    @{
                        var m = Model;
                        <tbody>
                            <tr>
                                <td class="background-color">
                                    Name:
                                </td>
                                <td>
                                    @m.Request.Requester.Name
                                </td>
                            </tr>
                            <tr>
                                <td class="background-color">
                                    Position:
                                </td>
                                <td>
                                    @m.Request.Requester.Position
                                </td>
                            </tr>
                            <tr>
                                <td class="background-color">
                                    Department:
                                </td>
                                <td>
                                    @m.Request.Requester.Department
                                </td>
                            </tr>
                            <tr>
                                <td class="background-color">
                                    Request Date:
                                </td>
                                <td>
                                    @DateTime.Now.ToString("dd MMM yyyy HH:mm:ss")
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
            <div class="row">
                <table id="tblReviewer" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="background-color" style="width:40%">Reviewer</th>
                            <th class="background-color" style="width:35%">Date</th>
                            <th class="background-color" style="text-align: center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (m.Request.Requester != null && !string.IsNullOrEmpty(m.Request.Requester.Reporting) && (m.Request.Status == "New" || m.Request.Status == "Draft"))
                            {
                                var rep = m.Request.Requester.Reporting;
                                <tr>
                                    <td colspan="2">
                                        <label data-value="@rep">@m.Users.Find(x => x.UserId == rep).Name</label>
                                    </td>
                                    <td style="text-align: center">
                                        <a class="delete" onclick="removeReviewer(this)" data-value="@rep" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                if (m.Request.Reviewers != null)
                                {
                                    foreach (var r in m.Request.Reviewers)
                                    {
                                        <tr>
                                            @{
                                                if ((m.Request.Status == "Pending Requester" || m.Request.Status == "Draft") && m.Access == "Write")
                                                {
                                                    <td colspan="2"><label data-value="@r.UserId">@r.Name</label></td>
                                                    <td style="text-align: center">
                                                        <a class="delete" onclick="removeReviewer(this)" data-value="@r.UserId" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td><label data-value="@r.UserId">@r.Name</label></td>
                                                    var dt = Convert.ToDateTime(r.ActionDate);
                                                    var actionDate = dt == default(DateTime) ? (r.Action == "-" ? "-" : "N/A") : dt.ToString("dd MMM yyyy HH:mm:ss");
                                                    var action = r.Action == "PENDING" ? r.Action.First().ToString().ToUpper() + r.Action.Substring(1).ToLower() : r.Action;

                                                    <td>@actionDate</td>
                                                    <td>@action</td>
                                                }
                                            }
                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                    <tfoot>
                        @{
                            if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                            {
                                <tr>
                                    <td colspan="2">
                                        <select id="inptReviewer" class="form-control">
                                            <option value="0">Select Reviewer</option>
                                            @{
                                                foreach (var u in m.Users)
                                                {
                                                    <option value="@u.UserId">@u.Name</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td style="text-align: center">
                                        <button class="btn btn-xs btn-info" onclick="selectReviewer()">Add</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tfoot>
                </table>
            </div>
            @{
                if (m.Request.Status != "New" && m.Request.Status != "Draft" && m.Request.PEXs != null && m.Request.PEXs.Where(x => x.Action != "N/A").Count() > 0)
                {
                    <div class="row">
                        <table id="tblPEx" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color" style="width:40%">PEx Team</th>
                                    <th class="background-color" style="width:35%; vertical-align: top;">Date</th>
                                    <th class="background-color" style="vertical-align: top;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var p in m.Request.PEXs)
                                    {
                                        <tr>
                                            <td>@p.Name</td>
                                            @{
                                                var dt = Convert.ToDateTime(p.ActionDate);
                                                var actionDate = dt == default(DateTime) ? (p.Action == "-" ? "-" : "N/A") : dt.ToString("dd MMM yyyy HH:mm:ss");
                                                var action = p.Action == "PENDING" ? p.Action.First().ToString().ToUpper() + p.Action.Substring(1).ToLower() : p.Action;

                                                <td>@actionDate</td>
                                                <td>@action</td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
            @{
                if (m.Request.Status != "New" && m.Request.Status != "Draft" && m.Request.Approvers != null)
                {
                    <div class="row">
                        <table id="tblApprover" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color" style="width:40%">Approver</th>
                                    <th class="background-color" style="width:35%">Date</th>
                                    <th class="background-color" style="text-align: center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    var reporting = Utils.GetUserReporting();
                                    if (!string.IsNullOrEmpty(reporting) && (m.Request.Status == "Pending PEx Team" && m.Request.Approvers.Count < 1) && m.Access == "Write")
                                    {
                                        <tr>
                                            <td colspan="2">
                                                <label data-value="@reporting">@m.Users.Find(x => x.UserId == reporting).Name</label>
                                            </td>
                                            <td style="text-align: center">
                                                <a class="delete" onclick="removeApprover(this)" data-value="@reporting" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        if (m.Request.Approvers != null)
                                        {
                                            var apprs = m.Request.Approvers.OrderByDescending(x => x.Action == "APPROVE" && x.Action == "PENDING").ToList();
                                            foreach (var a in apprs)
                                            {
                                                if (m.Request.Status == "Pending PEx Team" && m.Access == "Write")
                                                {
                                                    <tr>
                                                        <td colspan="2">
                                                            <label data-value="@a.UserId">@a.Name</label>
                                                        </td>
                                                        <td style="text-align: center">
                                                            <a class="delete" onclick="removeApprover(this)" data-value="@a.UserId" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td><label data-value="@a.UserId">@a.Name</label></td>
                                                        @{
                                                            var actionDate = Convert.ToDateTime(a.ActionDate) == default(DateTime) ? "N/A" : Convert.ToDateTime(a.ActionDate).ToString("dd MMM yyyy HH:mm:ss");
                                                            var action = a.Action == "PENDING" ? a.Action.First().ToString().ToUpper() + a.Action.Substring(1).ToLower() : a.Action;

                                                            <td>@actionDate</td>
                                                            <td>@action</td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                }
                            </tbody>
                            <tfoot>
                                @{
                                    if (m.Request.Status == "Pending PEx Team" && m.Access == "Write")
                                    {
                                        <tr>
                                            <td colspan="2">
                                                <select id="inptApprover" class="form-control">
                                                    <option value="0">Select Approver</option>
                                                    @{
                                                        foreach (var u in m.Users)
                                                        {
                                                            <option value="@u.UserId">@u.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td style="text-align: center">
                                                <button class="btn btn-xs btn-info" onclick="selectApprover()">Add</button>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tfoot>
                        </table>
                    </div>
                }
            }
            @{
                if (m.Request.Status != "New" && m.Request.Status != "Draft" && m.Request.FinalApprovers != null)
                {
                    <div class="row">
                        <table id="tblFinalApprover" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color" style="width:40%">Final Approver</th>
                                    <th class="background-color" style="width:35%; vertical-align: top;">Date</th>
                                    <th class="background-color" style="vertical-align: top;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var fa in m.Request.FinalApprovers)
                                    {
                                        <tr>
                                            <td>@fa.Name</td>
                                            @{
                                                var actionDate = Convert.ToDateTime(fa.ActionDate) == default(DateTime) ? "N/A" : Convert.ToDateTime(fa.ActionDate).ToString("dd MMM yyyy HH:mm:ss");
                                                var action = fa.Action == "PENDING" ? fa.Action.First().ToString().ToUpper() + fa.Action.Substring(1).ToLower() : fa.Action;

                                                <td>@actionDate</td>
                                                <td>@action</td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        </div>

        <div class="row1">
            <div class="col-lg-8">
                <!---Requester-->
                <table class="table table-bordered table-col-4">
                    <thead>
                        <tr class="background-color">
                            <th colspan="4">Standard Operation Procedure (SOP) Request</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="background-color">
                                Reference No :
                            </td>
                            <td style="width: 23em;">
                                <label>@m.Request.ReferenceNo</label>
                            </td>
                            <td class="background-color">
                                Status :
                            </td>
                            <td>
                                <label style="color:red;" id="lblStatus">@m.Request.Status</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color">
                                *Request Type :
                            </td>
                            <td colspan="3" style="vertical-align:middle;">
                                @{
                                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                                    {
                                        foreach (var r in m.RequestTypes)
                                        {
                                            if (Model.Request.RequestTypeId == r.RequestTypeId)
                                            {
                                                <div class="row col-lg-2">
                                                    <input type="radio" name="requesttype" id="inptRequestType" value="@r.RequestTypeId" checked />@r.Name
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row col-lg-2">
                                                    <input type="radio" name="requesttype" id="inptRequestType" value="@r.RequestTypeId" />@r.Name
                                                </div>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        @m.RequestTypes.Find(x => x.RequestTypeId == m.Request.RequestTypeId).Name.ToString();
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color">
                                *Subject :
                            </td>
                            <td colspan="3">
                                @{
                                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                                    {
                                        @Html.TextBoxFor(r => r.Request.Subject, new { id = "inptSubject", name = "subject", @class = "form-control" });
                                    }
                                    else
                                    {
                                        @m.Request.Subject.ToString();
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color">
                                Description :
                            </td>
                            <td colspan="7">
                                @{
                                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                                    {
                                        @Html.TextAreaFor(r => r.Request.Description, new { id = "inptDescription", name = "description", @class = "form-control", rows = 3 });
                                    }
                                    else
                                    {
                                        @m.Request.Description.ToString();
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color">
                                Document :
                            </td>
                            <td colspan="3">
                                @{
                                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                                    {
                                        <div class="margin-bottom-5">
                                            <input id="fileSelectRequester" type="file" class="form-control" style="width: 92%;display: inline-block;" />
                                            <button class="btn btn-xs btn-info" onclick="uploadDoc('requester')">Upload</button>
                                        </div>
                                    }
                                }
                                <table class="table table-bordered sub-table" id="inptRequesterfile">
                                    <thead>
                                        <tr>
                                            <th style="width: 23.5%">
                                                Uploaded Date
                                            </th>
                                            <th style="width: 36.2%">
                                                File Name
                                            </th>
                                            <th>
                                                Ext
                                            </th>
                                            <th>
                                                Size
                                            </th>

                                            @{
                                                if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                                                {
                                                    <th style="width: 7%; text-align:center;">
                                                        Action
                                                    </th>
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (m.Request.Attachments != null && m.Request.Attachments.Count > 0)
                                            {
                                                var atts = m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "D88A3D13-707A-46D0-B4CC-6EAF6832C3E3");
                                                foreach (var att in atts)
                                                {
                                                    <tr>
                                                        <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                        @{
                                                            if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                                                            {
                                                                <td>@att.Name</td>
                                                            }
                                                            else
                                                            {
                                                                <td><a href="@att.Path@att.Name" target="_blank">@att.Name</a></td>
                                                            }
                                                        }

                                                        <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                                        <td>@att.Size</td>
                                                        @{
                                                            if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                                                            {
                                                                <td data-value="@att.AttachmentId"><a class="delete" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                                            }
                                                        }
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!---Pex Team-->
                @{
                    if ((m.Request.Status == "Pending PEx Team" && m.CompanyDocument == null && m.Access == "Write") || (m.Request.Status != "New" && m.Request.Status != "Draft" && m.CompanyDocument != null))
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr class="background-color">
                                    <th colspan="4">PEx Team</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color">
                                        *Classification :
                                    </td>
                                    <td colspan="3" style="vertical-align:middle;">
                                        <div id="inptClassification">
                                            @{
                                                if (m.Request.Attachments != null && m.Classifications != null)
                                                {
                                                    var att = m.Request.Attachments.Find(x => x.AttachmentTypeId == "A542CF4A-3986-4548-8AD0-8CA67291DC3B");
                                                    if (m.Request.Status == "Pending PEx Team" && m.Access == "Write")
                                                    {
                                                        foreach (var c in m.Classifications)
                                                        {
                                                            if (att != null && att.ClassificationId == c.ClassificationId)
                                                            {
                                                                <div class="row col-lg-2">
                                                                    <input type="radio" name="classification" id="inptClassification" value="@c.ClassificationId" checked />@c.Name
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="row col-lg-2">
                                                                    <input type="radio" name="classification" id="inptClassification" value="@c.ClassificationId" />@c.Name
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (att.ClassificationId != "" && att.ClassificationId != "undefined")
                                                        {
                                                            @m.Classifications.Find(x => x.ClassificationId == att.ClassificationId).Name.ToString();
                                                        }
                                                        else
                                                        {
                                                            <p>Public</p>
                                                        }
                                                    }
                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        *Applicability (Department) :
                                    </td>
                                    <td colspan="3" style="vertical-align:middle;">
                                        <div id="inptDepartmentApp">
                                            @{
                                                var ids = new List<string>();
                                                if (m.CompanyDocument != null && m.CompanyDocument.DepartmentApplicability != null)
                                                {
                                                    ids = m.CompanyDocument.DepartmentApplicability.Split(';').ToList();
                                                }
                                                if (m.Request.Status == "Pending PEx Team" && m.Access == "Write")
                                                {
                                                    foreach (var d in m.Departments)
                                                    {
                                                        if (d.DepartmentId != "7ED247CB-A7D8-4E34-A5B9-37BA329D8C54")
                                                        {
                                                            var check = false;
                                                            foreach (var id in ids)
                                                            {
                                                                if (d.DepartmentId == id)
                                                                {
                                                                    check = true;
                                                                }
                                                            }

                                                            if (check)
                                                            {
                                                                <div class="row col-lg-3">
                                                                    <input type="checkbox" onclick="selectDepartment(this)" name="department" value="@d.DepartmentId" checked />@d.Name
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="row col-lg-3">
                                                                    <input type="checkbox" onclick="selectDepartment(this)" name="department" value="@d.DepartmentId" />@d.Name
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    var depts = "";
                                                    foreach (var id in ids)
                                                    {
                                                        var d = m.Departments.Find(x => x.DepartmentId == id);
                                                        if (d != null)
                                                        {
                                                            depts += " - " + d.Name;
                                                        }
                                                    }
                                                    @depts;
                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        *Applicability (Location) :
                                    </td>
                                    <td colspan="3" style="vertical-align:middle;">
                                        <div id="inptLocationApp">
                                            @{

                                                ids = new List<string>();
                                                if (m.CompanyDocument != null && m.CompanyDocument.LocationApplicability != null)
                                                {
                                                    ids = m.CompanyDocument.LocationApplicability.Split(';').ToList();
                                                }
                                                if (m.Request.Status == "Pending PEx Team" && m.Access == "Write")
                                                {
                                                    foreach (var d in m.Locations)
                                                    {

                                                        var check = false;
                                                        foreach (var id in ids)
                                                        {
                                                            if (d.LocationId == id)
                                                            {
                                                                check = true;
                                                            }
                                                        }

                                                        if (check)
                                                        {
                                                            <div class="row col-lg-3">
                                                                <input type="checkbox" name="location" value="@d.LocationId" checked />@d.Name
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="row col-lg-3">
                                                                <input type="checkbox" name="location" value="@d.LocationId" />@d.Name
                                                            </div>
                                                        }

                                                    }
                                                }
                                                else
                                                {
                                                    var locs = "";
                                                    foreach (var id in ids)
                                                    {
                                                        var d = m.Locations.Find(x => x.LocationId == id);
                                                        if (d != null)
                                                        {
                                                            locs += " - " + d.Name;
                                                        }
                                                    }
                                                    @locs;
                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        *SOP Name :
                                    </td>
                                    <td>
                                        @{
                                            if (m.Request.Status == "Pending PEx Team" && m.Access == "Write")
                                            {
                                                @Html.TextBoxFor(r => r.CompanyDocument.SOPName, new { id = "inptSOPName", name = "sopname", @class = "form-control" })
                                            }
                                            else
                                            {
                                                @m.CompanyDocument.SOPName;
                                            }
                                        }
                                    </td>
                                    <td class="background-color">
                                        *Code :
                                    </td>
                                    <td>
                                        @{
                                            if (m.Request.Status == "Pending PEx Team" && m.Access == "Write")
                                            {
                                                @Html.TextBoxFor(r => r.CompanyDocument.Code, new { id = "inptCode", name = "code", @class = "form-control" })
                                            }
                                            else
                                            {
                                                @m.CompanyDocument.Code;
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        *SOP Version :
                                    </td>
                                    <td style="width: 23em;">
                                        @{
                                            if (m.Request.Status == "Pending PEx Team" && m.Access == "Write")
                                            {
                                                @Html.TextBoxFor(r => r.CompanyDocument.SOPVersion, new { id = "inptSOPVersion", name = "sopversion", @class = "form-control" })
                                            }
                                            else
                                            {
                                                @m.CompanyDocument.SOPVersion
                                            }
                                        }
                                    </td>
                                    <td class="background-color">
                                        *SOP Owner (By User) :
                                    </td>
                                    <td>
                                        @{
                                            if (m.Request.Status == "Pending PEx Team" && m.Access == "Write")
                                            {
                                                <select id="inptUserOwner" class="form-control">
                                                    @{
                                                        foreach (var u in m.Users)
                                                        {
                                                            <option value="@u.UserId">@u.Name</option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                @m.CompanyDocument.UserOwner
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        *SOP Validity:
                                    </td>
                                    <td>
                                        @{
                                            if (m.Request.Status == "Pending PEx Team" && m.Access == "Write")
                                            {
                                                @Html.TextBoxFor(r => r.CompanyDocument.Validity, new { id = "inptValidity", name = "validity", @class = "form-control" })
                                            }
                                            else
                                            {
                                                @m.CompanyDocument.Validity;
                                            }
                                        }
                                    </td>
                                    <td class="background-color">
                                        *SOP Owner (By Department) :
                                    </td>
                                    <td>
                                        @{
                                            if (m.Request.Status == "Pending PEx Team" && m.Access == "Write")
                                            {
                                                <select class="form-control" id="inptDepartmentOwner">
                                                    @{
                                                        foreach (var d in m.Departments)
                                                        {
                                                            if (m.CompanyDocument != null)
                                                            {
                                                                if (m.CompanyDocument.DepartmentOwnerId == d.DepartmentId)
                                                                {
                                                                    <option value="@d.DepartmentId" selected>@d.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@d.DepartmentId">@d.Name</option>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <option value="@d.DepartmentId"> @d.Name </option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                @m.CompanyDocument.DepartmentOwner;
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        *Document :
                                    </td>
                                    <td colspan="4">
                                        <div id="pexFileUpload" class="margin-bottom-5">
                                            @{
                                                if (m.Request.Attachments != null)
                                                {
                                                    if (m.Request.Status == "Pending PEx Team" && m.Access == "Write" && m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "A542CF4A-3986-4548-8AD0-8CA67291DC3B").Count < 1)
                                                    {
                                                        <input id="fileSelectPex" type="file" class="form-control" style="width: 92%;display: inline-block;" />
                                                        <button class="btn btn-xs btn-info" onclick="uploadDoc('pex')">Upload</button>
                                                    }
                                                }
                                            }
                                        </div>
                                        <table class="table table-bordered sub-table" id="inptPexfile">
                                            <thead>
                                                <tr>
                                                    <th style="width: 23.5%">
                                                        Uploaded Date
                                                    </th>
                                                    <th style="width: 36.2%">
                                                        File Name
                                                    </th>
                                                    <th>
                                                        Ext
                                                    </th>
                                                    <th>
                                                        Size
                                                    </th>
                                                    @{
                                                        if (m.Request.Status == "Pending PEx Team")
                                                        {
                                                            <th style="width: 7%; text-align:center;">
                                                                Action
                                                            </th>
                                                        }
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (m.Request.Attachments != null && m.Request.Attachments.Count > 0)
                                                    {
                                                        var atts = m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "A542CF4A-3986-4548-8AD0-8CA67291DC3B");
                                                        foreach (var att in atts)
                                                        {
                                                            <tr>
                                                                <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                @{
                                                                    if (m.Request.Status == "Pending PEx Team")
                                                                    {
                                                                        <td>@att.Name</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td><a href="@att.Path@att.Name" target="_blank">@att.Name</a></td>
                                                                    }
                                                                }

                                                                <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                                                <td>@att.Size</td>
                                                                @{
                                                                    if (m.Request.Status == "Pending PEx Team" && m.Access == "Write")
                                                                    {
                                                                        <td data-value="@att.AttachmentId"><a class="delete" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                                                    }
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
                @{
                    if (m.Request.Status != "New" && m.Request.Status != "Draft")
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color">Comment/Remark</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        <table class="table table-bordered sub-table" id="tableCommentRemark">
                                            <thead>
                                                <tr>
                                                    <th style="width: 18.5%">Date Time</th>
                                                    <th style="width: 20.2%">User Name</th>
                                                    <th>Comment/Remark</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (m.Request.CommentRemarks != null)
                                                    {
                                                        foreach (var cr in m.Request.CommentRemarks)
                                                        {
                                                            <tr>
                                                                <td>@Convert.ToDateTime(cr.ActionDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                <td>@cr.UserName</td>
                                                                <td>@cr.Comment</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        @{
                                            if (m.Request.Status == "Pending Requester" && m.Access == "Write")
                                            {
                                                <textarea id="inptComment" rows="3" class="form-control"></textarea>
                                            }
                                            else if (m.Request.Status != "New" && m.Request.Status != "Draft" && !m.Request.Status.ToLower().Contains("close") && m.Access == "Write")
                                            {
                                                <textarea id="inptComment" rows="3" class="form-control"></textarea>

                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
                <!-- Action Button -->
                <div class="right-text margin-bottom-5">
                    @{
                        if (m.Request != null)
                        {
                            if (m.Request.Status != "Closed" && m.Request.Status != "Rejected")
                            {
                                foreach (var a in m.RoleActions)
                                {
                                    switch (a.ActionKeyword)
                                    {
                                        case "SUBMIT":
                                            <button onclick="Submit('@a.ActionID')" type="button" class="btn btn-xs btn-success">@a.ActionName</button>
                                            break;
                                        case "DRAFT":
                                            if (m.Request.Status == "New" || m.Request.Status == "Draft")
                                            {
                                                <button onclick="SaveDraft('@a.ActionID')" type="button" class="btn btn-xs btn-info">@a.ActionName</button>
                                            }
                                            break;
                                        case "CANCEL":
                                            break;
                                        case "APPROVE":
                                            <button onclick="Approve('@a.ActionID')" type="button" class="btn btn-xs btn-success">@a.ActionName</button>
                                            break;
                                        case "REQUEST_MORE":
                                            <button onclick="RequestMore('@a.ActionID')" type="button" class="btn btn-xs btn-warning">@a.ActionName</button>
                                            break;
                                        case "REJECT":
                                            <button onclick="Reject('@a.ActionID')" type="button" class="btn btn-xs btn-danger">@a.ActionName</button>
                                            break;
                                    }
                                }
                            }
                        }
                        if (m.Print)
                        {
                            <a href="@Url.Action("PrintPreview", "Document", new { id = m.Request.RequestId, area = "ProcessVault" })" class="btn btn-xs btn-primary">Print Preview</a>
                        }
                        if (m.Request.Status == "New")
                        {
                            <a href="@Url.Action("Index", "Home", new { area = "ProcessVault" })" class="btn btn-xs btn-default">Close</a>
                        }
                        else
                        {
                            <a href="@Url.Action("LoadMyTask", "Home", new { area = "ProcessVault" })" class="btn btn-xs btn-default">Close</a>
                        }
                    }
                </div>
                @{
                    if (m.Request.Status != "New" && m.Request.Status != "Draft")
                    {
                        <!---Audit Trail-->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color">Audit Trail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="table sub-table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width:18.5%;">
                                                        Date Time
                                                    </th>
                                                    <th style="width:20.2%;">
                                                        User
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                    <th style="width:49%;">
                                                        Comment
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (m.Request.Histories != null && m.Request.Histories.Count > 0)
                                                    {
                                                        foreach (var h in m.Request.Histories)
                                                        {
                                                            <tr>
                                                                <td>@Convert.ToDateTime(h.ActionDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                <td>@h.UserName</td>
                                                                <td>@h.Action</td>
                                                                <td>@h.Description</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>

