﻿@{
    ViewBag.Title = "Admin Page";
}
<div class="bs-docs-section clearfix">
    <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3">
                <div class="list-group table-of-contents">
                    <a class="list-group-item" href="#navbar"><span class="glyphicon glyphicon-alert"></span>&nbsp;Transaction Alert</a>
                    <a class="list-group-item" href="#buttons"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;Navigation Menu</a>
                    <a class="list-group-item" href="#typography"><span class="glyphicon glyphicon-repeat"></span>&nbsp;Recent Visits</a>
                    <a class="list-group-item" href="#tables"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;Clipboard</a>
                    <a class="list-group-item" href="#forms"><span class="glyphicon glyphicon-file"></span>&nbsp;Minimized Forms</a>
                    <a class="list-group-item" href="#navs"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Event Calendar</a>
                </div>
            </div>
            <div class="col-lg-10 col-md-3 col-sm-8">
                <div class="bs-component">
                    <ul class="nav nav-tabs">
                        <li class="nav-item nav-link active"><a href="#navigation" data-toggle="tab" aria-expanded="true">Navigation</a></li>
                        <li class="nav-item nav-link"><a href="#quickinfo" data-toggle="tab" aria-expanded="false">Quick info</a></li>
                        <li class="nav-item nav-link"><a href="#onhead" data-toggle="tab">On Head</a></li>
                        <li class="nav-item nav-link"><a href="#openpo" data-toggle="tab">Open PO</a></li>
                        <li class="nav-item nav-link"><a href="#salfunnel" data-toggle="tab">Sales Funnel</a></li>
                        <li class="nav-item nav-link"><a href="#wip" data-toggle="tab">WIP Value</a></li>
                        <li class="nav-item nav-link"><a href="#suppliability" data-toggle="tab">Supplier Liability</a></li>
                        <li class="nav-item nav-link"><a href="#cusbalance" data-toggle="tab">Customer Balance</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="navigation">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-md-12">
                                        <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-briefcase"></span> <br />Projects</a>
                                        <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-usd"></span> <br />Sale & Distribution</a>
                                        <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br />Purchasing</a>
                                        <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br />Bills of Material</a>
                                        <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br />Cost Management</a>
                                        <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-home"></span> <br />Inventory</a>
                                        <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br />Finance</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="quickinfo">
                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
                        </div>
                        <div class="tab-pane fade" id="onhead">
                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
                        </div>
                        <div class="tab-pane fade" id="openpo">
                            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                        </div>
                        <div class="tab-pane fade" id="salfunnel">
                            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                        </div>
                        <div class="tab-pane fade" id="wip">
                            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                        </div>
                        <div class="tab-pane fade" id="suppliability">
                            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                        </div>
                        <div class="tab-pane fade" id="cusbalance">
                            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                        </div>
                    </div>
                    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
                </div>
                </div>
                <!-- jQuery and Bootstrap's JavaScript-->
               
            </div>
</div>