﻿@using Dym360.Models
@model IndexViewModel
@{
    ViewBag.Title = "Main Page";
    var Accesses = Model.CurrentDepartmentAccesses;
}
<style>
    .panel-body {
        margin-top: 0px !important;
    }
    body {
        overflow: hidden;
    }
</style>
<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 leftList">
            <div class="list-group table-of-contents">
                @*<div style="font-size:29px; color:white; padding-left:15px">
                    <label style="margin:0">CREDIT</label>
                    <label style="margin:0">BUREAU</label>
                    <label style="color:#23bef0; margin:0">MALAYSIA</label>
                </div>*@
                <a href="@Url.Action("Index", "Home", new { area = "" })">
                    <img src="~/Images/cbm_logo_white.png" draggable="false" class="CBMLOGO" onContextMenu="return false;"/>
                </a>
                <a class="list-group-item" href="#navbar"><b><span class="glyphicon glyphicon-alert" style="color:white"></span>&nbsp;&nbsp;&nbsp;Transaction Alert</b></a>
                <a class="list-group-item" href="#buttons"><b><span class="glyphicon glyphicon-briefcase" style="color:white"></span>&nbsp;&nbsp;&nbsp;Navigation Menu</b></a>
                <a class="list-group-item" href="#typography"><b><span class="glyphicon glyphicon-repeat" style="color:white"></span>&nbsp;&nbsp;&nbsp;Recent Visits</b></a>
                <a class="list-group-item" href="#tables"><b><span class="glyphicon glyphicon-duplicate" style="color:white"></span>&nbsp;&nbsp;&nbsp;Clipboard</b></a>
                <a class="list-group-item" href="#forms"><b><span class="glyphicon glyphicon-file" style="color:white"></span>&nbsp;&nbsp;&nbsp;Minimized Forms</b></a>
                <a class="list-group-item" href="#navs"><b><span class="glyphicon glyphicon-calendar" style="color:white"></span>&nbsp;&nbsp;&nbsp;Event Calendar</b></a>
            </div>
        </div>
        <div class="col-lg-10 col-md-3 col-sm-8">
            <div class="bs-component">
                <ul class="nav nav-tabs">
                    <li class="nav-item nav-link active"><a href="#navigation" data-toggle="tab" aria-expanded="true">Navigation</a></li>
                    <li class="nav-item nav-link"><a href="#quickinfo" data-toggle="tab" aria-expanded="false">Quick info</a></li>
                    <li class="nav-item nav-link"><a href="#onhead" data-toggle="tab">On Head</a></li>
                    <li class="nav-item nav-link"><a href="#openpo" data-toggle="tab">Open PO</a></li>
                    <li class="nav-item nav-link"><a href="#salfunnel" data-toggle="tab">Sales Funnel</a></li>
                    <li class="nav-item nav-link"><a href="#wip" data-toggle="tab">WIP Value</a></li>
                    <li class="nav-item nav-link"><a href="#suppliability" data-toggle="tab">Supplier Liability</a></li>
                    <li class="nav-item nav-link"><a href="#cusbalance" data-toggle="tab">Customer Balance</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="navigation">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 col-md-12">
                                    @{
                                        @*var PRJM = Accesses.Find(x => x.Keyword == "PRJM");
                                        if (PRJM != null && PRJM.Read)
                                        {
                                            <a href="@Url.Action("Index", "Home", new { area = "ProjectManagement" })" class="btn btn-danger btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-briefcase"></span> <br />Project Management</a>
                                        }

                                        var PRJSM = Accesses.Find(x => x.Keyword == "PRJSM");
                                        if (PRJSM != null && PRJSM.Read)
                                        {
                                            <a href="@Url.Action("Index", "Home", new { area = "ProjectSalesManagement" })" class="btn btn-warning btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-usd"></span> <br />Project Sales Proposal</a>
                                        }

                                        var PUCM = Accesses.Find(x => x.Keyword == "PUCM");
                                        if (PUCM != null && PUCM.Read)
                                        {
                                            <a href="@Url.Action("Index", "Home", new { area = "PurchaseManagement" })" class="btn btn-success btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-list"></span> <br />Purchasing</a>
                                        }

                                        var SUPM = Accesses.Find(x => x.Keyword == "SUPM");
                                        if (SUPM != null && SUPM.Read)
                                        {
                                            <a href="@Url.Action("Index", "Home", new { area = "SupplierManagement" })" class="btn btn-red btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-user"></span> <br />Supplier Management</a>
                                        }

                                        var LOGM = Accesses.Find(x => x.Keyword == "LOGM");
                                        if (LOGM != null && LOGM.Read)
                                        {
                                            <a href="@Url.Action("Index", "Home", new { area = "LogisticManagement" })" class="btn btn-primary btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-th-list"></span> <br />Logistic</a>
                                        }

                                        var CCM = Accesses.Find(x => x.Keyword == "CCM");
                                        if (CCM != null && CCM.Read)
                                        {
                                            <a href="@Url.Action("Index", "Home", new { area = "CostContractManagement" })" class="btn btn-blue btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-comment"></span> <br />Contract Management</a>
                                        }

                                        var CRM = Accesses.Find(x => x.Keyword == "CRM");
                                        if (CRM != null && CRM.Read)
                                        {
                                            <a href="@Url.Action("Index", "Home", new { area = "CustomerRelationshipManagement" })" class="btn btn-primary btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-user"></span> <br />Customer Relationship<br /> Management</a>
                                        }

                                        var INVM = Accesses.Find(x => x.Keyword == "INVM");
                                        if (INVM != null && INVM.Read)
                                        {
                                            <a href="@Url.Action("Index", "Home", new { area = "InventoryManagement" })" class="btn btn-purple btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-th-list"></span> <br />Inventory Management</a>
                                        }

                                        var SCHM = Accesses.Find(x => x.Keyword == "SCHM");
                                        if (SCHM != null && SCHM.Read)
                                        {
                                            <a href="@Url.Action("Index", "Home", new { area = "SchedulerManagement" })" class="btn btn-info btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-calendar"></span> <br />Scheduler</a>
                                        }

                                        var PRDM = Accesses.Find(x => x.Keyword == "PRDM");
                                        if (PRDM != null && PRDM.Read)
                                        {
                                            <a href="@Url.Action("Index", "Home", new { area = "ProductionManagement" })" class="btn btn-production btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-retweet"></span> <br />Production</a>
                                        }


                                        var PRVM = Accesses.Find(x => x.Keyword == "PRVM");
                                        if (PRVM != null && PRVM.Read)
                                        {

                                            <a href="@Url.Action("Index", "Home", new { area = "ProcessVault" })" class="btn btn-green btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-folder-open"></span> <br />Document Portal</a>

                                        }


                                        var PSRM = Accesses.Find(x => x.Keyword == "PSRM");
                                        if (PSRM != null && PSRM.Read)
                                        {
                                            <a href="@Url.Action("Index", "Home", new { area = "ProductSpecificationRequest" })" class="btn btn-blue-gray btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-list-alt"></span> <br />Product Specification<br />Request</a>
                                        }*@
                                        var USRM = Accesses.Find(x => x.Keyword == "USRM");
                                        if (USRM != null && USRM.IsRead)
                                        {
                                            <a href="@Url.Action("Index", "UserManagement")" class="btn btn-danger btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-lock"></span> <br />User Management</a>
                                        }

                                        var CREM = Accesses.Find(x => x.Keyword == "CREM");
                                        if (CREM != null && CREM.IsRead)
                                        {
                                            <a href="@Url.Action("Index", "Home", new { area = "CreditManagement" })" class="btn btn-blue btn-lg btn-module" style="background-color:#4400ca;" role="button"><span class="glyphicon-lg glyphicon glyphicon-list-alt"></span> <br />Top Up Management</a>
                                        }

                                        var SUBM = Accesses.Find(x => x.Keyword == "SUBM");
                                        if (SUBM != null && SUBM.IsRead)
                                        {
                                            <a href="@Url.Action("Index", "Home", new { area = "SubscriptionManagement" })" class="btn btn-success btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-list"></span> <br />Subscription<br />Management</a>
                                        }

                                        @*var CLAM = Accesses.Find(x => x.Keyword == "CLAM");
                                        if (CLAM != null && CLAM.Read)
                                        {*@
                                            <a href="@Url.Action("Index", "Home", new { area = "CBMClaimManagement" })" class="btn btn-warning btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-usd"></span> <br />Claim Management</a>
                                        @*}*@

                                        var CFG = Accesses.Find(x => x.Keyword == "CFG");
                                        if (CFG != null && CFG.IsRead)
                                        {
                                            <a href="@Url.Action("Index", "Configuration")" class="btn btn-default btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-cog"></span> <br />Configuration</a>
                                        }
                                    }
                                    @*<a href="@Url.Action("Index", "ProjectSales", new { area = "ApprovalManagement" })" class="btn btn-info btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-list-alt"></span> <br />Approval Management</a>*@
                                    @*<a href="@Url.Action("Index", "UserAccess", new { area = "ApprovalManagement" })" class="btn btn-orange btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-user"></span> <br />User Management</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 col-md-12">
                                    <a href="@Url.Action("Index", "Home", new { area = "ProjectManagement" })" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-briefcase"></span> <br />Project</a>
                                    <a href="@Url.Action("Index", "Home", new { area = "ProjectSalesManagement" })" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-usd"></span> <br />Project Sales</a>
                                    <a href="@Url.Action("Index", "Home", new { area = "PurchaseManagement" })" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-list"></span> <br />Purchasing</a>
                                    <a href="@Url.Action("Index", "Home", new { area = "ApprovalMatrix" })" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br />Approval</a>
                                    <a href="@Url.Action("Index", "Home", new { area = "SupplierManagement" })" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br />Supplier</a>
                                    <a href="@Url.Action("Index", "Home", new { area = "LogisticManagement" })" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-th-list"></span> <br />Logistic</a>
                                    <a href="@Url.Action("Index", "Home", new { area = "ContractManagement" })" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br />Contract</a>
                                    <a href="@Url.Action("Index", "Home", new { area = "InventoryManagement" })" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-th-list"></span> <br />Inventory</a>
                                    <a href="@Url.Action("Index", "Home", new { area = "SchedulerManagement" })" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-calendar"></span> <br />Scheduler</a>
                                    <a href="@Url.Action("Index", "Home", new { area = "ProductionManagement" })" class="btn btn-production btn-lg" role="button"><span class="glyphicon glyphicon-retweet"></span> <br />Production</a>
                                </div>
                            </div>
                        </div>*@
                    <div class="tab-pane fade" id="quickinfo">
                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
                    </div>
                    <div class="tab-pane fade" id="onhead">
                        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
                    </div>
                    <div class="tab-pane fade" id="openpo">
                        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                    </div>
                    <div class="tab-pane fade" id="salfunnel">
                        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                    </div>
                    <div class="tab-pane fade" id="wip">
                        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                    </div>
                    <div class="tab-pane fade" id="suppliability">
                        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                    </div>
                    <div class="tab-pane fade" id="cusbalance">
                        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                    </div>
                </div>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
            </div>
        </div>
        <!-- jQuery and Bootstrap's JavaScript-->

    </div>
</div>