﻿
@{
    ViewBag.Title = "Setting";
}


<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3">
            <div class="list-group table-of-contents">
                <a class="list-group-item" href="#navbar"><span class="glyphicon glyphicon-alert"></span>&nbsp;Transaction Alert</a>
                <a class="list-group-item" href="#buttons"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;Navigation Menu</a>
                <a class="list-group-item" href="#typography"><span class="glyphicon glyphicon-repeat"></span>&nbsp;Recent Visits</a>
                <a class="list-group-item" href="#tables"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;Clipboard</a>
                <a class="list-group-item" href="#forms"><span class="glyphicon glyphicon-file"></span>&nbsp;Minimized Forms</a>
                <a class="list-group-item" href="#navs"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Event Calendar</a>
            </div>
        </div>
        <div class="col-lg-10 col-md-3 col-sm-8">
            <div class="bs-component">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-12">
                            @{
                                var acc = m.Accesses.Find(x => x.Keyword == "ACC");
                                var emp = m.Accesses.Find(x => x.Keyword == "EMP");
                                var tm = m.Accesses.Find(x => x.Keyword == "TM");
                                var prj = m.Accesses.Find(x => x.Keyword == "PRJ");
                                var cl = m.Accesses.Find(x => x.Keyword == "CL");
                                var con = m.Accesses.Find(x => x.Keyword == "CON");

                                if (acc != null && acc.IsRead)
                                {
                                    <a href="@Url.Action("Index", "Account", new { area = "KumFattWeb", accessId = acc.AccessId })" class="btn btn-danger btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-lock"></span> <br />Account Management</a>
                                }
                                if (emp != null && emp.IsRead)
                                {
                                    <a href="@Url.Action("Index", "Employee", new { area = "KumFattWeb", accessId = emp.AccessId })" class="btn btn-info btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-user"></span> <br />Employee Management</a>
                                }
                                if (tm != null && tm.IsRead)
                                {
                                    <a href="@Url.Action("Index", "Team", new { area = "KumFattWeb", accessId = tm.AccessId })" class="btn btn-warning btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-equalizer"></span> <br />Team Management</a>
                                }
                                if (prj != null && prj.IsRead)
                                {
                                    <a href="@Url.Action("Index", "ProjectSite", new { area = "KumFattWeb", accessId = prj.AccessId })" class="btn btn-success btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-list"></span> <br />Project Management</a>
                                }
                                if (cl != null && cl.IsRead)
                                {
                                    <a href="@Url.Action("Index", "Client", new { area = "KumFattWeb", accessId = cl.AccessId })" class="btn btn-primary btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-cog"></span> <br />Configuration</a>
                                }
                                if (con != null && con.IsRead)
                                {
                                    <a href="@Url.Action("Index", "Contractor", new { area = "KumFattWeb", accessId = con.AccessId })" class="btn btn-primary btn-lg btn-module" role="button"><span class="glyphicon-lg glyphicon glyphicon-cog"></span> <br />Contractor</a>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery and Bootstrap's JavaScript-->

    </div>
</div>
