﻿@using Dym360.Models
@model EmailTemplateViewModel

@{
    ViewBag.Title = "Email Template";
    var EmailTemplates = Model.EmailTemplates;
    var CDA = Model.CurrentUserDepartmentAccess;
}
<style>
    #right-panel {
        overflow: auto;
    }
</style>
<script>
    $(function () {
        $('.btn-sidenav.activeSideNav').removeClass('activeSideNav');
        $('#Email').addClass('activeSideNav');
    });
</script>

@{
    var caccess = CDA.Find(x => x.Keyword == "CFG");
    if (caccess != null && caccess.IsRead)
    {
        <h4>
            Email Template List

        </h4>
        <table id="tableAll" class="table table-hover table-bordered" style="font-size:11px">
            <thead>
                <tr class="Gridview CBMBG fontWhite">
                    <th width="2.5%">No.</th>
                    <th width="21.15%">Module</th>
                    <th width="21.15%">Name</th>
                    <th width="6%" style="text-align:center">Status</th>
                    <th width="11%">Created By</th>
                    <th width="11%">Created Date</th>
                    <th width="11%">Updated By</th>
                    <th width="11%">Updated Date</th>
                    <th width="5.2%" style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var c = 1;
                    if (EmailTemplates != null)
                    {
                        foreach (var e in EmailTemplates)
                        {
                            <tr class="GridviewScrollItem">
                                <td>@c</td>
                                <td>
                                    @if (caccess.IsUpdate)
                                    {
                                        <a href="~/Configuration/EditEmailTemplate?emailTemplateId=@e.EmailTemplateId">@e.Module</a>
                                    }
                                    else
                                    {
                                        <a href="~/Configuration/PreviewEmailTemplate?emailTemplateId=@e.EmailTemplateId">@e.Module</a>
                                    }
                                </td>
                                <td>
                                    @e.Name
                                </td>
                                <td style="text-align:center">
                                    @if (e.Active)
                                    {
                                        <span style="color:green">Active</span>
                                    }
                                    else
                                    {
                                        <span style="color:red">Inactive</span>
                                    }
                                </td>
                                <td>
                                    @e.CreatedBy
                                </td>
                                <td>@Convert.ToDateTime(e.CreatedAt).ToString("dd MMM yyyy HH:mm:ss")</td>
                                <td>
                                    @e.UpdatedBy
                                </td>
                                <td>
                                    @if (e.UpdatedAt.HasValue)
                                    {
                                        @Convert.ToDateTime(e.UpdatedAt).ToString("dd MMM yyyy HH:mm:ss")
                                    }
                                </td>
                                <td class="center-text">
                                    @if (caccess.IsUpdate)
                                    {
                                        <a href="~/Configuration/EditEmailTemplate?emailTemplateId=@e.EmailTemplateId" class="edit" data-value="@e.EmailTemplateId" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    }
                                    else
                                    {
                                        <a href="~/Configuration/PreviewEmailTemplate?emailTemplateId=@e.EmailTemplateId" class="edit" data-value="@e.EmailTemplateId" title="Preview" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    }
                                    @*@if (caccess.IsDelete)
                                    {
                                        <a onclick="deleteDepartment(this);" class="delete" data-value="@d.DepartmentId" title="Delete" data-toggle="tooltip" style="padding-left:5px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    }*@
                                </td>
                            </tr>
                            c++;
                        }
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}