﻿@using Dym360.Models
@model IllegalMoneyServicesViewModel

@{
    ViewBag.Title = "Illegal Money Services";
    var IMS = Model.IllegalServices;
    var CDA = Model.CurrentUserDepartmentAccess;
}
<style>
    .form-control {
        height: 30px;
        padding: 3px 3px;
        border-radius: 0px;
        font-size: 12px;
    }

    #right-panel {
        overflow: auto;
    }

    .datepicker table tr td, .datepicker table tr th {
        text-align: center;
        width: 30px;
        height: 26px;
        border-radius: 4px;
        font-size: 11px;
        border: none;
    }

    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
        background: 0 0;
        color: #cecece;
        cursor: default;
    }
</style>
<script src="~/Scripts/illegalServices.js"></script>
<script>
    $(function () {
        $('.btn-sidenav.activeSideNav').removeClass('activeSideNav');
        $('#IllegalMoneyServices').addClass('activeSideNav');


        $('.datepickerRestrictFuture').datepicker({
            format: 'dd M yyyy',
            endDate: '0'
        })
        $('body').on('focus', ".datepickerRestrictFutureUpdate", function () {
            $(this).datepicker({
                format: 'dd M yyyy',
                endDate: '0'
            });
        });
    });
</script>
@{
    var caccess = CDA.Find(x => x.Keyword == "CFG");
    if (caccess != null && caccess.IsRead)
    {
        <h4>
            Illegal Services List

        </h4>
        <table id="tableAll" class="table table-hover table-bordered" style="font-size:11px">
            <thead>
                <tr class="Gridview CBMBG fontWhite">
                    <th width="2.5%">No.</th>
                    <th width="25.15%">
                        Name
                        @if (caccess.IsCreate || caccess.IsUpdate)
                        {
                            <span style="color:red">*</span>
                        }
                    </th>
                    <th width="58.65%" @*style="text-align:center"*@>
                        Address
                        @if (caccess.IsCreate || caccess.IsUpdate)
                        {
                            <span style="color:red">*</span>
                        }
                    </th>
                    <th width="8.5%" style="text-align:center">
                        Date of <br />Warning @*To Alert List*@
                        @if (caccess.IsCreate || caccess.IsUpdate)
                        {
                            <span style="color:red">*</span>
                        }
                    </th>
                    <th width="5.2%" style="text-align:center">Action</th>
                </tr>
            </thead>
            @if (caccess.IsCreate)
            {
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <input id="CreateName" class="form-control" />
                        </td>
                        <td>
                            <input id="CreateAddress" class="form-control"/>
                        </td>
                        <td style="text-align:center">
                            <input id="CreateDateOfWarning" class="form-control datepickerRestrictFuture" style="text-align:center" />
                        </td>
                        <td style="text-align:center">
                            <button onclick="CreateIllegalServices()" class="btn btn-xs btn-info">Add</button>
                        </td>
                    </tr>
                </tbody>
            }
            <tfoot>
                @{
                    var c = 1;
                    if (IMS != null)
                    {
                        foreach (var i in IMS)
                        {
                            <tr class="GridviewScrollItem">
                                <td>@c</td>
                                <td>
                                    @i.Name
                                </td>
                                <td>
                                    @i.Address
                                </td>
                                <td style="text-align:center">
                                    @Convert.ToDateTime(i.DateOfWarningLetterSent).ToString("dd MMM yyyy")
                                </td>
                                <td class="center-text">
                                    @if (caccess.IsUpdate)
                                    {
                                        <a onclick="editIllegalServices(this)" class="edit" data-value="@i.IllegalServicesId" data-name="@i.Name" data-address="@i.Address" data-date="@Convert.ToDateTime(i.DateOfWarningLetterSent).ToString("dd MMM yyyy")" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    }
                                    @if (caccess.IsDelete)
                                    {
                                        <a onclick="deleteIllegalServices(this);" class="delete" data-value="@i.IllegalServicesId" title="Delete" data-toggle="tooltip" style="padding-left:5px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    }
                                </td>
                            </tr>
                            c++;
                        }
                    }
                }
            </tfoot>
        </table>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}