﻿@using ObjectClasses.Configuration
@model List<Position>

<script>
    $(function () {
        $('.btn-sidenav.active').removeClass('active');
        $('#positions').addClass('active');
    });
</script>

<h4>Position List</h4>
<table id="tableAll" class="table table-hover table-bordered">
    <thead>
        <tr class="Gridview">
            <th>No.</th>
            <th>Grad</th>
            <th>Title</th>
            <th>Abbreviation</th>
            <th>Created Date</th>
            <th>Created By</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            var c = 1;
            if (Model != null)
            {
                foreach (var m in Model)
                {
                    <tr class="GridviewScrollItem">
                        <td>@(c++)</td>
                        <td>@m.Grad</td>
                        <td>@m.Title</td>
                        <td>@m.Abbreviation</td>
                        <td>@Convert.ToDateTime(m.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                        <td>@m.CreatedBy</td>
                        <td>
                            <a class="edit" data-value="@m.Id" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <a class="delete" data-value="@m.Id" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" class="center-text">
                <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#myModal">Add Position</button>
            </td>
        </tr>
    </tfoot>
</table>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Position</h4>
            </div>
            <div class="modal-body">
                <div class="modal-form">
                    <fieldset class="bordered-groove">
                        <div class="col-lg-12">
                            <div>
                                <label class="control-label">Grad:</label>
                                <input id="inptGrad" class="form-control" />
                            </div>
                            <div>
                                <label class="control-label">Title:</label>
                                <input id="inptTitle" class="form-control" />
                            </div>
                            <div>
                                <label class="control-label">Abbreviation:</label>
                                <input id="inptAbbreviation" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-xs btn-danger" data-dismiss="modal">Cancel</button>
                <button id="save" type="button" class="btn btn-xs btn-success" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
