﻿@using Dym360.Models
@model UnauthorisedEntitiesViewModel

@{
    ViewBag.Title = "Unauthorised Entities";
    var UE = Model.UnauthorisedEntities;
    var CDA = Model.CurrentUserDepartmentAccess;
}
<script src="~/Scripts/unauthorisedEntities.js"></script>
<script>
    $(function () {
        $('.btn-sidenav.activeSideNav').removeClass('activeSideNav');
        $('#UnauthorisedEntities').addClass('activeSideNav');


        $('.datepickerRestrictFuture').datepicker({
            format: 'dd M yyyy',
            endDate: '0'
        })
        $('body').on('focus', ".datepickerRestrictFutureUpdate", function () {
            $(this).datepicker({
                format: 'dd M yyyy',
                endDate: '0'
            });
        });
    });
</script>

<style>
    .form-control {
        height: 30px;
        padding: 3px 3px;
        border-radius: 0px;
        font-size: 12px;
    }

    #right-panel {
        overflow: auto;
    }

    .datepicker table tr td, .datepicker table tr th {
        text-align: center;
        width: 30px;
        height: 26px;
        border-radius: 4px;
        font-size: 11px;
        border: none;
    }

    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
        background: 0 0;
        color: #cecece;
        cursor: default;
    }
</style>
@{
    var caccess = CDA.Find(x => x.Keyword == "CFG");
    if (caccess != null && caccess.IsRead)
    {
        <h4>
            Unauthorised Entities List

        </h4>
        <table id="tableAll" class="table table-hover table-bordered" style="font-size:11px">
            <thead>
                <tr class="Gridview CBMBG fontWhite">
                    <th width="2.5%">No.</th>
                    <th width="25.15%">
                        Name
                        @if (caccess.IsCreate || caccess.IsUpdate)
                        {
                            <span style="color:red">*</span>
                        }
                    </th>
                    <th width="58.65%" @*style="text-align:center"*@>Website</th>
                    <th width="8.5%" style="text-align:center">
                        Date Added @*To Alert List*@
                        @if (caccess.IsCreate || caccess.IsUpdate)
                        {
                            <span style="color:red">*</span>
                        }
                    </th>
                    <th width="5.2%" style="text-align:center">Action</th>
                </tr>
            </thead>
            @if (caccess.IsCreate)
            {
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <input id="CreateName" class="form-control" />
                        </td>
                        <td>
                            <textarea id="CreateWebsite" rows="2" style="resize:vertical" class="form-control"></textarea>
                        </td>
                        <td style="text-align:center">
                            <input id="CreateDateAdded" class="form-control datepickerRestrictFuture" style="text-align:center" />
                        </td>
                        <td style="text-align:center">
                            <button onclick="CreateUnauthorisedEntities()" class="btn btn-xs btn-info">Add</button>
                        </td>
                    </tr>
                </tbody>
            }
            <tfoot>
                @{
                    var c = 1;
                    if (UE != null)
                    {
                        foreach (var u in UE)
                        {
                            <tr class="GridviewScrollItem">
                                <td>@c</td>
                                <td>
                                    @u.Name
                                </td>
                                <td>
                                    @{
                                        if (u.Website == null)
                                        {
                                            u.Website = "";
                                        }
                                        u.Website = u.Website.Replace('|', '\n');
                                        char[] delimiters = new[] { '|', '\n' };  // List of your delimiters
                                        IList<string> websites = u.Website.Split(delimiters, StringSplitOptions.RemoveEmptyEntries).Reverse().ToList<string>();
                                        foreach (var w in websites)
                                        {
                                            if (!string.IsNullOrEmpty(w))
                                            {
                                                @w<br />
                                            }
                                        }
                                    }
                                </td>
                                <td style="text-align:center">
                                    @Convert.ToDateTime(u.DateAddedToAlertList).ToString("dd MMM yyyy")
                                </td>
                                <td class="center-text">
                                    @if (caccess.IsUpdate)
                                    {
                                        <a onclick="editUnauthorisedEntities(this)" class="edit" data-value="@u.UnauthorisedEntitiesId" data-name="@u.Name" data-website="@u.Website" data-date="@Convert.ToDateTime(u.DateAddedToAlertList).ToString("dd MMM yyyy")" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    }
                                    @if (caccess.IsDelete)
                                    {
                                        <a onclick="deleteUnauthorisedEntities(this);" class="delete" data-value="@u.UnauthorisedEntitiesId" title="Delete" data-toggle="tooltip" style="padding-left:5px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    }
                                </td>
                            </tr>
                            c++;
                        }
                    }
                }
            </tfoot>
        </table>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}