﻿@using Dym360.Models
@model WorkflowConfig
@{
    Layout = "../Shared/_Layout.cshtml";
}
@*<script>
        $(function () {
            $('.btn-sidenav.active').removeClass('active');
            $('#module').addClass('active');
            SetActionsInput();
        });
    </script>*@

<h4>@Model.Module</h4>
<table id="tblProcess" class="table table-bordered sub-table">
    <thead>
        <tr>
            <th>Process</th>
            <th class="action-column">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var p in Model.WorkflowProcesses)
            {
                <tr>
                    <td>@p.Role</td>
                    <td class="text-center"><span class="glyphicon glyphicon-trash delete" data-value="@p.WorkflowProcessId"></span></td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" class="center-text">
                <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#myModal">Add Workflow Process</button>
            </td>
        </tr>
    </tfoot>
</table>
<table id="tableAll" class="table table-hover table-bordered sub-table">
    <thead>
        <tr class="Gridview">
            <th>Role</th>
            <th>Action</th>
            <th>Next Role</th>
            <th>(%)</th>
            <th>Step</th>
            <th class="action-column">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            var c = 1;
            if (Model != null)
            {
                foreach (var m in Model.Workflows)
                {
                    <tr class="GridviewScrollItem">
                        <td>@Model.Roles.Find(x => x.RoleId == m.RoleId).Name</td>
                        <td>@Model.RoleActions.Find(x => x.ActionID == m.ActionId).ActionName</td>
                        <td>@Model.Roles.Find(x => x.RoleId == m.NextRoleId).Name</td>
                        <td>@m.Percentage</td>
                        <td>@m.SequenceNo</td>
                        <td class="text-center">
                            <a class="edit" data-value="@m.WorkflowId" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>&nbsp;&nbsp;
                            <a class="delete" data-value="@m.WorkflowId" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" class="center-text">
                <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#myModal">Add Workflow</button>
            </td>
        </tr>
    </tfoot>
</table>
<table id="tblReference" class="table table-hover table-bordered sub-table">
    <thead>
        <tr class="Gridview">
            <th>Prefix</th>
            <th>Length</th>
            <th>Created Date</th>
            <th>Created By</th>
            <th class="action-column">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.Reference != null)
            {
                <tr class="GridviewScrollItem">
                    <td>@Model.Reference.Prefix</td>
                    <td>@Model.Reference.Length</td>
                    <td>@Model.Reference.CreatedDate.ToString("dd MMM yyyy HH:mm:ss")</td>
                    <td>@Model.Reference.CreatedBy</td>
                    <td class="text-center">
                        <a class="edit" data-value="@Model.Reference.ReferenceId" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" class="center-text">
                <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#modulePrefixModal">Add Module Prefix</button>
            </td>
        </tr>
    </tfoot>
</table>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Workflow</h4>
            </div>
            <div class="modal-body">
                <div class="modal-form">
                    <fieldset class="bordered-groove">

                        <div class="col-lg-2">
                            <label class="control-label">Role:</label>
                            <select id="intpWorkflowProcess" class="form-control">
                                @{
                                    foreach (var p in Model.WorkflowProcesses)
                                    {
                                        <option value="@p.WorkflowProcessId">@p.Role</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label class="control-label">Action:</label>
                            <select id="inptAction" class="form-control">
                                <option value="0" selected disabled>Select Action</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label class="control-label">Next Role:</label>
                            <select id="inptNextRole" class="form-control" ng-bind="">
                                @{
                                    foreach (var r in Model.Roles)
                                    {
                                        <option value="@r.RoleId">@r.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label class="control-label">(%):</label>
                            <input id="inptPercentage" type="text" class="form-control" />
                        </div>
                        <div class="col-lg-2">
                            <label class="control-label">Next Role:</label>
                            <input id="inptSequence" type="text" class="form-control" />
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-xs btn-danger" data-dismiss="modal">Cancel</button>
                <button id="save" onclick="SaveConfig('workflow')" type="button" class="btn btn-xs btn-success" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modulePrefixModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Module Prefix</h4>
            </div>
            <div class="modal-body">
                <div class="modal-form">
                    <fieldset class="bordered-groove">

                        <div class="col-lg-6">
                            <label class="control-label">Prefix:</label>
                            <input id="inptPrefix" type="text" class="form-control" />
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label">Length:</label>
                            <input id="inptLength" type="text" class="form-control" />
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-xs btn-danger" data-dismiss="modal">Cancel</button>
                <button id="save" onclick="SavePrefix('@Model.ModuleId')" type="button" class="btn btn-xs btn-success" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>