﻿@using Dym360.Models
@model EmailTemplateViewModel
@{
    ViewBag.Title = "Edit Email Template";
    var EmailTemplate = Model.EmailTemplate;
    var CUDA = Model.CurrentUserDepartmentAccess;
    var c = "checked";
    var subKey = "<Subject>";
    var reqRefKey = "<Request Number>";
    var uNameKey = "<User Name>";
    var linkKey = "<Link>";
    var italicStartKey = "<i>";
    var italicEndKey = "</i>";
    var nameKey = "/<Name>";
    var passwordKey = "<Password>";
}

<script src="~/Scripts/emailTemplate.js"></script>
<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 12px;
    }

    .form-control {
        height: 30px;
        padding: 3px 3px;
        border-radius: 0px;
        font-size: 12px;
    }

    .h3-page-header {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .Radio {
        display: inline-flex;
        align-items: center;
    }

    .Radio-Input {
        margin: 0 0.5rem 0;
    }

    input[type="radio"], input[type="checkbox"] {
        margin: 1px 0 0;
        margin-top: 1px \9;
        line-height: normal;
    }
</style>

<input type="hidden" hidden value="@EmailTemplate.EmailTemplateId" id="EmailTemplateId" />
<input type="hidden" hidden value="@EmailTemplate.ModuleId" id="ModuleId" />

<div style="margin-top:5%; margin-left:5%; margin-right:5%">
    <div>
        <h3 class="h3-page-header">@ViewBag.Title</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0">
        <div class="bs-component" style="font-size:11px;">
            @{
                var hasAccess = false;
                var caccess = CUDA.Find(x => x.Keyword == "CFG");
                if (caccess != null && caccess.IsRead && caccess.IsUpdate)
                {
                    hasAccess = true;
                }
                if (hasAccess)
                {
                    <table id="tblAccount" class="table table-column-4 table-bordered">
                        <tbody>
                            <tr class="CBMBG fontWhite">
                                <td colspan="6">EMAIL TEMPLATE</td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle" width="16%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Name<span style="color:red">*</span></label>
                                </td>
                                <td width="34%" style="vertical-align:middle" class="blackFont">
                                    <input id="inptName" value="@EmailTemplate.Name" type="text" class="form-control" />
                                </td>
                                <td style="vertical-align:middle" width="10%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Status</label>
                                </td>
                                <td width="15%">
                                    <div style="margin-top:5px;">
                                        <label class="Radio">
                                            <input class="Radio-Input" type="radio" @if (EmailTemplate.Active) { @c } name="status" value="true" />
                                            &nbsp; Active
                                        </label>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="Radio">
                                            <input class="Radio-Input" type="radio" @if (!EmailTemplate.Active) { @c } name="status" value="false" />
                                            &nbsp; Inactive
                                        </label>
                                    </div>
                                </td>
                                <td style="vertical-align:middle" width="10%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Module</label>
                                </td>
                                <td width="15%" style="vertical-align:middle">
                                    @EmailTemplate.Module
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Description</label>
                                </td>
                                <td colspan="5">
                                    <textarea class="form-control" id="inptDescription" rows="3" style="resize:vertical">@EmailTemplate.Description</textarea>
                                </td>
                            </tr>

                            <tr style="color:black">
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Subject</label>
                                </td>
                                <td style="vertical-align:middle" colspan="5">
                                    <input type="text" class="form-control" id="inptSubject" value="@EmailTemplate.Subject" />
                                </td>
                            </tr>
                            <tr style="color:black">
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Body</label>
                                </td>
                                <td colspan="5">
                                    <textarea class="form-control" id="inptBody" rows="13" style="resize:vertical">@EmailTemplate.Body</textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="width:100%;">
                        <div class="bottom-left-panel" style="float:left; width:70%">
                            <label class="invalid-alert" style="display:block;">* is mandatory field.</label>
                            <label class="invalid-alert" style="display:block;">Keyword : @subKey = Request's Subject, @reqRefKey = Request's Reference No, @uNameKey@if (EmailTemplate.EmailTemplateId == "6883873E-8051-4DE4-AD5B-A12342E51247" || EmailTemplate.EmailTemplateId == "B96F4121-1E4A-4A34-81AA-B1768484D314") { @nameKey } = Next Approval/Action's User Name, @linkKey = Request's Link, @italicStartKey = Italic Start, @italicEndKey = ifalic End, @if (EmailTemplate.EmailTemplateId == "6883873E-8051-4DE4-AD5B-A12342E51247") { @passwordKey<span> = Password</span> }</label>
                        </div>
                        <div class="bottom-right-panel" style="float:right">
                            <button id="btnSave" class="btn btn-xs btn-success" data-state="Update">Save</button>
                            <button class="btn btn-xs btn-warning" onclick="clearInput()">Clear</button>
                            <a href="~/Configuration/Index?module=Email" class="btn btn-xs btn-default">Close</a>
                        </div>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>