﻿@using Dym360.Models
@model EmailTemplateViewModel
@{
    ViewBag.Title = "Preview Email Template";
    var EmailTemplate = Model.EmailTemplate;
    var CUDA = Model.CurrentUserDepartmentAccess;
    var c = "checked";
    var subKey = "<Subject>";
    var reqRefKey = "<Request Number>";
    var uNameKey = "<User Name>";
    var linkKey = "<Link>";
    var italicStartKey = "<i>";
    var italicEndKey = "</i>";
}

<div style="margin-top:5%; margin-left:5%; margin-right:5%">
    <div>
        <h3 class="h3-page-header">@ViewBag.Title</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0">
        <div class="bs-component" style="font-size:11px;">
            @{
                var hasAccess = false;
                var caccess = CUDA.Find(x => x.Keyword == "CFG");
                if (caccess != null && caccess.IsRead)
                {
                    hasAccess = true;
                }
                if (hasAccess)
                {
                    <table id="tblAccount" class="table table-column-4 table-bordered">
                        <tbody>
                            <tr class="CBMBG fontWhite">
                                <td colspan="6">EMAIL TEMPLATE</td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle" width="16%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Name</label>
                                </td>
                                <td width="34%" style="vertical-align:middle" class="blackFont">
                                    @EmailTemplate.Name
                                </td>
                                <td style="vertical-align:middle" width="10%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Status</label>
                                </td>
                                <td width="15%">
                                    @if (EmailTemplate.Active)
                                    {
                                        <span style="color:green">Active</span>
                                    }
                                    else
                                    {
                                        <span style="color:red">Inactive</span>
                                    }
                                </td>
                                <td style="vertical-align:middle" width="10%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Module</label>
                                </td>
                                <td width="15%">
                                    @EmailTemplate.Module
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Description</label>
                                </td>
                                <td colspan="5">
                                    @EmailTemplate.Description
                                </td>
                            </tr>

                            <tr style="color:black">
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Subject</label>
                                </td>
                                <td style="vertical-align:middle" colspan="5">
                                    @EmailTemplate.Subject
                                </td>
                            </tr>
                            <tr style="color:black">
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Body</label>
                                </td>
                                <td colspan="5">
                                    <pre>@EmailTemplate.Body</pre>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="width:100%;">
                        <div class="bottom-left-panel" style="float:left; width:70%">
                            <label class="invalid-alert" style="display:block;">Keyword : @subKey = Request's Subject, @reqRefKey = Request's Reference No, @uNameKey = Next Approval/Action's User Name, @linkKey = Request's Link, @italicStartKey = Italic Start, @italicEndKey = Italic End</label>
                        </div>
                        <div class="bottom-right-panel" style="float:right">
                            @if (caccess.IsUpdate)
                            {
                                <a href="@Url.Action("EditEmailTemplate", "Configuration", new { emailTemplateId=EmailTemplate.EmailTemplateId, area = "" })" class="btn btn-xs btn-danger">Edit</a>
                            }
                            <a href="~/Configuration/Index?module=Email" class="btn btn-xs btn-default">Close</a>
                        </div>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>