﻿@using IdentityManagement.Utilities
@using CBMClaimManagement.Models
@model  ClaimRequestViewModel
@{
    ViewBag.Title = "PERSONAL CLAIMS FORM FOR REIMBURSEMENT";

    var m = Model;
    var cu = m.CurrentUser;
    var req = m.Request;
    var ct = m.ClaimTypes;
    req.Subject = "Claim Request";
    Layout = "../Shared/_Layout.cshtml";
}
<style>
    #tblTravelingItinerary > tfoot > tr > td,
    #tblTravelRequirement > tfoot > tr > td {
        padding: 3px;
    }

    #tblTravelingItinerary > tbody > tr > td {
        padding: 8px 5px;
    }

    #tblTravelRequirement > tfoot > tr > td:nth-child(2),
    #tblTravelRequirement > thead > tr > th:nth-child(2) {
        text-align: center;
    }
    /*#tblTravelRequirement,
    #tblTravelingItinerary,
    #tblRemarks {
        margin: 0px;
    }*/

    .table > tbody > tr > td {
        font-size: 12px !important;
    }

    .table {
        margin: 5px 0px;
    }

    .form-control {
        height: 30px;
        padding: 3px 3px;
        border-radius: 0px;
        font-size: 12px;
    }

    .right-text {
        text-align: right;
    }

    .sub-sub-table > thead > tr > th {
        background-color: #f5f5f5;
        margin: 0px !important;
    }

    .CBMBG {
        background: #00bdf2;
        color: white;
    }

    p {
        margin: 0px;
    }

    .decimal {
        text-align: right;
    }

    .datepicker table tr td, .datepicker table tr th {
        text-align: center;
        width: 30px;
        height: 26px;
        border-radius: 4px;
        font-size: 11px;
        border: none;
    }

    .table-column-4 > tbody > tr > td:nth-child(1),
    .table-column-4 > tbody > tr > td:nth-child(3) {
        width: 16%;
        word-break: inherit;
    }

    .table-column-4 > tbody > tr > td:nth-child(2),
    .table-column-4 > tbody > tr > td:nth-child(4) {
        width: 34%;
    }

    input[type=month]::-webkit-inner-spin-button,
    input[type=month]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
        background: 0 0;
        color: #cecece;
        cursor: default;
    }
    /*.ui-datepicker-calendar {
        display: none;
    }

    .ui-datepicker-buttonpane {
        text-align: center;
    }

    .ui-datepicker-month {
        margin-right: 2%;
        width: 34%;
    }

    .ui-datepicker-year {
        margin-left: 2%;
        width: 34%;
    }

    .ui-datepicker-current {
        float: left;
    }

    .ui-datepicker-close {
        float: right;
    }*/
    .invalid-alert {
        font-size: smaller;
        color: red;
        font-style: italic;
    }
</style>
<script src="~/Areas/CBMClaimManagement/Scripts/claimManagement.js"></script>
<script src="~/Areas/CBMClaimManagement/Scripts/site.js"></script>
<script>
    $(function () {
        init();

        //$("#inptPeriod").datepicker({
        //    dateFormat: 'M-yy',
        //    changeMonth: true,
        //    changeYear: true,
        //    showButtonPanel: true,
        //    onClose: function (dateText, inst) {
        //        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
        //        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
        //        $(this).datepicker('setDate', new Date(year, month, 1));
        //    }
        //});
    });
</script>
<input type="hidden" id="requestId" value="@req.RequestId" />
<input type="hidden" id="LastModifiedDate" value="@DateTime.Now" />
<input type="hidden" id="ReferenceNo" value="@req.ReferenceNo" />
<input type="hidden" id="CanSubmit" value="true" />
<base href="@ViewBag.BaseUrl" />
<div class="bs-component">
    <div class="col-lg-offset-1 col-lg-10" style="margin-top: 4.7%;margin-left:7.3%">
        <h3 id="h3">PERSONAL CLAIMS FORM FOR REIMBURSEMENT</h3>
    </div>
    <div class="col-lg-offset-1 col-lg-2">
        <div class="row">
            <table class="table table-bordered" name="EmployeeInfo">
                <thead>
                    <tr>
                        <th colspan="2" class="CBMBG">Staff Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="CBMBG">
                            Name:
                        </td>
                        <td style="word-wrap: break-word">@req.Requester.Name</td>
                    </tr>
                    <tr>
                        <td class="CBMBG">
                            Department:
                        </td>
                        <td style="word-wrap: break-word">@req.Requester.Department</td>
                    </tr>
                    <tr>
                        <td class="CBMBG">
                            Position:
                        </td>
                        <td style="word-wrap: break-word">@req.Requester.Position</td>
                    </tr>
                    <tr>
                        <td class="CBMBG">
                            Request Date:
                        </td>
                        <td style="word-wrap: break-word">
                            @req.CreatedDate.ToString("dd MMM yyyy HH:mm:ss")
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <table id="tblApprover" class="table table-bordered" style="table-layout:fixed">
                <thead>
                    <tr>
                        <th class="CBMBG" style="width: 39.5%;">HOD</th>
                        <th class="CBMBG">Date</th>
                        <th class="CBMBG" style="text-align:center; width:31.5%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (req.HODs != null)
                        {
                            foreach (var ap in req.HODs)
                            {
                                <tr>
                                    @{
                                        if ((req.Status == "Pending Staff" || req.Status == "Draft" || req.Status == "New") && m.Access == "Write")
                                        {
                                            <td colspan="2"><p data-value="@ap.UserId">@ap.Name</p></td>
                                            <td style="text-align: center">
                                                <a class="delete" onclick="removeApprover(this)" data-value="@ap.UserId" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td><label data-value="@ap.UserId">@ap.Name</label></td>
                                            var dt = Convert.ToDateTime(ap.ActionDate);
                                            var actionDate = dt == default(DateTime) ? (ap.Action == "-" ? "-" : "N/A") : dt.ToString("dd MMM yyyy HH:mm:ss");
                                            var action = ap.Action == "PENDING" ? ap.Action.First().ToString().ToUpper() + ap.Action.Substring(1).ToLower() : ap.Action;

                                            <td>@actionDate</td>
                                            <td style="text-align:center; word-break:break-all">@action</td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
                @{
                    if (m.Access == "Write" && (req.Status == "New" || req.Status == "Pending Staff" || req.Status == "Draft"))
                    {
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <select id="inptApprover" class="form-control">
                                        <option value="0">Select Approver</option>
                                        @{
                                            foreach (var ap in m.Approvers)
                                            {
                                                if ((req.HODs != null) && req.HODs.Exists(x => x.UserId == ap.UserId))
                                                {
                                                    <option value="@ap.UserId" class="hidden">@ap.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@ap.UserId">@ap.Name</option>
                                                }

                                            }
                                        }
                                    </select>
                                </td>
                                <td style="text-align:center;">
                                    <button id="btnAddApprover" onclick="bindAddApproverClick()" class="btn btn-xs btn-info">Add</button>
                                </td>
                            </tr>
                        </tfoot>
                    }
                }
            </table>
        </div>

        @if (m.Request.AdminTeam != null && m.Request.AdminTeam.Where(x => x.Action != "N/A").Count() > 0)
        {
            <div class="row">
                <table id="tblAdmin" class="table table-bordered" style="table-layout:fixed">
                    <thead>
                        <tr>
                            <th class="CBMBG" style="width: 39.5%;">Admin</th>
                            <th class="CBMBG">Date</th>
                            <th class="CBMBG" style="text-align:center; width:31.5%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var ap in req.AdminTeam)
                            {
                                <tr>
                                    @{
                                        <td><label data-value="@ap.UserId">@ap.Name</label></td>
                                        var dt = Convert.ToDateTime(ap.ActionDate);
                                        var actionDate = dt == default(DateTime) ? (ap.Action == "-" ? "-" : "N/A") : dt.ToString("dd MMM yyyy HH:mm:ss");
                                        var action = ap.Action == "PENDING" ? ap.Action.First().ToString().ToUpper() + ap.Action.Substring(1).ToLower() : ap.Action;

                                        <td>@actionDate</td>
                                        <td style="text-align:center; word-break:break-all">@action</td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (m.Request.CEO != null && m.Request.CEO.Action != "N/A")
        {
            <div class="row">
                <table id="tblAdmin" class="table table-bordered" style="table-layout:fixed">
                    <thead>
                        <tr>
                            <th class="CBMBG" style="width: 41%;">CEO</th>
                            <th class="CBMBG">Date</th>
                            <th class="CBMBG" style="text-align:center; width:31.5%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            <tr>
                                @{
                                    <td><label data-value="@m.Request.CEO.UserId">@m.Request.CEO.Name</label></td>
                                    var dt = Convert.ToDateTime(m.Request.CEO.ActionDate);
                                    var actionDate = dt == default(DateTime) ? (m.Request.CEO.Action == "-" ? "-" : "N/A") : dt.ToString("dd MMM yyyy HH:mm:ss");
                                    var action = m.Request.CEO.Action == "PENDING" ? m.Request.CEO.Action.First().ToString().ToUpper() + m.Request.CEO.Action.Substring(1).ToLower() : m.Request.CEO.Action;

                                    <td>@actionDate</td>
                                    <td style="text-align:center; word-break:break-all">@action</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (m.Request.FinanceTeam != null && m.Request.FinanceTeam.Where(x => x.Action != "N/A").Count() > 0)
        {
            <div class="row">
                <table id="tblAdmin" class="table table-bordered" style="table-layout:fixed">
                    <thead>
                        <tr>
                            <th class="CBMBG" style="width: 41%;">Finance</th>
                            <th class="CBMBG">Date</th>
                            <th class="CBMBG" style="text-align:center; width:31.5%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var ap in req.FinanceTeam)
                            {
                                <tr>
                                    @{
                                        <td><label data-value="@ap.UserId">@ap.Name</label></td>
                                        var dt = Convert.ToDateTime(ap.ActionDate);
                                        var actionDate = dt == default(DateTime) ? (ap.Action == "-" ? "-" : "N/A") : dt.ToString("dd MMM yyyy HH:mm:ss");
                                        var action = ap.Action == "PENDING" ? ap.Action.First().ToString().ToUpper() + ap.Action.Substring(1).ToLower() : ap.Action;

                                        <td>@actionDate</td>
                                        <td style="text-align:center; word-break:break-all">@action</td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>
    <div class="row1">
        <div class="col-lg-8">
            <!---Requester-->
            <table id="tblRequester" class="table table-bordered table-column-4">
                <thead>
                    <tr class="CBMBG">
                        <th colspan="4">Claim Request Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="CBMBG">Reference No. :</td>
                        <td>@req.ReferenceNo</td>
                        <td class="CBMBG">Status : </td>
                        <td>
                            <label id="lblStatus" style="color:red;">@req.Status</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="CBMBG">
                            Staff Name :
                        </td>
                        <td>
                            @req.Requester.Name
                        </td>
                        <td class="CBMBG">Staff Number : </td>
                        <td>
                            @req.Requester.Id
                        </td>
                    </tr>
                    <tr>
                        <td class="CBMBG" style="width: 18%">
                            Department :
                        </td>
                        <td>
                            @m.Users.ToList().Find(x => x.Name == req.Requester.Name).Department
                        </td>
                        <td class="CBMBG">
                            Period :
                            @if (m.Request.Status == "New" || m.Request.Status == "Pending Staff" || m.Request.Status == "Draft")
                            {
                                <span style="color:red">*</span>
                            }
                        </td>
                        <td>
                            @{
                                if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                {
                                    <input type="month" id="inptPeriod" class="form-control" data-date-format="M yyyy" style="height:20px" max="@DateTime.Now.ToString("yyyy-MM")" value=" @if (m.Request.Status == "Pending Staff" || m.Request.Status == "Draft" && m.Request.Period.HasValue) { @Convert.ToDateTime(m.Request.Period).ToString("yyyy-MM") }" />
                                }
                                else
                                {
                                    @Convert.ToDateTime(m.Request.Period).ToString("MMMM yyyy")
                                    <input type="month" id="inptPeriod" class="form-control" data-date-format="M yyyy" style="height:20px; display:none" value=" @if (m.Request.Period.HasValue) { @Convert.ToDateTime(m.Request.Period).ToString("yyyy-MM") }" />
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="CBMBG">
                            Subject :
                        </td>
                        <td colspan="3">
                            @m.Request.Subject.ToString()
                            @Html.HiddenFor(r => r.Request.Subject, new { id = "inptSubject", name = "subject", @class = "form-control" })
                            @*@{
                                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                    {
                                        @Html.TextBoxFor(r => r.Request.Subject, new { id = "inptSubject", name = "subject", @class = "form-control" });
                                    }
                                    else
                                    {
                                        @m.Request.Subject.ToString();
                                    }
                                }*@
                        </td>
                    </tr>
                    <tr>
                        <td class="CBMBG">
                            Description :
                        </td>
                        <td colspan="7">
                            @{
                                if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                {
                                    @Html.TextAreaFor(r => r.Request.Description, new { id = "inptDescription", name = "description", @class = "form-control", rows = 3 });
                                }
                                else
                                {
                                    @m.Request.Description.ToString();
                                }
                            }
                        </td>
                    </tr>
                    @*<tr>
                            <td class="CBMBG">
                                Document :
                            </td>
                            <td colspan="3">
                                @{
                                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                    {
                                        <div class="margin-bottom-5">
                                            <input id="fileSelectRequester" type="file" class="form-control" style="width: 91%;display: inline-block;" />
                                            <button class="btn btn-xs btn-info" onclick="uploadDoc('requester')">Upload</button>
                                        </div>
                                    }
                                }
                                <table class="table table-bordered sub-table" id="inptRequesterfile">
                                    <thead>
                                        <tr>
                                            <th style="width: 23.5%">
                                                Uploaded Date
                                            </th>
                                            <th style="width: 36.2%">
                                                File Name
                                            </th>
                                            <th style="width: 20.5%">
                                                Size
                                            </th>
                                            <th>
                                                Ext
                                            </th>

                                            @{
                                                if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                                {
                                                    <th style="width: 10%; text-align:center;">
                                                        Action
                                                    </th>
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (m.Request.Attachments != null && m.Request.Attachments.Count > 0)
                                            {
                                                var atts = m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "1459548D-2D14-46FB-8AF2-F348E1E32DC4");
                                                foreach (var att in atts)
                                                {
                                                    <tr>
                                                        <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                        @{
                                                            if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                                            {
                                                                <td>@att.Name</td>
                                                            }
                                                            else
                                                            {
                                                                <td><a href="@att.Path@att.Name" target="_blank">@att.Name</a></td>
                                                            }
                                                        }

                                                        <td>@att.Size</td>
                                                        <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                                        @{
                                                            if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Staff") && m.Request.Requester.UserId == Utils.GetUserId())
                                                            {
                                                                <td style="text-align:center" data-value="@att.AttachmentId"><a class="delete" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                                            }
                                                        }
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>*@
            </table>
            <table class="table table-bordered" style="width: 100%; margin-bottom:5px;">
                <thead>
                    <tr>
                        <th class="CBMBG">Claim Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table id="tblClaimInformation" class="table table-bordered sub-sub-table">
                                <thead>
                                    <tr>
                                        <th style="width:4%">No.</th>
                                        <th style="width:13.65%">
                                            Date
                                            @if (m.Request.Status == "New" || m.Request.Status == "Pending Staff" || m.Request.Status == "Draft")
                                            {
                                                <span style="color:red">*</span>
                                            }
                                        </th>
                                        <th style="width:24.6%">Description</th>
                                        <th style="width:16%">Claim Type</th>
                                        <th style="text-align:right; width:10.1%">Mileage (KM)</th>
                                        <th style="text-align:right; width:10%">Claim (RM)</th>
                                        <th>Attachment</th>
                                        @{
                                            if (m.Access == "Write" && (req.Status == "Pending Staff" || req.Status == "New" || req.Status == "Draft"))
                                            {
                                                <th style="width:1%;text-align:center;">Action</th>
                                            }
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        decimal amount = 0;
                                        int i = 1;
                                        foreach (var c in m.ClaimItems)
                                        {
                                            amount += c.ClaimAmount;
                                            var ctV = ct.Find(x => x.ClaimTypeId == c.ClaimTypeId);
                                            <tr>
                                                <td>
                                                    <p>@i</p>
                                                </td>
                                                <td>
                                                    <p>@c.Date.ToString("dd MMM yyyy")</p>
                                                </td>
                                                <td>
                                                    @c.Remark
                                                </td>
                                                <td>
                                                    <p>@ctV.Name</p>
                                                </td>
                                                <td style="text-align:right">
                                                    <p>
                                                        @if (c.Mileage != 0)
                                                        {
                                                            var mileage = string.Format("{0:#,##0.00}", c.Mileage);
                                                            @mileage
                                                        }
                                                    </p>
                                                </td>
                                                <td style="text-align:right;" class="count">
                                                    @string.Format("{0:#,##0.00}", c.ClaimAmount)
                                                </td>
                                                <td>
                                                    @{
                                                        var dFile = c.Path + c.FileName;
                                                    }
                                                    <a href="@dFile" target="_blank">@c.FileName</a>
                                                </td>
                                                @{
                                                    if (m.Access == "Write" && (req.Status == "Pending Staff" || req.Status == "New" || req.Status == "Draft"))
                                                    {
                                                        <td style="text-align:center;">
                                                            <a class="delete" title="Delete" data-value="@c.ClaimId" onclick="removeClaim(this)">
                                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                            </a>
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    @if (m.ClaimItems.Count > 0)
                                    {
                                        <tr class="totalRow">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="text-align:right"><div style="border-top:1px black solid; border-bottom:1px black solid">@string.Format("{0:#,##0.00}", amount)</div></td>
                                            <td></td>
                                            @{
                                                if (m.Access == "Write" && (req.Status == "Pending Staff" || req.Status == "New" || req.Status == "Draft"))
                                                {
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                    }
                                    @{
                                        if (m.Access == "Write" && (req.Status == "Pending Staff" || req.Status == "New" || req.Status == "Draft"))
                                        {
                                            <tr>
                                                <td>
                                                    -
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control datepickerRestrictFuture" id="inptDate" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" id="inptRemark" />
                                                </td>
                                                <td>
                                                    <select id="inptClaimTypeId" onchange="ClaimTypeChange(this)" class="form-control">
                                                        @foreach (var c in ct)
                                                        {
                                                            <option value="@c.ClaimTypeId">@c.Name</option>
                                                        }
                                                    </select>
                                                </td>
                                                <td>
                                                    <input style="text-align:right" type="text" class="form-control currency" id="inptMileage" maxlength="6" max="6" />
                                                </td>
                                                <td>
                                                    <input style="text-align:right" type="text" class="form-control currency" disabled id="inptClaimAmount" maxlength="8" max="8" />
                                                </td>
                                                <td>
                                                    <input type="file" class="form-control" id="inptClaim" />
                                                </td>
                                                <td>
                                                    <button id="btnUploadClaim" onclick="uploadClaim(this)" class="btn-info btn btn-xs">Upload</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            @{
                if (req.Status != "New" && req.Status != "Draft")
                {
                    <table class="table table-bordered" style="width: 100%;">
                        <thead>
                            <tr class="CBMBG">
                                <th colspan="4">Comment/Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <table id="tblRemarks" class="table sub-sub-table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width:17.5%">Date Time</th>
                                                <th>Name</th>
                                                <th style="width:48%">Remark</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var rmk in req.CommentRemarks)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Convert.ToDateTime(rmk.ActionDate).ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>
                                                            @rmk.UserName
                                                        </td>
                                                        <td>
                                                            @rmk.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            @{
                                if (req.Status != "New" && req.Status != "Draft" && m.Access == "Write")
                                {
                                    <tr>
                                        <td colspan="3">
                                            <textarea rows="5" class="form-control" id="inptComment"></textarea>
                                        </td>
                                    </tr>
                                }
                            }

                    </table>
                }
            }
            <div class="right-text margin-bottom-5" style="margin-top:2%; margin-bottom:2%">
                @if (m.Request.Status == "New" || m.Request.Status == "Pending Staff" || m.Request.Status == "Draft")
                {
                    <span class="invalid-alert" style="float:left; font-size:10px">* is mandatory field.</span>
                }
                @{
                    if (m.Request != null)
                    {
                        if (m.Request.Status != "Closed" && m.Request.Status != "Rejected")
                        {
                            foreach (var a in m.RoleActions)
                            {
                                switch (a.ActionKeyword)
                                {
                                    case "COMPLETE":
                                        <button onclick="Complete('@a.ActionID')" type="button" class="btn btn-xs btn-success">@a.ActionName</button>
                                        break;
                                    case "SUBMIT":
                                        <button onclick="Submit('@a.ActionID')" type="button" class="btn btn-xs btn-success">@a.ActionName</button>
                                        break;
                                    case "DRAFT":
                                        if (m.Request.Status == "New" || m.Request.Status == "Draft")
                                        {
                                            <button onclick="SaveDraft('@a.ActionID')" type="button" class="btn btn-xs btn-info">@a.ActionName</button>
                                        }
                                        break;
                                    case "APPROVE":
                                        <button onclick="Approve('@a.ActionID')" type="button" class="btn btn-xs btn-success">@a.ActionName</button>
                                        break;
                                    case "REQUEST_MORE":
                                        <button onclick="RequestMore('@a.ActionID')" type="button" class="btn btn-xs btn-warning">@a.ActionName</button>
                                        break;
                                    case "REJECT":
                                        <button onclick="Reject('@a.ActionID')" type="button" class="btn btn-xs btn-danger">@a.ActionName</button>
                                        break;
                                }
                            }
                        }
                    }
                    if (req.Status != "New" && req.Status != "Draft")
                    {
                        <a href="@Url.Action("ExportClaimRequestToPdf", "Home", new { area = "CBMClaimManagement",requestId = req.RequestId })" target="_blank" class="btn btn-xs btn-purple">Export to PDF</a>
                    }
                    if (m.cameFrom == "Home")
                    {
                        <a href="@Url.Action("Index", "Home", new { area = "CBMClaimManagement" })" class="btn btn-xs btn-default">Close</a>
                    }
                    else
                    {
                        <a href="@Url.Action("LoadMyTask", "Home", new { area = "CBMClaimManagement" })" class="btn btn-xs btn-default">Close</a>
                    }
                }
            </div>
            @{
                if (req.Status != "New" && req.Status != "Draft")
                {
                    <table class="table table-bordered" style="width: 100%;">
                        <thead>
                            <tr class="CBMBG">
                                <th colspan="4">Audit Log</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <table id="tblRemarks" class="table sub-sub-table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width:17.5%">Date Time</th>
                                                <th style="width:17.25%">User</th>
                                                <th style="width:17.25%">Action</th>
                                                <th style="width:48%">Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var hs in req.Histories)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Convert.ToDateTime(hs.ActionDate).ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>
                                                            @hs.UserName
                                                        </td>
                                                        <td>
                                                            @hs.Action
                                                        </td>
                                                        <td>
                                                            @hs.Description
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                    </table>
                }
            }
        </div>
    </div>
</div>


