﻿@using IdentityManagement.Entities
@model LoginInfo
@{
    ViewBag.Title = "Log in";
}


<link href="~/Content/login.css" rel="stylesheet" type="text/css" />
<div class="bs-docs-section login-panel">
    <div class="row center-div">
        <div class="col-lg-4 col-lg-offset-2">
            <div class="well bs-component center-text transparent-background">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <h2 class="wel">WELCOME</h2>
                            <!--SiaKongHui DYM8005-->
                        </div>
                    </fieldset>
                </form>
                <div class="vertical-line"></div>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="well bs-component transparent-background">
                <section id="loginForm">
                    @using (Html.BeginForm("Index", "Login", new { ReturnUrl = "Home" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Username", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-login" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <a class="fpass" data-target="#forgotPassword" data-toggle="modal">Forgot Password?</a>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="forgotPassword" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="top: 30px;">
            <div class="modal-header" style="padding:8px 15px;">
                <h4 class="modal-title">Forgot Password?</h4>
            </div>
            <div class="modal-body" style="padding:0px 15px;">
                <div class="modal-form">
                    <table class="table" style="margin:0px">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Please contact your administrator to reset your password.</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="padding:8px 15px;">
                <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>