﻿@using Dym360.Models
@model ConfigurationIndexViewModel
@*UserManagementIndexViewModel*@

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Configuration";
    var Module = Model.Module;
}

<style>
    .panel-body {
        margin-top: 0px !important;
    }

    body {
        overflow-x: hidden;
    }

    .activeSideNav {
        background-color: #23bef0;
    }
</style>

<script>
    $(function () {
        var module = "@Module";
        var first = "Email";

        if (module != "") {
            first = module;
        }

        var url = '@Url.Action("LoadConfigurationPage", "Configuration")';
        $('.btn-sidenav').click(function () {
            $("#right-panel").load(url + "?module=_" + this.id);
        });
        $("#right-panel").load(url + "?module=_" + first);
        
        //eraseCookie('UserManagement');
    });
</script>

<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 leftList" style="position:fixed">
            <div class="list-group table-of-contents">
                @*<div style="font-size:29px; color:white; padding-left:15px">
            <label style="margin:0">CREDIT</label>
            <label style="margin:0">BUREAU</label>
            <label style="color:#23bef0; margin:0">MALAYSIA</label>
        </div>*@
                <a href="@Url.Action("Index", "Home", new { area = "" })">
                    <img src="~/Images/cbm_logo_white.png" draggable="false" class="CBMLOGO" onContextMenu="return false;" />
                </a>
                <a class="list-group-item btn-sidenav" id="Email"><b><span class="glyphicon glyphicon-credit-card" style="color:white"></span>&nbsp;&nbsp;&nbsp;Email Template</b></a>

                <a class="btn btn-darkGrey collapsed" id="bnmTab" style="text-align:left; font-size:13px; border:none; width:99%; margin-left:0.3%;" data-toggle="collapse" href="#bnm_list" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-warning-sign" style="color:white"></span>
                    &nbsp;&nbsp;&nbsp;BNM List
                </a>
                <div class="collapse" id="bnm_list" aria-expanded="false" style="height: 0px;">
                    <a class="text-right btn btn-sm btn-sidenav btn-darkGrey collapsed-btn" id="UnauthorisedEntities" style="text-align:right;font-size:11px; border:none; border-radius:0"><b><span @*class="glyphicon glyphicon-warning-sign"*@ style="color:white"></span>&nbsp;&nbsp;&nbsp;Unauthorised Entities</b></a>
                    <a class="text-right btn btn-sm btn-sidenav btn-darkGrey collapsed-btn" id="IllegalMoneyServices" style="text-align:right;font-size:11px; border:none; border-radius:0"><b><span @*class="glyphicon glyphicon-warning-sign"*@ style="color:white"></span>&nbsp;&nbsp;&nbsp;Illegal Services</b></a>
                </div>
                @*<a class="list-group-item btn-sidenav" id="UserAccount"><b><span class="glyphicon glyphicon-user" style="color:white"></span>&nbsp;&nbsp;&nbsp;User Account</b></a>*@
            </div>
        </div>
        <div class="col-lg-10 col-md-3 col-sm-8" style="margin-left: 14.2%; width:86.9%">
            <div class="bs-component" style="margin-top:55px">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="navigation">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 col-md-12" id="right-panel">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
            </div>
        </div>
        <!-- jQuery and Bootstrap's JavaScript-->

    </div>
</div>
@*@{
        Layout = "../Shared/_Layout.cshtml";
    }

    <script>
        $(function () {
            var url = '@Url.Action("LoadConfigurationPage", "Configuration")';
            $('.btn-sidenav').click(function () {
                $(".right-panel").load(url + "?module=" + this.id);
            });
            $(".right-panel").load(url + "?module=" + this.id);
        });
    </script>

    <div class="bs-docs-section clearfix body-container">
        <div class="left-panel fixed-width">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <a id="modules" class="text-left btn btn-sm btn-sidenav active">
                    <span class="glyphicon glyphicon-hdd">&nbsp;</span>
                    Modules
                </a>
                <a id="accesstypes" class="text-left btn btn-sm btn-sidenav">
                    <span class="glyphicon glyphicon-list-alt">&nbsp;</span>
                    Access Types
                </a>
                <a id="roletypes" class="text-left btn btn-sm btn-sidenav">
                    <span class="glyphicon glyphicon-user">&nbsp;</span>
                    Role Types
                </a>
                <a id="positions" class="text-left btn btn-sm btn-sidenav">
                    <span class="glyphicon glyphicon-bookmark">&nbsp;</span>
                    Positions
                </a>
                @*<a id="workflow" class="text-left btn btn-sm btn-sidenav">
                        <span class="glyphicon glyphicon-cog">&nbsp;</span>
                        Workflow
                    </a>
            </div>
        </div>
        <div class="right-panel">
            @RenderBody()
        </div>
    </div>*@
