﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/jquery.toast.js"></script>
    <script src="~/Scripts/main.js"></script>

    <link href="~/Content/bootstrap-flat.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Contents/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.toast.css" rel="stylesheet" type="text/css" />

    <script>
        $(function () {
            initMain();

        });
        function showToast(msg, type) {
            if (type === "success") {
                $.toast({
                    heading: 'Success',
                    text: msg,
                    position: 'top-roght',
                    stack: false
                });
            }
            else if (type === "error") {
                $.toast({
                    heading: 'Error',
                    text: msg,
                    position: 'top-roght',
                    icon: 'error'
                });
            }
        }
    </script>
</head>
<body>
    @if (IdentityManagement.Utilities.Utils.IfUserAuthenticated())
    {
        <input type="hidden" id="lastlogindate" value="@IdentityManagement.Utilities.Utils.GetLastLoginDate()" />
        <div class="bs-docs-section clearfix">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                        <nav class="navbar navbar-default top-bar">
                            <div class="container-fluid">
                                <div class="navbar-header top-logo">
                                    <a href="@Url.Action("Index", "Home", new { area = "" })" style="text-decoration:none;">
                                        <label>
                                            <span style="font-size: larger;">dym</span>
                                        </label>
                                        <label>
                                            <span>360</span>
                                        </label>
                                    </a>
                                </div>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right">
                                        @if (IdentityManagement.Utilities.Utils.IfUserAuthenticated())
                                        {
                                            if (!string.IsNullOrEmpty(IdentityManagement.Utilities.Utils.GetDisplayName()))
                                            {
                                                <li><a style="pointer-events: none; cursor: default;">Hello, @IdentityManagement.Utilities.Utils.GetDisplayName()</a></li>
                                            }
                                            <li><a href="@Url.Action("Index", "Home", new { area = "" })" title="Home" data-toggle="tooltip"><span class="glyphicon glyphicon-home"></span></a></li>
                                            <li><a title="My&nbsp;Task" data-toggle="tooltip"><span class="glyphicon glyphicon-tasks"></span></a></li>
                                            <li><a title="Calendar" data-toggle="tooltip"><span class="glyphicon glyphicon-calendar"></span></a></li>
                                            <li><a title="Five&nbsp;reminders" data-toggle="tooltip"><span class="glyphicon glyphicon-bell"></span></a></li>
                                            <li><a title="My&nbsp;Profile" data-toggle="tooltip"><span class="glyphicon glyphicon-user"></span></a></li>
                                            <li>
                                                <a title="Settings" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
                                                <ul class="dropdown-menu" style="font-size: 13px;">
                                                    @{
                                                        if (!string.IsNullOrEmpty(IdentityManagement.Utilities.Utils.GetLastLoginDate()))
                                                        {
                                                            <li>
                                                                <a id="btnUpdatePassword" data-toggle="modal" data-target="#updatePassword">Change Password</a>
                                                            </li>
                                                        }
                                                    }
                                                    <li class="divider"></li>
                                                    <li>@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, null)</li>
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    }
    @RenderBody()
    <div class="modal fade" id="updatePassword" role="dialog">
        <div class="modal-dialog" style=" width: 25%;">
            <!-- Modal content-->
            <div class="modal-content" style="top: 20px;">
                <div class="modal-header" style="padding:8px 15px;">
                    @{
                        if (string.IsNullOrEmpty(IdentityManagement.Utilities.Utils.GetLastLoginDate()))
                        {
                            <h4 class="modal-title">Update Password</h4>
                        }
                        else
                        {
                            <h4 class="modal-title">Change Password</h4>
                        }
                    }
                </div>
                <div class="modal-body" style="padding:0px 15px;">
                    <div class="modal-form">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="caption" style="font-style: italic;color: red;font-size: smaller;">Password must be minimal 8 characters, contain at least one digit, one uppercase character, one lowecase character and minimum one special character.</p>
                                    </td>
                                </tr>
                                @{
                                    if (!string.IsNullOrEmpty(IdentityManagement.Utilities.Utils.GetLastLoginDate()))
                                    {
                                        <tr>
                                            <td style="font-style:italic; padding:0px;">Current Password:</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 2px;padding-left: 0px;">
                                                <input type="password" id="inptCurPass" class="form-control" />
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td style="font-style:italic; padding:0px;">New Password:</td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 2px;padding-left: 0px;">
                                        <input type="password" id="inptPass" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-style:italic; padding:0px;">
                                        Confirm Password:
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 2px;padding-left: 0px;">
                                        <input type="password" id="inptPass1" class="form-control" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer" style="padding:8px 15px;">
                    <button type="button" class="btn btn-xs btn-info" id="btnUpdate" disabled>Save</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
