﻿@using Dym360.Models
@model UserManagementIndexViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "User Management";
    var Module = Model.Module;
}

<style>
    .panel-body {
        margin-top: 0px !important;
    }
    body {
        overflow-x: hidden;
    }
</style>

<script>
    $(function () {
        var module = "@Module";
        var first = "Department";

        if (module != "") {
            first = module;
        }

        var url = '@Url.Action("LoadPage", "UserManagement")';
        $('.btn-sidenav').click(function () {
            $("#right-panel").load(url + "?module=_" + this.id);
        });
        $("#right-panel").load(url + "?module=_" + first);

        //eraseCookie('UserManagement');
    });
</script>

<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 leftList" style="position:fixed">
            <div class="list-group table-of-contents">
                @*<div style="font-size:29px; color:white; padding-left:15px">
                    <label style="margin:0">CREDIT</label>
                    <label style="margin:0">BUREAU</label>
                    <label style="color:#23bef0; margin:0">MALAYSIA</label>
                </div>*@
                <a href="@Url.Action("Index", "Home", new { area = "" })">
                    <img src="~/Images/cbm_logo_white.png" draggable="false" class="CBMLOGO" onContextMenu="return false;" />
                </a>
                <a class="list-group-item btn-sidenav" id="Department"><b><span class="glyphicon glyphicon-lock" style="color:white"></span>&nbsp;&nbsp;&nbsp;Department</b></a>
                <a class="list-group-item btn-sidenav" id="UserAccount"><b><span class="glyphicon glyphicon-user" style="color:white"></span>&nbsp;&nbsp;&nbsp;User Account</b></a>
            </div>
        </div>
        <div class="col-lg-10 col-md-3 col-sm-8" style="margin-left: 14.2%; width:86.9%">
            <div class="bs-component" style="margin-top:55px">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="navigation">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 col-md-12" id="right-panel">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
            </div>
        </div>
        <!-- jQuery and Bootstrap's JavaScript-->

    </div>
</div>