﻿@using CreditManagement.Models
@model RequestIndexViewModel
@{
    var accesses = Model.UserAccesses;
    var accounts = Model.Accounts;
    var accountRequests = Model.AccountRequests;
}
<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd M yyyy'
        })
        $('.nav-tabs').children('.active').removeClass('active');
        $('#inactive').parent().addClass('active');
    });
</script>


<fieldset class="scheduler-border">
    <legend class="scheduler-border">Search Criteria</legend>
    <div class="content">
        <div class="col-lg-3">
            <label>Account Name</label>
            <input id="inptAccountName" class="form-control" type="text" placeholder="ABC Bank" />
        </div>
        @*<div class="col-lg-3">
                <label>Document Version</label>
                <input id="inptVersion" class="form-control" type="text" name="version" />
            </div>
            <div class="col-lg-3">
                <label>Owner (By User)</label>
                <input id="inptUserOwner" class="form-control" type="text" name="obu" />
            </div>
            <div class="col-lg-3">
                <label>Owner (By Department)</label>
                <select id="inptDepartmentOwner" class="form-control">
                    <option value="all">All</option>
                    @{
                        if (Model.Departments != null)
                        {
                            foreach (var d in Model.Departments)
                            {
                                <option>@d.Name</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="col-lg-3">
                <label>Code</label>
                <input id="inptCode" class="form-control" type="text" name="code" />
            </div>
            <div class="col-lg-3">
                <label>Created Date</label>
                <div class="col-lg-12 no-padding">
                    <div class="col-lg-6 right-padding-5">
                        <input id="inptCreatedDateFrom" placeholder="From Date" class="form-control datepicker" type="text" />
                    </div>
                    <div class="col-lg-6 left-padding-5">
                        <input id="inptCreatedDateTo" placeholder="To Date" class="form-control datepicker" type="text" />
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <label>Updated Date</label>
                <div class="col-lg-12 no-padding">
                    <div class="col-lg-6 right-padding-5">
                        <input id="inptUpdatedDateFrom" placeholder="From Date" class="form-control datepicker" type="text" />
                    </div>
                    <div class="col-lg-6 left-padding-5">
                        <input id="inptUpdatedDateTo" placeholder="To Date" class="form-control datepicker" type="text" />
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <label>Validity</label>
                <select id="inptValidity" class="form-control">
                    <option value="all">All</option>
                    <option value="6">6 months</option>
                    <option value="12">12 months</option>
                    <option value="24">24 months</option>
                    <option value="36">36 months</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label>Classification</label>
                <select id="inptClassification" class="form-control">
                    <option value="all">All</option>
                    <option value="Secret">Secret</option>
                    <option value="Internal">Internal</option>
                    <option value="Public">Public</option>
                </select>
            </div>
            <div class="search-btn col-lg-3 text-right">
                <a onclick="SearchCompanyDocument()" class="btn btn-info btn-xs">Search</a>
                <a onclick="ClearSearch()" class="btn btn-warning btn-xs">Clear</a>
            </div>*@
    </div>
</fieldset>
<div>
    <div class="panel-body">
        <div class="row">
            <label>Inactive List</label>
            <table id="tblCompanyDocument" class="table table-bordered sub-table" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th style="width: 3%;"><input type="checkbox"></th>
                        <th>Account Name</th>
                        <th>Account Type</th>
                        <th>Account Number</th>
                        <th>Balance</th>
                        <th>Limit</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th style="width: 9.5%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (accounts.Count > 0)
                    {
                        foreach (var acc in accounts)
                        {
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>@acc.Name</td>
                                <td>@acc.AccountType</td>
                                <td>@acc.AccountNumber</td>
                                <td>@string.Format("{0:#,##0}", acc.Balance)</td>
                                <td>
                                    @if (acc.CreditLimit.HasValue)
                                    {
                                        string cl = string.Format("{0:#,##0}", acc.CreditLimit);
                                        @cl
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                                <td>@acc.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")</td>
                                <td>
                                    @if (acc.UpdatedAt.ToShortDateString() != "1/1/0001")
                                    {
                                        @acc.UpdatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                    }
                                </td>
                                <td>
                                    @{
                                        var access = accesses.Find(x => x.Keyword == "CREM");
                                        var request = accountRequests.Find(x => x.AccountId == acc.AccountId);

                                        if (accesses != null && access.Create)
                                        {
                                            <a href="@Url.Action("Renewal", "Renewal", new { accountId = acc.AccountId })" class="btn btn-danger btn-xs">Renew</a>
                                        }
                                        else
                                        {
                                            <span>N/A</span>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
