﻿@using CreditManagement.Models
@model RequestIndexViewModel

@{
    var Account = Model.Account;
}

@if (Account != null)
{
    <label>Account</label>
    <table id="tblAccount" class="table table-bordered sub-table" style="font-size: 12px;">
        <thead>
            <tr>
                <th style="width: 3%;"><input type="checkbox"></th>
                <th>Account Name</th>
                <th>Account Number</th>
                <th>Balance</th>
                <th style="width:9%">Account Status</th>
                <th style="width:12%">Created Date&nbsp;<span id="CreatedSort" data-type="desc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-bottom"</span></th>
                <th style="width:12%">Updated Date&nbsp;<span id="UpdatedSort" data-type="asc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-top"</span></th>
                <th style="width:6%; text-align:center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" /></td>
                <td data-input="AccountName">
                    <a href="@Url.Action("PreviewAccountTransaction", "Home", new { accountId = Account.AccountId, cameFrom = "Home" })">@Account.Name</a>
                </td>
                <td data-input="AccountNumber">@Account.MemberCode</td>
                <td style="text-align:right">@string.Format("{0:#,##0.00}", Account.Balance)</td>
                <td data-input="Status">
                    @if (Account.Active)
                    {
                        <span style="color:green">Active</span>
                    }
                    else
                    {
                        <span style="color:red">Inactive</span>
                    }
                </td>
                <td data-input="CreatedAt">@Account.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")</td>
                <td data-input="UpdatedAt">
                    @if (Account.UpdatedAt.HasValue)
                    {
                        @Convert.ToDateTime(Account.UpdatedAt).ToString("dd MMM yyyy HH:mm:ss")
                    }
                </td>
                <td style="text-align:center">
                    <a href="@Url.Action("PreviewAccountTransaction", "Home", new { accountId = Account.AccountId })" class="btn btn-danger btn-xs">Account History</a>
                </td>
            </tr>
        </tbody>
    </table>
}