﻿@using CreditManagement.Models
@model RequestIndexViewModel
@{
    var accesses = Model.UserAccesses;
}
<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd M yyyy'
        })
        $('.nav-tabs').children('.active').removeClass('active');
        $('#request').parent().addClass('active');
    });
</script>


<fieldset class="scheduler-border">
    <legend class="scheduler-border">Search Criteria</legend>
    <div class="content">
        <div class="col-lg-3">
            <label>Document Name</label>
            <input id="inptDocumentName" class="form-control" type="text" name="title" />
        </div>
        @*<div class="col-lg-3">
                <label>Document Version</label>
                <input id="inptVersion" class="form-control" type="text" name="version" />
            </div>
            <div class="col-lg-3">
                <label>Owner (By User)</label>
                <input id="inptUserOwner" class="form-control" type="text" name="obu" />
            </div>
            <div class="col-lg-3">
                <label>Owner (By Department)</label>
                <select id="inptDepartmentOwner" class="form-control">
                    <option value="all">All</option>
                    @{
                        if (Model.Departments != null)
                        {
                            foreach (var d in Model.Departments)
                            {
                                <option>@d.Name</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="col-lg-3">
                <label>Code</label>
                <input id="inptCode" class="form-control" type="text" name="code" />
            </div>
            <div class="col-lg-3">
                <label>Created Date</label>
                <div class="col-lg-12 no-padding">
                    <div class="col-lg-6 right-padding-5">
                        <input id="inptCreatedDateFrom" placeholder="From Date" class="form-control datepicker" type="text" />
                    </div>
                    <div class="col-lg-6 left-padding-5">
                        <input id="inptCreatedDateTo" placeholder="To Date" class="form-control datepicker" type="text" />
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <label>Updated Date</label>
                <div class="col-lg-12 no-padding">
                    <div class="col-lg-6 right-padding-5">
                        <input id="inptUpdatedDateFrom" placeholder="From Date" class="form-control datepicker" type="text" />
                    </div>
                    <div class="col-lg-6 left-padding-5">
                        <input id="inptUpdatedDateTo" placeholder="To Date" class="form-control datepicker" type="text" />
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <label>Validity</label>
                <select id="inptValidity" class="form-control">
                    <option value="all">All</option>
                    <option value="6">6 months</option>
                    <option value="12">12 months</option>
                    <option value="24">24 months</option>
                    <option value="36">36 months</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label>Classification</label>
                <select id="inptClassification" class="form-control">
                    <option value="all">All</option>
                    <option value="Secret">Secret</option>
                    <option value="Internal">Internal</option>
                    <option value="Public">Public</option>
                </select>
            </div>
            <div class="search-btn col-lg-3 text-right">
                <a onclick="SearchCompanyDocument()" class="btn btn-info btn-xs">Search</a>
                <a onclick="ClearSearch()" class="btn btn-warning btn-xs">Clear</a>
            </div>*@
    </div>
</fieldset>
<div>
    <div class="panel-body">
        <div class="row">
            <label>List</label>
            <table id="tblCompanyDocument" class="table table-bordered sub-table" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th style="width: 3%;"><input type="checkbox"></th>
                        <th>Classification</th>
                        <th>Code</th>
                        <th style="width: 24.5%;">Document Name</th>
                        <th style="width: 5%;">Version</th>
                        <th style="width: 17%;">User</th>
                        <th>Department</th>
                        <th>Created Date&nbsp;<span id="inboxSort" data-type="desc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-bottom"</span></th>
                        <th>Updated Date</th>
                        <th style="width: 9.5%;">Validity (Mth)</th>
                    </tr>
                </thead>
                @*<tbody>
                        @{
                            if (Model.CompanyDocuments != null)
                            {
                                var cds = Model.CompanyDocuments.OrderByDescending(x => x.SubmittedDate);
                                var groups = IdentityManagement.DAL.UserController.GetUserGroups(IdentityManagement.Utilities.Utils.GetUserId());
                                foreach (var d in cds)
                                {
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td data-input="Classification">@d.Classification</td>
                                        <td data-input="Code">@d.Code</td>
                                        <td data-input="DocumentName">
                                            @{
                                                if (d.Classification == "Secret" && groups.Where(x => x.GroupType == "Secret").Count() <= 0)
                                                {
                                                    <span style="color:#bfbaba;">@d.SOPName</span>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Document", "Home", new { id = d.Document.DocumentId, areas = "ProcessVault" })">@d.SOPName</a>
                                                }
                                            }

                                        </td>
                                        <td data-input="Version" style="text-align: center;">@d.SOPVersion</td>
                                        <td data-input="UserOwner">@d.UserOwner</td>
                                        <td data-input="DepartmentOwner">@d.DepartmentOwner</td>
                                        <td data-input="CreatedDate">@Convert.ToDateTime(d.SubmittedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                        <td data-input="UploadedDate">@Convert.ToDateTime(d.Document.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                        <td data-input="Validity" style="text-align: center;">@d.Validity</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>*@
            </table>
            <div class=" text-right">

                @{
                    var access = accesses.Find(x => x.Keyword == "CREM");

                    if (accesses != null && access.Create)
                    {
                        <a href="@Url.Action("Index", "Renewal")" class="btn btn-danger btn-xs">Create Renewal Request</a>
                    }
                }
            </div>
        </div>
    </div>
</div>