﻿@using CreditManagement.Models
@model RequestIndexViewModel
@{
    var accesses = Model.CurrentUserDepartmentAccess;
    var accounts = Model.Accounts;
    var accountRequests = Model.AccountRequests;
    var tasks = Model.MyTasks;
    var Active = "Active";
    var Inactive = "Inactive";
}
<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd M yyyy'
        })
        $('.nav-tabs').children('.active').removeClass('active');
        $('#active').parent().addClass('active');
    });
</script>


<fieldset class="scheduler-border">
    <legend class="scheduler-border">Search Criteria</legend>
    <div class="content">
        <div class="col-lg-3" style="width:21%">
            <label>Account Name</label>
            <input id="inptAccountName" class="form-control" type="text" placeholder="ABC Bank" />
        </div>
        <div class="col-lg-3" style="width:15%">
            <label>Account Number</label>
            <input id="inptAccountNumber" class="form-control" type="text" placeholder="12345678" />
        </div>
        <div class="col-lg-3" style="width:10.5%">
            <label>Account Status</label>
            <select id="inptStatus" class="form-control">
                <option value="all">All</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
        </div>
        <div class="search-btn col-lg-3 text-right">
            <a onclick="Search()" class="btn btn-info btn-xs">Search</a>
            <a onclick="ClearSearch()" class="btn btn-warning btn-xs">Clear</a>
        </div>
    </div>
</fieldset>
<div>
    <div class="panel-body">
        <div class="row">
            <label>List of Accounts</label>
            <table id="tblAccount" class="table table-bordered sub-table" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th style="width: 3%;"><input type="checkbox"></th>
                        <th style="width: 11.5%;">Reference No</th>
                        <th>Account Name</th>
                        <th>Account Number</th>
                        <th>Balance</th>
                        <th style="width:9%">Account Status</th>
                        <th style="width:12%">Created Date&nbsp;<span id="CreatedSort" data-type="desc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-bottom"</span></th>
                        <th style="width:12%">Updated Date&nbsp;<span id="UpdatedSort" data-type="asc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-top"</span></th>
                        <th>Status</th>
                        <th style="width:12%">Last Modified</th>
                        <th style="width:6%; text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (accounts.Count > 0)
                    {
                        foreach (var acc in accounts)
                        {
                            var request = accountRequests.Find(x => x.AccountId == acc.AccountId);
                            var task = new ObjectClasses.MyTask();
                            if (request != null)
                            {
                                task = tasks.Find(x => x.RequestId == request.RequestId);
                            }

                            <tr>
                                <td><input type="checkbox" /></td>
                                <td data-input="RefNo">
                                    @if (task != null)
                                    {
                                        if (task.Type == "INBOX" || task.Type == "DRAFT")
                                        {
                                            <a href="@Url.Action("EditRenewal", "Renewal", new { requestId = request.RequestId, cameFrom = "Home" })">@task.ReferenceNo</a>
                                        }
                                        else if (task.Type == "OUTBOX" || task.Type == "CLOSED")
                                        {
                                            <a href="@Url.Action("RenewalPreview", "Renewal", new { requestId = request.RequestId, cameFrom = "Home" })">@task.ReferenceNo</a>
                                        }
                                        else
                                        {
                                            <div style="width:100%; text-align:right"><span>-</span></div>
                                        }
                                    }
                                    else
                                    {
                                        @request.ReferenceNo
                                    }
                                </td>
                                <td data-input="AccountName">@acc.Name</td>
                                <td data-input="AccountNumber">@acc.AccountNumber</td>
                                <td style="text-align:right">@string.Format("{0:#,##0.00}", acc.Balance)</td>
                                <td data-input="Status">
                                    @if (acc.Active)
                                    {
                                        <span style="color:green">Active</span>
                                    }
                                    else
                                    {
                                        <span style="color:red">Inactive</span>
                                    }
                                </td>
                                <td data-input="CreatedAt">@acc.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")</td>
                                <td data-input="UpdatedAt">
                                    @if (acc.UpdatedAt.ToShortDateString() != "1/1/0001")
                                    {
                                        @acc.UpdatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                    }
                                    else
                                    {
                                        <div style="width:100%; text-align:right"><span>-</span></div>
                                    }
                                </td>
                                <td data-input="ReqStatus">
                                    @if (task != null && !string.IsNullOrEmpty(task.Status))
                                    {
                                        @task.Status
                                    }
                                    else if (task == null && !string.IsNullOrEmpty(request.Status))
                                    {
                                        @request.Status
                                    }
                                    else
                                    {
                                        <div style="width:100%; text-align:right"><span>-</span></div>
                                    }
                                </td>
                                <td data-input="ALastModified">
                                    @if (request != null && request.UpdatedAt.ToShortDateString() != "1/1/0001")
                                    {
                                        @request.UpdatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                    }
                                    else
                                    {
                                        <div style="width:100%; text-align:right"><span>-</span></div>
                                    }
                                </td>
                                <td style="text-align:center">
                                    @{

                                        var access = accesses.Find(x => x.Keyword == "CREM");

                                        if (access != null && access.IsCreate)
                                        {
                                            <a href="@Url.Action("Renewal", "Renewal", new { accountId = acc.AccountId })" class="btn btn-danger btn-xs">Top Up</a>
                                        }
                                        else
                                        {
                                            <span>N/A</span>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>