﻿@using ObjectClasses.DocumentPortal
@model CompanyDocument


@{
    ViewBag.Title = "MyTask";
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>DYM360</title>
    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'dd M yyyy'
            })
        });
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({ placement: 'bottom' });
        });
    </script>
</head>
<body>
    <div class="row body-container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="bs-component" style="font-size:12px; margin-top: 10px;">
                <div class="row col-lg-offset-1">
                    <h3 style="margin-top: 0px;">Document Information</h3>
                </div>
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-10">
                        @{
                            var m = Model;
                            if (m != null)
                            {
                                var dom = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
                                if (m.Document.Extension == ".xlsx")
                                {
                                    <iframe src="@dom@Model.Document.Path" style="height:75vh; width:100%; background:white;"></iframe>
                                }
                                else
                                {
                                    <iframe src="@dom@Model.Document.Path@Model.Document.Name" style="height:75vh; width:100%;"></iframe>
                                }
                            }
                        }
                    </div>
                    <div class="col-lg-offset-1 col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Document Details</h3>
                            </div>
                            @{
                                if (m != null)
                                {
                                    <div class="panel-body">
                                        <div class="col-lg-4">
                                            <label class="font-weight-bold">Document Name</label>
                                            <p>@m.SOPName</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-weight-bold">Document Version</label>
                                            <p>@m.SOPVersion</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-weight-bold">Owner (By User)</label>
                                            <p>@m.UserOwner</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-weight-bold">Owned by Department</label>
                                            <p>@m.DepartmentOwner</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-weight-bold">Created Date</label>
                                            <p>@Convert.ToDateTime(m.Document.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-weight-bold">Updated Date</label>
                                            @{
                                                if (m.SubmittedDate == null || m.SubmittedDate == "")
                                                {
                                                    <p>N/A</p>
                                                }
                                                else
                                                {
                                                    <p>@Convert.ToDateTime(m.SubmittedDate).ToString("dd MMM yyyy HH:mm:ss")</p>
                                                }
                                            }
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-weight-bold">Validity</label>
                                            <p>@m.Validity months</p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class=" text-right">
                            <a href="@Url.Action("Index", "Home", new { area = "ProcessVault" })" class="btn btn-default btn-xs">Close</a>
                        </div>
                    </div>
                    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>