﻿@using ProcessVault.Models.ECN
@model ECNSearchModel

@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<base href="@Model.BaseUrl" />
<html>
<head>
    <script>
        function PreviewDocument(e) {
            $('#example1').prop('src', $(e).data('value'));
        }
        $(function () {
            PreviewDocument(document.getElementById('stlFile'));
        })
    </script>
    <script src="~/Scripts/three.js"></script>
    <script src="~/Scripts/stats.js"></script>
    <script src="~/Scripts/TrackballControls.js"></script>
    <script src="~/Scripts/CSS3DRenderer.js"></script>
</head>
<body>
    @{
        var m = Model;
    }
    <div class="row body-container">
        <div class="bs-component" style="font-size:12px; margin-top: 10px;">
            <div class="row col-lg-offset-1">
                <h3 style="margin-top: 0px;">ECN Request Documents</h3>
            </div>
            <div class="col-lg-offset-1 col-lg-10 no-padding">
                <div class="col-lg-2 background-white no-padding">
                    <div>
                        <button class="btn collapsible-panel" type="button" data-toggle="collapse" data-target="#referenceno" aria-expanded="false" aria-controls="referenceno">ECN Request Info</button>
                    </div>
                    <div class="col">
                        <div class="collapse in multi-collapse padding-5" id="referenceno">
                            <div class="card card-body">
                                <label class="font-weight-bold">Reference No:</label><br />
                                <a href="@Url.Action("Index", "ECN", new { id = m.ECNModels.RequestId, area = "ProcessVault" })" target="_blank">@m.ECNModels.ReferenceNo</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn collapsible-panel" type="button" data-toggle="collapse" data-target="#documents" aria-expanded="false" aria-controls="documents">Documents</button>
                    </div>
                    <div class="col">
                        <div class="collapse in multi-collapse padding-5" id="documents">
                            <div class="card card-body">
                                <label class="font-weight-bold">Main Documents</label><br />
                                @{
                                    var mains = m.ECNModels.ECNDocument.Documents.Where(x => x.AttachmentTypeId == "A542CF4A-3986-4548-8AD0-8CA67291DC3B").OrderByDescending(x => x.Extension == ".stl");
                                    
                                    foreach (var d in mains)
                                    {
                                        var url = m.BaseUrl + "/" + d.Path + d.Name;
                                        if (d.Extension == ".mht" || d.Extension == ".txt")
                                        {
                                            url += "#toolbar=0";
                                            <a onclick="PreviewDocument(this)" data-value="@url">@d.Name</a><br />
                                        }
                                        else if (d.Extension == ".stl")
                                        {
                                            <a id="stlFile" onclick="PreviewDocument(this)" data-value="@Url.Action("View3DFile","ECN", new { filename = d.Name, filepath=d.Path, area = "ProcessVault" })">@d.Name</a><br />
                                        }
                                    }
                                    var docName = m.ECNModels.ECNDocument.DocumentName + ".pdf" ;
                                    var docPath = m.BaseUrl + "/" + m.ECNModels.ECNDocument.Path;
                                    var docUrl = docPath + docName + "#toolbar=0";
                                    docName += " - MERGED";

                                    <a onclick="PreviewDocument(this)" data-value="@docUrl">@docName</a><br />
                                }

                                <label class="font-weight-bold">Supplimentary Documents</label><br />
                                @{
                                    var subs = m.ECNModels.ECNDocument.Documents.Where(x => x.AttachmentTypeId != "A542CF4A-3986-4548-8AD0-8CA67291DC3B");
                                    foreach (var d in subs)
                                    {
                                        var url = m.BaseUrl + "/" + d.Path + d.Name;
                                        if (d.Extension == ".pdf" || d.Extension == ".mht")
                                        {
                                            url += "#toolbar=0";
                                            <a onclick="PreviewDocument(this)" data-value="@url">@d.Name</a><br />
                                        }
                                        else if (d.Extension == ".stl")
                                        {
                                            <a onclick="PreviewDocument(this)" data-value="@Url.Action("View3DFile","ECN", new { filename = d.Name, filepath=d.Path, area = "ProcessVault" })">@d.Name</a><br />
                                        }
                                    }
                                }
                                @*<a onclick="PreviewDocument(this)" data-value="http://localhost:50933/Areas/ProcessVault/Documents/20180921/34A7ABA5-8D6B-43BA-AB98-169205F9ECCC/Analytics%20Methodology.pdf#page=3&toolbar=0">2D Drawing</a><br />
        <a onclick="PreviewDocument(this)" data-value="@Url.Action("View3DFile","ECN", new {  area = "ProcessVault" })">3D Drawing</a><br />
        <label class="font-weight-bold">Engineer Report</label><br />
        <a onclick="PreviewDocument(this)" data-value="@Url.Action("Test","ECN", new { area = "ProcessVault" })">Engineer Report 1</a><br />
        <a>Engineer Report 2</a>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 no-padding">
                    <iframe id="example1" src="" style="height:75vh; width:100%; background-color:white; margin:1px;"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

