﻿@using ObjectClasses.StandardOperationProcedure
@model  List<SOP>
@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>DYM360</title>
    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'dd M yyyy'
            })
            $('[data-toggle="tooltip"]').tooltip({ placement: 'bottom' });

            var url = '@Url.Action("LoadPageView", "Home")';
            var elemId = '#search-panel';
            $('.doc-type').click(function () {
                LoadPageView(elemId, url, { "type": this.id });
            });
            LoadPageView(elemId, url, { "type": "document" });
            //GetWO();
        });
    </script>
</head>
<body>
    <div class="body-container">
        <div class="col-lg-offset-1">
            <h3 style="margin-top: 0px; color:darkblue;">Document Portal</h3>
            <div class="col-lg-11 bg-white">
                <div class="bs-component" style="font-size:12px; margin-top: 10px;">
                    <ul class="nav nav-tabs cog-nav flex-display">
                        <li class="nav-item nav-link doc-nav"><a class="doc-type" id="document"><span class="glyphicon-lg-4 glyphicon glyphicon-list-alt"></span>Company Documents</a></li>
                        <li class="nav-item nav-link doc-nav"><a class="doc-type" id="ecn"><span class="glyphicon-lg-4 glyphicon glyphicon-folder-open"></span>ECN</a></li>
                        <li class="nav-item nav-link doc-nav"><a class="doc-type" id="qms"><span class="glyphicon-lg-4 glyphicon glyphicon-open-file"></span>QMS Service Report</a></li>
                        <li class="nav-item nav-link doc-nav"><a class="doc-type" id="training"><span class="glyphicon-lg-4 glyphicon glyphicon-book"></span>Training Materials</a></li>
                        <li class="nav-item nav-link doc-nav"><a class="doc-type" id="billing"><span class="glyphicon-lg-4 glyphicon glyphicon-bullhorn"></span>CBM Billing</a></li>
                        <li class="nav-item nav-link doc-nav"><a class="doc-type" id="archive"><span class="glyphicon-lg-4 glyphicon glyphicon-briefcase"></span>Archive Document</a></li>
                    </ul>
                    <div class="search-criteria" id="search-panel">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>