﻿@using ObjectClasses.BillingInvoice
@model Invoice
@{
    var m = Model;
}
<style>
    p {
        margin: 2px;
    }

    span {
        font-weight: normal !important;
    }

    .sub-table {
        border: 1px solid #ecf0f1;
        border-spacing: 0px;
    }

        .sub-table > thead > tr > th {
            background-color: #f6f6f6;
            padding: 3px;
        }

        .sub-table > tbody > tr > td {
            padding: 3px;
        }


    table-bordered > thead > tr > th, .table-bordered > thead > tr > th, table-bordered > tbody > tr > th, .table-bordered > tbody > tr > th, table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > th, table-bordered > thead > tr > td, .table-bordered > thead > tr > td, table-bordered > tbody > tr > td, .table-bordered > tbody > tr > td, table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid #ecf0f1;
    }
</style>

<table style="width:100%;">
    <thead>
        <tr>
            <th>
                <p style="font-size:16px;">Invoice # @m.InvoiceNo</p>
            </th>
            <th>
                <p style="color:forestgreen;font-size:16px;font-weight:bold;text-align:right;"></p>
            </th>
        </tr>
        <tr>
            <th colspan="2">
                <hr />
            </th>
        </tr>
        <tr>
            <th style="text-align:left;">
                <p>@m.Recipient.BillingAddress.PIC</p>
                <p>@m.Recipient.BillingAddress.Email</p>
                <p>@m.Recipient.Name</p>
            </th>
            <th style="text-align:right;">
                <p>Invoice Date: <span style="font-weight:normal;">@m.InvoiceDate</span></p>
                <p>Amount: <span>RM @string.Format("{0:#,##0.00}", m.TotalAmount)</span></p>
                <p>Billing Period: <span>@m.BillingPeriod</span></p>
            </th>
        </tr>
        <tr>
            <th colspan="2">
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">
                Items
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table table-bordered sub-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="text-align:left;">Description</th>
                            <th style="text-align:center;">Unit</th>
                            <th style="text-align:right;">Unit Price (RM)</th>
                            <th style="text-align:right;">Amount (RM)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var ord in m.Orders)
                            {
                                foreach (var i in ord.OrderItems)
                                {
                                    <tr>
                                        <td style="text-align:left;">@i.Item.Name</td>
                                        <td style="text-align:center;">@i.Unit</td>
                                        <td style="text-align:right;">@string.Format("{0:#,##0.00}", i.Item.Price)</td>
                                        <td style="text-align:right;">@string.Format("{0:#,##0.00}", i.Sum)</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="text-align:right;" colspan="3">
                                <b>Total :</b>
                            </td>
                            <td style="text-align:right;">
                                @string.Format("{0:#,##0.00}", m.TotalAmount)
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right;" colspan="3">
                                <b>Payments :</b>
                            </td>
                            <td style="text-align:right;">
                                @string.Format("{0:#,##0.00}", m.PaymentAmount)
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right;" colspan="3">
                                <b>Amount due :</b>
                            </td>
                            @{ 
                                var due = m.TotalAmount - m.PaymentAmount;
                            }
                            <td style="text-align:right;">
                                @string.Format("{0:#,##0.00}", due)
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                Payment Details
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table table-bordered sub-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="text-align:left;">
                                Date
                            </th>
                            <th style="text-align:center;">
                                Payment Method
                            </th>
                            <th style="text-align:center;">
                                Status
                            </th>
                            <th style="text-align:right;">
                                Amount (RM)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:left;">
                                @m.PaymentDate.ToString("dd MMM yyyy HH:mm:ss")
                            </td>
                            <td style="text-align:center;">
                                @m.PaymentMethod
                            </td>
                            <td style="text-align:center;">
                                @m.PaymentStatus
                            </td>
                            <td style="text-align:right;">
                                @string.Format("{0:#,##0.00}", m.PaymentAmount)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align:right;">
                                <b>Total :</b>
                            </td>
                            <td style="text-align:right;">
                                @string.Format("{0:#,##0.00}", m.TotalAmount)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p><i>This is a computer generated invoice which does not require any signature</i></p>
            </td>
        </tr>
    </tfoot>
</table>
