﻿@using ObjectClasses
@model List<MyTask>

@{
    ViewBag.Title = "MyTask";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="body-container">
    <div class="col-lg-offset-1">
        <h3 style="margin-top: 5px; color:darkblue;">My Tasks</h3>
        <div class="col-lg-11 bg-white">
            <div class="bs-component" style="font-size:12px; margin-top: 10px;">
                <ul class="nav nav-tabs">
                    <li class="nav-item nav-link active"><a href="#inbox" data-toggle="tab" aria-expanded="true">Inbox</a></li>
                    <li class="nav-item nav-link"><a href="#draft" data-toggle="tab" aria-expanded="false">Draft</a></li>
                    <li class="nav-item nav-link"><a href="#outbox" data-toggle="tab" aria-expanded="false">Outbox</a></li>
                    <li class="nav-item nav-link"><a href="#closed" data-toggle="tab" aria-expanded="false">Closed</a></li>
                </ul>
                <div id="inventoryMainTab" class="tab-content">
                    <div class="tab-pane fade active in" id="inbox">
                        <div class="row panel-body">
                            <table id="tblInbox" class="table table-bordered table-my-task">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Reference No</th>
                                        <th>Subject</th>
                                        <th>Description</th>
                                        <th>Request Type</th>
                                        <th>Requested By</th>
                                        <th>Requested Date&nbsp;<span id="inboxSort" data-type="desc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-bottom"></span></th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count = 0;
                                        if (Model != null)
                                        {
                                            var s = Model.OrderByDescending(x => x.RequestedDate).ToList();
                                            foreach (var m in s)
                                            {
                                                if (m.Type == "INBOX")
                                                {
                                                    var p = "";
                                                    switch (m.Module)
                                                    {
                                                        case "DOCUMENT_PORTAL":
                                                            p = "Document";
                                                            break;
                                                        case "PSR":
                                                            p = "";
                                                            break;
                                                        case "ECN":
                                                            p = "ECN";
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                    count++;
                                                    <tr>
                                                        <td>@count.ToString()</td>
                                                        <td><a href="@Url.Action("Index", p, new { id = m.RequestId, area = "ProcessVault" })">@m.ReferenceNo</a></td>
                                                        <td>@m.Subject</td>
                                                        <td>@m.Description</td>
                                                        <td>@m.RequestType</td>
                                                        <td>@m.RequestedBy</td>
                                                        <td>@Convert.ToDateTime(m.RequestedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                        <td>@m.Status</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <div id="pageNavPosition"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="draft">
                        <div class="row panel-body">
                            <table id="tblDraft" class="table table-bordered table-my-task">
                                <thead>
                                    <tr>
                                        <th width="3px">No.</th>
                                        <th>Reference No</th>
                                        <th>Subject</th>
                                        <th>Description</th>
                                        <th>Request Type</th>
                                        <th>Created By</th>
                                        <th>Created Date&nbsp;<span id="draftSort" data-type="desc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-bottom"></span></th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        count = 0;
                                        if (Model != null)
                                        {
                                            var s = Model.OrderByDescending(x => x.RequestedDate).ToList();
                                            foreach (var m in s)
                                            {
                                                if (m.Type == "DRAFT")
                                                {
                                                    var p = "";
                                                    switch (m.Module)
                                                    {
                                                        case "DOCUMENT_PORTAL":
                                                            p = "Document";
                                                            break;
                                                        case "PSR":
                                                            p = "";
                                                            break;
                                                        case "ECN":
                                                            p = "ECN";
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                    count++;
                                                    <tr>
                                                        <td>@count.ToString()</td>
                                                        <td><a href="@Url.Action("Index", p, new { id = m.RequestId, area = "ProcessVault" })">@m.ReferenceNo</a></td>
                                                        <td>@m.Subject</td>
                                                        <td>@m.Description</td>
                                                        <td>@m.RequestType</td>
                                                        <td>@m.RequestedBy</td>
                                                        <td>@Convert.ToDateTime(m.RequestedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                        <td>@m.Status</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <div id="pageNavPosition"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="outbox">
                        <div class="row panel-body">
                            <table id="tblOutbox" class="table table-bordered table-my-task">
                                <thead>
                                    <tr>
                                        <th width="3px">No.</th>
                                        <th>Reference No</th>
                                        <th>Subject</th>
                                        <th>Description</th>
                                        <th>Request Type</th>
                                        <th>Requested By</th>
                                        <th>Requested Date</th>
                                        <th>Status&nbsp;<span id="outboxSort" data-type="desc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-bottom"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        count = 0;
                                        if (Model != null)
                                        {
                                            var s = Model.OrderByDescending(x => x.RequestedDate).ToList();
                                            foreach (var m in s)
                                            {
                                                if (m.Type == "OUTBOX")
                                                {
                                                    var p = "";
                                                    switch (m.Module)
                                                    {
                                                        case "DOCUMENT_PORTAL":
                                                            p = "Document";
                                                            break;
                                                        case "PSR":
                                                            p = "";
                                                            break;
                                                        case "ECN":
                                                            p = "ECN";
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                    count++;
                                                    <tr>
                                                        <td>@count.ToString()</td>
                                                        <td><a href="@Url.Action("Index", p, new { id = m.RequestId, area = "ProcessVault" })">@m.ReferenceNo</a></td>
                                                        <td>@m.Subject</td>
                                                        <td>@m.Description</td>
                                                        <td>@m.RequestType</td>
                                                        <td>@m.RequestedBy</td>
                                                        <td>@Convert.ToDateTime(m.RequestedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                        <td>@m.Status</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <div id="pageNavPosition"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="closed">
                        <div class="row panel-body">
                            <table id="tblClosed" class="table table-bordered table-my-task">
                                <thead>
                                    <tr>
                                        <th width="3px">No.</th>
                                        <th>Reference No</th>
                                        <th>Subject</th>
                                        <th>Description</th>
                                        <th>Request Type</th>
                                        <th>Requested By</th>
                                        <th>Requested Date&nbsp;<span id="closedSort" data-type="desc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-bottom"></span></th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        count = 0;
                                        if (Model != null)
                                        {
                                            var s = Model.OrderByDescending(x => x.RequestedDate).ToList();
                                            foreach (var m in s)
                                            {
                                                if (m.Type == "CLOSED")
                                                {
                                                    var p = "";
                                                    switch (m.Module)
                                                    {
                                                        case "DOCUMENT_PORTAL":
                                                            p = "Document";
                                                            break;
                                                        case "PSR":
                                                            p = "";
                                                            break;
                                                        case "ECN":
                                                            p = "ECN";
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                    count++;
                                                    <tr>
                                                        <td>@count.ToString()</td>
                                                        <td><a href="@Url.Action("Index", p, new { id = m.RequestId, area = "ProcessVault" })">@m.ReferenceNo</a></td>
                                                        <td>@m.Subject</td>
                                                        <td>@m.Description</td>
                                                        <td>@m.RequestType</td>
                                                        <td>@m.RequestedBy</td>
                                                        <td>@Convert.ToDateTime(m.RequestedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                        <td>@m.Status</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <div id="pageNavPosition"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
