﻿@using ObjectClasses
@using ProcessVault.Models
@model SOPConfig
@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>DYM360</title>
    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'dd M yyyy'
            })
        });

        function checkOne(checkbox) {
            var checkboxes = document.getElementsByName('check2')
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false
            })
        }
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({ placement: 'bottom' });
        });
    </script>
</head>
<body>
    @Html.HiddenFor(md => md.SOP.Id, new { id = "requestId" })
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <nav class="navbar navbar-default top-bar">
                        <div class="container-fluid">
                            <div class="navbar-header top-logo">
                                <a href="@Url.Action("Index", "Home", new { area = "" })">
                                    <label>
                                        <span class="a">dym</span>
                                    </label>
                                    <label>
                                        <span class="b">360</span>
                                    </label>
                                </a>
                                @*<a href="#" class="logo">
                                    <img src="~/Images/amtrust.png" />
                                </a>*@
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a title="Calendar" data-toggle="tooltip"><span class="glyphicon glyphicon-calendar"></span></a></li>
                                    <li><a title="Five&nbsp;recent&nbsp;actions&nbsp;performed" data-toggle="tooltip"><span class="glyphicon glyphicon-tasks"></span></a></li>
                                    <li><a title="Five&nbsp;reminders" data-toggle="tooltip"><span class="glyphicon glyphicon-bell"></span></a></li>
                                    <li><a title="My&nbsp;Profile" data-toggle="tooltip"><span class="glyphicon glyphicon-user"></span></a></li>
                                    <li><a title="Settings" data-toggle="tooltip"><span class="glyphicon glyphicon-cog"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row body-container">
            <div class="bs-component" style="font-size:12px; margin-top: 10px;">
                <div class="row col-lg-offset-1">
                    <h3 style="margin-top: 0px;">Standard Operation Procedure (SOP)</h3>
                </div>
                <div class="col-lg-offset-1 col-lg-2">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="background-color">Requester</th>
                                </tr>
                            </thead>
                            @{
                                var m = Model;
                                <tbody>
                                    <tr>
                                        <td class="background-color">
                                            <label>Name:</label>
                                        </td>
                                        <td>
                                            @*@m.SOP.Requester.Name*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="background-color">
                                            <label>Position:</label>
                                        </td>
                                        <td>
                                            @*@m.SOP.Requester.Position*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="background-color">
                                            <label>Request Date:</label>
                                        </td>
                                        <td>
                                            @DateTime.Now.ToString("dd MMM yyyy HH:mm:ss")
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                    @{
//if (m.SOP.RequestStatus.CurrentStatus == MyEnum.Workflow.PEX && m.SOP.CurrentState.Name == "Pending")
//{
                            <div class="row">
                                <table id="tblApprover" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="background-color">Approver</th>
                                            <th class="background-color">Date</th>
                                            <th class="background-color">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3">
                                                <div class="row col-lg-11">
                                                    <select id="selectApprover" class="form-control">
                                                        <option value="0">Select Approver</option>
                                                        @{
                                                            @*foreach (var u in m.Users)
                                                            {
                                                                <option value="@u.Role">@u.Name</option>
                                                            }*@
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-lg-1">
                                                    <button class="btn-sm btn-default glyphicon glyphicon-ok" onclick="selectApprover()"></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="background-color">Final Approver</th>
                                            <th class="background-color">Date</th>
                                            <th class="background-color">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                HOD
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    @*<tfoot>
                                            <tr>
                                                <td colspan="3">
                                                    <div class="row col-lg-11">
                                                        <select id="selectApprover" class="form-control">
                                                            <option value="0">Select Approver</option>
                                                            @{
                                                                foreach (var u in m.Users)
                                                                {
                                                                    <option value="@u.Id">@u.Name</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-1">
                                                        <button class="btn-sm btn-default glyphicon glyphicon-ok" onclick="selectApprover"></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>*@
                                </table>
                            </div>
                        @*}*@
                    }
                </div>

                <div class="row1">
                    <div class="col-lg-8">
                        <!---Requester-->
                        <table class="table table-bordered">
                            <thead>
                                <tr class="background-color">
                                    <th colspan="4">Standard Operation Procedure (SOP) Request</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color">
                                        <label>Ref No: </label>
                                    </td>
                                    <td>
                                        <label class="label-padding">@m.SOP.RefNo</label>
                                    </td>
                                    <td class="background-color">
                                        <label>Status: </label>
                                    </td>
                                    <td>
                                        @*<label class="label-padding" style="color:red;" id="lblStatus">@m.SOP.RequestStatus.Status</label>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        <label>Request Type:</label>
                                    </td>
                                    <td colspan="3" style="vertical-align:middle;">
                                        @{
//if (m.SOP.RequestStatus.Status == "New" || m.SOP.RequestStatus.Status == "Draft"
//|| (m.SOP.CurrentState.Name == "Pending" && m.SOP.CurrentRole.Name == "Requester"
//&& m.SOP.Requester.Id == IdentityManagement.Utilities.Utils.GetUserId()))
//{
                                                <div class="col-lg-3">
                                                    <input id="imptrequesttype" type="radio" name="requesttype" checked />&nbsp;Create
                                                </div>
                                                <div class="col-lg-3">
                                                    <input id="imptrequesttype" type="radio" name="requesttype" />&nbsp;Modification
                                                </div>
                                            @*}
                                            else
                                            {
                                                <label class="label-padding">@m.SOP.RequestType</label>
                                            }*@
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        <label>Subject</label>
                                    </td>
                                    <td colspan="3">
                                        @{
                                            @*if (m.SOP.RequestStatus.Status == "New" || m.SOP.RequestStatus.Status == "Draft"
                                            || (m.SOP.CurrentState.Name == "Pending" && m.SOP.CurrentRole.Name == "Requester"
                                            && m.SOP.Requester.Id == IdentityManagement.Utilities.Utils.GetUserId()))
                                            {
                                                <input id="imptsubject" class="form-control" type="text" name="subject" />
                                            }
                                            else
                                            {
                                                <label class="label-padding">@m.SOP.Subject</label>
                                            }*@
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        <label>Description:</label>
                                    </td>
                                    <td colspan="7">
                                        @{
//if (m.SOP.RequestStatus.Status == "New" || m.SOP.RequestStatus.Status == "Draft"
//|| (m.SOP.CurrentState.Name == "Pending" && m.SOP.CurrentRole.Name == "Requester"
//&& m.SOP.Requester.Id == IdentityManagement.Utilities.Utils.GetUserId()))
//{
                                                <textarea id="imptdescription" rows="3" class="form-control"></textarea>
                                            @*}
                                            else
                                            {
                                                <label>@m.SOP.Description</label>
                                            }*@
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        <label>Document:</label><br />
                                    </td>
                                    <td colspan="3">
                                        @{
//if (m.SOP.RequestStatus.Status == "New" || m.SOP.RequestStatus.Status == "Draft"
//|| (m.SOP.CurrentState.Name == "Pending" && m.SOP.CurrentRole.Name == "Requester"
//&& m.SOP.Requester.Id == IdentityManagement.Utilities.Utils.GetUserId()))
//{
                                                <input id="fileSelectRequester" type="file" class="form-control" style="width: 93%;display: inline-block;" />
                                                <button class="btn-sm btn-default glyphicon glyphicon-ok" onclick="uploadDoc('requester')"></button>
                                            @*}*@
                                        }
                                        <table class="table table-bordered" id="inptRequesterfile">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        File Name
                                                    </th>
                                                    <th>
                                                        Ext
                                                    </th>
                                                    <th>
                                                        Size
                                                    </th>
                                                    <th>
                                                        Uploaded Date
                                                    </th>
                                                    @{
                                                        @*if (m.SOP.RequestStatus.Status == "New" || m.SOP.RequestStatus.Status == "Draft"
                                                        || (m.SOP.CurrentState.Name == "Pending" && m.SOP.CurrentRole.Name == "Requester"
                                                        && m.SOP.Requester.Id == IdentityManagement.Utilities.Utils.GetUserId()))
                                                        {
                                                            <th>
                                                                Action
                                                            </th>
                                                        }*@
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    @*if (m.SOP.RequestDocuments != null && m.SOP.RequestDocuments.Count > 0)
                                                    {
                                                        foreach (var doc in m.SOP.RequestDocuments)
                                                        {
                                                            <tr>
                                                                <td><a href="@doc.Path@doc.Name" target="_blank">@doc.Name</a></td>
                                                                <td>@doc.Extension</td>
                                                                <td>@doc.Size</td>
                                                                <td>@doc.UploadedDate</td>
                                                                @{
                                                                    if (m.SOP.RequestStatus.Status == "New" || m.SOP.RequestStatus.Status == "Draft"
                                                            || (m.SOP.CurrentState.Name == "Pending" && m.SOP.CurrentRole.Name == "Requester"
                                                            && m.SOP.Requester.Id == IdentityManagement.Utilities.Utils.GetUserId()))
                                                                    {
                                                                        <td><a class="btn btn-sm delete" title="Delete" onclick="remvoveTableRow(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                                                                    }
                                                                }
                                                            </tr>
                                                        }
                                                    }*@
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                @{
//if (m.SOP.RequestStatus.Status != "New" && m.SOP.RequestStatus.Status != "Draft"
//    && m.SOP.CurrentState.Name == "Pending" && m.SOP.CurrentRole.Name == "Requester"
//    && m.SOP.Requester.Id == IdentityManagement.Utilities.Utils.GetUserId())
//{
                                        <tr>
                                            <td class="background-color">
                                                <label>Comment:</label>
                                            </td>
                                            <td colspan="7">
                                                <textarea id="imptrequestcomment" rows="3" class="form-control"></textarea>
                                            </td>
                                        </tr>
                                        //}
                                }
                            </tbody>
                        </table>
                        <!---Pex Team-->
                        @{
//if (m.SOP.RequestStatus.Status != "New" && m.SOP.RequestStatus.Status != "Draft" && m.SOP.CurrentRole.Name != "Requester")
//{
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="background-color">
                                            <th colspan="4">PEx Team</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="background-color">
                                                <label>Applicability (Department): </label>
                                            </td>
                                            <td colspan="3" style="vertical-align:middle;">
                                                <div class="col-lg-3">
                                                    <input id="impt" type="checkbox" name="check" onchange="onlyOne(this)" value="IT" />&nbsp;IT
                                                </div>
                                                <div class="col-lg-3">
                                                    <input id="impt" type="checkbox" name="check" onchange="onlyOne(this)" value="HR" />&nbsp;HR
                                                </div>
                                                <div class="col-lg-3">
                                                    <input id="impt" type="checkbox" name="check" onchange="onlyOne(this)" value="FIN" />&nbsp;FIN
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="background-color">
                                                <label>Applicability (Location): </label>
                                            </td>
                                            <td colspan="3" style="vertical-align:middle;">
                                                <div class="col-lg-3">
                                                    <input id="impt" type="checkbox" name="check2" onclick="checkOne(this)" />&nbsp;Kuala Lumpur
                                                </div>
                                                <div class="col-lg-3">
                                                    <input id="impt" type="checkbox" name="check2" onclick="checkOne(this)" />&nbsp;Penang
                                                </div>
                                                <div class="col-lg-3">
                                                    <input id="impt" type="checkbox" name="check2" onclick="checkOne(this)" />&nbsp;Malacca
                                                </div>
                                                <div class="col-lg-3">
                                                    <input id="impt" type="checkbox" name="check2" onclick="checkOne(this)" />&nbsp;Selangor
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="background-color">
                                                <label>SOP Name: </label>
                                            </td>
                                            <td colspan="3">
                                                <input id="impt" class="form-control" type="text" name="sopname" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="background-color">
                                                <label>SOP Version: </label>
                                            </td>
                                            <td>
                                                <input id="impt" class="form-control" type="text" name="sopversion" />
                                            </td>

                                            <td class="background-color">
                                                <label>SOP Validity: </label>
                                            </td>
                                            <td colspan="3">
                                                <input id="impt" class="form-control datepicker" type="text" name="validity" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="background-color">
                                                <label>SOP Owner (By User): </label>
                                            </td>
                                            <td>
                                                <p>HOD</p>
                                            </td>
                                            <td class="background-color">
                                                <label>SOP Owned by Department: </label>
                                            </td>
                                            <td>
                                                <select class="form-control" id="impt">
                                                    <option>IT</option>
                                                    <option>FIN</option>
                                                    <option>HR</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="background-color">
                                                <label>Document:</label><br />
                                            </td>
                                            <td colspan="4">
                                                <input id="fileSelectPex" type="file" class="form-control" style="width: 93%;display: inline-block;" /> &nbsp;<button class="btn-xs btn-info glyphicon glyphicon-ok" onclick="uploadDoc('pex')"></button>
                                                <table class="table table-bordered" id="inptPexfile">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                File Name
                                                            </th>
                                                            <th>
                                                                Ext
                                                            </th>
                                                            <th>
                                                                Size
                                                            </th>
                                                            <th>
                                                                Uploaded Date
                                                            </th>
                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr></tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="background-color">
                                                <label>Comment:</label>
                                            </td>
                                            <td colspan="7">
                                                <textarea id="imptpexcomment" rows="3" class="form-control"></textarea>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            @*}*@
                        }

                        <!-- Action Button -->
                        <div class="right-text">
                            @{
                                @*if (m.SOP.CurrentState != null)
                                {
                                    var curState = m.SOP.CurrentState.Name;
                                    if (curState != "Closed" && curState != "Rejected")
                                    {
                                        foreach (var a in m.SOP.CurrentRole.Actions)
                                        {
                                            switch (a.Name)
                                            {
                                                case "Submit":
                                                    <button onclick="Submit('@a.Id')" type="button" class="btn btn-xs btn-success">Submit</button>
                                                    break;
                                                case "Save":
                                                    <button onclick="SaveDraft('@a.Id')" type="button" class="btn btn-xs btn-info">Save</button>
                                                    break;
                                                case "Cancel":
                                                    break;
                                                case "Approve":
                                                    <button onclick="" type="button" class="btn btn-xs btn-success">Approve</button>
                                                    break;
                                                case "Send Back":
                                                    <button onclick="" type="button" class="btn btn-xs btn-warning">Send Back</button>
                                                    break;
                                                case "Reject":
                                                    <button onclick="" type="button" class="btn btn-xs btn-danger">Reject</button>
                                                    break;
                                            }
                                        }
                                    }
                                }*@
                                <a href="@Url.Action("Index", "Home", new { area = "ProcessVault" })" class="btn btn-xs btn-default">Close</a>
                            }
                        </div>
                        @{
//if (m.SOP.RequestStatus.Status != "New" && m.SOP.RequestStatus.Status != "Draft"
//    && m.SOP.CurrentState.Name == "Pending" && m.SOP.CurrentRole.Name == "Requester"
//    && m.SOP.Requester.Id == IdentityManagement.Utilities.Utils.GetUserId())
//{
                                <!---Audit Trail-->
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td colspan="8">
                                                <label>Audit Trail:</label>
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="background-color">
                                                                Date Time
                                                            </th>
                                                            <th class="background-color">
                                                                User
                                                            </th>
                                                            <th class="background-color">
                                                                Action
                                                            </th>
                                                            <th class="background-color">
                                                                Comment
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            @*if (m.SOP.Histories != null && m.SOP.Histories.Count > 0)
                                                            {
                                                                foreach (var h in m.SOP.Histories)
                                                                {
                                                                    <tr>
                                                                        <td>@h.ActionDate</td>
                                                                        <td>@h.UserName</td>
                                                                        <td>@h.Action</td>
                                                                        <td>@h.Description</td>
                                                                    </tr>
                                                                }*@
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            @*}*@
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>