﻿@using ObjectClasses.SubscriptionManagement
@model ObjectClasses.SubscriptionManagement.ConsentForm.ConsentFormViewModel
@{
    Layout = null;
    var m = Model;
    var d = "disabled";
    var c = "checked";
    var req = Model.Request;
    var isCBM = Model.IsCBM;
    if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
    {
        d = "";
    }
    var CustomerDetails = m.CustomerDetails;
    var PersonInCharges = m.PersonInCharges;
    var ConsentFormPeoples = m.ConsentFormPeoples;
    var ConsentFormPeoplesUpper = ConsentFormPeoples.FindAll(x => x.Type == "Upper");
    var ConsentFormPeoplesLower = ConsentFormPeoples.FindAll(x => x.Type == "Lower");
    var margin = "margin-left:8.5%; margin-right:7.5%;";
}

@if (isCBM)
{
    ViewBag.Title = "Consent Form";
    <head>
        <script src="/Scripts/jquery-3.3.1.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
        <script src="/Scripts/bootstrap-datepicker.js"></script>
        <script src="/Scripts/bootstrap-datepicker.min.js"></script>
        <script src="/Scripts/jquery.toast.js"></script>
        <script src="/Scripts/main.js"></script>
        <script src="/Areas/SubscriptionManagement/Scripts/site.js"></script>

        <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/Contents/bootstrap-datepicker3.min.css" rel="stylesheet" />
        <link href="/Areas/SubscriptionManagement/Content/Site.css" rel="stylesheet" type="text/css" />

        <link href="/Content/jquery.toast.css" rel="stylesheet" type="text/css" />
    </head>

    <style>
        .table > tbody > tr > td {
            font-size: 14px !important;
        }

        .table {
            margin: 5px 0px;
        }

        .form-control {
            height: 30px;
            padding: 3px 3px;
            border-radius: 0px;
            font-size: 12px;
        }

        .right-text {
            text-align: right;
        }

        .sub-sub-table > thead > tr > th {
            background-color: #f5f5f5;
            margin: 0px !important;
        }

        .CBMBG {
            /*background: #00bdf2;*/
            background: #004185;
            color: white;
        }

        p {
            margin: 0px;
        }

        .decimal {
            text-align: right;
        }

        .datepicker table tr td, .datepicker table tr th {
            text-align: center;
            width: 30px;
            height: 26px;
            border-radius: 4px;
            font-size: 11px;
            border: none;
        }

        .table-column-4 > tbody > tr > td:nth-child(1),
        .table-column-4 > tbody > tr > td:nth-child(3) {
            width: 16%;
            word-break: inherit;
        }

        .table-column-4 > tbody > tr > td:nth-child(2),
        .table-column-4 > tbody > tr > td:nth-child(4) {
            width: 34%;
        }

        input[type=month]::-webkit-inner-spin-button,
        input[type=month]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }

        .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
            background: 0 0;
            color: #cecece;
            cursor: default;
        }

        .invalid-alert {
            font-size: smaller;
            color: red;
            font-style: italic;
        }
    </style>
}


<div style="margin-top:1.4%; margin-bottom:1.4%; background-color:white; padding: 70px 70px 70px 70px; font-size:14px; @{ if (isCBM) { @margin } } ">
    
    @*@if (isCBM)
    {
        <h3 style=" margin-bottom: 2%;">Consent Form</h3>
    }*@

    To:<br />

    <div style="margin-left:1.5%; font-weight:bold">
        i. @CustomerDetails.BusinessName (“Company”)<br />
        <div style="margin-left:9%">&</div>
        <div>ii. Credit Bureau Malaysia Sdn Bhd</div>
    </div>

    <br /><br /><br />
    From:<br />

    <div style="font-weight:bold">
        @if (PersonInCharges.Count > 0)
        {
            var pic = PersonInCharges.FindAll(x => x.Type == "PIC");
            if (pic.Count > 0)
            {
                @pic[0].Name
            }
        }
        <br />

        @CustomerDetails.BusinessAddress
    </div><br /><br /><br />

    I/We hereby agree and grant consent to the (“Company”) and its authorized officers to:

    <table style="margin-top:1%" class="table">
        <tbody>
            <tr>
                <td style="vertical-align:top; width:3%; padding:4px;">(a)</td>
                <td style="padding:4px; text-align: justify;">conduct credit, property, litigation, trade, CCRIS, DCHEQS, identity, background, compliance risk and any other checks and verifications which are relevant to my/our business relationship/credit facility with the Company on me/our company, its directors/ shareholders/ owners/ partners/ guarantors/ individuals/ party/ providing securities with Credit Bureau Malaysia and/or any registered credit reporting agencies under Credit Reporting Agencies (CRA) Act 2010 at any time, for as long as such business relationship/credit facility continues to exist and/or where any dues owed to the Company remain unpaid and outstanding;</td>
            </tr>
            <tr>
                <td style="vertical-align:top; padding:4px;">(b)</td>
                <td style="padding:4px;">disclose my/our information including trade/account conduct to Credit Bureau Malaysia and/or any registered credit reporting agencies;</td>
            </tr>
        </tbody>
    </table>
    <br />

    I/we also hereby grant consent to Credit Bureau Malaysia & any other relevant registered credit reporting agencies under the CRA Act to:
    <table style="margin-top:1%" class="table">
        <tbody>
            <tr>
                <td style="vertical-align:top; width:3%; padding:4px;">(c)</td>
                <td style="padding:4px;">procure my/our CCRIS, DCHEQ and any other credit information from relevant data sources;</td>
            </tr>
            <tr>
                <td style="vertical-align:top; padding:4px;">(d)</td>
                <td style="padding:4px; text-align: justify;">disclose credit information relating to me/our company, its directors/ its shareholders/ owners/ partners/ guarantors/ individuals/ party providing securities to the Company as and when the services of the credit reporting agency/ies is/are used for purposes mentioned above;</td>
            </tr>
            <tr>
                <td style="vertical-align:top; padding:4px;">(e)</td>
                <td style="padding:4px;">share any of trade information/ account conduct as mentioned in clause (b) above to other subscribers of their services;</td>
            </tr>
            <tr>
                <td style="vertical-align:top; padding:4px;">(f)</td>
                <td style="padding:4px; text-align: justify;">transfer and disclose any credit information relating to me/our company, its directors/ its shareholders/ owners/ partners/ guarantors/ individuals/ party/ providing securities to relevant third parties and/or data processor either located within or places outside Malaysia when required.</td>
            </tr>
        </tbody>
    </table>
    <br />

    I/We agree that;
    <table style="margin-top:1%" class="table">
        <tbody>
            <tr>
                <td style="vertical-align:top; width:3%; padding:4px;">(g)</td>
                <td style="padding:4px; text-align: justify;">consent wherever mentioned in this letter is irrevocable and shall continue to be valid to the extent it remains consistent with any changes in law and for as long as there is an existing business relationship/ credit facility/ any dues remain outstanding  with the Company;</td>
            </tr>
            <tr>
                <td style="vertical-align:top; padding:4px;">(h)</td>
                <td style="padding:4px; text-align: justify;">the database of Credit Bureau Malaysia & the relevant registered credit reporting agency/ies may retain credit and trade information relating to me/us as long as it is consistent with applicable laws and any changes thereto;</td>
            </tr>
            <tr>
                <td style="vertical-align:top; padding:4px;">(i)</td>
                <td style="padding:4px; text-align: justify;">Credit Bureau Malaysia & the relevant credit reporting agency/ies, its respective directors, officers, members, servants or agents are absolved and held harmless from all liability however arising from the abovementioned consent, the exercise of any/all activity stated above by Credit Bureau Malaysia & the relevant credit reporting agency/ies and the subsequent disclosure of any information relating to me/us to the Company.</td>
            </tr>
        </tbody>
    </table>
    <br />

    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
    {
        <table class="table table-column-2 table-bordered">
            <tbody>
                <tr>
                    <td class="CBMBG" style="vertical-align:middle; width:17%">
                        Name :<span style="color:red">*</span>
                    </td>
                    <td>
                        <input type="text" class="form-control name" id="CFUpperName" value="@{ if ((ConsentFormPeoplesUpper.Count > 0)) { @ConsentFormPeoplesUpper[0].Name } }" />
                    </td>
                </tr>
                <tr>
                    <td class="CBMBG" style="vertical-align:middle">
                        NRIC/Passport No :<span style="color:red">*</span>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="CFUpperNRIC_Passport" maxlength="12" value="@{ if ((ConsentFormPeoplesUpper.Count > 0)) { @ConsentFormPeoplesUpper[0].NRIC_Passport } }" />
                    </td>
                </tr>
                <tr>
                    <td class="CBMBG" style="vertical-align:middle">
                        Designation :<span style="color:red">*</span>
                    </td>
                    <td>
                        <input type="text" class="form-control name" id="CFUpperDesignation" value="@{ if ((ConsentFormPeoplesUpper.Count > 0)) { @ConsentFormPeoplesUpper[0].Designation } }" />
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <table class="table">
            <tbody>
                <tr>
                    <td style="width:11%; padding:4px;">Name</td>
                    <td style="width:1% ;padding:4px;">:</td>
                    <td style="padding:4px;">
                        @if ((ConsentFormPeoplesUpper.Count > 0))
                        {@ConsentFormPeoplesUpper[0].Name}
                        <input type="hidden" class="form-control name" id="CFUpperName" value="@{ if ((ConsentFormPeoplesUpper.Count > 0)) { @ConsentFormPeoplesUpper[0].Name } }" />
                    </td>
                </tr>
                <tr>
                    <td style="padding:4px;">NRIC/Passport No</td>
                    <td style="padding:4px;">:</td>
                    <td style="padding:4px;">
                        @if ((ConsentFormPeoplesUpper.Count > 0))
                        {@ConsentFormPeoplesUpper[0].NRIC_Passport}
                        <input type="hidden" class="form-control" id="CFUpperNRIC_Passport" maxlength="12" value="@{ if ((ConsentFormPeoplesUpper.Count > 0)) { @ConsentFormPeoplesUpper[0].NRIC_Passport } }" />
                    </td>
                </tr>
                <tr>
                    <td style="padding:4px;">Designation</td>
                    <td style="padding:4px;">:</td>
                    <td style="padding:4px;">
                        @if ((ConsentFormPeoplesUpper.Count > 0))
                        {@ConsentFormPeoplesUpper[0].Designation}
                        <input type="hidden" class="form-control name" id="CFUpperDesignation" value="@{ if ((ConsentFormPeoplesUpper.Count > 0)) { @ConsentFormPeoplesUpper[0].Designation } }" />
                    </td>
                </tr>
                <tr>
                    <td style="padding:4px;">Date</td>
                    <td style="padding:4px;">:</td>
                    <td style="padding:4px;">
                        @if ((ConsentFormPeoplesUpper.Count > 0) && ConsentFormPeoplesUpper[0].SubmittedDate.HasValue)
                        {@ConsentFormPeoplesUpper[0].SubmittedDate.Value.ToString("dd MMM yyyy")}
                    </td>
                </tr>
            </tbody>
        </table>
    }



    <br /><u>FOR COMPANY/BUSINESS RELATED INDIVIDUAL</u> (e.g partners, directors, shareholders, third party guarantors)<br />

    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
    {
        <div id="ConsentPersonLowerDiv">
            <table class="table table-bordered" id="ConsentFormPersonLowerTable">
                <thead>
                    <tr>
                        <th style="width:54%; background: #00bdf2; color: white;">Name <span style="color:red;">*</span></th>
                        <th style="width:12%; background: #00bdf2; color: white;">NRIC/Passport No <span style="color:red;">*</span></th>
                        <th style="width:30%; background: #00bdf2; color: white;">Designation<span style="color:red;">*</span></th>
                        <th style="text-align:center; background: #00bdf2; color: white;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ConsentFormPeoplesLower.Count > 0)
                    {
                        foreach (var cfpl in ConsentFormPeoplesLower)
                        {
                            <tr>
                                <td>@cfpl.Name</td>
                                <td>@cfpl.NRIC_Passport</td>
                                <td>@cfpl.Designation</td>
                                <td style="text-align:center; vertical-align:middle" data-type="Lower" data-value="@cfpl.ConsentFormPeopleId"><a data-type="Lower" data-value="@cfpl.ConsentFormPeopleId" class="delete" title="Delete" onclick="removeConsentFormLowerPerson(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td style="vertical-align:middle;">
                            <input type="text" id="CFLowerName" class="form-control name" />
                        </td>
                        <td style="vertical-align:middle;">
                            <input type="text" id="CFLowerNRIC_Passport" maxlength="12" class="form-control" />
                        </td>
                        <td style="vertical-align:middle;">
                            <input type="text" id="CFLowerDesignation" class="form-control name" />
                        </td>
                        <td style="vertical-align:middle;" class="text-center">
                            <button class="btn btn-xs btn-info" onclick="uploadConsentFormLowerPerson()">Upload</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        if (ConsentFormPeoplesLower.Count > 0)
        {
            foreach (var cfpl in ConsentFormPeoplesLower)
            {
                <div style="width:49%; display:inline-block">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="width:22.6%; padding:4px;">Name</td>
                                <td style="width:1%; padding:4px;">:</td>
                                <td style="padding:4px;">
                                    @cfpl.Name
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:4px;">NRIC/Passport No</td>
                                <td style="padding:4px;">:</td>
                                <td style="padding:4px;">
                                    @cfpl.NRIC_Passport
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:4px;">Designation</td>
                                <td style="padding:4px;">:</td>
                                <td style="padding:4px;">
                                    @cfpl.Designation
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:4px;">Date</td>
                                <td style="padding:4px;">:</td>
                                <td style="padding:4px;">
                                    @if (cfpl.SubmittedDate.HasValue)
                                    {@cfpl.SubmittedDate.Value.ToString("dd MMM yyyy")}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        }
    }

    <br /><br />

    <div style="margin-left:2%">
        <b>Note:</b>
        <table style="font-weight:bold; margin-left:2.5%; width:97.5%" class="table">
            <tbody>
                <tr>
                    <td style="vertical-align:top; width:3%; padding:4px;">(a)</td>
                    <td style="padding:4px;">For company, consent letter is to be transcribed on ‘Company’s’ letterhead and signed by relevant authorized signatories; and </td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">(b)</td>
                    <td style="padding:4px;">For Company/Business related individuals, each individual is to provide consent on own capacity.</td>
                </tr>
            </tbody>
        </table>

        <br /><b>Note:</b>
        <table style="font-weight:bold;" class="table">
            <tbody>
                <tr>
                    <td style="vertical-align:top; padding:4px;">*For extraction of <u>ICR</u>: Please ensure that the applicant’s (data subject’s) IC copy is attached together with the consent forms and the IC copy shall be <u>CROSSED</u>.</td>
                </tr>
                <tr>
                    <td style="vertical-align:top; padding:4px;">*For extraction of <u>CRR</u>: Please ensure that consent form for CRR Report contains all BIPs’ (Business Interested Persons’) signatures whose information you have extracted.</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>