﻿@using SubscriptionManagement.Models
@model CustomerSubscriptionRequestFormValidateViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
    var requestId = Model.RequestId;
}

<!DOCTYPE html>

<input type="hidden" id="RequestId" value="@requestId" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Validate</title>
</head>
<body>
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <nav class="navbar navbar-default top-bar" style="background-color:#004185">
                        <div class="container-fluid">
                            <div class="navbar-header top-logo">
                                <img src="/Images/cbm_logo_white.png" draggable="false" class="CBMLOGO" oncontextmenu="return false;" style="width:70%">
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="width:20%; height:25vh; background-color:#f1f1f1; margin-left:40%; margin-top:18%">
                <table style="width:100%; background-color:#f1f1f1">
                    <tbody>
                        <tr>
                            <td>
                                <input type="password" id="inptPassword" autofocus placeholder="Password" class="form-control" style="height:35px; font-size:14px;" />
                            </td>
                        </tr>
                        <tr style="height:70px">
                            <td>
                                <input type="submit" onclick="Unlock()" id="btnUnlock" class="btn btn-sm btn-info" style="font-size:14px;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    //Bind keypress event to document
    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            Unlock();
        }
    });

    function Unlock() {
        if ($('#inptPassword').val() !== "") {
            if ($('#inptPassword').next().length > 0) {
                $('#inptPassword').next().remove();
            }
            var data = {
                "RequestId": $('#RequestId').val(),
                "Password": $('#inptPassword').val()
            }

            $.ajax({
                url: window.location.origin + "/SubscriptionManagement/Home/ValidatePassword",
                data: { "vm": data },
                cache: false,
                type: "POST",
                dataType: "html",

                success: function (data, textStatus, XMLHttpRequest) {
                    var d = JSON.parse(data);
                    if (d.Error === null) {
                        window.location.href = window.location.origin + d.RedirectUrl;
                    }
                    else {
                        if ($('#inptPassword').next().length > 0) {
                            $('#inptPassword').next().remove();
                        }

                        $('<p class="invalid-alert" style="color:red; font-size:11px; font-style:italic">Invalid Password.</p>').insertAfter($('#inptPassword'));
                    }
                }
            });
        }
        else {
            if ($('#inptPassword').next().length < 1) {
                $('<p class="invalid-alert" style="color:red; font-size:11px; font-style:italic">Password cannot be empty.</p>').insertAfter($('#inptPassword'));
            }
        }
    }
</script>