﻿@using ObjectClasses.SubscriptionManagement
@model ObjectClasses.SubscriptionManagement.GeneralCodeOfConduct.GeneralCodeOfConductViewModel
@{
    Layout = null;
    var m = Model;
    var d = "disabled";
    var c = "checked";
    var req = Model.Request;
    var isCBM = Model.IsCBM;
    if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
    {
        d = "";
    }
    var CustomerDetails = m.CustomerDetails;
    var GeneralCodeOfConduct = m.GeneralCodeOfConduct;
    var margin = "margin-left:8.5%; margin-right:7.5%;";
}

@if (isCBM)
{
    ViewBag.Title = "Consent Form";
    <head>
        <script src="/Scripts/jquery-3.3.1.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
        <script src="/Scripts/bootstrap-datepicker.js"></script>
        <script src="/Scripts/bootstrap-datepicker.min.js"></script>
        <script src="/Scripts/jquery.toast.js"></script>
        <script src="/Scripts/main.js"></script>
        <script src="/Areas/SubscriptionManagement/Scripts/site.js"></script>

        <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/Contents/bootstrap-datepicker3.min.css" rel="stylesheet" />
        <link href="/Areas/SubscriptionManagement/Content/Site.css" rel="stylesheet" type="text/css" />

        <link href="/Content/jquery.toast.css" rel="stylesheet" type="text/css" />
    </head>

    <style>
        table {
            font-size: 14px;
        }
        .CBMBG {
            /*background: #00bdf2;*/
            background: #004185;
            color: white;
        }
    </style>

}

<div style="margin-top:1.4%; margin-bottom:1.4%; background-color:white; padding: 40px 50px 50px 50px; font-size:14px; @{ if (isCBM) { @margin } } ">
    <table class="table" style="font-weight:bold; border-bottom:2px solid black;">
        <tbody>
            <tr>
                <td style="width:18%; padding:4px;">Company Name</td>
                <td style="width:1%; padding:4px;">:</td>
                <td style="padding:4px;">
                    @if (CustomerDetails != null)
                    {@CustomerDetails.BusinessName}
                </td>
            </tr>
            <tr>
                <td style="padding:4px;">Company Registration Number</td>
                <td style="padding:4px;">:</td>
                <td style="padding:4px;">
                    @if (CustomerDetails != null)
                    {@CustomerDetails.BusinessRegNo}
                </td>
            </tr>
            <tr>
                <td style="padding:4px;">Business Address</td>
                <td style="padding:4px;">:</td>
                <td style="padding:4px;">
                    @if (CustomerDetails != null)
                    {@CustomerDetails.BusinessAddress}
                </td>
            </tr>
            <tr>
                <td style="padding:4px;">Contact Number</td>
                <td style="padding:4px;">:</td>
                <td style="padding:4px;">
                    @if (CustomerDetails != null)
                    {@CustomerDetails.TelephoneNo}
                </td>
            </tr>
            <tr>
                <td style="padding:4px;">Email</td>
                <td style="padding:4px;">:</td>
                <td style="padding:4px;">
                    @if (CustomerDetails != null)
                    {@CustomerDetails.EmailAddress}
                </td>
            </tr>
        </tbody>
    </table>

    <div style="font-weight:bold; text-align:center; margin-top:2%; margin-bottom:2%"><u>GENERAL CODE OF CONDUCT (the “Code”)</u></div>

    <table style="font-weight:bold; border-bottom:1px solid black">
        <tbody>
            <tr>
                <td>
                    INTRODUCTION
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: justify;">This Code covers a wide range of business practices and procedures. It does not cover every issue that may arise, but it sets out basic principles to guide all employees and officers of the Business or Company. All of our employees and officers must conduct themselves accordingly and seek to avoid even the appearance of improper behavior. One must comply what is required in the law.</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>1. Compliance with Laws, Rules and Regulations</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: justify;">All employees and officers are bound by the law. Compliance with all applicable laws and regulations must never be compromised. Additionally, employees shall adhere to the Business or Company’s internal rules and regulations as apply in a given situation. It is important for employees to know enough about the laws and regulations for compliance required by the law. Employees may seek advice from its management for further details.</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>2. Compliance on Policies and Practices</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: justify;">This policy acts as a guideline for activities in relation to Credit Information. The policy and procedures may be amended where the company deem important and or recommended by other authorities such as the association. Employees should follow strictly on the said policy and procedures in order for the company to safeguard the credit information against any unauthorized or improper access, use, change or disclosure by all employees, agents and or related personnel. Employees should follow the proper control which includes the use of password, user identification, credential tokens, or other mechanism in relation to credit information. Procedures and trainings towards information, monitor usage and regularly check will be given regularly to ensure employees, agents and or related personnel compliance with the policy and procedure and maintenance of logs of all accesses, amendments and audit trail to the credit information should be practiced in order to avoid even the appearance of improper behavior. The company will take serious action against employee should breaches of the policies, procedures and action been identified.</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>3. Failure to Comply</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: justify;">It is each employee’s responsibility to ensure full compliance with all provisions of this Code and to seek guidance where necessary from the Board of Directors, Shareholders or Authorized person or appropriate person. This is to ensure the highest standards of integrity are each employee’s personal responsibility that cannot be delegated. When in doubt, employees should always be guided by the basic principles stated in this Code. Any failure to company with this Code may result in disciplinary action, including the possibility of dismissal and if warranted, legal proceedings or criminal sanctions.</td>
            </tr>
        </tbody>
    </table>


    @if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
    {
        <table class="table table-column-6" style="font-weight:bold; margin-top:2%">
            <tbody>
                <tr>
                    <td colspan="6" style="padding:0">I,</td>
                </tr>
                <tr style="border:1px solid #ecf0f1;">
                    <td class="CBMBG" style="vertical-align:middle; width:9%">
                        Name <span style="color:red">*</span>
                    </td>
                    <td>
                        <input style="font-weight:normal" type="text" class="form-control name" id="GCOCName" value="@if (GeneralCodeOfConduct != null) { @GeneralCodeOfConduct.Name }" />
                    </td>
                    <td class="CBMBG" style="vertical-align:middle; width:9%">
                        NRIC <span style="color:red">*</span>
                    </td>
                    <td>
                        <input style="font-weight:normal" type="text" class="form-control contact" id="GCOCNRIC" maxlength="12" value="@if (GeneralCodeOfConduct != null) { @GeneralCodeOfConduct.NRIC }" />
                    </td>
                    <td class="CBMBG" style="vertical-align:middle; width:9%">
                        Designation <span style="color:red">*</span>
                    </td>
                    <td>
                        <input style="font-weight:normal" type="text" class="form-control name" id="GCOCDesignation" value="@if (GeneralCodeOfConduct != null) { @GeneralCodeOfConduct.Designation }" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="padding:0">
                        hereby declare that the above General Code Of Conduct is a general practice in my business or company, and employees are required to abide by it. However it is not a contract, and that nothing in the Code is intended to change the traditional relationship of employment-at-will.
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <div style="margin-top:2%">
            I, (Name)
            <span style="width:20%; display:inline-block; text-align:center; border-bottom:1px solid black">
                @if (GeneralCodeOfConduct != null)
                {@GeneralCodeOfConduct.Name}
                <input type="hidden" class="form-control name" id="GCOCName" value="@if (GeneralCodeOfConduct != null) { @GeneralCodeOfConduct.Name }" />
            </span>
            ; (NRIC)
            <span style="width:20%; display:inline-block; text-align:center; border-bottom:1px solid black">
                @if (GeneralCodeOfConduct != null)
                {@GeneralCodeOfConduct.NRIC}
                <input type="hidden" class="form-control contact" id="GCOCNRIC" maxlength="12" value="@if (GeneralCodeOfConduct != null) { @GeneralCodeOfConduct.NRIC }" />
            </span>; (Designation)
            <span style="width:20%; display:inline-block; text-align:center; border-bottom:1px solid black">
                @if (GeneralCodeOfConduct != null)
                {@GeneralCodeOfConduct.Designation}
                <input type="hidden" class="form-control name" id="GCOCDesignation" value="@if (GeneralCodeOfConduct != null) { @GeneralCodeOfConduct.Designation }" />
            </span> hereby declare that the above General Code Of Conduct is a general practice in my business or company, and employees are required to abide by it. However it is not a contract, and that nothing in the Code is intended to change the traditional relationship of employment-at-will.
        </div>
    }

    <div style="margin-top:4%">
        Date : @if (GeneralCodeOfConduct.SubmittedDate.HasValue)
        {@GeneralCodeOfConduct.SubmittedDate.Value.ToString("dd MMM yyyy")}
    </div>

</div>


<div style="margin-top:1.4%; margin-bottom:1.4%; background-color:white; padding: 40px 50px 50px 50px; font-size:12px; @{ if (isCBM) { @margin } } ">
    <table class="table" style="font-weight:bold;">
        <tbody>
            <tr>
                <td style="padding:4px;" colspan="2">
                    @if (GeneralCodeOfConduct != null)
                    {@GeneralCodeOfConduct.Name}
                </td>
            </tr>
            <tr>
                <td style="padding:4px;" colspan="2">
                    @if (GeneralCodeOfConduct != null)
                    {@GeneralCodeOfConduct.Designation}
                </td>
            </tr>
            <tr>
                <td style="padding:4px;" colspan="2">
                    @if (CustomerDetails != null)
                    {<span>@CustomerDetails.BusinessName &nbsp;</span> @CustomerDetails.BusinessAddress}
                </td>
            </tr>
            <tr>
                <td style="padding:4px;" colspan="2">
                    @if (GeneralCodeOfConduct != null && GeneralCodeOfConduct.SubmittedDate.HasValue)
                    {@GeneralCodeOfConduct.SubmittedDate.Value.ToString("dd MMM yyyy")}
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td style="padding:4px;" colspan="2">Dear Sir/Madam,</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td style="font-weight:bold; padding:4px" colspan="2">Notice on Subscriber Standards</td>
            </tr>
            <tr>
                <td style="padding:4px;" colspan="2">Please take note that as required under the Credit Reporting Agencies (CRA) Act 2010, we are required to ensure that our members comply with the subscriber standards as defined below. </td>
            </tr>
            <tr>
                <td style="font-weight:bold; vertical-align:top"><span style="vertical-align:top">•</span></td>
                <td>Subscriber should have a written policy and procedures in place to safeguard the credit information against any unauthorized or improper access, use, modification or disclosure. The Subscriber's employees, agents and contractors shall also follow the policy and procedures accordingly;</td>
            </tr>
            <tr>
                <td style="font-weight:bold; vertical-align:top">•</td>
                <td>Establish proper controls which include the use of password, user identification, credential tokens, or other mechanisms;</td>
            </tr>
            <tr>
                <td style="font-weight:bold; vertical-align:top">•</td>
                <td>Provide training, information, monitor usage and regularly check to ensure their employees are in compliance with the policy and procedures;</td>
            </tr>
            <tr>
                <td style="font-weight:bold; vertical-align:top">•</td>
                <td>Proper action in place to identify breaches of the policies, procedures and actions;</td>
            </tr>
            <tr>
                <td style="font-weight:bold; vertical-align:top">•</td>
                <td>Maintenance of logs of all accesses, amendments and audit trail to the credit information provided by the Credit Bureau Malaysia.</td>
            </tr>
            <tr>
                <td colspan="2" style="padding:4px;">Kindly provide us with the relevant documents pertaining the above.</td>
            </tr>
            <tr>
                <td colspan="2" style="padding:4px;">Your cooperation is greatly appreciated.</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="padding:4px;">Thank you.</td>
            </tr>
            <tr>
                <td colspan="2" style="padding:4px;">Yours Faithfully,</td>
            </tr>
            <tr>
                <td colspan="2" style="padding:4px;">Credit Bureau Malaysia Sdn Bhd</td>
            </tr>
            <tr style="border-bottom:1px solid black;">
                <td colspan="2" style="text-align:center; font-weight:100"><i>This letter is computer generated. No Signature is required</i></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td style="font-weight:bold; padding:4px;" colspan="2">CUSTOMER ACKNOWLEDGEMENT</td>
            </tr>
            <tr>
                <td style="padding:4px;" colspan="2">We hereby acknowledge and confirm our compliance to the subscriber standards as specified in your letter to us. </td>
            </tr>
            <tr>
                <td style="padding:4px" colspan="2">Confirmed and Accepted </td>
            </tr>
            <tr>
                <td style="padding:4px;" colspan="2">
                    Dated: @if (GeneralCodeOfConduct.SubmittedDate.HasValue)
                    {@GeneralCodeOfConduct.SubmittedDate.Value.ToString("dd MMM yyyy")}
                </td>
            </tr>
            <tr>
                <td style="padding:4px;" colspan="2">
                    Name: @if (GeneralCodeOfConduct != null)
                    {@GeneralCodeOfConduct.Name}
                </td>
            </tr>
            <tr>
                <td style="padding:4px;" colspan="2">
                    Designation: @if (GeneralCodeOfConduct != null)
                    {@GeneralCodeOfConduct.Designation}
                </td>
            </tr>
        </tbody>
    </table>
</div>