﻿@using SubscriptionManagement.Models
@model IndexViewModel
@{
    var accesses = Model.CurrentUserDepartmentAccess;
    var tasks = Model.MyTasks;
    var imd = Model.IsManagementDepartment;
    Layout = "../Shared/_Layout.cshtml";
}

<style>
    .table:not(.sub-table) > thead > tr > th {
        font-size: 14px;
    }
    .content .form-control {
        font-size: 14px;
    }
    .btn-xs, .btn-group-xs > .btn {
        font-size: 14px;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <title>DYM360</title>
    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'dd M yyyy'
            })
            $('[data-toggle="tooltip"]').tooltip({ placement: 'bottom' });
            $('link[rel=stylesheet][href~="/Content/main.css"]').remove();
        });
    </script>
</head>
<body>
    <input type="hidden" id="CanSubmit" value="true" />
    <div class="body-container">
        <div class="col-lg-offset-1" style="margin-top:6%">
            <h3 style="margin-top: 0px; color:darkblue;">Subscription Management</h3>
            <div class="col-lg-11 bg-white">
                <div class="bs-component" style="font-size:12px; margin-top: 10px;">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Search Criteria</legend>
                        <div class="content" style="font-size:14px;">
                            <div class="col-lg-3" style="width:21%">
                                <label>Reference No</label>
                                <input id="inptRefrenceNumber" class="form-control" type="text" placeholder="SUB-SM-@DateTime.Now.ToString("yyyyMdd")-@DateTime.Now.ToString("HHmmss")" />
                            </div>
                            <div class="col-lg-3" style="width:14.6%">
                                <label>Registration No</label>
                                <input id="inptRegistrationNo" class="form-control" type="text" placeholder="ABCD1234" />
                            </div>
                            <div class="col-lg-3" style="width:20.5%">
                                <label>Business Name</label>
                                <input id="inptBusinessName" class="form-control" type="text" placeholder="ABC SDN BHD" />
                            </div>
                            <div class="search-btn col-lg-3 text-right">
                                <a onclick="Search()" class="btn btn-info btn-xs">Search</a>
                                <a onclick="ClearSearch()" class="btn btn-warning btn-xs">Clear</a>
                            </div>
                        </div>
                    </fieldset>
                    <div>
                        <div class="panel-body" style="font-size:14px;">
                            <div class="row">
                                @if (imd)
                                {
                                    <select onchange="subscriptionIndexFilter(this)" id="Filter" class="form-control" style="width:22.5%">
                                        <option value="1">List of Subscription</option>
                                        <option value="2">List of Subscription (Pending Approval)</option>
                                        <option value="3">List of Subscription (Recommend to Approve)</option>
                                        <option value="4">List of Subscription (Recommend to Reject)</option>
                                    </select>
                                }
                                else
                                {
                                    <label>List of Subscription</label>
                                }
                                @{

                                    var access = accesses.Find(x => x.Keyword == "SUBM");

                                    if (access != null && access.IsCreate)
                                    {
                                        <a href="@Url.Action("SubscriptionRequestForm", "Home", new { cameFrom = "Home" })" class="btn btn-danger btn-xs" style="float:right;margin-bottom:1%">Create New Subscription</a>
                                    }
                                }
                                <table id="tblSubscription" class="table sub-sub-table table-bordered" style="margin-top:5px;">
                                    <thead>
                                        <tr style="background-color:#f6f6f6">
                                            <th style="width: 5%;"><input type="checkbox" id="checkAll" onclick="checkAll(this)"></th>
                                            <th style="font-style:italic; width:17.5%">Reference No.</th>
                                            <th style="font-style:italic; width:14.7%">Registration No.</th>
                                            <th style="font-style:italic;">Business Name</th>
                                            <th style="font-style:italic; width:15.4%">Status</th>
                                            @*<th style="font-style:italic; width:14%">Subject</th>*@
                                            @*<th style="font-style:italic; width:16%">Department</th>*@
                                            <th style="font-style:italic; width:14%">Submitted Date&nbsp;<span id="UpdatedSort" data-type="asc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-top"</span></th>
                                            <th style="font-style:italic; width:14%">Last Modified&nbsp;<span id="CreatedSort" data-type="desc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-bottom"</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var draft = Model.MyTasks.OrderByDescending(x => x.RequestedDate).ToList();
                                            foreach (var r in Model.MyTasks)
                                            {
                                                var c = 0;
                                                if (r.Type == "OUTBOX")
                                                {
                                                    if (Model.MyTasks.Exists(x => x.RequestId == r.RequestId && x.Type == "INBOX"))
                                                    {
                                                        continue;
                                                    }
                                                }

                                                if (r.Status == "Pending CEO")
                                                {
                                                    if (r.LegalRecommendAction == "Recommend to Approve" || r.LegalRecommendActionId == "9F2620C1-786C-4713-BADB-1D302EF8D348")
                                                    {
                                                        c = 3;
                                                    }
                                                    else if (r.LegalRecommendAction == "Recommend to Reject" || r.LegalRecommendActionId == "9D27D3B8-F2B2-4C18-B797-36A6CE532741")
                                                    {
                                                        c = 4;
                                                    }
                                                    else if (string.IsNullOrEmpty(r.LegalRecommendActionId))
                                                    {
                                                        c = 2;
                                                    }
                                                }

                                                <tr class="all @c">
                                                    <td><input onclick="childCB(this)" type="checkbox" class="childCB cb-@c" data-referenceno="@r.ReferenceNo" data-status="@r.Status" data-expectedroleid="3FD19EDC-FECF-476C-B827-30C22FE192FE" data-actionid="A3E0E540-20F0-48D4-AC55-6CC8CA599D14" data-buttonname="Approve" value="@r.RequestId" /></td>
                                                    <td data-input="RefrenceNumber"><p><a href="@Url.Action("SubscriptionRequestForm", "Home", new { requestId = r.RequestId, cameFrom = "Home", area = "SubscriptionManagement" })">@r.ReferenceNo</a></p></td>
                                                    <td data-input="RegistrationNo">
                                                        <div class="ellipsis">
                                                            <p>@r.BusinessRegNo</p>
                                                        </div>
                                                    </td>
                                                    <td data-input="BusinessName">
                                                        <div class="ellipsis">
                                                            <p>@r.BusinessName</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p>@r.Status</p>
                                                    </td>
                                                    <td data-input="CreatedAt">
                                                        <p>@r.RequestedDate.ToString("dd MMM yyyy HH:mm:ss")</p>
                                                    </td>
                                                    <td data-input="UpdatedAt">
                                                        <p>
                                                            @{
                                                                if (r.UpdatedAt.ToString() == "1/1/0001 12:00:00 AM")
                                                                {
                                                                    <div style="width:100%; text-align:right"><span>-</span></div>
                                                                }
                                                                else
                                                                {
                                                                    @r.UpdatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                                }
                                                            }
                                                        </p>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                @if (imd)
                                {
                                <div style="float:right; display:none" id="buttonDIV">
                                    <button onclick="Management('Approved','A3E0E540-20F0-48D4-AC55-6CC8CA599D14')" type="button" class="btn btn-xs btn-success">Approve</button>
                                    @*<button onclick="Management('Reject','F7703371-C855-44FD-8549-6F9CE1CEF1C6')" type="button" class="btn btn-xs btn-danger">Reject</button>*@
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>

    function subscriptionIndexFilter(e) {
        if (e.value === 1 || e.value === "1") {
            $('.all').show();
        }
        else if (e.value === 2 || e.value === "2") {
            $('.all').hide();
            $('.2').show();
            $('.3').show();
            $('.4').show();
        }
        else if (e.value === 3 || e.value === "3") {
            $('.all').hide();
            $('.3').show();
            $('.4').hide();
        }
        else if (e.value === 4 || e.value === "4") {
            $('.all').hide();
            $('.3').hide();
            $('.4').show();
        }
    }

    function checkAll(e) {
        if (e.checked) {
            
            if ($('#Filter').length === 0 || $('#Filter').val() === 1 || $('#Filter').val() === "1") {
                $('.childCB').prop("checked", true);
            }
            else if ($('#Filter').val() === 2 || $('#Filter').val() === "2") {
                $('.childCB').prop("checked", false);
                $('.cb-2').prop("checked", true);
                $('.cb-3').prop("checked", true);
                $('.cb-4').prop("checked", true);
            }
            else if ($('#Filter').val() === 3 || $('#Filter').val() === "3") {
                $('.childCB').prop("checked", false);
                $('.cb-3').prop("checked", true);
            }
            else if ($('#Filter').val() === 4 || $('#Filter').val() === "4") {
                $('.childCB').prop("checked", false);
                $('.cb-4').prop("checked", true);
            } 
        }
        else {
            $('.childCB').prop("checked", false);
        }
        checkButtonShowHide();
    }

    function childCB(e) {
        checkButtonShowHide();

        if ($('.childCB:checkbox:checked').length !== $('.childCB').length) {
            $('#checkAll').prop('checked', false);
        }
        else {
            $('#checkAll').prop('checked', true);
        }
    }

    function checkButtonShowHide() {
        if ($('.cb-3:checkbox:checked').length === 0 && $('.cb-4:checkbox:checked').length === 0) {
            $('#buttonDIV').hide();
        }
        else {
            $('#buttonDIV').show();
        }
    }

    function Management(action, actionId) {

        if ($('#CanSubmit').val() === "true") {
            $('#CanSubmit').val('false');
        }
        else {
            return;
        }

        var Requests = [];
        $('.3 :checkbox:checked').each(function () {
            var UserAction = {
                "Status": $(this).data('status'),
                "ExpectedRoleId": $(this).data('expectedroleid'),
                "ActionId": $(this).data('actionid'),
                "ButtonName": $(this).data('buttonname')
            };

            Requests.push({ "ActionId": actionId, "RequestId": $(this).val(), "ReferenceNo": $(this).data('referenceno'), "UserAction": UserAction });
        });
        $('.4 :checkbox:checked').each(function () {
            var UserAction = {
                "Status": $(this).data('status'),
                "ExpectedRoleId": $(this).data('expectedroleid'),
                "ActionId": $(this).data('actionid'),
                "ButtonName": $(this).data('buttonname')
            };

            Requests.push({ "ActionId": actionId, "RequestId": $(this).val(), "ReferenceNo": $(this).data('referenceno'), "UserAction": UserAction });
        });

        $.ajax({
            url: window.location.origin + "/SubscriptionManagement/Home/Management",
            data: { "Requests": Requests, "Action": action },
            cache: false,
            type: "POST",
            dataType: "html",

            success: function (data, textStatus, XMLHttpRequest) {
                var d = JSON.parse(data);
                if (d.Error === null) {
                    showToast(d.Message, "success");
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
                else {
                    $('#CanSubmit').val('true');
                    showToast(d.Error, "error");
                }
            }
        });
    }
</script>