﻿@using SubscriptionManagement.Models
@model LetterOfUndertakingViewModel
@{
    Layout = null;
    var m = Model;
    var d = "disabled";
    var c = "checked";
    var req = Model.Request;
    var isCBM = Model.IsCBM;
    if (req.Status == "Pending Form Submission" && m.HasWriteAccess)
    {
        d = "";
    }
    var CustomerDetails = m.CustomerDetails;
    var LetterOfUndertaking = m.LetterOfUndertaking;
    var margin = "margin-left:8.5%; margin-right:7.5%;";
}

@if (isCBM)
{
    ViewBag.Title = "Consent Form";
    <head>
        <script src="/Scripts/jquery-3.3.1.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
        <script src="/Scripts/bootstrap-datepicker.js"></script>
        <script src="/Scripts/bootstrap-datepicker.min.js"></script>
        <script src="/Scripts/jquery.toast.js"></script>
        <script src="/Scripts/main.js"></script>
        <script src="/Areas/SubscriptionManagement/Scripts/site.js"></script>

        <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/Contents/bootstrap-datepicker3.min.css" rel="stylesheet" />
        <link href="/Areas/SubscriptionManagement/Content/Site.css" rel="stylesheet" type="text/css" />

        <link href="/Content/jquery.toast.css" rel="stylesheet" type="text/css" />
    </head>
}

    <style>
        table-bordered-thistable > thead > tr > th, .table-bordered-thistable > thead > tr > th, table-bordered-thistable > tbody > tr > th, .table-bordered-thistable > tbody > tr > th, table-bordered-thistable > tfoot > tr > th, .table-bordered-thistable > tfoot > tr > th, table-bordered-thistable > thead > tr > td, .table-bordered-thistable > thead > tr > td, table-bordered-thistable > tbody > tr > td, .table-bordered-thistable > tbody > tr > td, table-bordered-thistable > tfoot > tr > td, .table-bordered-thistable > tfoot > tr > td {
            border: 1px solid #000000;
        }
        .CBMBG {
            /*background: #00bdf2;*/
            background: #004185;
            color: white;
        }
    </style>

<div style="margin-top:1.4%; margin-bottom:1.4%; background-color:white; padding: 40px 50px 50px 50px; font-size:14px; @{ if (isCBM) { @margin } } ">
    <table style="width:100%; font-size:14px">
        <tbody>
            <tr>
                <td colspan="3" style="font-weight:bold; text-align:center">
                    LETTER OF UNDERTAKING
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width:4%; vertical-align:top">To</td>
                <td style="width:1%; vertical-align:top">:</td>
                <td>
                    <div>Credit Bureau Malaysia Sdn Bhd (CBM)</div>
                    <div>Level 5, Bangunan CGC, Kelana Business Centre</div>
                    <div>No.97, Jalan SS7/32,</div>
                    <div>47301 Petaling Jaya, Selangor</div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="vertical-align:top">From</td>
                <td style="vertical-align:top">:</td>
                <td>
                    <div><span>@CustomerDetails.BusinessName</span>&nbsp; @CustomerDetails.BusinessRegNo</div>
                    <div>@CustomerDetails.BusinessAddress</div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">Dear Sir/Madam, </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:justify">
                    It is hereby confirmed that I/we are entitled to act on behalf of <span style="display:inline-block; text-align:center; width:27%; border-bottom:1px solid;">@CustomerDetails.BusinessName</span> (‘Subscriber’)
                    and empowered to provide this undertaking. We hereby represent and warrant that all the information
                    provided relating to Company/Business/Individual (‘Subjects’) is complete, true and accurate and that
                    they are our existing customers. Therefore we have legitimate purpose in line with all applicable laws to
                    conduct credit assessment, credit check, credit review and credit monitoring on the Subjects via acquiring
                    Services from CBM, including but not limited to the following:-
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered-thistable" style="margin-top:2%; font-size:14px;">
        <tbody>
            <tr>
                <td style="width:1%; padding:4px;">1.</td>
                <td style="padding:4px;" colspan="2">Bulk Extraction Services</td>
            </tr>
            <tr>
                <td style="padding:4px;">2.</td>
                <td style="padding:4px;" colspan="2">Historical Bulk Extraction Services</td>
            </tr>
            <tr>
                <td style="padding:4px;">3.</td>
                <td style="padding:4px;" colspan="2">Credit Monitoring Services</td>
            </tr>
            <tr>
                <td style="padding:4px;">4.</td>
                <td style="padding:4px;" colspan="2">Any other services agreed between CBM and the subscriber</td>
            </tr>
        </tbody>
    </table>

    <table style="margin-top:2%; font-size:14px;">
        <tbody>
            <tr>
                <td colspan="2" style="text-align:justify">
                    As such, we represent and warrant that consent has been obtained from each and every Subject for the
                    above Services.
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:justify">
                    We further undertake to fully and effectively indemnify CBM and keep CBM indemnified at all times against
                    all actions, proceedings, costs, claims, demands, liabilities and expenses whatsoever (including legal and
                    other fees and disbursement on an indemnity basis) sustained, incurred or suffered by CBM in respect of:-
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="vertical-align:top">(a)</td>
                <td style="text-align:justify">
                    prohibited use of credit reports, credit information or outcome of the Services under any applicable
                    laws and regulations;
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="vertical-align:top">(b)</td>
                <td style="text-align:justify">
                    failure to provide consent of Subjects within the time requested by CBM.
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:justify">
                    I/We hereby confirm that this undertaking is valid for the entire duration of the Subscription period/project
                    period and any extension granted thereto.
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:justify">
                    I/We understand that CBM reserves the right to accept or reject our subscription application without
                    assigning any reason thereof. Terms of the Subscription Agreement shall remain in full force and effect.
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                @if (req.Status == "Pending Form Submission")
                {
                    <td>
                        <input @if ((LetterOfUndertaking != null) && LetterOfUndertaking.Consented) { @c } @d type="checkbox" id="LOUConsented" />
                    </td>
                    <td>
                        <label for="LOUConsented" style="padding-top:1px;">I Agree</label>
                    </td>
                }
                else
                {
                    if (LetterOfUndertaking.SubmittedDate.HasValue)
                    {
                        <td colspan="2">Accepted and Acknowledged by @CustomerDetails.BusinessName on @LetterOfUndertaking.SubmittedDate.Value.ToString("dd MMM yyyy")</td>
                    }
                    else
                    {
                        <td>
                            <input @if ((LetterOfUndertaking != null) && LetterOfUndertaking.Consented) { @c } @d type="checkbox" id="LOUConsented" />
                        </td>
                        <td>
                            <label for="LOUConsented" style="padding-top:1px;">I Agree</label>
                        </td>
                    }
                }
            </tr>
            <tr>
                <td colspan="2"><span id="ErrorMsgForLOUConsented"></span></td>
            </tr>
        </tbody>
    </table>
</div>