﻿<base href="@Model.BaseUrl" />
<div class="row body-container">
    <div class="bs-component" style="font-size:12px; margin-top: 10px;">
        <div class="row col-lg-offset-1">
            <h3 style="margin-top: 0px;">ECN Request Documents</h3>
        </div>
        <div class="col-lg-offset-1 col-lg-10 no-padding">
            <div class="col-lg-2 background-white no-padding">
                <div>
                    <button class="btn collapsible-panel" type="button" data-toggle="collapse" data-target="#referenceno" aria-expanded="false" aria-controls="referenceno">ECN Request Info</button>
                </div>
                <div class="col">
                    <div class="collapse multi-collapse padding-5" id="referenceno">
                        <div class="card card-body">
                            <label class="font-weight-bold">Reference No:</label><br />
                            <a>ECN-20181015-0021</a>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn collapsible-panel" type="button" data-toggle="collapse" data-target="#documents" aria-expanded="false" aria-controls="documents">Documents</button>
                </div>
                <div class="col">
                    <div class="collapse multi-collapse padding-5" id="documents">
                        <div class="card card-body">
                            <label class="font-weight-bold">Drawing</label><br />
                            <a onclick="PreviewDocument(this)" data-value="http://localhost:50933/Areas/ProcessVault/Documents/20180921/34A7ABA5-8D6B-43BA-AB98-169205F9ECCC/Analytics%20Methodology.pdf#page=3&toolbar=0">2D Drawing</a><br />
                            <a onclick="PreviewDocument(this)" data-value="@Url.Action("View3DFile","ECN", new { area = "ProcessVault" })">3D Drawing</a><br />
                            <label class="font-weight-bold">Engineer Report</label><br />
                            <a onclick="PreviewDocument(this)" data-value="@Url.Action("Test","ECN", new { area = "ProcessVault" })">Engineer Report 1</a><br />
                            <a>Engineer Report 2</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 no-padding">
                <iframe id="example1" src="" style="height:75vh; width:100%; background-color:white; margin:1px;"></iframe>
            </div>
        </div>
    </div>
</div>
<script>
    function PreviewDocument(e) {
        $('#example1').prop('src', $(e).data('value'));
    }
</script>
<script src="~/Scripts/three.js"></script>
<script src="~/Scripts/stats.js"></script>
<script src="~/Scripts/TrackballControls.js"></script>
<script src="~/Scripts/CSS3DRenderer.js"></script>