﻿@using IdentityManagement.Utilities
@using ProcessVault.Models.ECN
@model ECNConfig

@Html.HiddenFor(c => c.Request.RequestId, new { id = "requestId" })
@Html.HiddenFor(c => c.Request.ReferenceNo, new { id = "referenceNo" })
@Html.HiddenFor(c => c.Request.RequestState.PreviousState, new { id = "previousState" })

<base href="@Model.BaseUrl" />
<div class="row body-container">
    <div class="bs-component" style="font-size:12px; margin-top: 10px;">
        <div class="row col-lg-offset-1">
            <h3 style="margin-top: 0px;">ECN Request</h3>
        </div>
        <div class="col-lg-offset-1 col-lg-2">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2" class="background-color">Requester</th>
                        </tr>
                    </thead>
                    @{
                        var m = Model;
                        <tbody>
                            <tr>
                                <td class="background-color">
                                    Name:
                                </td>
                                <td>
                                    @m.Request.Requester.Name
                                </td>
                            </tr>
                            <tr>
                                <td class="background-color">
                                    Position:
                                </td>
                                <td>
                                    @m.Request.Requester.Position
                                </td>
                            </tr>
                            <tr>
                                <td class="background-color">
                                    Department:
                                </td>
                                <td>
                                    @m.Request.Requester.Department
                                </td>
                            </tr>
                            <tr>
                                <td class="background-color">
                                    Request Date:
                                </td>
                                <td>
                                    @DateTime.Now.ToString("dd MMM yyyy HH:mm:ss")
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
            <div class="row">
                @{
                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") || (m.Request.Reviewers != null && m.Request.Reviewers.Count > 0))
                    {
                        <table id="tblReviewer" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color" style="width:40%">Reviewer</th>
                                    <th class="background-color" style="width:35%">Date</th>
                                    <th class="background-color" style="text-align: center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    if (m.Request.Reviewers != null)
                                    {
                                        if (m.Request.Reviewers.Count > 0)
                                        {
                                            foreach (var r in m.Request.Reviewers)
                                            {
                                                <tr>
                                                    @{
                                                        if ((m.Request.Status == "Pending Requester" || m.Request.Status == "Draft") && m.Access == "Write")
                                                        {
                                                            <td colspan="2"><label data-value="@r.UserId">@r.Name</label></td>
                                                            <td style="text-align: center">
                                                                <a class="delete" onclick="removeReviewer(this)" data-value="@r.UserId" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td><label data-value="@r.UserId">@r.Name</label></td>
                                                            var dt = Convert.ToDateTime(r.ActionDate);
                                                            var actionDate = dt == default(DateTime) ? (r.Action == "-" ? "-" : "N/A") : dt.ToString("dd MMM yyyy HH:mm:ss");
                                                            var action = r.Action == "PENDING" ? r.Action.First().ToString().ToUpper() + r.Action.Substring(1).ToLower() : r.Action;

                                                            <td>@actionDate</td>
                                                            <td>@action</td>
                                                        }
                                                    }
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            if (m.Request.Status != "Draft" && m.Request.Status != "New" && (m.Request.Status == "Pending Requester" && m.Access != "Write"))
                                            {
                                                <tr>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                </tr>
                                            }

                                        }
                                    }
                                }
                            </tbody>
                            <tfoot>
                                @{
                                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Access == "Write")
                                    {
                                        <tr>
                                            <td colspan="2">
                                                <select id="inptReviewer" class="form-control">
                                                    <option value="0">Select Reviewer</option>
                                                    @{
                                                        if (m.Reviewers != null)
                                                        {
                                                            foreach (var r in m.Reviewers)
                                                            {
                                                                <option value="@r.UserId">@r.Name</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td style="text-align: center">
                                                <button class="btn btn-xs btn-info" onclick="selectReviewer()">Add</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tfoot>
                        </table>
                    }
                }
            </div>
            @{
                if (m.Request.Status != "New" && m.Request.Status != "Draft" && m.Request.PEXs != null && m.Request.PEXs.Where(x => x.Action != "N/A").Count() > 0)
                {
                    <div class="row">
                        <table id="tblEngineer" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color" style="width:40%">Engineer</th>
                                    <th class="background-color" style="width:35%; vertical-align: top;">Date</th>
                                    <th class="background-color" style="vertical-align: top;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var p in m.Request.PEXs)
                                    {
                                        <tr>
                                            <td>@p.Name</td>
                                            @{
                                                var dt = Convert.ToDateTime(p.ActionDate);
                                                var actionDate = dt == default(DateTime) ? (p.Action == "-" ? "-" : "N/A") : dt.ToString("dd MMM yyyy HH:mm:ss");
                                                var action = p.Action == "PENDING" ? p.Action.First().ToString().ToUpper() + p.Action.Substring(1).ToLower() : p.Action;

                                                <td>@actionDate</td>
                                                <td>@action</td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
            @{
                if ((m.Request.Status != "New" && m.Request.Status != "Draft" && m.Request.Approvers != null && m.Request.Approvers.Count > 0) || (m.Request.Status == "Pending Engineer" && m.Access == "Write"))
                {
                    <div class="row">
                        <table id="tblApprover" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color" style="width:40%">PIC</th>
                                    <th class="background-color" style="width:35%">Date</th>
                                    <th class="background-color" style="text-align: center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (m.Request.Approvers != null)
                                    {
                                        var apprs = m.Request.Approvers.OrderByDescending(x => x.Action == "APPROVE" && x.Action == "PENDING").ToList();
                                        foreach (var a in apprs)
                                        {
                                            var n = "";
                                            switch (a.Name)
                                            {
                                                case "Quality Assurance":
                                                    n = "QA";
                                                    break;
                                                case "Project Management":
                                                    n = "PM";
                                                    break;
                                                case "Production":
                                                    n = "PRD";
                                                    break;
                                                case "Logistic":
                                                    n = "LGC";
                                                    break;
                                            }
                                            <tr>
                                                <td><label name="@n" data-value="@a.UserId">@a.Name</label></td>
                                                @{
                                                    var actionDate = Convert.ToDateTime(a.ActionDate) == default(DateTime) ? "N/A" : Convert.ToDateTime(a.ActionDate).ToString("dd MMM yyyy HH:mm:ss");
                                                    var action = a.Action == "PENDING" ? a.Action.First().ToString().ToUpper() + a.Action.Substring(1).ToLower() : a.Action;

                                                    <td>@actionDate</td>
                                                    <td>@action</td>
                                                }
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                }
            }
            @{
                if ((m.Request.Status == "Pending Engineer" && m.Access == "Write") || (m.Request.FinalApprovers != null && m.Request.FinalApprovers.Count > 0))
                {
                    <div class="row">
                        <table id="tblFinalApprover" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color" style="width:40%">Final Approver</th>
                                    <th class="background-color" style="width:35%; vertical-align: top;">Date</th>
                                    <th class="background-color" style="vertical-align: top;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var fa in m.Request.FinalApprovers)
                                    {
                                        <tr>
                                            <td>@fa.Name</td>
                                            @{
                                                var actionDate = Convert.ToDateTime(fa.ActionDate) == default(DateTime) ? "N/A" : Convert.ToDateTime(fa.ActionDate).ToString("dd MMM yyyy HH:mm:ss");
                                                var action = fa.Action == "PENDING" ? fa.Action.First().ToString().ToUpper() + fa.Action.Substring(1).ToLower() : fa.Action;

                                                <td>@actionDate</td>
                                                <td>@action</td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                @{
                                    if (m.Request.Status == "Pending Engineer" && m.Access == "Write")
                                    {
                                        <tr>
                                            <td colspan="2">
                                                <select id="inptFinalApprover" class="form-control">
                                                    <option value="0">Select Final Approver</option>
                                                    @{
                                                        if (m.FinalApprovers != null)
                                                        {
                                                            foreach (var r in m.FinalApprovers)
                                                            {
                                                                <option value="@r.UserId">@r.Name</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td style="text-align: center">
                                                <button class="btn btn-xs btn-info" onclick="selectFinalApprover()">Add</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tfoot>
                        </table>
                    </div>
                }
            }
        </div>
        <div class="row1">
            <div class="col-lg-8">
                <!---Requester-->
                <table class="table table-bordered table-col-4">
                    <thead>
                        <tr class="background-color">
                            <th colspan="4">Change Request Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="background-color">
                                Reference No :
                            </td>
                            <td style="width: 23em;">
                                <label>@m.Request.ReferenceNo</label>
                            </td>
                            <td class="background-color">
                                Status :
                            </td>
                            <td>
                                <label style="color:red;" id="lblStatus">@m.Request.Status</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color">
                                *Subject :
                            </td>
                            <td colspan="3">
                                @{
                                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                                    {
                                        @Html.TextBoxFor(r => r.Request.Subject, new { id = "inptSubject", name = "subject", @class = "form-control" });
                                    }
                                    else
                                    {
                                        @m.Request.Subject.ToString();
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color">
                                Description :
                            </td>
                            <td colspan="7">
                                @{
                                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                                    {
                                        @Html.TextAreaFor(r => r.Request.Description, new { id = "inptDescription", name = "description", @class = "form-control", rows = 3 });
                                    }
                                    else
                                    {
                                        @m.Request.Description.ToString();
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color">
                                Attachment :
                            </td>
                            <td colspan="3">
                                @{
                                    if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                                    {
                                        <div class="margin-bottom-5">
                                            <input id="fileSelectRequester" type="file" class="form-control" style="width: 92%;display: inline-block;" />
                                            <button class="btn btn-xs btn-info" onclick="uploadDoc('requester')">Upload</button>
                                        </div>
                                    }
                                }
                                <table class="table table-bordered sub-table margin-top-5" id="tblRequesterAtts">
                                    <thead>
                                        <tr>
                                            <th style="width: 18%">
                                                Uploaded Date
                                            </th>
                                            <th style="width: 8.2%">
                                                Ext
                                            </th>
                                            <th style="width: 10%">
                                                Size
                                            </th>
                                            <th>
                                                File Name
                                            </th>

                                            @{
                                                if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                                                {
                                                    <th style="width: 8.2%; text-align:center;">
                                                        Action
                                                    </th>
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (m.Request.Attachments != null && m.Request.Attachments.Count > 0)
                                            {
                                                var atts = m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "D88A3D13-707A-46D0-B4CC-6EAF6832C3E3");
                                                foreach (var att in atts)
                                                {
                                                    <tr>
                                                        <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                        <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                                        <td>@att.Size</td>
                                                        @{
                                                            if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                                                            {
                                                                <td>@att.Name</td>
                                                            }
                                                            else
                                                            {
                                                                <td><a href="@att.Path@att.Name" target="_blank">@att.Name</a></td>
                                                            }
                                                            if ((m.Request.Status == "New" || m.Request.Status == "Draft" || m.Request.Status == "Pending Requester") && m.Request.Requester.UserId == Utils.GetUserId())
                                                            {
                                                                <td data-value="@att.AttachmentId"><a class="delete" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                                            }
                                                        }
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!---Engineer-->
                @{
                    if ((m.Request.Status == "Pending Engineer" && m.Access == "Write") || (m.Request.Status != "New" && m.Request.Status != "Draft" && m.ECNDocument != null))
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr class="background-color">
                                    <th colspan="4">Task Scope</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color">
                                        *Publish Document Name :
                                    </td>
                                    <td colspan="3">
                                        @{
                                            var docName = m.ECNDocument != null ? m.ECNDocument.DocumentName : "";
                                            if (m.Request.Status == "Pending Engineer" && m.Access == "Write")
                                            {
                                                <input type="text" class="form-control" id="inptPublishDocumentName" value="@docName" />
                                            }
                                            else
                                            {
                                                <label>@docName</label>
                                            }
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        *Document Code :
                                    </td>
                                    <td style="width: 23em;">
                                        @{
                                            var docCode = m.ECNDocument != null ? m.ECNDocument.Code : "";
                                            if (m.Request.Status == "Pending Engineer" && m.Access == "Write")
                                            {
                                                <input type="text" class="form-control" id="inptDocumentCode" value="@docCode" />
                                            }
                                            else
                                            {
                                                <label>@docCode</label>
                                            }
                                        }
                                    </td>
                                    <td class="background-color">
                                        *Completion Date :
                                    </td>
                                    <td>
                                        @{
                                            var completedDate = m.ECNDocument != null ? m.ECNDocument.CompletionDate : "";
                                            if (m.Request.Status == "Pending Engineer" && m.Access == "Write")
                                            {
                                                <input type="text" class="form-control datepicker" id="inptCompletionDate" value="@completedDate" />
                                            }
                                            else
                                            {
                                                <label>@completedDate</label>
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        *Document :
                                    </td>
                                    <td colspan="4">
                                        @{
                                            if (m.Request.Attachments != null)
                                            {
                                                if (m.Request.Status == "Pending Engineer" && m.Access == "Write")
                                                {
                                                    <input id="fileSelectEngr" type="file" class="form-control" style="width: 92%;display: inline-block;" />
                                                    <button class="btn btn-xs btn-info" onclick="uploadDoc('engr')">Upload</button>
                                                }
                                            }
                                        }
                                        <table class="table table-bordered sub-table margin-top-5" id="tblEngrAtts">
                                            <thead>
                                                <tr>
                                                    <th style="width: 18.5%">
                                                        Uploaded Date
                                                    </th>
                                                    <th style="width: 8.2%">
                                                        Ext
                                                    </th>
                                                    <th style="width: 10%">
                                                        Size
                                                    </th>
                                                    <th>
                                                        File Name
                                                    </th>
                                                    @{
                                                        if (m.Request.Status == "Pending Engineer")
                                                        {
                                                            <th style="width: 8.2%; text-align:center;">
                                                                Action
                                                            </th>
                                                        }
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (m.Request.Attachments != null && m.Request.Attachments.Count > 0)
                                                    {
                                                        var atts = m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "A542CF4A-3986-4548-8AD0-8CA67291DC3B");
                                                        foreach (var att in atts)
                                                        {
                                                            <tr>
                                                                <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                                                <td>@att.Size</td>
                                                                @{
                                                                    if (m.Request.Status == "Pending Engineer")
                                                                    {
                                                                        <td>@att.Name</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td><a href="@att.Path@att.Name" target="_blank">@att.Name</a></td>
                                                                    }

                                                                    if (m.Request.Status == "Pending Engineer" && m.Access == "Write")
                                                                    {
                                                                        <td data-value="@att.AttachmentId"><a class="delete" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                                                    }
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Include Person In Charge :
                                    </td>
                                    <td colspan="3">
                                        <div class="margin-bottom-5">
                                            @{
                                                if (m.Request.Status == "Pending Engineer" && m.Access == "Write")
                                                {
                                                    if (m.Request.Approvers != null && m.Request.Approvers.Count > 0)
                                                    {
                                                        foreach (var d in m.Departments)
                                                        {

                                                            if (d.Name == "Project Management")
                                                            {
                                                                if (m.Request.Approvers.Find(x => x.Name == "Project Management") != null)
                                                                {
                                                                    <input type="checkbox" id="inptPMC" data-value="PM" checked onchange="selectApprover(this)" /><span style="margin-right: 3%;">Project Management</span>
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" id="inptPMC" data-value="PM" onchange="selectApprover(this)" /><span style="margin-right: 3%;">Project Management</span>
                                                                }
                                                            }
                                                            if (d.Name == "Quality Assurance")
                                                            {
                                                                if (m.Request.Approvers.Find(x => x.Name == "Quality Assurance") != null)
                                                                {
                                                                    <input type="checkbox" id="inptQA" data-value="QA" checked onchange="selectApprover(this)" /><span style="margin-right: 3%;">Quality Assurance</span>
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" id="inptQA" data-value="QA" onchange="selectApprover(this)" /><span style="margin-right: 3%;">Quality Assurance</span>
                                                                }
                                                            }
                                                            if (d.Name == "Production")
                                                            {
                                                                if (m.Request.Approvers.Find(x => x.Name == "Production") != null)
                                                                {
                                                                    <input type="checkbox" id="inptPROD" data-value="PRD" checked onchange="selectApprover(this)" /><span style="margin-right: 3%;">Production</span>
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" id="inptPROD" data-value="PRD" onchange="selectApprover(this)" /><span style="margin-right: 3%;">Production</span>
                                                                }
                                                            }
                                                            if (d.Name == "Logistic")
                                                            {
                                                                if (m.Request.Approvers.Find(x => x.Name == "Logistic") != null)
                                                                {
                                                                    <input type="checkbox" id="inptLGC" data-value="LGC" checked onchange="selectApprover(this)" /><span style="margin-right: 3%;">Logistic</span>
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" id="inptLGC" data-value="LGC" onchange="selectApprover(this)" /><span style="margin-right: 3%;">Logistic</span>
                                                                }

                                                            }
                                                        }
                                                        <input type="checkbox" id="inptENGR" data-value="ENGR" onchange="selectApprover(this)" /><span style="margin-right: 3%;">Engineer</span>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="inptPMC" data-value="PM" onchange="selectApprover(this)" /><span style="margin-right: 3%;"> Project Management </span>

                                                        <input type="checkbox" id="inptQA" data-value="QA" onchange="selectApprover(this)" /><span style="margin-right: 3%;"> Quality Assurance </span>

                                                        <input type="checkbox" id="inptLGC" data-value="LGC" onchange="selectApprover(this)" /><span style="margin-right: 3%;"> Logistic </span>

                                                        <input type="checkbox" id="inptPROD" data-value="PRD" onchange="selectApprover(this)" /><span style="margin-right: 3%;"> Production </span>

                                                        <input type="checkbox" id="inptENGR" data-value="ENGR" onchange="selectApprover(this)" /><span style="margin-right: 3%;"> Engineer </span>

                                                    }
                                                }
                                                else
                                                {
                                                    if (m.Request.Approvers != null && m.Request.Approvers.Count > 0)
                                                    {
                                                        var pic = "";
                                                        foreach (var d in m.Departments)
                                                        {

                                                            if (d.Name == "Information Technology")
                                                            {
                                                                if (m.Request.Approvers.Find(x => x.Name == "Project Management") != null)
                                                                {
                                                                    pic += " - Project Management";
                                                                }
                                                            }
                                                            if (d.Name == "Finance")
                                                            {
                                                                if (m.Request.Approvers.Find(x => x.Name == "Quality Assurance") != null)
                                                                {
                                                                    pic += " - Quality Assurance";
                                                                }
                                                            }
                                                            if (d.Name == "Human Resource")
                                                            {
                                                                if (m.Request.Approvers.Find(x => x.Name == "Production") != null)
                                                                {
                                                                    pic += " - Production";
                                                                }
                                                            }
                                                            if (d.Name == "Administration")
                                                            {
                                                                if (m.Request.Approvers.Find(x => x.Name == "Logistic") != null)
                                                                {
                                                                    pic += " - Logistic";
                                                                }
                                                            }
                                                        }
                                                        @pic
                                                    }
                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">Remark to PIC:</td>
                                    <td colspan="3">
                                        @{
                                            if (m.Request.Status == "Pending Engineer" && m.Access == "Write")
                                            {
                                                var rmk = m.ECNDocument != null ? m.ECNDocument.Remark : "";
                                                <textarea id="inptRemark" rows="5" class="form-control">@rmk</textarea>
                                            }
                                            else
                                            {
                                                <label>@m.ECNDocument.Remark</label>
                                            }
                                        }
                                    </td>
                                </tr>
                                @{
                                    if (m.Request.Status != "Pending Engineer")
                                    {
                                        <tr>
                                            <td class="background-color">
                                                PIC's Attachment(s) :
                                            </td>
                                            <td colspan="3">
                                                @{
                                                    if (m.Request.Status == "Pending Person In Charge" && m.Access == "Write")
                                                    {
                                                        <input id="fileSelectPIC" type="file" class="form-control" style="width: 92%;display: inline-block;" />
                                                        <button class="btn btn-xs btn-info" onclick="uploadDoc('pic')">Upload</button>
                                                    }
                                                    if ((m.Request.Status != "Pending Engineer" && m.Request.Status != "Pending Reviewer" && m.Request.Status != "New" && m.Request.Status != "Draft"
                                                        && m.Request.Status != "Pending Requester") || m.Request.Attachments != null)
                                                    {
                                                        <table class="table table-bordered sub-table margin-top-5" id="tblPICAttach">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width: 18.5%">
                                                                        Uploaded Date
                                                                    </th>
                                                                    <th style="width: 8.2%">
                                                                        Ext
                                                                    </th>
                                                                    <th style="width: 10%">
                                                                        Size
                                                                    </th>
                                                                    <th>
                                                                        File Name
                                                                    </th>
                                                                    <th>
                                                                        Uploaded By
                                                                    </th>
                                                                    @{
                                                                        if (m.Request.Status == "Pending Person In Charge")
                                                                        {
                                                                            <th style="width: 8.2%; text-align:center;">
                                                                                Action
                                                                            </th>
                                                                        }
                                                                    }
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    if (m.Request.Attachments != null && m.Request.Attachments.Count > 0)
                                                                    {
                                                                        var atts = m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "64605EDD-8E42-40F6-B5A3-C1A4B46F52D4");
                                                                        foreach (var att in atts)
                                                                        {
                                                                            <tr>
                                                                                <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                                <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                                                                <td>@att.Size</td>
                                                                                @{
                                                                                    if (m.Request.Status == "Pending PEx Team")
                                                                                    {
                                                                                        <td>@att.Name</td>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <td><a href="@att.Path@att.Name" target="_blank">@att.Name</a></td>
                                                                                    }
                                                                                }
                                                                                <td>@att.UploadedBy</td>
                                                                                @{
                                                                                    if (m.Request.Status == "Pending Person In Charge" && m.Access == "Write" && att.UserId == m.CurrentUser.UserId)
                                                                                    {
                                                                                        <td data-value="@att.AttachmentId"><a class="delete" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                                                                                    }
                                                                                }
                                                                            </tr>
                                                                        }
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                }
                @{
                    if (m.Request.Status != "New" && m.Request.Status != "Draft")
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color">Comment/Remark</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        <table class="table table-bordered sub-table margin-top-5" id="tableCommentRemark">
                                            <thead>
                                                <tr>
                                                    <th style="width: 19.4%">Date Time</th>
                                                    <th style="width: 29.5%">Commented By</th>
                                                    <th>Comment/Remark</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (m.Request.CommentRemarks != null)
                                                    {
                                                        foreach (var cr in m.Request.CommentRemarks)
                                                        {
                                                            <tr>
                                                                <td>@Convert.ToDateTime(cr.ActionDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                <td>@cr.UserName</td>
                                                                <td>@cr.Comment</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        @{
                                            if (m.Request.Status == "Pending Requester" && m.Access == "Write")
                                            {
                                                <textarea id="inptComment" rows="3" class="form-control"></textarea>
                                            }
                                            else if (m.Request.Status != "New" && m.Request.Status != "Draft" && !m.Request.Status.ToLower().Contains("close") && m.Access == "Write")
                                            {
                                                <textarea id="inptComment" rows="3" class="form-control"></textarea>

                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
                <!-- Action Button -->
                <div class="right-text margin-bottom-5">
                    @{
                        if (m.Request != null)
                        {
                            if (m.Request.Status != "Closed" && m.Request.Status != "Rejected")
                            {
                                foreach (var a in m.RoleActions)
                                {
                                    switch (a.ActionKeyword)
                                    {
                                        case "SUBMIT":
                                            <button onclick="Submit('@a.ActionID')" type="button" class="btn btn-xs btn-success">@a.ActionName</button>
                                            break;
                                        case "ASSIGN":
                                            <button onclick="Assign('@a.ActionID')" type="button" class="btn btn-xs btn-success">@a.ActionName</button>
                                            break;
                                        case "DRAFT":
                                            if (m.Request.Status == "New" || m.Request.Status == "Draft")
                                            {
                                                <button onclick="SaveDraft('@a.ActionID')" type="button" class="btn btn-xs btn-info">@a.ActionName</button>
                                            }
                                            break;
                                        case "START":
                                            var action = m.Request.Approvers.Find(x => x.UserId == m.CurrentUser.UserId).Action;
                                            if (action == "PENDING")
                                            {
                                                <button onclick="Start('@a.ActionID')" type="button" class="btn btn-xs btn-info">@a.ActionName</button>
                                            }
                                            break;
                                        case "COMPLETE":
                                            <button onclick="Complete('@a.ActionID')" type="button" class="btn btn-xs btn-success">@a.ActionName</button>
                                            break;
                                        case "APPROVE":
                                            <button onclick="Approve('@a.ActionID')" type="button" class="btn btn-xs btn-success">@a.ActionName</button>
                                            break;
                                        case "REQUEST_MORE":
                                            <button onclick="RequestMore('@a.ActionID')" type="button" class="btn btn-xs btn-warning">@a.ActionName</button>
                                            break;
                                        case "REJECT":
                                            <button onclick="Reject('@a.ActionID')" type="button" class="btn btn-xs btn-danger">@a.ActionName</button>
                                            break;
                                    }
                                }
                            }
                        }
                        if (m.Request.Status == "New")
                        {
                            <a href="@Url.Action("Index", "Home", new { area="ProcessVault" })" class="btn btn-xs btn-default">Close</a>
                        }
                        else
                        {
                            <a href="@Url.Action("LoadMyTask", "Home", new { area="ProcessVault" })" class="btn btn-xs btn-default">Close</a>
                        }
                    }
                </div>
                @{
                    if (m.Request.Status != "New" && m.Request.Status != "Draft")
                    {
                        <!---Audit Trail-->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color">Audit Trail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="table sub-table margin-top-5 table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width:19.4%;">
                                                        Date Time
                                                    </th>
                                                    <th style="width:14.5%;">
                                                        Action Taken By
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                    <th style="width:51%;">
                                                        Comment
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (m.Request.Histories != null && m.Request.Histories.Count > 0)
                                                    {
                                                        foreach (var h in m.Request.Histories)
                                                        {
                                                            <tr>
                                                                <td>@Convert.ToDateTime(h.ActionDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                <td>@h.UserName</td>
                                                                <td>@h.Action</td>
                                                                <td>@h.Description</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script>
    $('.datepicker').datepicker({
        format: 'dd M yyyy'
    })
</script>
