﻿@using ObjectClasses
@model Request
@{
    Layout = "../Shared/_Layout.cshtml";
}

<script src="~/Areas/ProcessVault/Scripts/pdfobject.min.js"></script>
<script src="~/Areas/ProcessVault/Scripts/ecn.js"></script>
<script>
    $(function () {
        var url = '@Url.Action("LoadPageView", "ECN")';
        var elemId = '#PartialViewPanel';
        LoadPageView(elemId, url, { "requestId": $('#id').val() });
    });
</script>
@Html.HiddenFor(m => m.RequestId, new { id = "id" })
<div id="PartialViewPanel" class="bs-docs-section clearfix">
</div>
