﻿@media print {
    #printPageButton {
        display: none;
    }
}
body {
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
}

label, table td {
    font-size: 12px;
}

h4 {
    font-size: x-large;
    margin-bottom: 10px;
}

.bordered, .bordered td, .bordered div {
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

    table th {
        font-size: 12px;
        text-align: left;
        font-style: italic;
    }

    table td, th {
        vertical-align: top;
    }

.background-gray {
    background-color: lightgray;
    padding: 5px 10px;
}

.margin-bottom-1 {
    margin-bottom: 1px;
}

.sub-table th {
    background-color: #f3f3f3;
}

input[type=checkbox] {
    margin: 0px 3px;
    vertical-align: middle;
}

.center-bordered td:nth-child(1) {
    border-right: 1px solid black;
}

.center-bordered td:nth-child(2) {
    border-left: 1px solid black;
}

.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}