﻿@using CBMClaimManagement.Models;
@model ExportClaimRequestViewModel
@{
    var users = Model.users;
    var apps = Model.apps;
    var CEO = Model.CEO;
    var HODs = Model.HODs;
    var AdminTeam = Model.AdminTeam;
    var FinanceTeam = Model.FinanceTeam;
    var claimTypes = Model.claimTypes;
    var claimRequest = Model.claimRequest;
    var requestor = Model.requestor;
    var claim = Model.claim;
    var claimItems = Model.claimItems;

    decimal mileageTotal = 0;
    decimal travellingTotal = 0;
    decimal parkingTotal = 0;
    decimal mobileTotal = 0;
    decimal outpatientTotal = 0;
    decimal opticalTotal = 0;
    decimal entertainmentTotal = 0;
    decimal mealTotal = 0;
    decimal otherTotal = 0;
    decimal Total = 0;

    var Verified = AdminTeam.Find(x => x.Action == "Approve");

    var Checker = HODs.Find(x => x.Action == "Approve");

    var Verify = FinanceTeam.Find(x => x.Action == "Complete");
}

<style>
    .font10 {
        font-size: 10px;
    }

    .alignMiddle {
        text-align: center;
        vertical-align: middle;
    }

    .alignRight {
        text-align: right;
        vertical-align: middle;
    }
</style>
<meta name="viewport" content="width=device-width" />

<table style="width:100%">
    <thead>
        <tr>
            <th style="width:33.333333%" colspan="5">

            </th>
            <th style="font-family:Calibri; font-size:14px; width:33.333333%; text-align:center" colspan="5">
                PERSONAL CLAIMS FORM FOR REIMBURSEMENT
            </th>
            <th style="width:33.333333%; float:right" colspan="5">
                <img src="/Images/cbm_logo.png" height="200" width="200" />
            </th>
        </tr>
    </thead>
</table>

<table style="width:100%" border="1" cellpadding="3" cellspacing="0">
    <thead>
        <tr>
            <th style="width:19.33%" class="font10">
                Name :
            </th>
            <th style="width:25.3%" class="font10">
                @requestor.Name
            </th>
            <th style="width:18.1%" class="font10">
                Department :
            </th>
            <th class="font10">
                @requestor.Department
            </th>
        </tr>
        <tr>
            <th class="font10">
                Designation :
            </th>
            <th class="font10">
                @requestor.Position
            </th>
            <th class="font10">
                Period :
            </th>
            <th class="font10">
                @if (claim.HasValue)
                {
                    @Convert.ToDateTime(claim).ToString("MMMM yyyy")
                }
            </th>
        </tr>
        <tr>
            <th class="font10">
                Staff Id :
            </th>
            <th class="font10">
                @requestor.Id
            </th>
            <th class="font10">

            </th>
            <th class="font10">

            </th>
        </tr>
    </thead>
</table>

<table style="width:100%; margin-top:10px" border="1" cellpadding="3" cellspacing="0">
    <thead>
        <tr>
            <th rowspan="3" class="font10 alignMiddle">
                Date
            </th>
            <th rowspan="3" class="font10 alignMiddle" style="width:30%">
                Description / Purpose
            </th>

            <th style="width:6%">

            </th>

            @if (claimTypes.Count > 0)
            {
                foreach (var cts in claimTypes)
                {
                    <th class="font10 alignMiddle " style="width:6%">
                        @cts.ClaimTypeCode
                    </th>
                }
            }
            <th style="width:6%">

            </th>
        </tr>
        <tr>
            <th class="font10 alignMiddle ">
                Mileage
            </th>

            @if (claimTypes.Count > 0)
            {
                foreach (var cts in claimTypes)
                {
                    <th class="font10 alignMiddle ">
                        @cts.Name
                    </th>
                }
            }
            <th class="font10 alignMiddle ">
                Total Amount
            </th>
        </tr>
        <tr>
            <th class="font10 alignMiddle ">
                (KM)
            </th>

            @if (claimTypes.Count > 0)
            {
                foreach (var cts in claimTypes)
                {
                    <th class="font10 alignMiddle ">
                        RM
                    </th>
                }
            }

            <th class="font10 alignMiddle ">
                RM
            </th>
        </tr>
    </thead>
    <tbody>
        @if (claimItems.Count > 0)
        {
            foreach (var ci in claimItems)
            {
                <tr>
                    <td class="font10 alignMiddle">
                        @ci.Date.ToString("dd.MM.yyyy")
                    </td>
                    <td class="font10">
                        @ci.Remark
                    </td>
                    <td class="alignMiddle font10">
                        @if (ci.ClaimTypeId == "D0A1E5EF-6552-4B3A-8954-02886AE38CC3")//Travelling
                        {
                            var mileage = string.Format(ci.Mileage.ToString(), "#,##0.00");
                            mileageTotal += ci.Mileage;
                            @mileage
                        }
                    </td>
                    @if (claimTypes.Count > 0)
                    {
                        decimal rowTotal = 0;
                        foreach (var cts in claimTypes)
                        {
                            <td class="alignRight font10">
                                @if (cts.ClaimTypeId == ci.ClaimTypeId)
                                {
                                    if (cts.ClaimTypeId == "D0A1E5EF-6552-4B3A-8954-02886AE38CC3")//Travelling
                                    {
                                        travellingTotal += ci.ClaimAmount;
                                    }
                                    else if (cts.ClaimTypeId == "6F924205-5DD8-4ADC-8A3B-090AF610E311")//Parking
                                    {
                                        parkingTotal += ci.ClaimAmount;
                                    }
                                    else if (cts.ClaimTypeId == "01DA6A8E-EFDE-46CA-AD3D-5BA43D3F047F")//Mobile
                                    {
                                        mobileTotal += ci.ClaimAmount;
                                    }
                                    else if (cts.ClaimTypeId == "63A283C7-C57E-4116-9643-13989450A696")//Outpatient
                                    {
                                        outpatientTotal += ci.ClaimAmount;
                                    }
                                    else if (cts.ClaimTypeId == "272DC8B1-482E-474A-956E-3ED71DCFCE53")//Optical
                                    {
                                        opticalTotal += ci.ClaimAmount;
                                    }
                                    else if (cts.ClaimTypeId == "32B1E19D-2815-43EA-90FD-F3D49E1640C9")//Entertainment
                                    {
                                        entertainmentTotal += ci.ClaimAmount;
                                    }
                                    else if (cts.ClaimTypeId == "DF5C48FD-42ED-4055-8107-60DCAA2E5980")//Meal
                                    {
                                        mealTotal += ci.ClaimAmount;
                                    }
                                    else
                                    {
                                        otherTotal += ci.ClaimAmount;
                                    }
                                    Total += ci.ClaimAmount;
                                    rowTotal += ci.ClaimAmount;

                                    var a = string.Format(ci.ClaimAmount.ToString(), "#,##0.00");
                                    @a
                                }
                            </td>

                        }
                        <td class="alignRight font10">
                            @string.Format(rowTotal.ToString(), "#,##0.00")
                        </td>
                    }
                </tr>
            }
        }
        <tr>
            <td colspan="2"></td>
            <td class="alignMiddle font10">
                @string.Format(mileageTotal.ToString(), "#,##0.00")
            </td>

            @if (claimTypes.Count > 0)
            {

                foreach (var cts in claimTypes)
                {
                    <td class="alignRight font10">
                        @if (cts.ClaimTypeId == "D0A1E5EF-6552-4B3A-8954-02886AE38CC3")//Travelling
                        {
                            var t = string.Format(travellingTotal.ToString(), "#,##0.00");
                            if (t != "0")
                            {
                                @t
                            }
                        }
                        else if (cts.ClaimTypeId == "6F924205-5DD8-4ADC-8A3B-090AF610E311")//Parking
                        {
                            var t = string.Format(parkingTotal.ToString(), "#,##0.00");
                            if (t != "0")
                            {
                                @t
                            }
                        }
                        else if (cts.ClaimTypeId == "01DA6A8E-EFDE-46CA-AD3D-5BA43D3F047F")//Mobile
                        {
                            var t = string.Format(mobileTotal.ToString(), "#,##0.00");
                            if (t != "0")
                            {
                                @t
                            }
                        }
                        else if (cts.ClaimTypeId == "63A283C7-C57E-4116-9643-13989450A696")//Outpatient
                        {
                            var t = string.Format(outpatientTotal.ToString(), "#,##0.00");
                            if (t != "0")
                            {
                                @t
                            }
                        }
                        else if (cts.ClaimTypeId == "272DC8B1-482E-474A-956E-3ED71DCFCE53")//Optical
                        {
                            var t = string.Format(opticalTotal.ToString(), "#,##0.00");
                            if (t != "0")
                            {
                                @t
                            }
                        }
                        else if (cts.ClaimTypeId == "32B1E19D-2815-43EA-90FD-F3D49E1640C9")//Entertainment
                        {
                            var t = string.Format(entertainmentTotal.ToString(), "#,##0.00");
                            if (t != "0")
                            {
                                @t
                            }
                        }
                        else if (cts.ClaimTypeId == "DF5C48FD-42ED-4055-8107-60DCAA2E5980")//Meal
                        {
                            var t = string.Format(mealTotal.ToString(), "#,##0.00");
                            if (t != "0")
                            {
                                @t
                            }
                        }
                        else
                        {
                            var t = string.Format(otherTotal.ToString(), "#,##0.00");
                            if (t != "0")
                            {
                                @t
                            }
                        }
                    </td>
                }
            }
            <td class="alignRight " style="font-size:11px" rowspan="2">
                @string.Format(Total.ToString(), "#,##0.00")
            </td>
        </tr>
        <tr>
            <td colspan="9" style="border:none"></td>
            <td colspan="2" class="font10 ">Grand Total</td>
        </tr>
    </tbody>
</table>

<table style="width:100%; margin-top:10px" border="1" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th class=" font10" colspan="5" style="height:20px; vertical-align:middle">
                <span style="padding:3px">
                    &nbsp; Note: For entertainment claims, please provide party/person(s) entertained.
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:20.33%; height:105px">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td class="alignMiddle " style="font-size:12px; height:80px">
                                SUBMITTED
                            </td>
                        </tr>
                        <tr>
                            <td class="font10">
                                Claimed By : @requestor.Name
                            </td>
                        </tr>
                        <tr>
                            <td class="font10">
                                Date : @claimRequest.CreatedDate.ToString("dd.MM.yyyy")
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width:20.23%">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td class="alignMiddle " style="font-size:12px; height:80px">
                                @if (Checker != null)
                                {
                                    <span>APPROVED</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="font10">
                                Claimed By : @if (Checker != null)
                                {
                                    @Checker.Name
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="font10">
                                Date : @if (Checker != null)
                                {
                                    @Checker.ActionDate.ToString("dd.MM.yyyy")
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width:18.63%">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td class="alignMiddle " style="font-size:12px; height:80px">
                                @if (Verified != null)
                                {
                                    <span>APPROVED</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="font10">
                                Verified By : @if (Verified != null)
                                {
                                    @Verified.Name
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="font10">
                                Date : @if (Verified != null)
                                {
                                    @Verified.ActionDate.ToString("dd.MM.yyyy")
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width:22.03%">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td class="alignMiddle " style="font-size:12px; height:80px">
                                @if (CEO.Action == "Approve")
                                {
                                    <span>APPROVED</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="font10">
                                Approved By : @if (CEO.Action == "Approve")
                                {
                                    @CEO.Name
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="font10">
                                Date : @if (CEO.Action == "Approve")
                                {
                                    @CEO.ActionDate.ToString("dd.MM.yyyy")
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width:18.68%" rowspan="2">
                <table cellpadding="3" cellspacing="0" style="width:100%">
                    <tbody>
                        @if (claimTypes.Count > 0)
                        {

                            foreach (var cts in claimTypes)
                            {
                                <tr>
                                    @if (cts.ClaimTypeId == "D0A1E5EF-6552-4B3A-8954-02886AE38CC3")//Travelling
                                    {
                                        var t = string.Format(travellingTotal.ToString(), "#,##0.00");
                                        <td class="font10" style="width:69%">
                                            @cts.Name
                                            @if (t != "0")
                                            {
                                                <span>*</span>
                                            }
                                        </td>
                                        <td class="alignRight font10" style="width:31%; border-left:2px solid black;">
                                            @if (t != "0")
                                            {
                                                @t
                                            }
                                        </td>
                                    }
                                    else if (cts.ClaimTypeId == "6F924205-5DD8-4ADC-8A3B-090AF610E311")//Parking
                                    {
                                        var t = string.Format(parkingTotal.ToString(), "#,##0.00");
                                        <td class="font10" style="width:68%">
                                            @cts.Name
                                            @if (t != "0")
                                            {
                                                <span>*</span>
                                            }
                                        </td>
                                        <td class="alignRight font10" style="border-left:2px solid black;">
                                            @if (t != "0")
                                            {
                                                @t
                                            }
                                        </td>
                                    }
                                    else if (cts.ClaimTypeId == "01DA6A8E-EFDE-46CA-AD3D-5BA43D3F047F")//Mobile
                                    {
                                        var t = string.Format(mobileTotal.ToString(), "#,##0.00");
                                        <td class="font10" style="width:68%">
                                            @cts.Name
                                            @if (t != "0")
                                            {
                                                <span>*</span>
                                            }
                                        </td>
                                        <td class="alignRight font10" style="border-left:2px solid black;">
                                            @if (t != "0")
                                            {
                                                @t
                                            }
                                        </td>
                                    }
                                    else if (cts.ClaimTypeId == "63A283C7-C57E-4116-9643-13989450A696")//Outpatient
                                    {
                                        var t = string.Format(outpatientTotal.ToString(), "#,##0.00");
                                        <td class="font10" style="width:68%">
                                            @cts.Name
                                            @if (t != "0")
                                            {
                                                <span>*</span>
                                            }
                                        </td>
                                        <td class="alignRight font10" style="border-left:2px solid black;">
                                            @if (t != "0")
                                            {
                                                @t
                                            }
                                        </td>
                                    }
                                    else if (cts.ClaimTypeId == "272DC8B1-482E-474A-956E-3ED71DCFCE53")//Optical
                                    {
                                        var t = string.Format(opticalTotal.ToString(), "#,##0.00");
                                        <td class="font10" style="width:68%">
                                            @cts.Name
                                            @if (t != "0")
                                            {
                                                <span>*</span>
                                            }
                                        </td>
                                        <td class="alignRight font10" style="border-left:2px solid black;">
                                            @if (t != "0")
                                            {
                                                @t
                                            }
                                        </td>
                                    }
                                    else if (cts.ClaimTypeId == "32B1E19D-2815-43EA-90FD-F3D49E1640C9")//Entertainment
                                    {
                                        var t = string.Format(entertainmentTotal.ToString(), "#,##0.00");
                                        <td class="font10" style="width:68%">
                                            @cts.Name
                                            @if (t != "0")
                                            {
                                                <span>*</span>
                                            }
                                        </td>
                                        <td class="alignRight font10" style="border-left:2px solid black;">
                                            @if (t != "0")
                                            {
                                                @t
                                            }
                                        </td>
                                    }
                                    else if (cts.ClaimTypeId == "DF5C48FD-42ED-4055-8107-60DCAA2E5980")//Meal
                                    {
                                        var t = string.Format(mealTotal.ToString(), "#,##0.00");
                                        <td class="font10" style="width:68%">
                                            @cts.Name
                                            @if (t != "0")
                                            {
                                                <span>*</span>
                                            }
                                        </td>
                                        <td class="alignRight font10" style="border-left:2px solid black;">
                                            @if (t != "0")
                                            {
                                                @t
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        var t = string.Format(otherTotal.ToString(), "#,##0.00");
                                        <td class="font10" style="width:68%">
                                            @cts.Name
                                            @if (t != "0")
                                            {
                                                <span>*</span>
                                            }
                                        </td>
                                        <td class="alignRight font10" style="border-left:2px solid black;">
                                            @if (t != "0")
                                            {
                                                @t
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        }
                        <tr>
                            <td class="font10 " style="border-top:2px solid black;">
                                Total Claim
                            </td>
                            <td class="alignRight font10 " style="border-top:2px solid black; border-left:2px solid black;">
                                @string.Format(Total.ToString(), "#,##0.00")
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="alignMiddle " style="font-size:12px; height:20px;">
                Verified by Finance Department
            </td>
            <td colspan="3" style="height:20px;">
                <table>
                    <tbody>
                        <tr>
                            <td class="font10">
                                Verified By : @if (Verify != null)
                                {
                                    @Verify.Name
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="font10">
                                Date : @if (Verify != null)
                                {
                                    @Verify.ActionDate.ToString("dd.MM.yyyy");
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>