﻿@using CBMClaimManagement.Models
@model IndexViewModel
@{
    var accesses = Model.UserAccesses;
    var tasks = Model.MyTasks;
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>DYM360</title>
    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'dd M yyyy'
            })
            $('[data-toggle="tooltip"]').tooltip({ placement: 'bottom' });
            $('link[rel=stylesheet][href~="/Content/main.css"]').remove();
        });
    </script>
</head>
<body>
    <div class="body-container">
        <div class="col-lg-offset-1" style="margin-top: 6%;">
            <h3 style="color:darkblue;">Claim Management</h3>
            <div class="col-lg-11 bg-white">
                <div class="bs-component" style="font-size:12px; margin-top: 10px;">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Search Criteria</legend>
                        <div class="content">
                            <div class="col-lg-3" style="width:21%">
                                <label>Staff Name</label>
                                <input id="inptStaffName" class="form-control" type="text" placeholder="Staff 1" />
                            </div>
                            <div class="col-lg-3" style="width:15%">
                                <label>Refrence Number</label>
                                <input id="inptRefrenceNumber" class="form-control" type="text" placeholder="12345678" />
                            </div>
                            <div class="col-lg-3" style="width:10.5%">
                                <label>Department</label>
                                <select id="inptDepartment" class="form-control">
                                    <option value="all">All</option>
                                    <option value="Information Technology">Information Technology</option>
                                    <option value="Production">Production</option>
                                </select>
                            </div>
                            <div class="search-btn col-lg-3 text-right">
                                <a onclick="Search()" class="btn btn-info btn-xs">Search</a>
                                <a onclick="ClearSearch()" class="btn btn-warning btn-xs">Clear</a>
                            </div>
                        </div>
                    </fieldset>
                    <div>
                        <div class="panel-body">
                            <div class="row">
                                <label>List of Claims</label>
                                @*@{

                                        var access = accesses.Find(x => x.Keyword == "CLAM");

                                        if (access != null && access.Create)
                                        {
                                            <a href="@Url.Action("ClaimRequestForm", "Home", new { cameFrom = "Home" })" class="btn btn-danger btn-xs" style="margin-left:83%; margin-bottom:1%">Create New Claim</a>
                                        }
                                    }*@
                                <a href="@Url.Action("ClaimRequestForm", "Home", new { cameFrom = "Home" })" class="btn btn-danger btn-xs" style="float:right; margin-bottom:1%">Create New Claim</a>
                                <table id="tblAccount" class="table sub-sub-table table-bordered" style="margin-top:5px;">
                                    <thead>
                                        <tr style="background-color:#f6f6f6">
                                            <th style="width: 5%;"><input type="checkbox"></th>
                                            <th style="font-style:italic; width:17.5%">Reference No.</th>
                                            <th style="font-style:italic; width:15.4%">Status</th>
                                            <th style="font-style:italic;">Staff Name</th>
                                            @*<th style="font-style:italic; width:14%">Subject</th>*@
                                            <th style="font-style:italic; width:16%">Department</th>
                                            <th style="font-style:italic; width:14%">Submitted Date&nbsp;<span id="UpdatedSort" data-type="asc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-top"</span></th>
                                            <th style="font-style:italic; width:14%">Last Modified&nbsp;<span id="CreatedSort" data-type="desc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-bottom"</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var draft = Model.MyTasks.OrderByDescending(x => x.RequestedDate).ToList();
                                            foreach (var r in Model.MyTasks)
                                            {
                                                if (r.Type == "OUTBOX")
                                                {
                                                    if (Model.MyTasks.Exists(x => x.RequestId == r.RequestId && x.Type == "INBOX"))
                                                    {
                                                        continue;
                                                    }
                                                }
                                                <tr>
                                                    <td><input type="checkbox" /></td>
                                                    <td data-input="RefrenceNumber"><p><a href="@Url.Action("ClaimRequestForm", "Home", new { requestId = r.RequestId, cameFrom = "Home", area = "CBMClaimManagement" })">@r.ReferenceNo</a></p></td>
                                                    <td>
                                                        <p>@r.Status</p>
                                                    </td>
                                                    <td data-input="StaffName">
                                                        <div class="ellipsis">
                                                            <p>@r.RequestedBy</p>
                                                        </div>

                                                    </td>
                                                    @*<td>
                                                            <p>@r.Subject</p>
                                                        </td>*@
                                                    <td data-input="Department">
                                                        <p>@r.Department</p>
                                                    </td>
                                                    <td data-input="CreatedAt">
                                                        <p>@r.RequestedDate.ToString("dd MMM yyyy HH:mm:ss")</p>
                                                    </td>
                                                    <td data-input="UpdatedAt">
                                                        <p>
                                                            @{
                                                                if (r.UpdatedAt.ToString() == "1/1/0001 12:00:00 AM")
                                                                {
                                                                    <div style="width:100%; text-align:right"><span>-</span></div>
                                                                }
                                                                else
                                                                {
                                                                    @r.UpdatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                                }
                                                            }
                                                        </p>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>