﻿@using Dym360.Models
@model UserManagementViewModel

@{
    ViewBag.Title = "Department";
    var Departments = Model.Departments;
    var CDA = Model.CurrentUserDepartmentAccess;
    var Users = Model.Users.ToList();
}
<style>
    #right-panel {
        overflow: auto;
    }
</style>
<script>
    $(function () {
        $('.btn-sidenav.activeSideNav').removeClass('activeSideNav');
        $('#Department').addClass('activeSideNav');
    });

    //if (getCookie('UserManagement') != null) {
    //    $("#right-panel").load(getCookie('UserManagement'));
    //}

    @*function LinkClick(e) {
        $("#right-panel").load('@Url.Action("EditDepartment", "UserManagement")' + "?departmentId=" + $(e).data('value'));
    }*@
</script>

@{
    var caccess = CDA.Find(x => x.Keyword == "USRM");
    if (caccess != null && caccess.IsRead)
    {
        <h4>
            Department List

            @if (caccess.IsCreate)
            {
                <a href="~/UserManagement/CreateDepartment" class="btn btn-xs btn-danger" style="float:right">Create Department</a>
            }
        </h4>
        <table id="tableAll" class="table table-hover table-bordered" style="font-size:11px">
            <thead>
                <tr class="Gridview CBMBG fontWhite">
                    <th width="2.5%">No.</th>
                    <th width="34.15%">Name</th>
                    <th width="10.15%">Abbreviation</th>
                    <th width="12%">Created By</th>
                    <th width="12%">Created Date</th>
                    <th width="12%">Updated By</th>
                    <th width="12%">Updated Date</th>
                    <th width="5.2%" style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var c = 1;
                    if (Departments != null)
                    {
                        foreach (var d in Departments)
                        {
                            <tr class="GridviewScrollItem">
                                <td>@c</td>
                                <td>
                                    @if (caccess.IsUpdate)
                                    {
                                        <a href="~/UserManagement/EditDepartment?departmentId=@d.DepartmentId">@d.Name</a>
                                    }
                                    else
                                    {
                                        <a href="~/UserManagement/PreviewDepartment?userId=@d.DepartmentId">@d.Name</a>
                                    }
                                </td>
                                <td>
                                    @d.Abbreviation
                                </td>
                                <td>
                                    @{
                                        var created = Users.Find(x => x.UserId == d.CreatedBy);
                                        if (created != null)
                                        {
                                            @created.Name
                                        }
                                    }
                                </td>
                                <td>@Convert.ToDateTime(d.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                <td>
                                    @{
                                        var updated = Users.Find(x => x.UserId == d.UpdatedBy);
                                        if (updated != null)
                                        {
                                            @updated.Name
                                        }
                                    }
                                </td>
                                <td>
                                    @if (d.UpdatedDate.HasValue)
                                    {
                                        @Convert.ToDateTime(d.UpdatedDate).ToString("dd MMM yyyy HH:mm:ss")
                                    }
                                </td>
                                <td class="center-text">
                                    @if (caccess.IsUpdate)
                                    {
                                        <a href="~/UserManagement/EditDepartment?departmentId=@d.DepartmentId" class="edit" data-value="@d.DepartmentId" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    }
                                    else
                                    {
                                        <a href="~/UserManagement/PreviewDepartment?departmentId=@d.DepartmentId" class="edit" data-value="@d.DepartmentId" title="Preview" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    }
                                    @if (caccess.IsDelete)
                                    {
                                        <a onclick="deleteDepartment(this);" class="delete" data-value="@d.DepartmentId" title="Delete" data-toggle="tooltip" style="padding-left:5px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    }
                                </td>
                            </tr>
                            c++;
                        }
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}

<script>
    function deleteDepartment(e) {
        if (confirm("Please click OK to confirm delete.")) {
            $.ajax({
                url: window.location.origin + "/UserManagement/DeleteDepartment",
                data: { "departmentId": $(e).data('value') },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    var d = JSON.parse(data);
                    if (d.Error === null) {
                        showToast(d.Message, "success");
                        setTimeout(function () {
                            $("#right-panel").load("UserManagement/LoadPage/?module=_Department");
                        }, 2000);
                    }
                    else {
                        showToast(d.Error, "error");
                    }
                }
            });
        }
    }
</script>