﻿@using Dym360.Models
@model UserManagementViewModel

@{
    ViewBag.Title = "Account";
    var users = Model.Users.ToList();
    var NonDeletedUsers = users.FindAll(x => x.DeletedFlag == "N");
    var CDA = Model.CurrentUserDepartmentAccess;
}

<style>
    #right-panel {
        overflow: auto;
    }
</style>
<script>
    $(function () {
        $('.btn-sidenav.activeSideNav').removeClass('activeSideNav');
        $('#UserAccount').addClass('activeSideNav');
    });

    function deleteUserAccount(e) {
        if (confirm("Please click OK to confirm delete.")) {
            $.ajax({
                url: window.location.origin + "/UserManagement/DeleteUserAccount",
                data: { "userId": $(e).data('value') },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    var d = JSON.parse(data);
                    if (d.Error === null) {
                        showToast(d.Message, "success");
                        setTimeout(function () {
                            $("#right-panel").load("UserManagement/LoadPage/?module=_UserAccount");
                        }, 2000);
                    }
                    else {
                        showToast(d.Error, "error");
                    }
                }
            });
        }
    }
</script>

@{
        var caccess = CDA.Find(x => x.Keyword == "USRM");
        if (caccess != null && caccess.IsRead)
        {
            <h4>
                User Account List

                @if (caccess.IsCreate)
                {
                    <a href="~/UserManagement/CreateUser" class="btn btn-xs btn-danger" style="float:right">Create User Account</a>
                }
            </h4>
            <table id="tableAll" class="table table-hover table-bordered" style="font-size:11px">
                <thead>
                    <tr class="Gridview CBMBG fontWhite">
                        <th width="2.5%">No.</th>
                        <th width="10.2%">ID</th>
                        <th width="13.2%">Name</th>
                        <th width="11.2%">Email</th>
                        <th width="13.65%">Department</th>
                        <th width="11.65%">Position</th>
                        <th width="11%">Created By</th>
                        <th width="11%">Created Date</th>
                        <th width="11%">Last Updated</th>
                        <th width="5.2%" style="text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var c = 1;
                        if (NonDeletedUsers != null)
                        {
                            foreach (var u in NonDeletedUsers)
                            {
                                <tr class="GridviewScrollItem">
                                    <td>@c</td>
                                    <td>
                                        @if (caccess.IsUpdate)
                                        {
                                            <a href="~/UserManagement/EditUser?userId=@u.UserId">@u.Username</a>
                                        }
                                        else
                                        {
                                            <a href="~/UserManagement/PreviewUser?userId=@u.UserId">@u.Username</a>
                                        }
                                    </td>
                                    <td>
                                        @u.Name
                                    </td>
                                    <td>
                                        @u.Email
                                    </td>
                                    <td>
                                        @u.Department
                                    </td>
                                    <td>
                                        @u.Position
                                    </td>
                                    <td>
                                        @{
                                            var created = users.Find(x => x.UserId == u.CreatedBy);
                                            if (created != null)
                                            {
                                                @created.Name
                                            }
                                        }
                                    </td>
                                    <td>@Convert.ToDateTime(u.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                    <td>
                                        @if (u.UpdatedDate.HasValue)
                                        {
                                            @Convert.ToDateTime(u.UpdatedDate).ToString("dd MMM yyyy HH:mm:ss")
                                        }
                                    </td>
                                    <td class="center-text">
                                        @if (caccess.IsUpdate)
                                        {
                                            <a href="~/UserManagement/EditUser?userId=@u.UserId" class="edit" data-value="@u.UserId" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                        }
                                        else
                                        {
                                            <a href="~/UserManagement/PreviewUser?userId=@u.UserId" class="edit" data-value="@u.UserId" title="Preview" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                        }
                                        @if (caccess.IsDelete)
                                        {
                                            <a onclick="deleteUserAccount(this);" class="delete" data-value="@u.UserId" title="Delete" data-toggle="tooltip" style="padding-left:5px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                        }
                                    </td>
                                </tr>
                                c++;
                            }
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4 class="access-denied-page" style="color:black">
                Access denied, you don&acute;t have permission to access this page.
            </h4>
        }
    }
