﻿@using Dym360.Models
@model UserViewModel
@{
    var CUDA = Model.CurrentUserDepartmentAccess;
    var Departments = Model.Departments;
    var Positions = Model.Positions.ToList();
    var User = Model.User;
    string c = "checked";
    var state = "CreateNew";
    ViewBag.Title = "Create User Account";

    if (!string.IsNullOrEmpty(User.UserId))
    {
        ViewBag.Title = "Edit User Account";
        state = "Update";
    }
}

<script src="~/Scripts/user.js"></script>
<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 12px;
    }

    .form-control {
        height: 30px;
        padding: 3px 3px;
        border-radius: 0px;
        font-size: 12px;
    }

    .h3-page-header {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .Radio {
        display: inline-flex;
        align-items: center;
    }

    .Radio-Input {
        margin: 0 0.5rem 0;
    }
    input[type="radio"], input[type="checkbox"] {
        margin: 1px 0 0;
        margin-top: 1px \9;
        line-height: normal;
    }
</style>

<input type="hidden" hidden value="@User.UserId" id="userId" />
<input type="hidden" hidden value="@User.Username" id="oldName" />
<input id="UserInitialExist" value="false" type="hidden" />

<div style="margin-top:5%; margin-left:5%; margin-right:5%">
    <div>
        <h3 class="h3-page-header">@ViewBag.Title</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0">
        <div class="bs-component" style="font-size:11px;">
            @{
                var hasAccess = false;
                var caccess = CUDA.Find(x => x.Keyword == "USRM");
                if (!string.IsNullOrEmpty(User.UserId))
                {
                    if (caccess != null && caccess.IsRead && caccess.IsUpdate)
                    {
                        hasAccess = true;
                    }
                }
                else
                {
                    if (caccess != null && caccess.IsRead && caccess.IsCreate)
                    {
                        hasAccess = true;
                    }
                }
                if (hasAccess)
                {
                    <table id="tblAccount" class="table table-column-4 table-bordered">
                        <tbody>
                            <tr class="CBMBG fontWhite">
                                <td colspan="4">USER INFORMATION</td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle" width="16%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">User ID<span style="color:red">*</span></label>
                                </td>
                                <td width="34%" style="vertical-align:middle" class="blackFont">
                                    @if (!string.IsNullOrEmpty(User.UserId))
                                    {
                                        @User.Username
                                        <input id="inptUsername" maxlength="50" value="@User.Username" type="hidden" class="form-control" />
                                    }
                                    else
                                    {
                                        <input id="inptUsername" maxlength="50" value="@User.Username" type="text" class="form-control" />
                                    }
                                </td>
                                <td style="vertical-align:middle" width="16%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Name<span style="color:red">*</span></label>
                                </td>
                                <td width="34%">
                                    <input id="inptName" value="@User.Name" maxlength="100" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Department<span style="color:red">*</span></label>
                                </td>
                                <td>
                                    <select id="inptDepartment" class="form-control">
                                        @foreach (var d in Departments)
                                        {
                                            if (User.DepartmentId == d.DepartmentId)
                                            {
                                                <option selected value="@d.DepartmentId">@d.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@d.DepartmentId">@d.Name</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Position<span style="color:red">*</span></label>
                                </td>
                                <td>
                                    <select id="inptPosition" class="form-control">
                                        @foreach (var p in Positions)
                                        {
                                            if (p.PositionId == User.PositionId)
                                            {
                                                <option selected value="@p.PositionId">@p.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@p.PositionId">@p.Title</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>

                            <tr style="color:black">
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="grey-title">Status</label>
                                </td>
                                <td style="vertical-align:middle">
                                    <div>
                                        <label class="Radio">
                                            <input class="Radio-Input" type="radio" @if (User.Status == "1") { @c } name="status" value="1" />
                                            &nbsp; Active
                                        </label>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="Radio">
                                            <input class="Radio-Input" type="radio" @if (User.Status != "1") { @c } name="status" value="3" />
                                            &nbsp; Inactive
                                        </label>
                                    </div>
                                </td>
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Email<span style="color:red">*</span></label>
                                </td>
                                <td>
                                    <input id="inptEmail" value="@User.Email" max="50" type="text" class="form-control" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="width:100%;">
                        <div class="bottom-left-panel" style="float:left; width:50%">
                            <label class="invalid-alert" style="display:block;">* is mandatory field.</label>
                        </div>
                        <div class="bottom-right-panel" style="float:right">
                            <button id="btnSave" class="btn btn-xs btn-success" data-state="@state">Save</button>
                            @if (!string.IsNullOrEmpty(User.UserId))
                            {
                                <button id="btnResetPassword" class="btn btn-xs btn-danger">Reset Password</button>
                            }
                            <button class="btn btn-xs btn-warning" onclick="clearInput()">Clear</button>
                            <a href="~/UserManagement/Index?module=UserAccount" class="btn btn-xs btn-default">Close</a>
                        </div>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>