﻿@using Dym360.Models
@model DepartmentViewModel
@{
    var Department = Model.Department;
    var DepartmentAccesses = Model.DepartmentAccesses;
    var CurrentUserDepartmentAccess = Model.CurrentUserDepartmentAccess;
    var Accesses = Model.Accesses;
    var State = "CreateNew";
    ViewBag.Title = "Create Department";
    if (!string.IsNullOrEmpty(Department.DepartmentId))
    {
        State = "Update";
        ViewBag.Title = "Edit Department";
    }
}


<script src="~/Scripts/department.js"></script>
<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 12px;
    }

    .form-control {
        height: 30px;
        padding: 3px 3px;
        border-radius: 0px;
        font-size: 12px;
    }

    .h3-page-header {
        margin-top: 0;
        margin-bottom: 10px;
    }
</style>

<input type="hidden" id="DepartmentId" value="@Department.DepartmentId" />

<div style="margin-top:5%; margin-left:5%; margin-right:5%">
    <div>
        <h3 class="h3-page-header">@ViewBag.Title</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0px">
        <div class="bs-component" style="font-size:11px;">
            @{
                var hasAccess = false;
                var caccess = CurrentUserDepartmentAccess.Find(x => x.Keyword == "USRM");
                if (!string.IsNullOrEmpty(Department.DepartmentId))
                {
                    if (caccess != null && caccess.IsRead && caccess.IsUpdate)
                    {
                        hasAccess = true;
                    }
                }
                else
                {
                    if (caccess != null && caccess.IsRead && caccess.IsCreate)
                    {
                        hasAccess = true;
                    }
                }

                if (hasAccess)
                {
                    <table id="tblDepartment" class="table table-col-4 table-bordered">
                        <tbody>
                            <tr class="CBMBG fontWhite">
                                <td colspan="4">DEPARTMENT INFORMATION</td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle" width="16.3%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Department Name<span style="color:red">*</span></label>
                                </td>
                                <td width="41.6%">
                                    <input id="inptName" maxlength="50" type="text" class="form-control" value="@Department.Name" />
                                </td>
                                <td style="vertical-align:middle" width="20.9%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Abbreviation</label>
                                </td>
                                <td>
                                    <input id="inptAbbreviation" type="text" class="form-control" maxlength="10" value="@Department.Abbreviation" />
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle" width="16.3%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Remark / Description</label>
                                </td>
                                <td colspan="3">
                                    <textarea rows="3" class="form-control" id="inptRemark">@Department.Description</textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table id="tblDepartmentAccesses" class="table table-col-4 table-bordered">
                        <tbody>
                            <tr class="CBMBG fontWhite">
                                <td colspan="5">DEPARTMENT ACCESS</td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <table id="tblDepartmentAccess" class="table table-bordered sub-table">
                                        <thead>
                                            <tr style="color:black">
                                                <th rowspan="2" width="10%">Module</th>
                                                <th colspan="5">Access</th>
                                            </tr>
                                            <tr style="color:black">
                                                <th>View Only<p style="color:red" class="sub-th">view only access</p></th>
                                                <th>Create Only<p style="color:red" class="sub-th">create only access </p></th>
                                                <th>Update Only<p style="color:red" class="sub-th">update only access</p></th>
                                                <th>Delete Only<p style="color:red" class="sub-th">delete only access</p></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var a in Accesses)
                                                {
                                                    var access = DepartmentAccesses.Find(x => x.AccessId == a.AccessId);
                                                    <tr>
                                                        <td data-access="@a.AccessId" style="color:black" width="15.55%">
                                                            @a.Name
                                                        </td>
                                                        <td width="21%">
                                                            @{
                                                                if (access != null && access.IsRead)
                                                                {
                                                                    <input type="checkbox" name="readonly" checked @*onchange="validateCheck(this)"*@ />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" name="readonly" @*onchange="validateCheck(this)"*@ />
                                                                }
                                                            }
                                                        </td>
                                                        <td width="21%">
                                                            @{
                                                                if (access != null && access.IsCreate)
                                                                {
                                                                    <input type="checkbox" name="create" checked @*onchange="validateCheck(this)"*@ />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" name="create" @*onchange="validateCheck(this)"*@ />
                                                                }
                                                            }

                                                        </td>
                                                        <td width="21%">
                                                            @{
                                                                if (access != null && access.IsUpdate)
                                                                {
                                                                    <input type="checkbox" name="update" checked @*onchange="validateCheck(this)"*@ />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" name="update" @*onchange="validateCheck(this)"*@ />
                                                                }
                                                            }
                                                        </td>
                                                        <td width="21%">
                                                            @{
                                                                if (access != null && access.IsDelete)
                                                                {
                                                                    <input type="checkbox" name="delete" checked @*onchange="validateCheck(this)"*@ />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" name="delete" @*onchange="validateCheck(this)"*@ />
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="width:100%;">
                        <div class="bottom-left-panel" style="float:left; width:50%">
                            <label class="invalid-alert" style="display:block;">* is mandatory field.</label>
                        </div>
                        <div class="bottom-right-panel" style="float:right;">
                            <button id="btnSave" class="btn btn-xs btn-success" data-state="@State">Save</button>
                            <button class="btn btn-xs btn-warning" onclick="clearInput()">Clear</button>
                            <a href="@Url.Action("Index", "UserManagement", new { module="Department", area = "" })" class="btn btn-xs btn-default">Close</a>
                        </div>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>