﻿@using Dym360.Models
@model UserViewModel
@{
    var CUDA = Model.CurrentUserDepartmentAccess;
    var Departments = Model.Departments;
    var Positions = Model.Positions.ToList();
    var User = Model.User;
    ViewBag.Title = "Preview User Account";
}

<style>
    .content .form-control {
        font-size: 12px;
    }

    .form-control {
        height: 30px;
        padding: 3px 3px;
        border-radius: 0px;
        font-size: 12px;
    }

    .h3-page-header {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .Radio {
        display: inline-flex;
        align-items: center;
    }

    .Radio-Input {
        margin: 0 0.5rem 0;
    }

    input[type="radio"], input[type="checkbox"] {
        margin: 1px 0 0;
        margin-top: 1px \9;
        line-height: normal;
    }
</style>

<div style="margin-top:5%; margin-left:5%; margin-right:5%">
    <div>
        <h3 class="h3-page-header">@ViewBag.Title</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0">
        <div class="bs-component" style="font-size:11px;">
            @{
                var hasAccess = false;
                var caccess = CUDA.Find(x => x.Keyword == "USRM");
                if (caccess != null && caccess.IsRead)
                {
                    hasAccess = true;
                }
                if (hasAccess)
                {
                    <table id="tblAccount" class="table table-column-4 table-bordered">
                        <tbody>
                            <tr class="CBMBG fontWhite">
                                <td colspan="4">USER INFORMATION</td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle" width="16%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">User ID</label>
                                </td>
                                <td width="34%" style="vertical-align:middle" class="blackFont">
                                    @User.Username
                                </td>
                                <td style="vertical-align:middle" width="16%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Name</label>
                                </td>
                                <td width="34%">
                                    @User.Name
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Department</label>
                                </td>
                                <td>
                                    @foreach (var d in Departments)
                                    {
                                        if (User.DepartmentId == d.DepartmentId)
                                        {
                                            @d.Name
                                        }
                                    }
                                </td>
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Position</label>
                                </td>
                                <td>
                                    @foreach (var p in Positions)
                                    {
                                        if (p.PositionId == User.PositionId)
                                        {
                                            @p.Title
                                        }
                                    }
                                </td>
                            </tr>

                            <tr style="color:black">
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="grey-title">Status</label>
                                </td>
                                <td style="vertical-align:middle">
                                    @if (User.Status == "1")
                                    {
                                        <span style="color:green">Active</span>
                                    }
                                    else
                                    {
                                        <span style="color:red">Inactive</span>
                                    }
                                </td>
                                <td style="vertical-align:middle" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Email</label>
                                </td>
                                <td>
                                    @User.Email
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="width:100%;">
                        <div class="bottom-right-panel" style="float:right">
                            @if (caccess.IsUpdate)
                            {
                                <a href="@Url.Action("EditUser", "UserManagement", new { userId=User.UserId, area = "" })" class="btn btn-xs btn-danger">Edit</a>
                            }
                            <a href="@Url.Action("Index", "UserManagement", new { module="UserAccount", area = "" })" class="btn btn-xs btn-default">Close</a>
                        </div>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>