﻿@using Dym360.Models
@model DepartmentViewModel
@{
    var Department = Model.Department;
    var DepartmentAccesses = Model.DepartmentAccesses;
    var CurrentUserDepartmentAccess = Model.CurrentUserDepartmentAccess;
    var Accesses = Model.Accesses;
    ViewBag.Title = "Preview Department";
}

<style>
    .content .form-control {
        font-size: 12px;
    }

    .form-control {
        height: 30px;
        padding: 3px 3px;
        border-radius: 0px;
        font-size: 12px;
    }

    .h3-page-header {
        margin-top: 0;
        margin-bottom: 10px;
    }
</style>

<div style="margin-top:5%; margin-left:5%; margin-right:5%">
    <div>
        <h3 class="h3-page-header">@ViewBag.Title</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0px">
        <div class="bs-component" style="font-size:11px;">
            @{
                var hasAccess = false;
                var caccess = CurrentUserDepartmentAccess.Find(x => x.Keyword == "USRM");
                if (caccess != null && caccess.IsRead)
                {
                    hasAccess = true;
                }

                if (hasAccess)
                {
                    <table id="tblDepartment" class="table table-col-4 table-bordered">
                        <tbody>
                            <tr class="CBMBG fontWhite">
                                <td colspan="4">DEPARTMENT INFORMATION</td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle" width="16.3%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Department Name</label>
                                </td>
                                <td width="41.6%">
                                    @Department.Name
                                </td>
                                <td style="vertical-align:middle" width="20.9%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Abbreviation</label>
                                </td>
                                <td>
                                    @Department.Abbreviation
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle" width="16.3%" class="CBMBG fontWhite">
                                    <label class="font-weight-bold">Remark / Description</label>
                                </td>
                                <td colspan="3">
                                    @Department.Description
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table id="tblDepartmentAccesses" class="table table-col-4 table-bordered">
                        <tbody>
                            <tr class="CBMBG fontWhite">
                                <td colspan="5">DEPARTMENT ACCESS</td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <table id="tblDepartmentAccess" class="table table-bordered sub-table">
                                        <thead>
                                            <tr style="color:black">
                                                <th rowspan="2" width="10%">Module</th>
                                                <th colspan="5">Access</th>
                                            </tr>
                                            <tr style="color:black">
                                                <th>View Only<p style="color:red" class="sub-th">view only access</p></th>
                                                <th>Create Only<p style="color:red" class="sub-th">create only access </p></th>
                                                <th>Update Only<p style="color:red" class="sub-th">update only access</p></th>
                                                <th>Delete Only<p style="color:red" class="sub-th">delete only access</p></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var a in Accesses)
                                                {
                                                    var access = DepartmentAccesses.Find(x => x.AccessId == a.AccessId);
                                                    <tr>
                                                        <td data-access="@a.AccessId" style="color:black" width="15.55%">
                                                            @a.Name
                                                        </td>
                                                        <td width="21%">
                                                            @{
                                                                if (access != null && access.IsRead)
                                                                {
                                                                    <input disabled type="checkbox" name="readonly" checked @*onchange="validateCheck(this)"*@ />
                                                                }
                                                                else
                                                                {
                                                                    <input disabled type="checkbox" name="readonly" @*onchange="validateCheck(this)"*@ />
                                                                }
                                                            }
                                                        </td>
                                                        <td width="21%">
                                                            @{
                                                                if (access != null && access.IsCreate)
                                                                {
                                                                    <input disabled type="checkbox" name="create" checked @*onchange="validateCheck(this)"*@ />
                                                                }
                                                                else
                                                                {
                                                                    <input disabled type="checkbox" name="create" @*onchange="validateCheck(this)"*@ />
                                                                }
                                                            }

                                                        </td>
                                                        <td width="21%">
                                                            @{
                                                                if (access != null && access.IsUpdate)
                                                                {
                                                                    <input disabled type="checkbox" name="update" checked @*onchange="validateCheck(this)"*@ />
                                                                }
                                                                else
                                                                {
                                                                    <input disabled type="checkbox" name="update" @*onchange="validateCheck(this)"*@ />
                                                                }
                                                            }
                                                        </td>
                                                        <td width="21%">
                                                            @{
                                                                if (access != null && access.IsDelete)
                                                                {
                                                                    <input disabled type="checkbox" name="delete" checked @*onchange="validateCheck(this)"*@ />
                                                                }
                                                                else
                                                                {
                                                                    <input disabled type="checkbox" name="delete" @*onchange="validateCheck(this)"*@ />
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="width:100%;">
                        <div class="bottom-right-panel" style="float:right;">
                            @if (caccess.IsUpdate)
                            {
                                <a href="@Url.Action("EditDepartment", "UserManagement", new { departmentId=Department.DepartmentId, area = "" })" class="btn btn-xs btn-danger">Edit</a>
                            }
                            <a href="@Url.Action("Index", "UserManagement", new { module="Department", area = "" })" class="btn btn-xs btn-default">Close</a>
                        </div>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>