﻿@using IdentityManagement.Utilities
@using CreditManagement.Models
@model CreditManagementViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
    var account = Model.Account;
}

<base href="@Model.BaseUrl" />
<div class="row body-container">
    <div class="bs-component" style="font-size:12px; margin-top: 10px;">
        <div class="row col-lg-offset-1">
            <h3 style="margin-top: 0px;">Top Up (Prepaid Package)</h3>
        </div>
        <div class="col-lg-offset-1 col-lg-2">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2" class="background-color">Requester</th>
                        </tr>
                    </thead>
                    @{
                        var m = Model;
                        <tbody>
                            <tr>
                                <td class="background-color">
                                    Name:
                                </td>
                                <td>
                                    @m.Request.Requester.Name
                                </td>
                            </tr>
                            <tr>
                                <td class="background-color">
                                    Position:
                                </td>
                                <td>
                                    @m.Request.Requester.Position
                                </td>
                            </tr>
                            <tr>
                                <td class="background-color">
                                    Department:
                                </td>
                                <td>
                                    @m.Request.Requester.Department
                                </td>
                            </tr>
                            <tr>
                                <td class="background-color">
                                    Request Date:
                                </td>
                                <td>
                                    @m.Request.CreatedDate.ToString("dd MMM yyyy HH:mm:ss")
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
            @{
                if (m.Request.FinanceTeam != null && m.Request.FinanceTeam.Where(x => x.Action != "N/A").Count() > 0)
                {
                    <div class="row">
                        <table id="tblFinance" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color" style="width:40%">Finance Team</th>
                                    <th class="background-color" style="width:35%; vertical-align: top;">Date</th>
                                    <th class="background-color" style="vertical-align: top;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var p in m.Request.FinanceTeam)
                                    {
                                        <tr>
                                            <td>@p.Name</td>
                                            @{
                                                var dt = Convert.ToDateTime(p.ActionDate);
                                                var actionDate = dt == default(DateTime) ? (p.Action == "-" ? "-" : "N/A") : dt.ToString("dd MMM yyyy HH:mm:ss");
                                                var action = p.Action == "PENDING" ? p.Action.First().ToString().ToUpper() + p.Action.Substring(1).ToLower() : p.Action;

                                                <td>@actionDate</td>
                                                <td>@action</td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }

            @{
                if (m.Request.CSTeam != null && m.Request.CSTeam.Where(x => x.Action != "N/A").Count() > 0 || m.Request.Status == "Pwnding CS Team" && m.Access == "Write")
                {
                    <div class="row">
                        <table id="tblCs" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color" style="width:40%">CS Team</th>
                                    <th class="background-color" style="width:35%; vertical-align: top;">Date</th>
                                    <th class="background-color" style="vertical-align: top;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var p in m.Request.CSTeam)
                                    {
                                        <tr>
                                            <td>@p.Name</td>
                                            @{
                                                var dt = Convert.ToDateTime(p.ActionDate);
                                                var actionDate = dt == default(DateTime) ? (p.Action == "-" ? "-" : "N/A") : dt.ToString("dd MMM yyyy HH:mm:ss");
                                                var action = p.Action == "PENDING" ? p.Action.First().ToString().ToUpper() + p.Action.Substring(1).ToLower() : p.Action;

                                                <td>@actionDate</td>
                                                <td>@action</td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }

            @{
                if (m.Request.AdminTeam != null && m.Request.AdminTeam.Where(x => x.Action != "N/A").Count() > 0 || m.Request.Status == "Pwnding Admin Team" && m.Access == "Write")
                {
                    <div class="row">
                        <table id="tblAdmins" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="background-color" style="width:40%">Admin Team</th>
                                    <th class="background-color" style="width:35%; vertical-align: top;">Date</th>
                                    <th class="background-color" style="vertical-align: top;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var p in m.Request.AdminTeam)
                                    {
                                        <tr>
                                            <td>@p.Name</td>
                                            @{
                                                var dt = Convert.ToDateTime(p.ActionDate);
                                                var actionDate = dt == default(DateTime) ? (p.Action == "-" ? "-" : "N/A") : dt.ToString("dd MMM yyyy HH:mm:ss");
                                                var action = p.Action == "PENDING" ? p.Action.First().ToString().ToUpper() + p.Action.Substring(1).ToLower() : p.Action;

                                                <td>@actionDate</td>
                                                <td>@action</td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }

        </div>

        <div class="row1">
            <div class="col-lg-8">
                <!---Account--->
                <table class="table table-bordered table-col-4">
                    <thead>
                        <tr style="background-color:#f1f1f1; color:black">
                            <th colspan="4">Account Information</th>
                        </tr>
                    </thead>
                    <tbody style="border-top:double #3498db; border-bottom:double #3498db">
                        <tr>
                            <td style="background-color:#3498db; color:white">
                                Account Name :
                            </td>
                            <td style="width: 23em;">
                                <label>@account.Name</label>
                            </td>
                            <td style="background-color:#3498db; color:white">
                                Account Number :
                            </td>
                            <td>
                                <label>@account.AccountNumber</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#3498db; color:white">
                                Limit :
                            </td>
                            <td style="width: 23em;">
                                <label>
                                    @if (account.CreditLimit.HasValue)
                                    {
                                        string cl = string.Format("{0:#,##0.00}", account.CreditLimit);
                                        @cl
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </label>
                            </td>
                            <td style="background-color:#3498db; color:white">
                                Balance :
                            </td>
                            <td>
                                <label>
                                    @{
                                        double balance = 0;
                                        if (m.Request.Status == "Close Completed")
                                        {
                                            balance = account.OldBalance + account.Credit;
                                        }
                                        else
                                        {
                                            balance = account.OldBalance;
                                        }
                                    }
                                    @string.Format("{0:#,##0.00}", balance)
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#3498db; color:white">
                                Overdue :
                            </td>
                            <td style="width: 23em;">
                                <label>
                                    @if (account.Overdue.HasValue)
                                    {
                                        string cl = string.Format("{0:#,##0.00}", account.Overdue);
                                        @cl
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </label>
                            </td>
                            <td style="background-color:#3498db; color:white">
                                Payment Frequancy :
                            </td>
                            <td>
                                <label>@account.PaymentFrequency</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color:#3498db; color:white">
                                Created Date :
                            </td>
                            <td style="width: 23em;">
                                <label>
                                    @account.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                </label>
                            </td>
                            <td style="background-color:#3498db; color:white">
                                Updated Date :
                            </td>
                            <td>
                                <label>
                                    @if (account.UpdatedAt.ToShortDateString() != "1/1/0001")
                                    {
                                        @account.UpdatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                    }
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!---Requester-->
                <table class="table table-bordered table-col-4">
                    <thead>
                        <tr class="background-color">
                            <th colspan="4">Top Up (Prepaid Package)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="background-color">
                                Reference No :
                            </td>
                            <td style="width: 23em;">
                                <label>@m.Request.ReferenceNo</label>
                            </td>
                            <td class="background-color">
                                Status :
                            </td>
                            <td>
                                <label style="color:red;" id="lblStatus">@m.Request.Status</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color">
                                Top Up Amount :
                            </td>
                            <td colspan="3">
                                @{
                                    var c = string.Format("{0:#,##0.00}", m.Account.Credit);
                                    @c
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color">
                                Subject :
                            </td>
                            <td colspan="3">
                                @m.Request.Subject.ToString()
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color">
                                Description :
                            </td>
                            <td colspan="7">
                                @m.Request.Description.ToString()
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color">
                                Document :
                            </td>
                            <td colspan="3">
                                <table class="table table-bordered sub-table" id="inptRequesterfile">
                                    <thead>
                                        <tr>
                                            <th style="width: 23.5%">
                                                Uploaded Date
                                            </th>
                                            <th style="width: 36.2%">
                                                File Name
                                            </th>
                                            <th style="width: 25.5%">
                                                Size
                                            </th>
                                            <th>
                                                Ext
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (m.Request.Attachments != null && m.Request.Attachments.Count > 0)
                                            {
                                                var atts = m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "D88A3D13-707A-46D0-B4CC-6EAF6832C3E3");
                                                foreach (var att in atts)
                                                {
                                                    <tr>
                                                        <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                        <td><a href="@att.Path@att.Name" target="_blank">@att.Name</a></td>
                                                        <td>@att.Size</td>
                                                        <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--Finance invoice doc-->
                @if ((m.Request.Status == "Pending Finance Team") && m.Access == "Write" || m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "24EECF8D-EB43-44E8-8417-BE44AD12922D").Count > 0)
                {
                    <table class="table table-bordered table-col-4">
                        <thead>
                            <tr class="background-color">
                                <th>Invoice</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <table class="table table-bordered sub-table" id="inptFinancefile">
                                        <thead>
                                            <tr>
                                                <th style="width: 18.5%">
                                                    Uploaded Date
                                                </th>
                                                <th style="width: 20.2%">
                                                    File Name
                                                </th>
                                                <th style="width: 29.2%">
                                                    Attached By
                                                </th>
                                                <th style="width: 20.4%">
                                                    Size
                                                </th>
                                                <th>
                                                    Ext
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                if (m.Request.Attachments != null && m.Request.Attachments.Count > 0)
                                                {
                                                    var atts = m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "24EECF8D-EB43-44E8-8417-BE44AD12922D");
                                                    foreach (var att in atts)
                                                    {
                                                        <tr>
                                                            <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                            <td><a href="@att.Path@att.Name" target="_blank">@att.Name</a></td>
                                                            <td>@att.UploadedBy</td>
                                                            <td>@att.Size</td>
                                                            <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }


                <!---CS Remittance Doc--->
                @if ((m.Request.Status == "Pending CS Team") && m.Access == "Write" || m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "21CF1EA0-5069-41F3-B58F-62595FEB1F56").Count > 0)
                {
                    <table class="table table-bordered table-col-4">
                        <thead>
                            <tr class="background-color">
                                <th>Remittance Slip</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <table class="table table-bordered sub-table" id="inptCsfile">
                                        <thead>
                                            <tr>
                                                <th style="width: 18.5%">
                                                    Uploaded Date
                                                </th>
                                                <th style="width: 20.2%">
                                                    File Name
                                                </th>
                                                <th style="width: 29.2%">
                                                    Attached By
                                                </th>
                                                <th style="width: 20.4%">
                                                    Size
                                                </th>
                                                <th>
                                                    Ext
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                if (m.Request.Attachments != null && m.Request.Attachments.Count > 0)
                                                {
                                                    var atts = m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "21CF1EA0-5069-41F3-B58F-62595FEB1F56");
                                                    foreach (var att in atts)
                                                    {
                                                        <tr>
                                                            <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                            <td><a href="@att.Path@att.Name" target="_blank">@att.Name</a></td>
                                                            <td>@att.UploadedBy</td>
                                                            <td>@att.Size</td>
                                                            <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="background-color">Comment/Remark</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                <table class="table table-bordered sub-table" id="tableCommentRemark">
                                    <thead>
                                        <tr>
                                            <th style="width: 18.5%">Date Time</th>
                                            <th style="width: 20.2%">User Name</th>
                                            <th>Comment/Remark</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (m.Request.CommentRemarks != null)
                                            {
                                                foreach (var cr in m.Request.CommentRemarks)
                                                {
                                                    <tr>
                                                        <td>@Convert.ToDateTime(cr.ActionDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                        <td>@cr.UserName</td>
                                                        <td>@cr.Comment</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <!-- Action Button -->
                <div class="right-text margin-bottom-5">
                    @if (m.CameFrom == "Home")
                    {
                        <a href="@Url.Action("Index", "Home", new { area = "CreditManagement" })" class="btn btn-xs btn-default">Close</a>
                    }
                    else
                    {
                        <a href="@Url.Action("LoadMyTask", "Home", new { area = "CreditManagement" })" class="btn btn-xs btn-default">Close</a>
                    }
                </div>

                <!---Audit Trail-->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="background-color">Audit Trail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table class="table sub-table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:18.5%;">
                                                Date Time
                                            </th>
                                            <th style="width:20.2%;">
                                                User
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                            <th style="width:49%;">
                                                Comment
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (m.Request.Histories != null && m.Request.Histories.Count > 0)
                                            {
                                                foreach (var h in m.Request.Histories)
                                                {
                                                    <tr>
                                                        <td>@Convert.ToDateTime(h.ActionDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                                        <td>@h.UserName</td>
                                                        <td>@h.Action</td>
                                                        <td>@h.Description</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

