﻿@using ProcessVault.Models
@model QMSServiceReport

<link href="~/Areas/ProcessVault/Content/qms.css" rel="stylesheet" />
<base href="@Model.BaseUrl" />
<div style="margin: 3% 4%;font-size:12px;margin-top: 10px;font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;">
    <div class="center-text" style="float:left;">
        <span style="font-size:20px">Form B06</span>
        <h4 style="margin-top: 55px;">Service Report</h4>
    </div>
    <div style="text-align:center; float:right;">
        <img src="../Images/qms_logo.jpg" style="width:45px;" />
        <p style="text-align:right; margin: 5px 0px 0px 0px; font-size: 12.5px;">Quantum Medical Solution sdn bhd</p>
        <p style="text-align:right; margin: 0px 0px 5px 0px; font-size:10.5px;">Transending boundaries, transforming life</p>
        <p style="text-align:right; margin-top: 5px;">Format Ref. - QMS/TSD-008 Rev.00</p>
        <p style="text-align:right;"><span style="font-size:16px;font-weight:bold;">SR No:</span> &nbsp;<spanstyle ="font-size:16px;">000001</spanstyle></p>
    </div>
    <div class="row1 background-white">
        @*<div class="table bordered">
                <div class="row">
                    <div class="cell" style="width: 15%;">
                        Work Order No
                    </div>
                    <div class="cell" style="width: 35%;">
                        <label id="">@m.WONo</label>
                    </div>
                    <div class="cell" style="width: 20%;">
                        WR Date &amp; Time
                    </div>
                    <div class="cell" style="width: 30%;">
                        <label id="">@m.WRDate</label>
                    </div>
                </div>
                <div class="row">
                    <div class="cell" style="width: 15%;">
                        Clinic Name
                    </div>
                    <div class="cell" style="width: 35%;">
                        <label id="">@m.ClinicName</label>
                    </div>
                    <div class="cell" style="width: 20%;">
                        WO Date &amp; Time
                    </div>
                    <div class="cell" style="width: 30%;">
                        <label id="">@m.WODate</label>
                    </div>
                </div>
                <div class="row">
                    <div class="cell" style="width: 15%;">
                        BE No
                    </div>
                    <div class="cell" style="width: 35%;">
                        <label id="">@m.BENo</label>
                    </div>
                    <div class="cell" style="width: 20%;">
                        WO Responded Date &amp; Time
                    </div>
                    <div class="cell" style="width: 30%;">
                        <label id="">@m.WORespondedDate</label>
                    </div>
                </div>
                <div class="row">
                    <div class="cell" style="width: 15%;">
                        BE Category
                    </div>
                    <div class="cell" style="width: 35%;">
                        <label id="">@m.BECategory</label>
                    </div>
                    <div class="cell" style="width: 20%;">
                        WO Completed Date &amp; Time
                    </div>
                    <div class="cell" style="width: 30%;">
                        <label id="">@m.WOCompletedDate</label>
                    </div>
                </div>
            </div>
            <div class="table" style="border:1px solid black;">
                <div class="row">
                    <div class="cell">
                        <input type="checkbox" /><span>Existing Equipment</span>
                    </div>
                    <div class="cell">
                        <input type="checkbox" /><span>New &amp; Purchased Equipment</span>
                    </div>
                    <div class="cell">
                        <input type="checkbox" /><span>Reimbursable Work</span>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <input type="checkbox" /><span>Under Warranty</span>
                    </div>
                    <div class="cell">
                        <input type="checkbox" /><span>BER Proposed</span>
                    </div>
                    <div class="cell">
                        <input type="checkbox" /><span>Loaner Provided</span>
                    </div>
                </div>
            </div>
            <div class="table bordered">
                <div class="row">
                    <div class="cell" style="border:none;">
                        Problem Reported
                    </div>
                    <div class="cell" style="width: 15%;">
                        Problem Code
                    </div>
                    <div class="cell" style="width: 15%;">
                        <label id="">@m.ProblemCode</label>
                    </div>
                </div>
                <div class="row">
                    <div class="cell" style="border:none;">
                    </div>
                    <div class="cell">
                        Cause Code
                    </div>
                    <div class="cell" style="width: 15%;">
                        <label id="">@m.CauseCode</label>
                    </div>
                </div>
            </div>
            <br />*@
        @{
            var m = Model;
        }
        <table style="border:1px solid black;">
            <tr>
                <td style="padding:0px;">
                    <table class="bordered margin-bottom-1">
                        <tbody>
                            <tr>
                                <td style="width: 15%;">Work Order No</td>
                                <td style="width: 35%;"><label id="WONo">@m.WONo</label></td>
                                <td style="width: 20%;">WR Date &amp; Time</td>
                                <td style="width: 30%;"><label id="WRDate">@m.WRDate</label></td>
                            </tr>
                            <tr>
                                <td>Clinic Name</td>
                                <td><label id="ClinicName">@m.ClinicName</label></td>
                                <td>WO Date &amp; Time</td>
                                <td><label id="WODate">@m.WODate</label></td>
                            </tr>
                            <tr>
                                <td>BE No</td>
                                <td><label id="BENo">@m.BENo</label></td>
                                <td>WO Responded Date &amp; Time</td>
                                <td><label id="WORespondedDate">@m.WOResponded</label></td>
                            </tr>
                            <tr>
                                <td>BE Category</td>
                                <td><label id="BECategory">@m.BECategory</label></td>
                                <td>WO Completed Date &amp; Time</td>
                                <td><label id="WOCompletedDate">@m.WOCompleted</label></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="margin-bottom-1" style="border:1px solid black; height: 45px;">
                        <tbody>
                            <tr>
                                <td><input type="checkbox" disabled /><span>Existing Equipment</span></td>
                                <td><input type="checkbox" disabled /><span>New &amp; Purchased Equipment</span></td>
                                <td><input type="checkbox" disabled /><span>Reimbursable Work</span></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" disabled /><span>Under Warranty</span></td>
                                <td><input type="checkbox" disabled /><span>BER Proposed</span></td>
                                <td><input type="checkbox" disabled /><span>Loaner Provided</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="bordered margin-bottom-1">
                        <tbody>
                            <tr>
                                <td rowspan="2" style="height: 50px;"><span style="font-style:italic; font-weight:bold;">Problem Reported</span><br /><label id="ProblemReported">@m.ProblemReported</label></td>
                                <td style="width: 15%;">Problem Code</td>
                                <td style="width: 15%;"><label id="ProblemCode">@m.ProblemCode</label></td>
                            </tr>
                            <tr>
                                <td>Cause Code</td>
                                <td><label id="CauseCode">[CauseCode]</label></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="bordered margin-bottom-1">
                        <tbody>
                            <tr>
                                <td style="height:100px;"><span style="font-style:italic; font-weight:bold;">Action Taken</span><br /><label id="ActionTaken">@m.CorrectiveAction</label></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="bordered margin-bottom-1" style="width:50%; float:left;">
                        <thead>
                            <tr>
                                <th colspan="3">Material Used</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:13%;">SI No</td>
                                <td>Item Description</td>
                                <td style="text-align:center; width:13%;">Qty</td>
                            </tr>
                            @{
                                for (int i = 0; i < 4; i++)
                                {
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <table class="bordered margin-bottom-1" style="width:50%; float:right;">
                        <thead>
                            <tr>
                                <th colspan="2">Loaner Equipment Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Equipment Provided Date</td>
                                <td style="width: 60%;"><label id="EquipmentProvidedDate"></label></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span>Equipment Condition</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>Good</span><input type="checkbox" disabled />&nbsp;&nbsp;<span>Damaged</span><input type="checkbox" disabled /></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="bordered margin-bottom-1" style="width:50%; float:right;">
                        <thead>
                            <tr>
                                <th colspan="2">Response Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="line-height: 15px;">
                                    User Requested Response Date &amp; Time
                                </td>
                                <td style="width: 60%;"><label id="WRRespondedDate">@m.WOResponded</label></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="min-height: 83px;">
                                    Customer Signature for Response Time
                                    <div style="height:-webkit-fill-available; border:none;"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="bordered margin-bottom-1" style="width:50%; float:left;">
                        <thead>
                            <tr>
                                <th colspan="4">BM Execution Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Engineer/Technician Name</td>
                                <td style="text-align:center; width:20%;">Date</td>
                                <td style="text-align:center; width:13%;">Start Time</td>
                                <td style="text-align:center; width:13%;">End Time</td>
                            </tr>
                            <tr>
                                <td><label id="EngName">@m.EngineerName</label></td>
                                <td><label id="ActionDate">@Convert.ToDateTime(m.WOResponded).ToString("dd MMM yyyy")</label></td>
                                <td><label id="StartTime">@Convert.ToDateTime(m.WOResponded).ToString("HH:mm:ss")</label></td>
                                <td><label id="EndTime">@Convert.ToDateTime(m.WOCompleted).ToString("HH:mm:ss")</label></td>
                            </tr>
                            @{
                                for (int i = 0; i < 2; i++)
                                {
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <table class="bordered">
                        <tbody>
                            <tr>
                                <td style="height: 50px; font-style:italic; font-weight:bold;">Customer Remarks</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="center-bordered" style=" border: 1px solid black;">
                        <tbody>
                            <tr>
                                <td>Engineer/Technician Signature</td>
                                <td>Customer Signature for WO Completion</td>
                            </tr>
                            <tr>
                                @{ 
                                    var src = "Areas/ProcessVault/QMS/" + m.CustomerSignature;
                                    src += "?v=" + String.Format(File.GetLastWriteTime(src).ToString("MMddyyhhmmss"));
                                }
                                <td><img id="EngSign" src="@src" style="height: 50px;margin-left: 56px;" /></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td><label id="EngName1">@m.EngineerName</label></td>
                                <td>Designation</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Seal</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <table>
            <thead>
                <tr>
                    <th colspan="2">For Internal Use Only</th>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td>First verification</td>
                    <td>Final Verification</td>
                </tr>
                <tr>
                    <td>QMS Circle Incharge</td>
                    <td>QMS State Incharge</td>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div style="text-align: center;" class="printPageButton">
    <button id="printPageButton" onClick="window.print();">Print</button>
</div>
