﻿@using ProcessVault.Models
@model QMSServiceReport

<style>
    body {
        font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    }

    label, table td {
        font-size: 12px;
    }

    h4 {
        font-size: x-large;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
        border: 1px solid #efefef;
    }

        table th {
            background-color: lightgray;
            font-size: 12px;
            padding: 5px;
        }

    .background-gray {
        background-color: lightgray;
        padding: 5px 10px;
    }

    .sub-table th {
        background-color: #f3f3f3;
    }
</style>

<div style="margin: 3% 5%;font-size:12px;margin-top: 10px;font-family: " Lato","Helvetica Neue",Helvetica,Arial,sans-serif;">
    <div class="center-text">
        <h4 style="margin-top: 0px;">Service Report</h4>
    </div>
    <div class="row1 background-white">
        <table>
            <tbody>
                <tr>
                    <td>Work Order No</td>
                    <td><label id="WONo">[WONo]</label></td>
                    <td>WR Date &amp; Time</td>
                    <td><label id="WRDate">[WRDate]</label></td>
                </tr>
                <tr>
                    <td>Clinic Name</td>
                    <td><label id="ClinicName">[ClinicName]</label></td>
                    <td>WO Date &amp; Time</td>
                    <td><label id="WODate">[WODate]</label></td>
                </tr>
                <tr>
                    <td>BE No</td>
                    <td><label id="BENo">[BENo]</label></td>
                    <td>WO Responded Date &amp; Time</td>
                    <td><label id="WORespondedDate">[WORespondedDate]</label></td>
                </tr>
                <tr>
                    <td>BE Category</td>
                    <td><label id="BECategory">[BECategory]</label></td>
                    <td>WO Completed Date &amp; Time</td>
                    <td><label id="WOCompletedDate">[WOCompletedDate]</label></td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td rowspan="2">Problem Reported</td>
                    <td>Problem Code</td>
                    <td><label id="ProblemCode">[ProblemCode]</label></td>
                </tr>
                <tr>
                    <td rowspan="2"><label id="ProblemReported"></label></td>
                    <td>Cause Code</td>
                    <td><label id="CauseCode">[CauseCode]</label></td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td>Action Taken</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3">Material Used</th>
                                </tr>
                                <tr>
                                    <th>SI No</th>
                                    <th>Item Description</th>
                                    <th>Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int i = 0; i < 4; i++)
                                    {
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th>BM Execution Details</th>
                                </tr>
                                <tr>
                                    <th>Engineer/Technician Name</th>
                                    <th>Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><label id="EngName"></label></td>
                                    <td><label id="ActionDate"></label></td>
                                    <td><label id="StartTime"></label></td>
                                    <td><label id="EndTime"></label></td>
                                </tr>
                                @{
                                    for (int i = 0; i < 2; i++)
                                    {
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>Loaner Equipment Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Equipment Provided Date</td>
                                    <td><label id="">[EquipmentProvidedDate]</label></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th>Response Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        User Requested Response Date &amp; Time
                                    </td>
                                    <td><label id="WRRespondedDate">[WRRespondedDate]</label></td>
                                </tr>
                                <tr>
                                    Customer Signature for Response Time
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td>Customer Remarks</td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td>Engineer/Technician Signature</td>
                    <td>Customer Signature for WO Completion</td>
                </tr>
                <tr>
                    <td><img id="EngSign" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td><label id="EngName"></label></td>
                    <td>Designation</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Seal</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th colspan="2">For Internal Use Only</th>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>First verification</td>
                    <td>Final Verification</td>
                </tr>
                <tr>
                    <td>QMS Circle Incharge</td>
                    <td>QMS State Incharge</td>
                </tr>
            </thead>
        </table>
    </div>
</div>

