﻿<script>
    $(function () {
        $('.nav-tabs').children('.active').removeClass('active');
        $('#announcement').parent().addClass('active');
    });
</script>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Search Criteria</legend>
    <div class="content">
        <div class="col-lg-3">
            <label>Document Name</label>
            <input id="title" class="form-control" type="text" name="title" />
        </div>
        <div class="col-lg-3">
            <label>Document Version</label>
            <input id="version" class="form-control" type="text" name="version" />
        </div>
        <div class="col-lg-3">
            <label>Owner (By User)</label>
            <input id="obu" class="form-control" type="text" name="obu" />
        </div>
        <div class="col-lg-3">
            <label>Owned by Department</label>
            <select class="form-control">
                <option>ACS</option>
                <option>ADM</option>
                <option>COM</option>
                <option>CPD</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label>Create Date</label>
            <input id="date" class="form-control datepicker" type="text" name="efrom" />
        </div>
        <div class="col-lg-3">
            <label>Update Date</label>
            <input id="date" class="form-control datepicker" type="text" name="eto" />
        </div>
        <div class="col-lg-3">
            <label>Validity</label>
            <select class="form-control">
                <option>6 months</option>
                <option>12 months</option>
                <option>24 months</option>
                <option>36 months</option>
            </select>
        </div>
        <div class="search-btn col-lg-3 text-right">
            <a href="#" class="btn btn-info btn-xs">Search</a>
            <a href="#" class="btn btn-warning btn-xs">Clear</a>
        </div>
    </div>
</fieldset>