﻿@using ProcessVault.Models
@model BillingInfoSearchModel
<script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'dd M yyyy'
            })
            $('.nav-tabs').children('.active').removeClass('active');
            $('#billing').parent().addClass('active');

            $('#btnExport').click(function () {
                var url = '@Url.Action("GenerateBilling", "Home")';
                    window.location = url;
            });
            $('#btnInvoice').click(function () {
                var url = '@Url.Action("GenerateInvoice", "Home")';
                //window.location = url;
                $.ajax({
                    url: url,
                    cache: false,
                    type: "GET",
                    success: function (data, textStatus, XMLHttpRequest) {
                        
                    }
                });
            });
        });
</script>


<fieldset class="scheduler-border">
    <legend class="scheduler-border">Search Criteria</legend>
    <div class="content">
        <div class="col-lg-3">
            <label>Customer Id</label>
            <input id="inptCustomerId" class="form-control" type="text" name="customer" />
        </div>
        <div class="col-lg-3">
            <label>Billing Id</label>
            <input id="inptBillingId" class="form-control" type="text" name="billing" />
        </div>
        <div class="col-lg-3">
            <label>Account Type</label>
            <select id="inptCustomer" class="form-control">
                <option value="all">All</option>
                <option value="1">Prepaid</option>
                <option value="2">Postpaid</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label>Customer Name</label>
            <select id="inptCustomer" class="form-control">
                <option value="all">All</option>
                @{
                    if (Model.Customers != null)
                    {
                        foreach (var c in Model.Customers)
                        {
                            <option>@c.Name</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="col-lg-3">
            <label>Created Date</label>
            <div class="col-lg-12 no-padding">
                <div class="col-lg-6 right-padding-5">
                    <input id="inptCreatedDateFrom" placeholder="From Date" class="form-control datepicker" type="text" />
                </div>
                <div class="col-lg-6 left-padding-5">
                    <input id="inptCreatedDateTo" placeholder="To Date" class="form-control datepicker" type="text" />
                </div>
            </div>
        </div>
        <div class="search-btn col-lg-3 text-right">
            <a onclick="SearchCompanyDocument()" class="btn btn-info btn-xs">Search</a>
            <a onclick="ClearSearch()" class="btn btn-warning btn-xs">Clear</a>
        </div>
    </div>
</fieldset>
<div>
    <div class="panel-body">
        <div class="row">
            <label>Billing Info List</label>
            <table id="tblBillingInfo" class="table table-bordered sub-table" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th style="width: 3%;"><input type="checkbox"></th>
                        <th>Customer ID</th>
                        <th>Customer Name</th>
                        <th>Email Address</th>
                        <th>Account Type</th>
                        <th>Billing Address</th>
                        <th>Account Status</th>
                        <th>Account Balance</th>
                        <th>Created Date&nbsp; <span id="inboxSort" data-type="desc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-bottom"></span></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var b in Model.BillingInfos)
                        {
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>@b.CustomerId</td>
                                <td>@b.CustomerName</td>
                                <td>@b.Email</td>
                                <td>@b.AccountType</td>
                                <td>@b.BillingAddress</td>
                                <td>[Account Status]</td>
                                <td>[Account Balance]</td>
                                <td>@b.LastUpdated</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class=" text-right">
                <a id="btnExport" class="btn btn-danger btn-xs">Generate Billing</a>
                <a id="btnInvoice" class="btn btn-danger btn-xs">Generate Invoice</a>
            </div>
        </div>
    </div>
</div>