﻿<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd M yyyy'
        })
        $('.nav-tabs').children('.active').removeClass('active');
        $('#contract').parent().addClass('active');
    });
</script>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Search Criteria</legend>
    <div class="content">
        <div class="col-lg-3">
            <label>Contract Name</label>
            <input id="inptContractName" class="form-control" type="text" />
        </div>
        <div class="col-lg-3">
            <label>Contract Number</label>
            <input id="inptContractNo" class="form-control" type="text" />
        </div>
        <div class="col-lg-3">
            <label>Contract Type</label>
            <select class="form-control">
                <option>Select Contract Type</option>
                <option>Services Contract</option>
                <option>Purchasing Contract</option>
                <option>Other</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label>Classification</label>
            <select class="form-control">
                <option>Select Classification</option>
                <option>Standard</option>
                <option>Other</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label>Client Name</label>
            <input id="inptClientName" class="form-control" type="text" />
        </div>
        <div class="col-lg-3">
            <label>Contract Date</label>
            <div class="col-lg-12 no-padding">
                <div class="col-lg-6 right-padding-5">
                    <input id="inptContractDateFrom" placeholder="From Date" class="form-control datepicker" type="text" />
                </div>
                <div class="col-lg-6 left-padding-5">
                    <input id="inptContractDateTo" placeholder="To Date" class="form-control datepicker" type="text" />
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <label>Validity</label>
            <div class="col-lg-12 no-padding">
                <div class="col-lg-6 right-padding-5">
                    <input id="inptValidityFrom" placeholder="From Date" class="form-control datepicker" type="text" />
                </div>
                <div class="col-lg-6 left-padding-5">
                    <input id="inptValidityTo" placeholder="To Date" class="form-control datepicker" type="text" />
                </div>
            </div>
        </div>
        <div class="search-btn col-lg-3 text-right">
            <a href="#" class="btn btn-info btn-xs">Search</a>
            <a href="#" class="btn btn-warning btn-xs">Clear</a>
        </div>
    </div>
</fieldset>
<div>
    <div class="panel-body">
        <div class="row">
            <label>Contract List</label>
            <table class="table table-bordered sub-table" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th><input type="checkbox" /></th>
                        <th>Contract Name</th>
                        <th>Contract Number</th>
                        <th>Client Name</th>
                        <th>Contract Type</th>
                        <th>Classification</th>
                        <th>Contract Date</th>
                        <th>Validity (Month)</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {
                            foreach (var s in Model)
                            {
                                if (s.CurrentState != null && s.CurrentState.Name == "Closed")
                                {
                                    var d = s.SOPDocument;
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td><a href="@Url.Action("Document", "Home", new { id = d.Id, areas = "ProcessVault" })">@d.Name</a></td>
                                        <td style="text-align: center;">@d.Version</td>
                                        <td>@s.OwnedByUser</td>
                                        <td>@s.OwnedByUser</td>
                                        <td>@s.CreatedDate</td>
                                        <td>@s.UpdatedDate</td>
                                        <td style="text-align: center;">@s.Validity</td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
            <div class=" text-right">
                <a href="@Url.Action("Index", "Contract", new { area = "ProcessVault" })" class="btn btn-danger btn-xs">Add New Contract</a>
            </div>
        </div>
    </div>
</div>