﻿@using ObjectClasses.DocumentPortal
@model List<ECNModel>
<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd M yyyy'
        })
        $('.nav-tabs').children('.active').removeClass('active');
        $('#ecn').parent().addClass('active');
    });
</script>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Search Criteria</legend>
    <div class="content">
        <div class="col-lg-3">
            <label>Reference No.</label>
            <input id="inptReferenceNo" class="form-control" type="text" />
        </div>
        <div class="col-lg-3">
            <label>Document Name</label>
            <input id="inptDocumentName" class="form-control" type="text" />
        </div>
        <div class="col-lg-3">
            <label>Document Code</label>
            <input id="inptDocumentCode" class="form-control" type="text" />
        </div>
        <div class="col-lg-3">
            <label>Status</label>
            <select id="inptStatus" class="form-control">
                <option value="all">All</option>
                <option value="Pending Requester">Pending Requester</option>
                <option value="Pending Reviewer">Pending Reviewer</option>
                <option value="Pending Person In Charge">Pending Person In Charge</option>
                <option value="Pending Final Approver">Pending Final Approver</option>
                <option value="Close Completed">Close Completed</option>
                <option value="Close Rejected">Close Rejected</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label>Completion Date</label>
            <div class="col-lg-12 no-padding">
                <div class="col-lg-6 right-padding-5">
                    <input id="inptCompletionDateFrom" placeholder="From Date" class="form-control datepicker" type="text" />
                </div>
                <div class="col-lg-6 left-padding-5">
                    <input id="inptCompletionDateTo" placeholder="To Date" class="form-control datepicker" type="text" />
                </div>
            </div>
        </div>
        <div class="search-btn col-lg-3 text-right">
            <a onclick="SearchECNDocument()" class="btn btn-info btn-xs">Search</a>
            <a onclick="ClearSearch()" class="btn btn-warning btn-xs">Clear</a>
        </div>
    </div>
</fieldset>
<div>
    <div class="panel-body">
        <div class="row">
            <label>ENC List</label>
            <table id="tblECNDocuments" class="table table-bordered sub-table" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th style="width: 3%;"><input type="checkbox"></th>
                        <th style="width: 21%;">Reference No</th>
                        <th style="width: 25%;">Document Name</th>
                        <th style="width: 12%;">Document Code</th>
                        <th style="width: 15.5%;">Status</th>
                        <th>Completion Date&nbsp;<span id="inboxSort" data-type="desc" onclick="sortTable(this)" class="clickable glyphicon glyphicon-triangle-bottom"></span></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {
                            foreach (var d in Model)
                            {

                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td data-input="ReferenceNo"><a href="@Url.Action("ECNDocument", "Home", new { id = d.RequestId, areas = "ProcessVault" })">@d.ReferenceNo</a></td>
                                    <td data-input="DocumentName">@d.ECNDocument.DocumentName</td>
                                    <td data-input="DocumentCode">@d.ECNDocument.Code</td>
                                    <td data-input="Status">@d.Status</td>
                                    <td data-input="CompletionDate">@d.ECNDocument.CompletionDate</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <div class=" text-right">
                <a href="@Url.Action("Index", "ECN", new { area = "ProcessVault" })" class="btn btn-danger btn-xs">New ECN</a>
            </div>
        </div>
    </div>
</div>