﻿@using ProcessVault.Models
@model QMSServiceReportSearchModel
<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd M yyyy'
        })
        $('.nav-tabs').children('.active').removeClass('active');
        $('#qms').parent().addClass('active');
    });
</script>


<fieldset class="scheduler-border">
    <legend class="scheduler-border">Search Criteria</legend>
    <div class="content">
        <div class="col-lg-3">
            <label>Work Order No</label>
            <input id="inptWONo" class="form-control" type="text" name="title" />
        </div>
        <div class="col-lg-3">
            <label>Clinic Name</label>
            <input id="inptClinicName" class="form-control" type="text" name="version" />
        </div>
        <div class="col-lg-3">
            <label>BE No</label>
            <input id="inptBENo" class="form-control" type="text" name="obu" />
        </div>
        <div class="col-lg-3">
            <label>BE Category</label>
            <select id="inptBECategory" class="form-control">
                <option value="all">All</option>
                <option value="1">Analyzers, Laboratory</option>
                <option value="2">Analyzers, Laboratory</option>
                <option value="3">Analyzers, Laboratory</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label>WR Date</label>
            <div class="col-lg-12 no-padding">
                <div class="col-lg-6 right-padding-5">
                    <input id="inptWRDateFrom" placeholder="From Date" class="form-control datepicker" type="text" />
                </div>
                <div class="col-lg-6 left-padding-5">
                    <input id="inptWRDateTo" placeholder="To Date" class="form-control datepicker" type="text" />
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <label>WO Date</label>
            <div class="col-lg-12 no-padding">
                <div class="col-lg-6 right-padding-5">
                    <input id="inptWODateFrom" placeholder="From Date" class="form-control datepicker" type="text" />
                </div>
                <div class="col-lg-6 left-padding-5">
                    <input id="inptWODateTo" placeholder="To Date" class="form-control datepicker" type="text" />
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <label>WO Responded Date</label>
            <div class="col-lg-12 no-padding">
                <div class="col-lg-6 right-padding-5">
                    <input id="inptWORespondedDateFrom" placeholder="From Date" class="form-control datepicker" type="text" />
                </div>
                <div class="col-lg-6 left-padding-5">
                    <input id="inptWORespondedDateTo" placeholder="To Date" class="form-control datepicker" type="text" />
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <label>WO Completed Date</label>
            <div class="col-lg-12 no-padding">
                <div class="col-lg-6 right-padding-5">
                    <input id="inptWOCompletedDateFrom" placeholder="From Date" class="form-control datepicker" type="text" />
                </div>
                <div class="col-lg-6 left-padding-5">
                    <input id="inptWOCompletedDateTo" placeholder="To Date" class="form-control datepicker" type="text" />
                </div>
            </div>
        </div>
        <div class="search-btn col-lg-3 text-right">
            <a onclick="SearchQMSReport()" class="btn btn-info btn-xs">Search</a>
            <a onclick="ClearSearch()" class="btn btn-warning btn-xs">Clear</a>
        </div>
    </div>
</fieldset>
<div>
    <div class="panel-body">
        <div class="row">
            <label>Service Report List</label>
            <table id="tblServiceReport" class="table table-bordered sub-table" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th style="width: 3%;"><input type="checkbox"></th>
                        <th>Work Order No</th>
                        <th>Clinic Name</th>
                        <th>BE No</th>
                        <th>BE Category</th>
                        <th>WR Date</th>
                        <th>WO Date</th>
                        <th>WO Responded Date</th>
                        <th>WO Completed Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.QMSServiceReports != null)
                        {
                            foreach (var d in Model.QMSServiceReports)
                            {
                                var filename = "json1.txt";
                                if (d.CustomerSignature == "signature.png")
                                {
                                    filename = "json.txt";
                                }
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td data-input="WONo"><a href="@Url.Action("Index", "QMS", new { fileName = filename, areas = "ProcessVault" })">@d.WONo</a></td>
                                    <td data-input="ClinicName">@d.ClinicName</td>
                                    <td data-input="BENo">@d.BENo</td>
                                    <td data-input="BECategory" style="text-align: center;">@d.BECategory</td>
                                    <td data-input="WRDate">@Convert.ToDateTime(d.WRDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                    <td data-input="WODate">@Convert.ToDateTime(d.WODate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                    <td data-input="WORespondedDate">@Convert.ToDateTime(d.WOResponded).ToString("dd MMM yyyy HH:mm:ss")</td>
                                    <td data-input="WOCompletedDate">@Convert.ToDateTime(d.WOCompleted).ToString("dd MMM yyyy HH:mm:ss")</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <div class=" text-right">
                <a href="@Url.Action("Index", "QMS", new { area = "ProcessVault" })" class="btn btn-danger btn-xs">PrintPreview</a>
            </div>
        </div>
    </div>
</div>