﻿<script>
    $(function () {
        $('.nav-tabs').children('.active').removeClass('active');
        $('#training').parent().addClass('active');
    });
</script>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Search Criteria</legend>
    <div class="content">
        <div class="col-lg-3">
            <label>Training Name</label>
            <input id="inptTrainingName" class="form-control" type="text" />
        </div>
        <div class="col-lg-3">
            <label>Training Code</label>
            <input id="inptTrainingCode" class="form-control" type="text" />
        </div>
        <div class="col-lg-3">
            <label>Training Date</label>
            <input id="inptTrainingDate" class="form-control" type="text" />
        </div>
        <div class="col-lg-3">
            <label>Status</label>
            <select class="form-control">
                <option>Completed</option>
                <option>Scheduled</option>
                <option>In Progress</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label>Department</label>
            <select class="form-control">
                <option>HR</option>
                <option>IT</option>
                <option>FIN</option>
                <option>AUDIT</option>
            </select>
        </div>
        <div class="search-btn col-lg-3 text-right">
            <a href="#" class="btn btn-info btn-xs">Search</a>
            <a href="#" class="btn btn-warning btn-xs">Clear</a>
        </div>
    </div>
</fieldset>
<div>
    <div class="panel-body">
        <div class="row">
            <label>Training List</label>
            <table class="table table-bordered sub-table" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th><input type="checkbox" /></th>
                        <th>Traning Name</th>
                        <th>Training Code</th>
                        <th>Training Date</th>
                        <th>Status</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {
                            foreach (var s in Model)
                            {
                                if (s.CurrentState != null && s.CurrentState.Name == "Closed")
                                {
                                    var d = s.SOPDocument;
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td><a href="@Url.Action("Document", "Home", new { id = d.Id, areas = "ProcessVault" })">@d.Name</a></td>
                                        <td style="text-align: center;">@d.Version</td>
                                        <td>@s.OwnedByUser</td>
                                        <td>@s.OwnedByUser</td>
                                        <td>@s.CreatedDate</td>
                                        <td>@s.UpdatedDate</td>
                                        <td style="text-align: center;">@s.Validity</td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
            <div class=" text-right">
                <a href="@Url.Action("SOP", "Home", new { area = "ProcessVault" })" class="btn btn-danger btn-xs">Add New Training</a>
            </div>
        </div>
    </div>
</div>