﻿@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>DYM360</title>
    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'dd M yyyy'
            })
        });
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({ placement: 'bottom' });
        });
    </script>
</head>
<body>
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <nav class="navbar navbar-default top-bar">
                        <div class="container-fluid">
                            <div class="navbar-header top-logo">
                                <a href="#">
                                    <label>
                                        <span class="a">dym</span>
                                    </label>
                                    <label>
                                        <span class="b">360</span>
                                    </label>
                                </a>
                                <a href="#" class="logo">
                                    <img src="../Images/logo.png" />
                                </a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a title="Calendar" data-toggle="tooltip"><span class="glyphicon glyphicon-calendar"></span></a></li>
                                    <li><a title="Five&nbsp;recent&nbsp;actions&nbsp;performed" data-toggle="tooltip"><span class="glyphicon glyphicon-tasks"></span></a></li>
                                    <li><a title="Five&nbsp;reminders" data-toggle="tooltip"><span class="glyphicon glyphicon-bell"></span></a></li>
                                    <li><a title="My&nbsp;Profile" data-toggle="tooltip"><span class="glyphicon glyphicon-user"></span></a></li>
                                    <li><a title="Settings" data-toggle="tooltip"><span class="glyphicon glyphicon-cog"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row body-container">
            <div class="col-lg-12 col-md-3 col-sm-8">
                <div class="bs-component" style="font-size:12px; margin-top: 10px;">
                    <div class="row col-lg-offset-1">
                        <h3 style="margin-top: 0px;">Document Information</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-1 col-lg-7">
                            <iframe src="http://gahp.net/wp-content/uploads/2017/09/sample.pdf" width="100%" height="480px;"></iframe>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Document Details</h3>
                                </div>
                                <div class="panel-body1 list-group">
                                    <div class="list-group-item">
                                        <label>Document Name</label>
                                        <p>Walver Policy</p>
                                    </div>
                                    <div class="list-group-item">
                                        <label>Document Version</label>
                                        <p>2</p>
                                    </div>
                                    <div class="list-group-item">
                                        <label>Owner (By User)</label>
                                        <p>Olivia</p>
                                    </div>
                                    <div class="list-group-item">
                                        <label>Owned by Department</label>
                                        <p>ACS</p>
                                    </div>
                                    <div class="list-group-item">
                                        <label>Create Date</label>
                                        <p>07 Jul 2018</p>
                                    </div>
                                    <div class="list-group-item">
                                        <label>Update Date</label>
                                        <p>30 Jun 2018</p>
                                    </div>
                                    <div class="list-group-item">
                                        <label>Validity</label>
                                        <p>12 months</p>
                                    </div>
                                </div>
                            </div>
                            <div class=" text-right">
                                <a href="@Url.Action("Index", "Home", new { area = "ProcessVault" })" class="btn btn-danger btn-sm">Close</a>
                            </div>
                        </div>
                        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>