﻿@using ObjectClasses
@model Request
@{
    Layout = "../Shared/_Layout.cshtml";
}

<script src="~/Areas/ProcessVault/Scripts/document.js"></script>
<script>
    $(function () {
        var url = '@Url.Action("LoadPageView", "Document")';
        var elemId = '#PartialViewPanel';
        LoadPageView(elemId, url, { "requestId": $('#id').val() });
    });
</script>
@Html.HiddenFor(m => m.RequestId, new { id = "id" })
<div id="PartialViewPanel" class="bs-docs-section clearfix">
</div>
