﻿@using ProcessVault.Models
@model CompanyDocumentConfig

<style>
    body {
        font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    }

    label, table td {
        font-size: 12px;
    }

    h4 {
        font-size: x-large;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
        border: 1px solid #efefef;
    }

        table th {
            background-color: lightgray;
            font-size: 12px;
            padding: 5px;
        }

    .background-gray {
        background-color: lightgray;
        padding: 5px 10px;
    }

    .sub-table th {
        background-color: #f3f3f3;
    }
</style>

<div style="margin: 3% 5%;font-size:12px;margin-top: 10px;font-family: " Lato","Helvetica Neue",Helvetica,Arial,sans-serif;">
    <div class="center-text">
        <h4 style="margin-top: 0px;">Standard Operation Procedure (SOP)</h4>
    </div>
    <div class="row1 background-white">
        <!---Requester-->
        @{
        var m = Model;
        }
        <table>
            <thead>
                <tr>
                    <th colspan="2" class="background-gray">Requester Information</th>
                </tr>
            </thead>
            @{
                <tbody>
                    <tr>
                        <td class="background-gray" style="width:20%">
                            Name:
                        </td>
                        <td>
                            @m.Request.Requester.Name
                        </td>
                    </tr>
                    <tr style="width:20%">
                        <td class="background-gray">
                            Position:
                        </td>
                        <td>
                            @m.Request.Requester.Position
                        </td>
                    </tr>
                    <tr>
                        <td class="background-gray">
                            Request Date:
                        </td>
                        <td>
                            @Convert.ToDateTime(m.Request.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        <table>
            <thead>
                <tr class="background-gray">
                    <th colspan="4">Standard Operation Procedure (SOP) Request</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="background-gray" style="width:20%;">
                        Reference No:
                    </td>
                    <td style="width: 31.5%;">
                        @m.Request.ReferenceNo
                    </td>
                    <td class="background-gray" style="width:20%">
                        Status:
                    </td>
                    <td>
                        @m.Request.Status
                    </td>
                </tr>
                <tr>
                    <td class="background-gray">
                        Request Type:
                    </td>
                    <td colspan="3" style="vertical-align:middle;">
                        @m.Request.RequestType
                    </td>
                </tr>
                <tr>
                    <td class="background-gray">
                        Subject:
                    </td>
                    <td colspan="3">
                        @m.Request.Subject
                    </td>
                </tr>
                <tr>
                    <td class="background-gray">
                        Description:
                    </td>
                    <td colspan="3">
                        @m.Request.Description
                    </td>
                </tr>
                <tr>
                    <td class="background-gray">
                        Document:
                    </td>
                    <td colspan="3">
                        <table class="table table-bordered" id="inptRequesterfile">
                            <thead>
                                <tr>
                                    <th style="width: 25%;">Uploaded Date</th>
                                    <th style="width: 39.5%;">Name</th>
                                    <th>Ext</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!---Pex Team-->
        <table class="table table-bordered table-col-4">
            <thead>
                <tr class="background-gray">
                    <th colspan="4">PEx Team</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="background-gray" style="width:20%;">
                        Applicability (Department):
                    </td>
                    <td colspan="3" style="vertical-align:middle;">
                        @{
                        var ids = new List<string>();
                        if (m.CompanyDocument != null && m.CompanyDocument.DepartmentApplicability != null)
                        {
                            ids = m.CompanyDocument.DepartmentApplicability.Split(';').ToList();
                        }
                        var depts = "";
                        foreach (var id in ids)
                        {
                            var d = m.Departments.Find(x => x.DepartmentId == id);
                            if (d != null)
                            {
                                depts += " - " + d.Name;
                            }
                        }
                        @depts;
                        }
                    </td>
                </tr>
                <tr>
                    <td class="background-gray">
                        Applicability (Location):
                    </td>
                    <td colspan="3" style="vertical-align:middle;">
                        @{
                        ids = new List<string>();
                        if (m.CompanyDocument != null && m.CompanyDocument.LocationApplicability != null)
                        {
                            ids = m.CompanyDocument.LocationApplicability.Split(';').ToList();
                        }
                        var locs = "";
                        foreach (var id in ids)
                        {
                            var l = m.Locations.Find(x => x.LocationId == id);
                            if (l != null)
                            {
                                locs += " - " + l.Name;
                            }
                        }
                        @locs;
                        }
                    </td>
                </tr>
                <tr>
                    <td class="background-gray">
                        SOP Name:
                    </td>
                    <td colspan="3">
                        @m.CompanyDocument.SOPName
                    </td>
                </tr>
                <tr>
                    <td class="background-gray" style="width:20%">
                        SOP Version:
                    </td>
                    <td style="width: 31.5%;">
                        @m.CompanyDocument.SOPVersion
                    </td>

                    <td class="background-gray" style="width:20%">
                        SOP Validity:
                    </td>
                    <td>
                        @m.CompanyDocument.Validity
                    </td>
                </tr>
                <tr>
                    <td class="background-gray">
                        SOP Owner (By User):
                    </td>
                    <td>
                        @m.CompanyDocument.UserOwner
                    </td>
                    <td class="background-gray">
                        SOP Owned by Department:
                    </td>
                    <td>
                        @m.CompanyDocument.DepartmentOwner
                    </td>
                </tr>
                <tr>
                    <td class="background-gray" style="vertical-align:top;">
                        Document:
                    </td>
                    <td colspan="3">
                        <table class="table table-bordered" id="inptPexfile">
                            <thead>
                                <tr>
                                    <th style="width: 25%;"><label>Uploaded Date</label></th>
                                    <th style="width: 39.5%;">Name</th>
                                    <th>Ext</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                if (m.Request.Attachments != null && m.Request.Attachments.Count > 0)
                                {
                                    var atts = m.Request.Attachments.FindAll(x => x.AttachmentTypeId == "A542CF4A-3986-4548-8AD0-8CA67291DC3B");
                                    foreach (var att in atts)
                                    {
                                        <tr>
                                            <td>@Convert.ToDateTime(att.CreatedDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                            @{
                                            if (m.Request.Status == "Pending PEx Team")
                                            {
                                                <td>@att.Name</td>
                                        }
                                        else
                                        {
                                            @*<td><a href="@att.Path@att.Name" target="_blank">@att.Name</a></td>*@
                                            <td>@att.Name</td>
                                    }
                                            }

                                            <td>@att.Name.Substring(att.Name.LastIndexOf('.'))</td>
                                            <td>@att.Size</td>
                                        </tr>
                                }
                            }
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="background-gray" style="vertical-align:top;">
                        Comment:
                    </td>
                    <td colspan="3">
                        <table class="table table-bordered" id="tableCommentRemark">
                            <thead>
                                <tr>
                                    <th style="width: 25%;">Date Time</th>
                                    <th style="width: 39.5%;">User Name</th>
                                    <th>Comment/Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                var no = 0;
                                if (m.Request.CommentRemarks != null)
                                {
                                    foreach (var cr in m.Request.CommentRemarks)
                                    {
                                        no++;
                                        <tr>
                                            <td>@Convert.ToDateTime(cr.ActionDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                            <td>@cr.UserName</td>
                                            <td>@cr.Comment</td>
                                        </tr>
                                }
                            }
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="display:inline-flex; width:100%">
            <table id="tblReviewer" class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3" class="background-gray">Reviewer</th>
                    </tr>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Date
                        </th>
                        <th style="width:20%; text-align:center;">
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                foreach (var r in m.Request.Reviewers)
                {
                    <tr>
                        <td>
                            @r.Name
                        </td>
                        <td>
                            @Convert.ToDateTime(r.ActionDate).ToString("dd MMM yyyy HH:mm:ss")
                        </td>
                        <td style="text-align:center;">
                            @r.Action
                        </td>
                    </tr>
        }
                    }
                </tbody>
            </table>
            <table id="tblApprover" class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="6" class="background-gray">Approver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th style="width:20%; text-align:center;">
                                            Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                foreach (var r in m.Request.Approvers)
                                {
                                    <tr>
                                        <td>
                                            @r.Name
                                        </td>
                                        <td>
                                            @Convert.ToDateTime(r.ActionDate).ToString("dd MMM yyyy HH:mm:ss")
                                        </td>
                                        <td style="text-align:center;">
                                            @r.Action
                                        </td>
                                    </tr>
                        }
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="tblFinalApprover" class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="6" class="background-gray">Final Approver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th style="width:20%; text-align:center;">
                                            Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                foreach (var r in m.Request.FinalApprovers)
                                {
                                    <tr>
                                        <td>
                                            @r.Name
                                        </td>
                                        <td>
                                            @Convert.ToDateTime(r.ActionDate).ToString("dd MMM yyyy HH:mm:ss")
                                        </td>
                                        <td style="text-align:center;">
                                            @r.Action
                                        </td>
                                    </tr>
                        }
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        @*<div class="center-text">
            <a onclick="ExportPDF()" class="btn btn-xs btn-info">Export to PDF</a>
            <a href="@Url.Action("Index", "Home", new { area = "ProcessVault" })" class="btn btn-xs btn-default">Close</a>
        </div>*@
    </div>
</div>

