﻿
@{
    Layout = "../Shared/_Layout.cshtml";
}


<div class="row body-container">
    <div class="bs-component" style="font-size:12px; margin-top: 10px;">
        <div class="row col-lg-offset-1">
            <h3 style="margin-top: 0px;">Contract Management (Administrative)</h3>
        </div>
        <div class="col-lg-offset-1 col-lg-10 bg-white">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">
                    Add Contract
                </legend>
                <div class="content col-lg-12">
                    <div class="col-lg-3">
                        <label class="control-label">Contract:</label>
                        <input class="form-control" type="file" />
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label">Contract Name:</label>
                        <input id="inptContractName" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label">Contract Number:</label>
                        <input id="inptContractNo" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>Client Name</label>
                        <input id="inptClientName" class="form-control" type="text" />
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label">Contract Type:</label>
                        <select class="form-control">
                            <option>Select Contract Type</option>
                            <option>Services Contract</option>
                            <option>Purchasing Contract</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label class="control-label">Classification</label>
                        <select class="form-control">
                            <option>Select Classification</option>
                            <option>Standard</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class=" text-right">
                <a class="btn btn-danger btn-xs">Upload Contract</a>
                <br/>
                &nbsp;
            </div>
        </div>
    </div>
</div>